﻿@{

    ViewBag.Title = "Indice";
    Layout = "~/Views/Shared/_HomeWebLayout.cshtml";
}
<style>
    .ui-dialog {
        z-index: 5000 !important;
    }
</style>
<section class="featured">
    <div class="row">
        <div class="col-md-12">
            @{
                Html.RenderPartial("PlayerOfensiveStatsView");
            }
        </div>
        <div class="col-md-12">
            @{
                Html.RenderPartial("PlayerDefensiveStatsView");
            }
        </div>
    </div>
</section>
<div class="modal fade" id="dialog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:90%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="FillTable"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $.blockUI();

            $(function () {
                getResults();
                getInjuries();
                getTopPlayers("GetTopFivePPGPlayers", "#playerOFENSEPPG");
                getTopPlayers("GetTopFiveAPGPlayers", "#playerOFENSEAPG");
                getTopPlayers("GetTopFiveFGPlayers", "#playerOFENSEFG");
                getTopPlayers("GetTopFiveRPGPlayers", "#playerDEFENSERPG");
                getTopPlayers("GetTopFiveBPGPlayers", "#playerDEFENSEBPG");
                getTopPlayers("GetTopFiveSPGPlayers", "#playerDEFENSESPG");
                $.unblockUI();
            });
        })


        function runEffect() {
            // most effect types need no options passed by default
            var options = {};
            // run the effect
            $("#InfoHelp").show("Pulsate", options, 500);
        };
    $.fn.parpadeando = function () {

        this.each(function parpadeando() {
            $(this).fadeIn(500).delay(250).css("background-color", "slategrey").fadeOut(500, parpadeando);
        });
    }
    function parpadear() {
        elemento = '#chi';
        $(elemento).fadeIn(500).delay(250).fadeOut(500, parpadear)
    }


function getTopPlayers(actionResult, divToPaint) {
    $.ajax({
        url: "/Stats/" + actionResult,
        data: {},
        dataType: "html",
        type: "POST",
        error: function () {
            //alert("An error occurred.");
        },
        success: function (data) {
            data = eval(data);
            if (data.length > 0) {
                var options = '';
                var i = 0;

                for (temp in data) {
                    var item = data[temp];
                    var imageLogo = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                    imageLogo = imageLogo.replace("#laIMG", item.Logo);
                    if (i == 0) {
                        options += '<tr class="oddrow player-46-3202">'
                        options += '<td rowspan="5" width="40%" style="background: none; border: 0;">'
                        options += '<img  width="100%" onclick="viewPlayerInfo(' + item.id + ');" style="cursor:pointer" class="topPlayer" src="' + item.FaceImage + '" /></td>'

                        }
                    options += '<td onclick="viewPlayerInfo(' + item.id + ');" style="cursor:pointer" id=' + item.id + ' align="left"> '
                    options += imageLogo + ' ' + item.CompleteName + '</td>'
                    options += '   <td align="right">' + item.STAT.toFixed(1) + '</td></tr>'

                        i = i + 1;
                    }
                    jQuery(divToPaint).html(options);
                }
        }
    });
    }

    function getResults() {
        $.ajax({
            url: "@Url.Action("GetLast10Results", "Results")",
            data: {},
            dataType: "html",
            type: "POST",
            error: function () {
            },
            success: function (data) {
                data = eval(data);
                var options = '';
                options += '<div class="col-12 resultadis"><ul style="background-color:transparent;font-family: arial;"><img src="../Images/resultados.jpg" width="100%"><li style="background-color:transparent">';
                if (data.length > 0) {
                    var i = 0;
                    for (temp in data) {
                        var item = data[temp];
                        i = i + 1;
                        var imageLocal = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                            imageLocal = imageLocal.replace("#laIMG", item.sLogoLocal);
                            var imageAway = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                        imageAway = imageAway.replace("#laIMG", item.sLogoAway);

                        options += '<table  style="border-collapse:inherits;border-left-width:0px;color:black;font-weight:bold;width:100%;font-size:10px"><tr style="border-left-width:0px;background-color:transparent;">' +
                             '<td style="width:30%;text-align:right;"><a href="/Rosters/TeamRosters?idTab=3&idTeam=' + item.idTeamAway + '"  title="Resultados '
                            + item.sAbrevAway + '" style="color:black">' + item.sAbrevAway + '&nbsp;&nbsp;' + imageAway+ '</a></td>'

                            + '<td style="width:10%;background-color:transparent;text-align:center"> - </td>'

                            + '<td style="width:30%;"><a href="/Rosters/TeamRosters?idTab=3&idTeam='
                            + item.idTeamLocal + '"   title="Resultados ' + item.sAbrevLocal + '" style="color:black">' + imageLocal + '&nbsp;&nbsp;' + item.sAbrevLocal
                                + '</a></td>' + '<td style="text-align:right;width:30%;"><a class="boxscore" href="/Results/GetScoreInfo?idGame=' + item.idGame + '" id="' + item.idGame + '"  title="BoxScore" style="color:black">'
                            + item.iScoreAway + '-' + item.iScoreLocal + '</a></td>'
                                +'</tr></table>';
                        }
                }
                options += '</li><li style=" padding:10px;"><a style="color:black;" href="/Results/Index" title="Ver Otros Resultados">&laquo; Ver Otros Resultados</a></li></ul></div>';
                jQuery('#firstRightListUL').html(options);

            }
        });
    }
    function getInjuries() {
        $.ajax({
            url: "@Url.Action("GetIncompleteInjuries", "Injuries")",
                data: {},
                dataType: "html",
                type: "POST",
                error: function () {
                //  alert("An error occurred con las lesiones.");
                },
                success: function (data) {
                    data = eval(data);
                    if (data.length > 0) {
                        var options = '';
                        var i = 0;
                        options += '<div class="col-12 resultadis"><ul style="background-color:transparent;font-family: arial;"><img src="../Images/lesiones.jpg" width="100%"><li style="background-color:transparent">';
                        for (temp in data) {
                            var item = data[temp];
                            i = i + 1;
                            var imageLogo = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                            imageLogo = imageLogo.replace("#laIMG", item.sLogo);
                            options += '<table  style="border-collapse:inherits;border-left-width:0px;background-color:black;color:white;width:100%;font-size:10px"><tr border=""  style="border-left-width:0px;background-color:transparent;"><td style="width:70%;background-color:black;">' + imageLogo + '&nbsp;&nbsp;' + item.sCompleteName + '</td><td style="width:30%;align:center;background-color:black;"><img width="15px" height="15px" src="@Url.Content("~/Images/Common/lesion.png")"  />' + '&nbsp;&nbsp;' + item.iGamesRest + '</td></tr></table>';
                    }
                    options += '</li><li style="background-color:transparent; text-aling:center"><a style="color:white" href="/Injuries/InjuryResume" title="Ver todos los lesionados">&laquo; Ver Lesionados</a></li></ul></div>';
                    jQuery('#InjuryListUL').html(options);
                }
            }
       });
    }

    </script>
}