﻿<div id="my-players-table" class="row">
    <div class="col-12">
        <img src="~/Images/ofen.jpg" width="100%">
            <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "PPG" })" title="Ver clasificación detallada">PUNTOS</a></th>
                    <th align="right">PTS</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="center" colspan="4" id="prev"><a style="font-weight:bold ;color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "PPG" })" title="Ver clasificación detallada">&laquo; Detalle</a></td>
                </tr>
            </tfoot>
            <tbody id="playerOFENSEPPG"></tbody>
        </table>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "ASS" })" title="Ver clasificación detallada">ASISTENCIAS</a></th>
                    <th align="right">ASI</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="center" colspan="4" id="prev"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "ASS" })" title="Ver clasificación detallada">&laquo; Detalle</a></td>
                </tr>
            </tfoot>
            <tbody id="playerOFENSEAPG"></tbody>
        </table>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "FG" })" title="Ver clasificación detallada">% TIROS</a></th>
                    <th align="right">FGP</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="center" colspan="4" id="prev"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "FG" })" title="Ver clasificación detallada">&laquo; Detalle</a></td>
                </tr>
            </tfoot>
            <tbody id="playerOFENSEFG"></tbody>
        </table>

    </div>
</div>