﻿@{
    ViewBag.Title = "Comisionado";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <h5 class="font-weight-bold">
        Esta es la página principal del Comisionado de LVNBA.
        A continuación se muestran las correspondientes acciones que puedes realizar:
    </h5>
    <div class="accordion" id="accordionExample">
        <div class="card ">
            <div class="card-header bg-dark" id="reportesH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#reportesB" aria-expanded="true" aria-controls="reportesB">
                        General
                    </a>
                </h5>
            </div>
            <div id="reportesB" class="collapse show" aria-labelledby="reportesH" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/News/CreateComissAlert" class="text-dark nav-link">Emitir Comunicado</a>
                    <a href="/TradesCenter/Index" class="text-dark nav-link">Traspasos</a>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="datosMaestrosH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#datosMaestrosB" aria-expanded="true" aria-controls="datosMaestrosB">
                        Datos Maestros
                    </a>
                </h5>
            </div>
            <div id="datosMaestrosB" class="collapse" aria-labelledby="datosMaestrosH" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/InjuryTypes/Index" class="text-dark nav-link">Tipos de lesion</a>
                    <a href="/Goals/Index" class="text-dark nav-link">Objetivos</a>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="administratH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#administratB" aria-expanded="true" aria-controls="administratB">
                        Administrar
                    </a>
                </h5>
            </div>
            <div id="administratB" class="collapse" aria-labelledby="administratH" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/LVNBAParameters/EditParameters" class="text-dark nav-link">Administrar parámetros</a>
                    <a href="/PMFAwards/Index" class="text-dark nav-link">Otorgar premios</a>
                    <a href="/Injuries/Index" class="text-dark nav-link">Lesiones de jugador</a>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="managersH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#managersB" aria-expanded="true" aria-controls="managersB">
                        Managers
                    </a>
                </h5>
            </div>
            <div id="managersB" class="collapse" aria-labelledby="managersH" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/Managers/Index" class="text-dark nav-link">Managers</a>
                    <a href="/Managers/AssignManagerUser" class="text-dark nav-link">Asociar/Desaciociar managers y usuarios</a>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="franquiciasH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#franquiciasB" aria-expanded="true" aria-controls="franquiciasB">
                        Franquicias
                    </a>
                </h5>
            </div>
            <div id="franquiciasB" class="collapse" aria-labelledby="franquiciasH" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/ManagerFranchises/AssignManagerToFranchise" class="nav-link text-dark">Asignar/Desasignar managers a franquicias</a>
                    <a href="/Franchises/Index" class="text-dark nav-link">Franquicias</a>
                    <a href="/Rounds/Index" class="text-dark nav-link">Rondas</a>
                    <a href="/ManagerFranchises/Index" class="text-dark nav-link">Histórico franquicias</a>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="jugadoresH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#jugadoresB" aria-expanded="true" aria-controls="jugadoresB">
                        Jugadores
                    </a>
                </h5>
            </div>
            <div id="jugadoresB" class="collapse" aria-labelledby="jugadoresH" data-parent="#accordionExample">
                <div class="card-body">
                    <a href="/Players/PlayerActions" class="text-dark nav-link">Gestionar Jugador</a>
                </div>
            </div>
        </div>
    </div>
</div>
