﻿@model IEnumerable<Liga.Domain.Entities.ManagersWithUsername>

@{
    ViewBag.Title = "Asignar Usuarios a Managers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>

    $(document).ready(function () {
        $("#IdManager").change(function () {
            var idManager = $("#IdManager").val();

            getUser(idManager);
        });
    });
    function getUser(idManager) {
        $.ajax({
            url: "@Url.Action("GetUserByManager", "Managers")",
            data: { idManager: idManager },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";
                $("#userActual").html(data);
            }
        });
    }
</script>
<h4>Asociar un Usuario a un Manager</h4>

<p>
    Esto sólo debe hacerse cuando un usuario por el problema que sea no puede acceder a su cuenta y por lo tanto no puede actuar como Manager.<br />
    También puede servir para asociar un manager sin usuario a un nuevo usuario, pero por lo general eso se hace desde las solicitudes de Manager.
</p>
<ol class="round">

    <li class="one">
        <h3>Se envía mail de notificación</h3>
        se avisa al usuario que ya tiene manager asociado <br />
    </li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-4 form-group">
            <label>Escoge Manager: </label>
            @Html.DropDownList("IdManager", null, new { @class = "form-control" })
        </div>
        <div class="col-md-4 form-group">
            <label>Usuario Actual</label>
            <div class="form-control" id="userActual"></div>

        </div>
        <div class="col-md-4 form-group">
            <label>Escoge Usuario:</label>
            @Html.DropDownList("UserId", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row justify-content-end">
        <button type="submit" class="btn btn-outline-success col-md-2">Asignar</button>
    </div>
}
<table class="table table-striped mt-5 mb-5 thead-dark">
    <tr>
        <th>
            @Html.DisplayName("Manager")
        </th>
        <th>
            @Html.DisplayName("Usuario")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gamertag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
        </tr>
    }
</table>