﻿ @using MvcJqGrid 

@{
    ViewBag.Title = "Fichas 2k";
    Layout = "~/Views/Shared/_WebOneColumnForStats.cshtml";

} 
<script src="~/Scripts/i18n/grid.locale-es.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabs").tabs({
                selected: 0,
                ajaxOptions: {
                    error: function (xhr, status, index, anchor) {
                        $(anchor.hash).html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo.");
                    }
                }
            });
            getSideBarPlayersMenu();


        });







       
    </script>
<div id="tabs"  style="float:left;">
	<ul>
		<li><a href="#tabs-1">Fichas 2k</a></li>
	</ul>
    <div style="width:810px" id="tabs-1">
 <div style="height:650px; align-content:center"> 
        <img  width="600px" src="http://www.jnc.gov.jo/img/Website_Under_Construction2.gif" />

        </div>
    <div id="pager"></div>
         <div id="dialog-modal"  style=" width:600px; height:800px; display:none" title="Basic modal dialog">
            <div id="FillTable"></div>
        </div>
    </div>
</div>