﻿ @using MvcJqGrid 

@{
    ViewBag.Title = "Estadísticas histórico";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";

} 
<script src="~/Scripts/i18n/grid.locale-es.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabs").tabs({
                selected: 0,
                ajaxOptions: {
                    error: function (xhr, status, index, anchor) {
                        $(anchor.hash).html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo.");
                    }
                }
            });
            getSideBarPlayersMenu();

            $("#Season").change(function (event, data) {
                
                sendQueryStatsTotal();
            });
            sendQueryStatsTotal();
        });

        function sendQueryStatsTotal() {
           
            $('#statsTable').jqGrid({
                //url from wich data should be requested
                url: '@Url.Action("GetPlayersStatsTotal", "GridList")',
                postData: {
                    idSeason: function () {
                       return  jQuery("#Season option:selected").val();
                        
                    }
                },

                //type of data
                datatype: 'json',
                //url access method type
                mtype: 'POST',
                //columns names
                colNames: ['Condición','BirdRights','Eq.', 'Nombre', 'Pos.','Status','Rol', '2K','Pro','Salario','G','GS','MPG','FG','F3G','FT','OFR','DEF','RPG','APG','SPG','BPG','TOO','PF','PPG'],
                //columns model
                colModel: [
                            { name: 'IdCondition', index: 'IdCondition', hidden: true, width: 100, align: 'left', sortable: true, search: true, stype: 'number', searchoptions: {sopt: ['eq'] } },
                            { name: 'BirdRigths', index: 'BirdRigths', hidden: true, width: 100, align: 'left', sortable: true, search: true, stype: 'number', searchoptions: { sopt: ['cn'] } },
                            { name: 'Logo', index: 'Logo', width: 100, align: 'left', sortable: true, search: true, stype: 'text', formatter: imageFormat, searchoptions: { sopt: ['cn'] } },
                            { name: 'CompleteName', width: 450, index: 'CompleteName', align: 'left', search: true, stype: 'text', searchoptions: { sopt: ['cn'] } },
                            { name: 'Position', width: 100, index: 'Position', align: 'left', search: true, stype: 'select', searchoptions: { dataUrl: '@Url.Action("PositionsSelect","GridList")' } },
                            { name: 'State', width: 120, index: 'State', align: 'left', search: true, stype: 'select', searchoptions: { dataUrl: '@Url.Action("StatesSelect","GridList")' } },
                            { name: 'Rol', width: 120, index: 'Rol', align: 'left', search: true, stype: 'select', searchoptions: { dataUrl: '@Url.Action("RolesSelect","GridList")' } },
                            { name: 'Level2k', width: 70, index: 'Level2k', align: 'left', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge', ] } },
                            { name: 'YearsPro', width: 70, index: 'YearsPro', align: 'left', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge', ] } },
                            { name: 'Salary', width: 250, index: 'Salary', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0, prefix: '$' }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'G', width: 70, index: 'G', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq','lt','le','gt','ge'] } },
                            { name: 'GS', width: 70, index: 'GS', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'MPG', width: 120, index: 'MPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FG', width: 150, index: 'FG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, suffix: '%' }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'F3G', width: 150, index: 'F3G', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, suffix: '%' }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FT', width: 150, index: 'FT', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, suffix: '%' }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'OFR', width: 100, index: 'OFR', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'DEF', width: 100, index: 'DEF', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'RPG', width: 100, index: 'RPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'APG', width: 100, index: 'APG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'SPG', width: 100, index: 'SPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'BPG', width: 100, index: 'BPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'TOO', width: 100, index: 'TOO', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'PF', width: 100, index: 'PF', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'PPG', width: 120, index: 'PPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } }

                ],
                //pager for grid
                pager: $('#pager'),
                gridview: true,
                rowNum: 20,
                rowList: [20, 40, 100],
                caption: 'Estadísticas totales',
                height: 350,
                width: 820,
                onSelectRow: function (id) {
                    viewPlayerInfo(id);
                },
                loadComplete: function (data) {
                    paintSalaryCells();
                    //$("tr.jqgrow:odd").css("background", "#E0E0E0");
                    //$("tr.jqgrow:odd").css("color", "black");
                },

                //initial sorting column
                sortname: 'CompleteName',
                //initial sorting direction
                sortorder: 'asc',
                //we want to display total records count
                viewrecords: true,
                //grid height
                height: '100%'
            }).navGrid("#pager",
                { add: false, edit: false, del: false, reload: true, search: true }, // navGrid options
                {}, // edit option
                {}, // add options
                {}, // del options
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true, searchOnEnter: true }
                )

            $('#statsTable').jqGrid('filterToolbar', {
                //we want filters to be returned the same way as with advanced searching
                stringResult: true, searchOnEnter: true
            });
            $("#statsTable").trigger('reloadGrid');

        }



        function supplierFormatter(cellvalue, options, rowObject) {
            return "<a href='#' data-supplier-id='" + cellvalue.substr(1, cellvalue.indexOf(']') - 1) + "'>" + cellvalue.substr(cellvalue.indexOf(']') + 2) + "</a>";
        };





        function imageFormat(cellvalue, options, rowObject) {
            return '<img width="20" height="20" src="../Images/Common/teams/Iconos/' + cellvalue + '" />';
        }

        function paintSalaryCells() {
            var dataIds = $('#statsTable').jqGrid('getDataIDs');
            for (var i = 0; i < dataIds.length; i++) {
                var data = $('#statsTable').jqGrid('getRowData', dataIds[i]);
                data.Id = dataIds[i];
                PaintSalary("IdCondition", "Salary", data.Id);
                //PaintBirdRights("BirdRights", "CompleteName", data.Id);
                
            }
        }
        function PaintSalary(field, fieldToPaint, id) {
            var result;
            var cont = $('#statsTable').getCell(id, field);
            var col;
            switch (fieldToPaint) {
                case "Salary":
                    col = 9;
                    break;
            }
            switch (cont) {
                case "1":
                    result = 'red';
                    break;
                case "2":
                    result = '#2E64FE';
                    break;
                case "3":
                    result = '#01DF3A';
                    break;
                case "4":
                    result = 'violet';
                    break;
                case "5":
                    result = 'orange';
                    break;
                default:
                    result = '';

            }


            if (result != '') {

       
                $('#statsTable').jqGrid('setCell', id, col
                , "", {
                    'background-color': result,
                    'background-image': 'none'
                });
                
            }

        }

        function PaintBirdRights(field, fieldToPaint, id) {
            var cont = $('#statsTable').getCell(id, 1);
            if (cont > 2) {

                $('#statsTable').jqGrid('setCell', id, fieldToPaint, "", {
                    'background-color': '#c0c000',
                    'background-image': 'none'
                });
            }
        }
    </script>
<div class="container-fluid estotals">
    <div class="row">
        <div id="tabs" class="pb-5 mb-5 mt-3 col-12">
            <h4 class="mb-4">Estadísticas totales</h4>
            <div id="tabs-1">
                <div>
                    <label for="Season">TOTALES</label>
                    <select name="Season" id="Season">
                        <option value="0">Playoffs</option>
                        <option value="1" selected="selected">Temporada</option>
                    </select>
                </div>
                <h6 class="mt-3 mb-3" style="color:#006bbb">Importante: Si cambias de opción, los filtros de búsqueda se mantenien. Vacía los filtros después de cambiar de temporada</h6>

                <div id="legend">
                    <table width="100%" style="text-align:center;">
                        <tr>
                            <td class="estotal" style="background-color: #B30202;">Team Option</td>
                            <td class="estotal" style="background-color: #033E8C;">Player Option</td>
                            <td class="estotal" style="background-color: #00B333;">Qualifying Offer</td>
                            <td class="estotal" style="background-color: #C2C2C2;">Not In NBA</td>
                            <td class="estotal" style="background-color: #BA8BE8;">Cutted</td>
                            <td class="estotal" style="background-color: #dea804;">BirdRights</td>
                            <td class="estotal" style="background-color: #276327;">Rookie Rights</td>
                        </tr>
                    </table>
                </div>
                <table id="statsTable"></table>
                <div id="pager"></div>
                <div id="dialog-modal" style=" width:900px; height:800px; display:none" title="Basic modal dialog">
                    <div id="FillTable"></div>
                </div>
                <div id="loading-image" style="border:double; border-color:red;
                        background-color:white;width:100px; height:100px; display:none;position:absolute;left:50%;top:50%; margin:-50px 0px 0px -50px;">
                    <img style=" width:70px; position: absolute;    margin: auto;    top: 0;    left: 0;    right: 0;    bottom: 0;" src="~/Images/Common/basket.gif" />
                </div>
            </div>
        </div>
    </div>
</div>
