﻿@model PagedList.IPagedList<Liga.Domain.Entities.PlayerStatisticsBySeason>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Rookies";
        Layout = "~/Views/Shared/_WebOneColumnForStats.cshtml";
        string message = ViewBag.Message;
    }
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Rookies</h2>
            </div>
            @{
                if (message != null && message != "")
                {
                    <div class="col-md-12">
                        <ul><li style="color: red;">@message</li></ul>
                    </div>
                }
            }
            <div class="col-md-1">
                <label for="idSeason">Temporadas: </label>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="idSeason" id="idSeason">
                    @foreach (var season in ViewBag.Seasons)
                    {
                        if (season == ViewBag.idSeason)
                        {
                            <option value="@season" selected="selected">Temporada @season</option>
                        }
                        else
                        {
                            <option value="@season">Temporada @season</option>
                        }
                    }
                </select>
                <br />
            </div>
            <div class="col-md-12">
                <table class="table table-striped small">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayName("Logo")
                            </th>
                            <th>
                                @Html.ActionLink("Nombre", "StatsRookies", new { ViewBag.idSeason, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "order-table" })
                            </th>
                            <th>
                                @Html.DisplayName("Posicion")
                            </th>
                            <th>
                                @Html.DisplayName("Estado")
                            </th>
                            <th>
                                @Html.DisplayName("Rol")
                            </th>
                            <th>
                                @Html.DisplayName("2k")
                            </th>
                            <th>
                                @Html.DisplayName("Pro")
                            </th>
                            <th>
                                @Html.DisplayName("Salario")
                            </th>
                            <th>
                                @Html.DisplayName("G")
                            </th>
                            <th>
                                @Html.DisplayName("GS")
                            </th>
                            <th>
                                @Html.DisplayName("MPG")
                            </th>
                            <th>
                                @Html.DisplayName("FG")
                            </th>
                            <th>
                                @Html.DisplayName("F3G")
                            </th>
                            <th>
                                @Html.DisplayName("FT")
                            </th>
                            <th>
                                @Html.DisplayName("OFR")
                            </th>
                            <th>
                                @Html.DisplayName("DEF")
                            </th>
                            <th>
                                @Html.DisplayName("RPG")
                            </th>
                            <th>
                                @Html.DisplayName("APG")
                            </th>
                            <th>
                                @Html.DisplayName("SPG")
                            </th>
                            <th>
                                @Html.DisplayName("TOO")
                            </th>
                            <th>
                                @Html.DisplayName("PF")
                            </th>
                            <th>
                                @Html.DisplayName("PPG")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img width="25px" src="~/Images/Common/teams/Iconos/@item.Logo.Replace(".jpg", ".png")" /></td>
                                <td>@item.CompleteName</td>
                                <td>@item.Position</td>
                                <td>@item.StateLong</td>
                                <td>@item.RolLong</td>
                                <td>@item.Level2k</td>
                                <td>@item.YearsPro</td>
                                <td>@item.Salary.ToString().Replace(",00", "")</td>
                                <td>@item.G </td>
                                <td>@item.GS</td>
                                <td>@item.MPG</td>
                                <td>@item.FG</td>
                                <td>@item.F3G</td>
                                <td>@item.FT</td>
                                <td>@item.OFR</td>
                                <td>@item.DEF</td>
                                <td>@item.RPG</td>
                                <td>@item.APG</td>
                                <td>@item.SPG</td>
                                <td>@item.TOO</td>
                                <td>@item.PF</td>
                                <td>@item.PPG</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="pag-sep">
            </div>
            <div class="col-md-3">
                <p class="pag-size">
                    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                </p>
            </div>
            <div class="col-md-9">
                @Html.PagedListPager(Model, page => Url.Action("StatsRookies", new { ViewBag.idSeason, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
    <br />
    <br />


    <script>
        $('#idSeason').on('change', function () {
            var id = this.value;
            var urlReal = '@Url.Action("StatsRookies", "Stats")'+'?idSeason='+id;
            window.location.href = urlReal;
        });
    </script>
