﻿@model PagedList.IPagedList<Liga.Domain.Entities.PlayerStatisticsBySeason>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Estadisticas Jugadores";
    Layout = "~/Views/Shared/_WebOneColumnForStats.cshtml";
    string message = ViewBag.Message;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Estadisticas Jugadores</h2>
        </div>
        @{
            if (message != null && message != "")
            {
                <div class="col-md-12">
                    <ul><li style="color: red;">@message</li></ul>
                </div>
            }
        }
        <div class="col-md-2">
            <label for="idSeason">Ordenar Por: </label>
        </div>
        <div class="col-md-3">
            <select class="form-control" name="orderBy" id="orderBy">
                <option value="PPG" @if (ViewBag.CurrentSort == "PPG") { new HtmlString("selected"); }>PPG</option>
                <option value="RPG" @if (ViewBag.CurrentSort == "RPG") { new HtmlString("selected"); }>RPG</option>
                <option value="SPG" @if (ViewBag.CurrentSort == "SPG") { Html.Raw("selected"); }>SPG</option>
                <option value="APG" @if (ViewBag.CurrentSort == "APG") { Html.Raw("selected"); }>APG</option>
                <option value="F3G" @if (ViewBag.CurrentSort == "F3G") { Html.Raw("selected"); }>F3G</option>
                <option value="TOO" @if (ViewBag.CurrentSort == "TOO") { Html.Raw("selected"); }>TOO</option>
                <option value="MPG" @if (ViewBag.CurrentSort == "MPG") { Html.Raw("selected"); }>MPG</option>
            </select>
            <br />
        </div>
        <div class="col-md-12">
            <table class="table table-striped small">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayName("Logo")
                        </th>
                        <th>
                            @Html.ActionLink("Nombre", "StatsPlayer", new { ViewBag.idSeason, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "order-table" })
                        </th>
                        <th>
                            @Html.DisplayName("Posicion")
                        </th>
                        <th>
                            @Html.DisplayName("G")
                        </th>
                        <th>
                            @Html.DisplayName("GS")
                        </th>
                        <th>
                            @Html.DisplayName("MPG")
                        </th>
                        <th>
                            @Html.DisplayName("FG")
                        </th>
                        <th>
                            @Html.DisplayName("F3G")
                        </th>
                        <th>
                            @Html.DisplayName("FT")
                        </th>
                        <th>
                            @Html.DisplayName("OFR")
                        </th>
                        <th>
                            @Html.DisplayName("DEF")
                        </th>
                        <th>
                            @Html.DisplayName("RPG")
                        </th>
                        <th>
                            @Html.DisplayName("APG")
                        </th>
                        <th>
                            @Html.DisplayName("SPG")
                        </th>
                        <th>
                            @Html.DisplayName("TOO")
                        </th>
                        <th>
                            @Html.DisplayName("PF")
                        </th>
                        <th>
                            @Html.DisplayName("PPG")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img width="25px" src="~/Images/Common/teams/Iconos/@item.Logo.Replace(".jpg", ".png")" /></td>
                            <td>@item.CompleteName</td>
                            <td>@item.Position</td>
                            <td>@item.G </td>
                            <td>@item.GS</td>
                            <td>@item.MPG</td>
                            <td>@item.FG</td>
                            <td>@item.F3G</td>
                            <td>@item.FT</td>
                            <td>@item.OFR</td>
                            <td>@item.DEF</td>
                            <td>@item.RPG</td>
                            <td>@item.APG</td>
                            <td>@item.SPG</td>
                            <td>@item.TOO</td>
                            <td>@item.PF</td>
                            <td>@item.PPG</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="pag-sep">
        </div>
        <div class="col-md-3">
            <p class="pag-size">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            </p>
        </div>
        <div class="col-md-9">
            @Html.PagedListPager(Model, page => Url.Action("StatsPlayer", new { page, orderBy = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>


<script>
        $('#orderBy').on('change', function () {
            var orderBy = this.value;
            var urlReal = '@Url.Action("StatsPlayer", "Stats")'+'?orderBy='+orderBy;
            window.location.href = urlReal;
        });
        $('#orderBy').val("@ViewBag.CurrentSort");
</script>
