﻿@model Liga.Domain.Entities.Managers

@{
    ViewBag.Title = "Managers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Managers</h2>

<h3>Está seguro?</h3>
<div class="row">
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Gamertag</label>
        @Html.DisplayFor(model => model.GamerTag)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">ForumName</label>
        @Html.DisplayFor(model => model.ForumName)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">RealName</label>
        @Html.DisplayFor(model => model.RealName)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Age</label>
        @Html.DisplayFor(model => model.Age)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">About Me</label>
        @Html.DisplayFor(model => model.AboutMe)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Experience</label>
        @Html.DisplayFor(model => model.Experience)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">LVNBAAge</label>
        @Html.DisplayFor(model => model.LVNBAAge)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">BornDate</label>
        @Html.DisplayFor(model => model.BornDate)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Email</label>
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Photo</label>
        @Html.DisplayFor(model => model.Photo)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Category</label>
        @Html.DisplayFor(model => model.Category)
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">TotalBonus</label>
        @Html.DisplayFor(model => model.TotalBonus)
    </div>
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
<div class="row justify-content-end">
    <a href="/Managers/Index" class="btn btn-outline-dark col-md-2 mr-1">Volver</a>
    <button type="submit" class="btn btn-outline-danger col-md-2">Delete</button>
</div>
}
