﻿
@model Liga.Domain.Entities.ManagerRequests
@{
    ViewBag.Title = "Borrar solicitud";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";
}
<h2>Eliminar Solicitud</h2>
<h5 class="mb-5">Seguro que quieres eliminar la solicitud?</h5>
<div class="row mb-5">
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-header">
                Solicitud
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Id)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-header">
                Gamertag
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Gamertag)
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-header">
                Email
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-header">
                Fecha nacimiento
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.BornDate)
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card mb-2">
            <div class="card-header">
                Pregunta: Ves mucho NBA?
            </div>
            <div class="card-body">
                @switch (Model.Question1)
                {
                    case 1:
                        <p>Visito asiduamente NBA.com</p>
                        break;
                    case 2:
                        <p>Veo 1 partido a la semana</p>
                        break;
                    case 3:
                        <p>Intento ver todo lo que puedo</p>
                        break;
                    case 4:
                        <p>Conozco todo el mundo NBA</p>
                        break;
                    default:
                        break;
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-header">
                Equipo favorito
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.LVNBAFranchis.Name)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-header">
                Disponibilidad
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Availability)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-2">
            <div class="card-header">
                Pregunta: Cómo conociste la Comunidad?
            </div>
            <div class="card-body">
                @switch (Model.KnowUs)
                {
                    case 1:
                        <p>Por un amigo</p>
                        break;
                    case 2:
                        <p>Googleando</p>
                        break;
                    case 3:
                        <p>Por otra web</p>
                        break;
                    default:
                        break;
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-header">
                Estado
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.State)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-header">
                Fecha solicitud
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.RequestDate)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-header">
                Usuario solicitante
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.User.UserName)
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    <div class="row justify-content-end">
        <button type="submit" class="btn btn-outline-success mr-2">Aceptar</button>
        <a class="btn btn-dark" href="/Managers/ManagersRequestList">Volver</a>
    </div>
}
