﻿@model Liga.Domain.Entities.Managers

@{
    ViewBag.Title = "Managers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
  <script>
      $(function () {
          jQuery.validator.methods.date = function (value, element) {
              var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
              return this.optional(element) || dateRegex.test(value);
          };
          $("#datepicker").datepicker($.datepicker.regional["es"]);
          $('#buttonID').on({
              'click': function () {

                  var imagePath = $("#ImagenManager").val();
                  $('#managerImage').attr('src', imagePath);
              }
          });
      });

  </script>
<h2>Managers</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Managers</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.Label("GamerTag")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.GamerTag)
            @Html.ValidationMessageFor(model => model.GamerTag)
        </div>

        <div class="editor-label">
            @Html.Label("Nombre del foro")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ForumName)
            @Html.ValidationMessageFor(model => model.ForumName)
        </div>

        <div class="editor-label">
            @Html.Label("Nombre")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RealName)
            @Html.ValidationMessageFor(model => model.RealName)
        </div>

        <div class="editor-label">
            @Html.Label("Edad")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.Label("Sobre mi")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AboutMe)
            @Html.ValidationMessageFor(model => model.AboutMe)
        </div>

        <div class="editor-label">
            @Html.Label("Experiencia")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Experience)
            @Html.ValidationMessageFor(model => model.Experience)
        </div>

        <div class="editor-label">
            @Html.Label("Años en LVNBA")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LVNBAAge)
            @Html.ValidationMessageFor(model => model.LVNBAAge)
        </div>

        <div class="editor-label">
            @Html.Label("Usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.Label("Fecha nacimiento")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BornDate,  new { @id = "datepicker", style = "width:80px" })
            @Html.ValidationMessageFor(model => model.BornDate)
        </div>

        <div class="editor-label">
            @Html.Label("Email")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.Label("Foto")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Photo,new { id="ImagenManager", style = "width:400px"})
            @Html.ValidationMessageFor(model => model.Photo)
        </div>
        <img id="buttonID" title="Visualizar"/> 
        <br />
        <img id="managerImage" width="150" height="200" src="@Model.Photo" />
        <div class="editor-label">
            @Html.Label("Categoria")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.Label("Bonus")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TotalBonus)
            @Html.ValidationMessageFor(model => model.TotalBonus)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
