﻿@model IEnumerable<Liga.Domain.Entities.Managers>

@{
    ViewBag.Title = "Managers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Managers</h2>

<div class="col-md-2 offset-10">
    <a href="/Managers/Create" class="btn btn-outline-dark">Crear manager</a>
</div>
<div class="row mt-5">
    <table class="table table-striped col-12 small">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.Label("GamerTag")
                </th>
                <th>
                    @Html.Label("Nombre foro")
                </th>
                <th>
                    @Html.Label("Edad")
                </th>
                <th>
                    @Html.Label("Usuario")
                </th>
                <th>
                    @Html.Label("Email")
                </th>
                <th>
                    @Html.Label("Categoría")
                </th>
                <th>
                    @Html.Label("Bonus")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GamerTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ForumName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalBonus)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
