﻿
@model IEnumerable<Liga.Domain.Entities.ManagerRequests>
@{
    ViewBag.Title = "ManagersRequestList";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";
}

<h2>Lista solicitudes</h2>
<table class="table table-striped mt-5">
    <thead class="thead-dark">
        <tr>
            <th>
                Gamertag
            </th>
            <th>
                Fecha Solicitud
            </th>
            <th>
                Usuario que lo solicita
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gamertag)
            </td>
            <td>
                @Html.Label("RequestDate", item.RequestDate.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetailsRequest", new { id = item.Id }, new { @class="text-dark" })
                |  @Html.ActionLink("Aceptar", "AcceptRequest", new { id = item.Id }, new { @class = "text-dark" })
                |  @Html.ActionLink("Eliminar", "DeleteRequest", new { id = item.Id }, new { @class = "text-dark" })

            </td>
        </tr>
    }
</table>