﻿@model Liga.Domain.Entities.ManagerRequests

@{
    ViewBag.Title = "Solcitud manager";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}

<h2>Solicitud para ser manager en LVNBA</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
<div>
       <br />
       <div>
           <p> Texto explicativo de lo que se requiere</p>
           <p> Leer las <a href="normas.aspx">normas</a></p>
       </div>
       <div>
           <table>
               <tr>
               <td>Gamertag:</td>
               <td>
               @Html.TextBoxFor(model => model.Gamertag, new { style = "width:150px", maxlength = "25" })
                           @Html.ValidationMessageFor(model => model.Gamertag)
</td>
               </tr>
               <tr>
               <td>Dirección correo:</td>
               <td>@Html.TextBoxFor(Model => Model.Email, new { style = "width:150px", maxlength = "25" })
                           @Html.ValidationMessageFor(model => model.Email)
</td>
               </tr>
               <tr>
               <td>Fecha nacimiento:</td>
               <td>@Html.TextBoxFor(x => x.BornDate, new { @id = "datepicker", style = "width:80px" })</td>
               </tr>
               <tr>
               <td> Ves mucho NBA?</td>
               <td> @Html.RadioButton("question1", "1") Visito asiduamente NBA.com<br />
 @Html.RadioButton("question1", "2") Veo 1 partido a la semana<br />
  @Html.RadioButton("question1", "3") Intento ver todo lo que puedo<br />
   @Html.RadioButton("question1", "4") Conozco todo el mundo NBA<br />
</td>
               </tr>
               <tr>
               <td>Equipo preferido:</td>
               <td>@Html.DropDownList("FavouriteTeam", String.Empty)
</td>
               </tr>
               <tr>
               <td>Disponibilidad horaria (especifica si no estás en
España).<br />
                   Horario semanal y de fin de semana. </td>
               <td>@Html.TextAreaFor(x => x.Availability)</tr>
               <tr>
               <td>Cómo conociste la Comunidad?</td>
               <td>
                @Html.RadioButton("knowUs", "1")Por un amigo <br />
                @Html.RadioButton("knowUs", "2") Googleando<br />
                @Html.RadioButton("knowUs", "3") Por otra web<br />
              </td></tr>
           </table>
       </div>
   </div>
   <input type="submit" value="Solicitar" />
}
