﻿@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";
}

<h2></h2>
<script>
    $(function () {
        $("#tabs").tabs({
            selected: 0,
            ajaxOptions: {
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                }
            }
        });
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            minDate: "-45Y", maxDate: "-18Y"
        }).attr('readonly', 'readonly');
    });
</script>
<div>
    Gracias!<br /> Pasas a la lista de reservas para participar en LVNBA. Recibirás un correo confirmando tu solicitud
</div>
