﻿@model IEnumerable<Liga.Domain.Entities.ResumenQueja>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/OneResult.css")" type="text/css"/>	
<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	

<script type="text/javascript">
    $(document).ready(function () {

        $("#Help").click(function () {
            $("#dialog-modal").modal();
        });

        $(".boxscore").click(function (e) {
            e.preventDefault();
            var $item = $(this);
            viewBoxScorer($item);
            // return false;
        });
        function runEffect() {
            // most effect types need no options passed by default
            var options = {};
            // run the effect
            $("#InfoHelp").show("Pulsate", options, 500);
        };

        function viewBoxScorer($link) {
            var idGame = $link.attr("id");
            $.ajax({
                url: "@Url.Action("GetScoreInfo", "Results")",
                data: { idGame: idGame },
                dataType: "html",
                type: "POST",
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    console.log("before");
                },
                success: function (data) {
                    console.log("exito");
                    $("#FillTable").html(data);
                    $("#dialog-modal").modal();
                    var src = $link.attr("href");
                    var title = $link.attr("title");
                    $("#imagenModal").attr("src", src);
                }
            });
        }

        getSideBarMenuForQuejas();

        $(".managerCard").click(function (e) {
            e.preventDefault();
            var $item = $(this);
            viewManageCard($item);
            // return false;
        });
        function getSideBarMenuForQuejas() {
            var options = '';
            options += '<li><h2>Opciones</h2><ul>';

            options += '<li><a href="/Quejas/Index"><span class="tab">Resumen</span></a></li>';
            options += '<li><a href="/Quejas/SendedDate"><span class="tab">Por fecha  (últ. 20)</span></a></li>';
   

            options += '</ul></li>';
            jQuery('#firstListUL').html(options);
        }

        function viewManageCard($link) {
            var idManager = $link.attr("id");
            $.ajax({
                url: "@Url.Action("GetManagerCard", "Managers")",
                data: { idManager: idManager },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                beforeSend: function () {
                    $('#loading-image').show();
                },
                success: function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");
                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 200,
                        width: 300,
                        modal: true,
                        //dialogClass: 'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                },
                complete: function () {
                    $('#loading-image').hide();
                }

            });

        }
    });
</script>
<div id="tabs" style="float:left; width:780px">
    <ul>
        <li><a href="#tabs-1">Quejas recibidas (últimas 20)</a></li>
    </ul>
    <div id="tabs-1">
        @foreach (var Queja in Model)
        {
            <table>
                <tr>

                    <td>
                        <table style="width:650px">
                            <tr>
                                <td colspan="3"> @Queja.GameInfo.gameDate </td>
                                <td>
                                    <span style="vertical-align:top;font-weight:bold;font-size:larger">Motivo:</span>
                                </td>
                                <td rowspan="4"></td>
                            </tr>
                            <tr>
                                <td colspan="3" style="font-weight:bold; color:red ; font-size:30px">
                                    <a href="link/to/trash/script/when/we/have/js/off" style="color:red; " id="@Queja.ReceiverIdManager" title="Manager Card" class="managerCard">
                                        @Queja.ReceiverGamertag
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img height="50" width="50" src="~/Images/Common/cara.jpg" /></td>
                                <td rowspan="2">
                                    <a href="link/to/trash/script/when/we/have/js/off" id="@Queja.id" title="@String.Format("{0:d}", @Queja.gameDate) @Queja.GameInfo.LVNBAFranchisAway.Abbreviation at  @Queja.GameInfo.LVNBAFranchisLocal.Abbreviation   @Queja.GameInfo.idScoreAway-@Queja.GameInfo.idScoreLocal" class="boxscore">
                                        <div class="CSSTableGenerator">
                                            <table style="width:100px">
                                                <tr>
                                                    <td>
                                                        @String.Format("{0:d}", @Queja.gameDate)
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="color:Black">
                                                        @Queja.GameInfo.LVNBAFranchisLocal.Name
                                                    </td>
                                                    <td>
                                                        <img height="30" width="40" src='@Url.Content("~/Images/Common/teams/Iconos/")@Queja.GameInfo.LVNBAFranchisLocal.Icono' />
                                                    </td>
                                                    <td style="	font-size:20px;">
                                                        @Queja.GameInfo.idScoreLocal
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="color:Black">
                                                        @Queja.GameInfo.LVNBAFranchisAway.Name
                                                    </td>
                                                    <td>
                                                        <img height="30" width="40" src='@Url.Content("~/Images/Common/teams/Iconos/")@Queja.GameInfo.LVNBAFranchisAway.Icono' />
                                                    </td>
                                                    <td style="	font-size:20px;">
                                                        @Queja.GameInfo.idScoreAway

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </a>
                                </td>
                                <td rowspan="2"></td>
                                <td></td>
                                <td rowspan="5" style="vertical-align:text-top;width:450px; vertical-align:top;color:red;"> @Html.Raw(@System.Web.HttpUtility.HtmlDecode(Queja.SenderMotivo))</td>

                            </tr>
                            <tr>
                                <td>
                                    <img height="50" width="50" src='@Url.Content("~/Images/Common/teams/Iconos/")@Queja.ReceiverIcono' />
                                </td>

                            </tr>

                        </table>
                    </td>
                    <td style="vertical-align:top">
                        <table style="width:80px">
                            <tr>
                                <td style="vertical-align:text-top;vertical-align:top;color:red;text-align:right;font-size:60px">@Model.Where(x => x.ReceiverIdManager == Queja.ReceiverIdManager).Count()</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="color:yellow;text-align:right">La pone:</td>
                            </tr>
                            <tr style="height:100px">
                                <td style="vertical-align:top;color:green;text-align:right; font-weight:bold">
                                    @Queja.SenderGamertag<br />
                                @Html.ActionLink("Aviso", "SendWarning", new { idManager = Queja.ReceiverIdManager, fromPage = "SendedDate" }, new { @class = "css_button" })

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr />
    }
    </div>
    <div class="modal fade" id="dialog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="FillTable"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
