﻿@model Liga.Domain.Entities.PlayersRoles

@{
    ViewBag.Title = "Roles Jugador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Rol</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Roles Jugador</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.Label("Rol")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Rol)
            @Html.ValidationMessageFor(model => model.Rol)
        </div>

        <div class="editor-label">
            @Html.Label("Descripción")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.Label("Abreviación")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Abrev)
            @Html.ValidationMessageFor(model => model.Abrev)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
