﻿@model IEnumerable<Liga.Domain.Entities.PlayersRoles>

@{
    ViewBag.Title = "Roles Jugador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Roles Jugador</h2>

<p>
    @Html.ActionLink("Crear rol", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Display("Rol")
        </th>
        <th>
            @Html.Display("Descripción")
        </th>
        <th>
            @Html.Display("Abreviación")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abrev)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
