﻿@model IEnumerable<Liga.Domain.Entities.TiposAnuncios>

@{
    ViewBag.Title = "Tipos anuncio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

  @Html.ActionLink("Tipos de Anuncio", "Index","TiposAnuncio")||
    @Html.ActionLink("Imagenes de Anuncio", "Index","ImagenesAnuncio")||
    @Html.ActionLink("Contenidos de Anuncio", "Index","ContenidosAnuncio")||
    @Html.ActionLink("Variables de Anuncio", "Index","TiposVariables")||
<h2>Tipos Anuncio</h2>

<p>
    @Html.ActionLink("Crear Tipo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Label("Tipo")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
