﻿@model Liga.Domain.Entities.TiposVariables

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TiposVariables</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipo, "TiposAnuncio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdTipo", String.Empty)
            @Html.ValidationMessageFor(model => model.IdTipo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Variable)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Variable)
            @Html.ValidationMessageFor(model => model.Variable)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
