﻿@model Liga.Domain.Entities.TiposVariables

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TiposVariables</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TiposAnuncio.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TiposAnuncio.Tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Variable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Variable)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
