﻿@model IEnumerable<Liga.Domain.Entities.ResumenQueja>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
		<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	

<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs({
            selected: 0,
            ajaxOptions: {
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                }
            }
        });

        $(".managerCard").click(function (e) {

            e.preventDefault();
            var $item = $(this);
            viewManageCard($item);
            // return false;
        });

        $(".accordion").accordion({
            active: false,
            collapsible: true,
            fillSpace: true
        });
        getSideBarMenuForQuejas();
        function getSideBarMenuForQuejas() {
            var options = '';
            options += '<li><h2>Opciones</h2><ul>';

            options += '<li><a href="/Quejas/Index"><span class="tab">Resumen</span></a></li>';
            options += '<li><a href="/Quejas/SendedDate"><span class="tab">Por fecha (últ. 20)</span></a></li>';
   

            options += '</ul></li>';
            jQuery('#firstListUL').html(options);
        }
     
        function viewManageCard($link) {

            var idManager = $link.attr("id");


            $.ajax({
                url: "@Url.Action("GetManagerCard", "Managers")",
                data: { idManager: idManager },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                beforeSend: function () {
                    $('#loading-image').show();
                },
                success: function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");
                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 200,
                        width: 300,
                        modal: true,
                        //dialogClass: 'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                },
                complete: function () {
                    $('#loading-image').hide();
                }

            });

        }
    });
</script>

<div id="tabs"  style="float:left; width:780px">
<ul>
	<li><a href="#tabs-1">Resumen de Quejas</a></li>
</ul>
<div id="tabs-1">
@foreach (var Queja in Model.GroupBy(x => x.ReceiverIdManager).OrderByDescending(x => x.Count()))
{
    
    <table>
       <tr><td>
              <table style="width:550px">
                <tr><td colspan="2" style="font-weight:bold; color:red ; font-size:30px">
                    <a href="link/to/trash/script/when/we/have/js/off" style="color:red; " id="@Queja.First().ReceiverIdManager"   title="Manager Card" class="managerCard"> @Queja.First().ReceiverGamertag </a>
                    </td>
                 <td rowspan="2"> 
                     <div style="height:200px;overflow:scroll;overflow-x: hidden;">
                     <div class="accordion" style="height:10px; width:250px; font-size:10px">
                         @foreach (var QuejaReceiver in Queja.OrderByDescending(x => x.gameDate))
                         {
                        
                                    <h6>@QuejaReceiver.gameDate.Value.ToShortDateString() <img height="20" width="20" src='@Url.Content("~/Images/Common/teams/BigLogos/")@QuejaReceiver.SenderIcono' /> by @QuejaReceiver.SenderGamertag</h6>
                                      <div>
                                        <p>@Html.Raw(@System.Web.HttpUtility.HtmlDecode(QuejaReceiver.SenderMotivo))</p>
                                      </div>
                         

                         }
                    </div>
                 </div>
                 </td>
                </tr>
                <tr>
                    <td><img height="50" width="50" src="~/Images/Common/cara.jpg" /></td>
                    <td rowspan="2"> 
                        <img  height="200" width="200" src='@Url.Content("~/Images/Common/teams/BigLogos/")@Queja.First().ReceiverIcono' />
                    </td> 
                    <td></td>
                </tr>
      
            </table>
           </td>
        <td>
            <table>
                <tr>
                    <td style="font-size:12px">Quejas</td>
                </tr>
                <tr>
                    <td style="font-size:50px;font-weight:bold;color:red">@Queja.Count() </td>
                </tr>
                <tr>
                    <td style="font-size:12px"></td>
                </tr>
                <tr>
                    <td style="font-size:50px;font-weight:bold;color:red"></td>
                </tr>
                <tr>
                    <td>  
                          @Html.ActionLink("Mandar Aviso", "SendWarning", new { idManager=Queja.First().ReceiverIdManager , fromPage = "Index" },new { @class="css_button" })
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
    
}
</div>
</div>           
<div id="dialog-modal"  style=" width:600px; height:800px; display:none" title="Basic modal dialog">
                    <div id="FillTable"></div>
  </div>