﻿@model Liga.Domain.Entities.Managers

@{
    ViewBag.Title = "Mandar aviso";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	

<script>
    $(function () {

          tscv 
        $("#SetWarningForm").submit(function (event) {

            if ($("#mensaje").val() == "") {

                alert('Debes dar una explicación!');
                event.preventDefault();
            }

        });
    });
</script>

@using (Html.BeginForm("SendWarning", "Quejas", FormMethod.Post, new { @id = "SetWarningForm" }))
{
    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary(true, "", new { style = "color:red" })

   <table style ="text-align:center; width:100%; font-size:30px; color:orange; font-weight:bold">
       <tr>
           <td></td>
       </tr>
       <tr></tr>
       <tr>
           <td colspan="3">
     
               <img width="90px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchises.First().Icono" />
                     @Model.GamerTag 
                     @if (Model.Photo == null)
                     {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                     }
                     else
                     {
                    <img width="60px"  src="~/Images/Common/cara.jpg" />
                     }
                
           </td>
       </tr>
       <tr>
           <td colspan="3" style="color:gray">
                  @Html.TextArea("mensaje", "", 4, 10, new { style = "width:350px", maxlenght = "8" })                             
           </td>
       </tr>
        <tr><td colspan="3" style="font-size:12px;color:white">
           
         <input type="hidden" id="fromPage" name="fromPage" value= @ViewBag.fromPage />
            </td>

        </tr>
       <tr>
           <td colspan="3">   
               <input type="submit"  class="css_button" value="Mandar Aviso" />
               @if (ViewBag.fromPage == "Index")
               {
                @Html.ActionLink("Volver", "Index", null, new { @class = "css_button" })  
               }
               else
               {
                   @Html.ActionLink("Volver", "SendedDate", null, new { @class = "css_button" })  
               }
           </td>
       </tr>
   </table>
}