﻿@model Liga.Domain.Entities.TransfersPlayersLists
        <table style=" text-align:right" width="320px">
              <tbody>

                <tr>
              <td style="width:40px" rowspan="2">           <img   width="30px" height="40px" src="@Url.Content("~/Images/Common/teams/BigLogos/" + @Model.LVNBAFranchis.BigLogo.ToString())"/> 
              </td>
                  <td style="width:40px" rowspan="2"><img   width="30px" height="40px" src="url('@Model.Player.FaceImage')" /></td>
                  <td  style="width:70px"align="left">@Html.DisplayFor(modelItem => Model.Player.PlayersPosition.Position)</td>
                  <td  style="width:70px"align="right">@Html.DisplayFor(modelItem => Model.Player.Level2k)86</td>
                  <td>Contrato</td>
     
                </tr>
                <tr>
                  <td style="width:70px" colspan="2">@Html.DisplayFor(modelItem => Model.Player.CompleteName)</td>
                  <td style="width:250px"> 
                     @Html.DisplayFor(modelitem=> Model.Player.PlayersSalary.Salary1) ||
                     @Html.DisplayFor(modelitem=> Model.Player.PlayersSalary.Salary2) ||
                     @Html.DisplayFor(modelitem=> Model.Player.PlayersSalary.Salary3) ||
                     @Html.DisplayFor(modelitem=> Model.Player.PlayersSalary.Salary4) ||
                     @Html.DisplayFor(modelitem=> Model.Player.PlayersSalary.Salary5) ||
                    @Html.DisplayFor(modelitem=> Model.Player.PlayersSalary.Salary6) 


       
                  </td>
                </tr>
              </tbody>
        </table>