﻿@model IEnumerable<Liga.Domain.Entities.Transfers>

@{
    ViewBag.Title = "Traspasos";
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Fecha Traspaso
            </th>
            <th>
                Equipos
            </th>
            <th>
                Fecha Confirmación
            </th>
            <th></th>
        </tr>
    </thead>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.Id)
            @Html.DisplayFor(modelItem =>item.TransferDate)

        </td>
        <td>
            <img   width="35px" height="50px" src="@Url.Content("~/Images/Common/teams/BigLogos/" + item.LVNBAFranchis.BigLogo)"/>
            <img   width="35px" height="50px" src="@Url.Content("~/Images/Common/teams/BigLogos/" + item.LVNBAFranchis1.BigLogo)"/>
            @if (item.IdFranchise3 != null)
            {
            <img   width="35px" height="50px" src="@Url.Content("~/Images/Common/teams/BigLogos/" + item.LVNBAFranchis2.BigLogo)"/>
            }
            @if (item.IdFranchise4 != null)
            {
            <img   width="35px" height="50px" src="@Url.Content("~/Images/Common/teams/BigLogos/" + item.LVNBAFranchis3.BigLogo)"/>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResolutionDate)
        </td>
        @if (item.IdTransferState == 4)
        {
        <td>@Html.DisplayFor(modelItem => item.ReasonDeny)</td>
        }
        <td style="width:250px" > 
            <button id="opener" class="claseUno"  value="@item.Id" style=" cursor:pointer; border-style:none; background-color:transparent; font-weight: bold;color: orange;">Detalle</button>
            @if (ViewBag.TransferState == 3)
            { 
                @Html.ActionLink("Aceptar", "Accept", new { id = item.Id }, new { style = "font-weight: bold;color: orange;" }) 
                @Html.ActionLink("Denegar", "Deny", new { id = item.Id }, new { style = "font-weight: bold;color: orange;" }) 
            }
            @if (ViewBag.TransferState != 4 && ViewBag.TransferState != 5)
            {              
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ }, new { style = "font-weight: bold;color: orange;" }) 
            }
        </td>
    </tr>
}

</table>