﻿@model Liga.Domain.Entities.PlayersStates

@{
    ViewBag.Title = "Estados Jugado";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Borrar Estado</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Estados Jugado</legend>

    <div class="display-label">
            @Html.Label("Estado")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
            @Html.Label("Abreviación")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Abrev)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
