﻿@model IEnumerable<Liga.Domain.Entities.PlayersStates>

@{
    ViewBag.Title = "Estados Jugador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Estados Jugador</h2>

<p>
    @Html.ActionLink("Crear estado", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Label("Estado")
        </th>
        <th>
            @Html.Label("Abreviación")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abrev)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
