﻿@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
    font-family: 'Oswald', sans-serif;
    background-image:url(../../Images/patrons.jpg);
    background-attachment:fixed;
}
.logosbg {
    background-color:#000;
}
.bg-dark {
    background-color: #000000 !important;
    border-top: solid 5px #ff0f4a;
    border-bottom: solid 2px #006cbb;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    text-transform: uppercase;
}
.col-sm-6.este {
    border-left: solid 40px #006bbb !important;
    padding: 0 5px;
}
.col-sm-6.oeste {
    border-left: solid 40px #ff0f4a !important;
    padding: 0 5px;
}
.gris {
    background-image: url(../../Images/patrons2.jpg);
    background-attachment: fixed;
    color: #ffffff;
}
thead.thead-dark {
    border-top: 3px solid #006bbb;
    border-bottom: 3px solid #ff0f4a;
}
.resultadosquis ul {
    padding-inline-start: 0px;
}
.resultadosquis ul li {
        display: block;
    }

.resultadis table tr td {
    padding: 10px 19px;
    border-top: solid 1px #4a4a4a;
    color: #fff;
}
.resultadis {
    background-color: #000;
    border-top: solid 3px #006bbb;
    border-bottom: solid 3px #ff0f4a;
}
.resultadis h2 {
   
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}
.resultadis a {
    color: #fff !important;
}

.pag-size {
    color: black;
    font-size: 12px;
    border: 1px solid #dee2e6;
    padding: 8px 16px;
}

.pag-sep {
    border-bottom: 3px solid #ff0f4a;
}

.order-table {
    color: #ff0f4a;
}

div.pagination-container ul.pagination {
    /*width: 70%;
    margin: auto;*/
}

ul.pagination {
    border: 1px solid #dee2e6;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    font-size: 12px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li.active {
    background-color: rgba(0,0,0,.05);
    color: black;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}
table.tablaPlayer.mx-auto {
    width: 250px;
    float: left;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #000;
    border-bottom: solid 3px #006bbb;
    border-top: solid 5px #ff0f4a;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #ffffff;
    background-color: #000;
    border-bottom: solid 3px #006bbb;
    border-top: solid 5px #ff0f4a;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: solid 3px #f2f2f2;
    color: #000000;
    background-color: #f2f2f2;
    padding: 25px;
    border-top: solid 5px #f2f2f2;
}
li a span.tab {
    color: #000000;
    line-height: 2.5rem;
}
.gris li a span.tab {
    color: #9c9c9c;
    line-height: 4.5rem;
}
.sidebar ul li ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    list-style-type: square;
}
.sidebar.comi ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    list-style-type: square;
}
.gris.comi li a {
    color: #9c9c9c;
    line-height: 4.5rem;
}
.npm img {
    padding: 0;
    margin-left: -30px;
    position: fixed;
    bottom: 17%;
    z-index: -100;
    vertical-align: middle;
}
.npm2 img {
    padding: 0;
    margin-right: -30px;
    position: fixed;
    bottom: 17%;
    z-index: -100;
    vertical-align: middle;
}
table.table.canchas {
    height: 100%;
}
table.gameStats {
    width: 100%;
}
.circulo-res {
    margin-left: 73px;
    margin-top: 109px;
    float: left;
    font-size: 55px;
    padding: 25px 30px;
    color: white;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border-top: 5px solid #006bbb;
    border-left: 5px solid #006bbb;
    border-bottom: 5px solid #ff0f4a;
    border-right: 5px solid #ff0f4a;
}
.circulo-res2 {
    margin-right: 73px;
    margin-top: 109px;
    float: right;
    font-size: 55px;
    padding: 25px 30px;
    color: white;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border-top: 5px solid #006bbb;
    border-left: 5px solid #006bbb;
    border-bottom: 5px solid #ff0f4a;
    border-right: 5px solid #ff0f4a;
}
.mb-6, .my-6 {
    margin-bottom: 6rem !important;
}
tr.tablita {
    background-color: #000;
    color: #FFF;
}

.tablon td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    padding: 5px;
}
tr.ttop {
    background-color: #000;
    color: #fff;
    border-top: solid 5px #ff0f4a;
    border-bottom: solid 3px #006bbb;
}
.table .ttop td {
   
    border-top: 0px solid #dee2e6;
}

.oto .tab-content {
    background-color: #fff;
    padding: 25px;
    border: solid 1px #006bbb;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    font-size: 14px;
    text-align: center;
}

.card-header {
    padding: .25rem 0.75rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.25rem;
    font-size: 14px;
}
.Letra {
    padding: 25px 0;
    font-size: 50px;
}
.JugadoresPorLetra {
    column-count: 3;
}
.jumpto .luna {
    background-color: #000000;
    padding: 10px 18px;
    border-radius: 100%;
    color: #ffffff;
    margin: 5px;
    width: 43px;
    float: left;
}
.jumpto .luna a {

    color: #ffffff;

}
.subir {
    float: right;
}

.statusCl {
    background-color: #CDDC39 !important;
    text-align: center;
    font-weight: bold;
    color: white !important;
}
.injury table.table.table-striped {
    border: solid 1px #ced4da;
    font-size: 18px;
}
.noventa {
    width: 95% !important;
}
.accordions a {
    color: #777777;
}
.accordions a:hover {
    color: #000000;
}
.lola .tab-pane {
    background-color: #f2f2f2;
    padding: 25px;
}
.np {
    padding:0;
}
.card {
border-radius:0;
}
.estotal {
    width: 14%;
    height: 40px;
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 3px #000000;
}
.estotals select {
    width: 250px;
    height: 40px;
}
.bbd {
    border-bottom:dotted 1px #000000;
}
table#infoPlayer {
    width: 100%;
}
table#infoPlayer td a {
    color: #FFFFFF;
}