﻿@model Liga.Domain.Entities.Injuries

@{
    ViewBag.Title = "Lesiones";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Injuries</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Player.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Player.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InjuryType.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InjuryType.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GamesOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GamesOut)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GamesRest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GamesRest)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
