﻿@model IList<Liga.Domain.Entities.LVNBAFranchises>

    @{
        ViewBag.Title = "TransfersInfo";
        Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
    }
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="h2">Transferibles en LVNBA</h2>
            </div>
            <div class="col-md-12 col-sm-12" id="cards">
                <div class="row">
                    @foreach (var LVNBAFranchises in Model)
                    {
                        <button style="background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden; outline:none;" onclick="getTransferibles(@LVNBAFranchises.Id)">
                            <img height="75" width="75" class="rounded-circle" src="~/Images/Common/teams/Iconos/@LVNBAFranchises.Icono" />
                        </button>
                    }
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="row" id="detail">
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />

    <div class="modal fade" id="transferiblesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal">Jugadores transferibles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="cuerpoModal">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="noTransferiblesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tituloModal">No posee jugadores transferibles.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getTransferibles(id) {
            $.ajax({
                type: "GET",
                cache: false,
                url: '@Url.Action("GetTransferibles", "Trades")',
                data: { idFranchise: id },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var liList = "";
                    var nombreEquipo = "";
                    var selectedTeam = false;
                    for (var i = 0; i < data.length; i++) {
                        if (!selectedTeam) {
                            nombreEquipo = data[i].Equipo;
                            selectedTeam = true;
                        }
                        liList = liList + '<li><img height="75" width="75" class="rounded-circle" src="' + window.location.origin +'/Images/Common/teams/Iconos/'+data[i].EquipoImagen.replace("jpg","png")+'" />' + data[i].Jugador + '</li>';
                    }
                    if (!selectedTeam) {
                        $('#noTransferiblesModal').modal('show');
                    }
                    else {
                        $("#tituloModal").text("Jugadores transferibles de '" + nombreEquipo + "':");
                        $("#cuerpoModal").empty();
                        $("#cuerpoModal").append("<ul>" + liList + "</ul>");
                        $('#transferiblesModal').modal('show');
                    }
                },
                error: function () {
                    alert('Por favor intente de nuevo.');
                }
            });
        }
    </script>
