﻿@model Liga.Domain.Entities.ListPlayersTradeTeam
<script src="~/Scripts/quickfit/jquery.textfill.min.js"></script>
   <script>

       $(function () {
           $('.salarioGallery').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
           $('.playerName').textfill({ maxFontPixels: 10 });
           var $galleryTeam1 = $("#galleryTeam_1"), $galleryTeam2 = $("#galleryTeam_2"), $galleryTeam3 = $("#galleryTeam_3"), $galleryTeam4 = $("#galleryTeam_4"),
         $trashTeam1 = $("#trashTeam1"), $trashTeam2 = $("#trashTeam2"), $trashTeam3 = $("#trashTeam3"), $trashTeam4 = $("#trashTeam4");
           $galleryRound1 = $("#galleryRound_1"), $galleryRound2 = $("#galleryRound_2"), $galleryRound3 = $("#galleryRound_3"), $galleryRound4 = $("#galleryRound_4");
           var $comboTeam1 = $("#IdTeam1");

           $("li", ".gallery").draggable({
               cancel: "a.ui-icon", // clicking an icon won't initiate dragging
               revert: "invalid", // when not dropped, the item will revert back to its initial position
               containment: "document",
               helper: "clone",
               cursor: "default"
           });

           // resolve the icons behavior with event delegation
           $("ul.gallery > li").click(function (event) {
               var $item = $(this),
                 $target = $(event.target);
               if ($target.is("a.ui-icon-trash")) {
                   deleteImage($item);
               } else if ($target.is("a.ui-icon-refresh")) {
                     
                   eliminaSuSalario_aux($item);
                   event.stopImmediatePropagation()
                   recycleImage($item, $("#" + $(this).attr('idGallery').toString()));
                   

               }

               return false;
           });

           function eliminaSuSalario_aux(jugador) {
               
               var salarioJugador = dameSalario(jugador);
               var equipo = $(jugador).attr('idGallery').toString(); // de que equipo pertenece
               switch (equipo) {
                   case "galleryTeam_1":
                       salarioEntranteEquipoActual = $('#divSalaryExit1').autoNumeric('get');
                       $('#divSalaryExit1').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));
                       break;
                   case "galleryTeam_2":
                       salarioEntranteEquipoActual = $('#divSalaryExit2').autoNumeric('get');
                       $('#divSalaryExit2').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));
                       break;
                   case "galleryTeam_3":
                       salarioEntranteEquipoActual = $('#divSalaryExit3').autoNumeric('get');
                       $('#divSalaryExit3').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));
                       break;
                   case "galleryTeam_4":
                       salarioEntranteEquipoActual = $('#divSalaryExit4').autoNumeric('get');
                       $('#divSalaryExit4').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));
                       break;
               }

               //como saber en que trash esta? para decrecer el saliente
               var papeleraSt = $(jugador).parents().eq(1).attr('idTrash').toString();
               var papelera = $(jugador).parents().eq(1).attr('idTrash');

               salarioSalienteEquipoActual = $('#divSalaryEntry' + papelera).autoNumeric('get');
               $('#divSalaryEntry' + papelera).autoNumeric('set', parseFloat(salarioSalienteEquipoActual) - parseFloat(salarioJugador));

               calculaDffSal();
               calculaPresCalc();
           }
           function calculaDffSal() {

               for (i = 1; i < 5; i++) {
                   $('#divSalaryDiff' + i).autoNumeric('set', parseFloat($('#divSalaryEntry' + i).autoNumeric('get')) - parseFloat($('#divSalaryExit' + i).autoNumeric('get')));

               }

           }
           function calculaPresCalc() {

               for (i = 1; i < 5; i++) {
                   $('#divSalaryCalc' + i).autoNumeric('set', parseFloat($('#divPresupuesto' + i).autoNumeric('get')) + parseFloat($('#divSalaryDiff' + i).autoNumeric('get')));

               }
           }
           function dameSalario(objeto) {
               var salarioJugador = 0;
               var team = $(objeto).attr('idGallery').toString();
               switch (team) {
                   case "galleryTeam_1":
                       if ($(objeto).attr('salary') != undefined) {
                           salarioJugador = $(objeto).attr('salary').toString();
                       }
                       break;
                   case "galleryTeam_2":
                       if ($(objeto).attr('salary') != undefined) {
                           salarioJugador = $(objeto).attr('salary').toString();
                       }
                       break;
                   case "galleryTeam_3":
                       if ($(objeto).attr('salary') != undefined) {
                           salarioJugador = $(objeto).attr('salary').toString();
                       }
                       break;
                   case "galleryTeam_4":
                       if ($(objeto).attr('salary') != undefined) {
                           salarioJugador = $(objeto).attr('salary').toString();
                       }
                       break;
               }
               return salarioJugador;
           }
           // image deletion function
           var recycle_icon = "<a href='link/to/recycle/script/when/we/have/js/off' title='Recycle this image' class='ui-icon ui-icon-refresh'>Recycle image</a>";
           function deleteImage($item, $fromTrash) {
               $item.fadeOut(function () {
                   var $list = $("ul", $fromTrash).length ?
                     $("ul", $fromTrash) :
                     $("<ul class='gallery ui-helper-reset'/>").appendTo($fromTrash);

                   $item.find("a.ui-icon-trash").remove();
                   $item.append(recycle_icon).appendTo($list).fadeIn(function () {
                       $item
                         .animate({ width: "65px" })
                       //.find("img")
                       //  .animate({ height: "35px" });
                   });
               });
           }

           // image recycle function
           var trash_icon = "<a href='link/to/trash/script/when/we/have/js/off' title='Delete this image' class='ui-icon ui-icon-trash'>Delete image</a>";
           function recycleImage($item, $fromGallery) {
               $item.fadeOut(function () {
                   $item
                     .find("a.ui-icon-refresh")
                       .remove()
                     .end()
                     //.css("width", "96px")
                     //.append(trash_icon)
                     //.find("img")
                     //  .css("height", "72px")
                     //.end()
                     .appendTo($fromGallery)
                     .fadeIn();
               });
           }
       });
   </script>
    <ul id="galleryTeam_@Model.idPosTeam" class="gallery ui-helper-reset ui-helper-clearfix">
        @foreach (var player in Model.ListPlayersTeam)
        {   
          <li id="@player.IdPlayer" salary="@player.Salary1" idTeam="@Model.idPosTeam" idGallery="galleryTeam_@Model.idPosTeam">
            <table style="width:40px; margin:0px;padding:0px">
                <tr style="height:10px;">
                    <td colspan="2">
                        <div class="playerName" style='white-space:nowrap;width:60px;height:15px;'>
                            <span>@player.Player.AbrevName</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><img style="float:left" src="~/Images/Common/teams/Iconos/@player.LVNBAFranchis.Icono" width="15" height="15">
                        <a onclick="viewPlayerInfo(@player.IdPlayer)" title="More Info" class="ui-icon ui-icon-zoomin">More Info</a>
                    </td>
                    <td>    <img src="@player.Player.FaceImage" width="25" height="35"></td>
                </tr>
                <tr>
                    <td colspan="2">    @{var formated = String.Format("{0:#}", player.Salary1);var color = "red";
                   switch (player.IdCondition1)
                   {
                       case 0:
                           color="white";
                           break;
                       case 1:
                           color="red";
                           break;
                       case 2:
                           color = "#2E64FE";
                           break;
                       case 3:
                           color = "#01DF3A";
                           break;
                       case 4:
                           color = "violet";
                           break;
                       case 5:
                           color = "orange";
                           break;
                       default: color = "black"; break;
                   }
                   if (player.RookieRights == 1)
                       {
                           color = "green";
                       }
                    
                  
                @Html.TextBox("divSal2",player.Salary1, new{ id="salarioGallery"+player.IdPlayer, @class="salarioGallery", style = "float:left;width:55px; font-size:9px;background-color:" + color + ";color:white", maxlength = "14" });
                  var salCondition = player.Salary1;}
                </td>
                </tr>

            </table>

          </li>
        
        }
        </ul>