﻿@model Liga.Domain.Entities.ValoracionReport
@{
    ViewBag.Title = "Histórico";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs({
            autoHeight:true,
            selected: 0,
            ajaxOptions: {
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                }
            }
        });

        $(".managerCard").click(function (e) {

            e.preventDefault();
            var $item = $(this);
            viewManageCard($item);
            // return false;
        });

        $(".accordion").accordion({
            active: false,
            collapsible: true
        });
        $(".accordion").accordion({ heightStyle: "fill" });
        $(".accordion").accordion("refresh");
        getSideBarMenuForValoraciones();
        function getSideBarMenuForValoraciones() {
            var options = '';
            options += '<li><h2>Opciones</h2><ul>';
            options += '<li><a href="/Valoraciones/Index"><span class="tab">Resumen temp.</span></a></li>';
            options += '<li><a href="/Valoraciones/Season"><span class="tab">Clasificacion temp. </span></a></li>';
            options += '<li><a href="/Valoraciones/History"><span class="tab">Histórico</span></a></li>';
   

            options += '</ul></li>';
            jQuery('#firstListUL').html(options);
        }
     
        function viewManageCard($link) {

            var idManager = $link.attr("id");


            $.ajax({
                url: "@Url.Action("GetManagerCard", "Managers")",
                data: { idManager: idManager },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                beforeSend: function () {
                    $('#loading-image').show();
                },
                success: function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");
                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 200,
                        width: 300,
                        modal: true,
                        //dialogClass: 'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                },
                complete: function () {
                    $('#loading-image').hide();
                }

            });

        }
    });
</script>

<div id="tabs"  style="float:left; width:780px">
<ul>
	<li><a href="#tabs-1">Histórico</a></li>

</ul>

<div id="tabs-1">
    <div>Histórico de valoraciones recibidas y otorgadas a lo largo de LVNBA:</div>

    <table style="text-align:center;width:80%" >
        <tr style="font-weight:bold;color:red">
            <td>Val. Recibidas</td>
            <td>Val. Otorgadas</td>
        </tr>
        <tr style="font-weight:bold;">
            <td>
                <ul>
                    @foreach(var valRec in Model.Valoraciones.GroupBy(x=>x.idManagerRecibe).OrderByDescending(x=>x.Select(f=>f.nota).Average()))
                    {   
                        <li>@valRec.First().ManagerInfoRecibido.GamerTag -  @Math.Round(Convert.ToDecimal(valRec.Average(x=>x.nota)),2)</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach(var valRec in Model.Valoraciones.GroupBy(x=>x.idManagerOtorga).OrderByDescending(x=>x.Select(f=>f.nota).Average()))
                    {   
                        <li>@valRec.First().ManagerInfoOtorgado.GamerTag -  @Math.Round(Convert.ToDecimal(valRec.Average(x=>x.nota)),2)</li>
                    }
                </ul>
            </td>
        </tr>
    </table>

</div>

</div>           
<div id="dialog-modal"  style=" width:600px; height:800px; display:none" title="Basic modal dialog">
                    <div id="FillTable"></div>
  </div>
