﻿@model Liga.Domain.Entities.ValoracionReport
@{
    ViewBag.Title = "Resumen";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $(".managerCard").click(function (e) {

            e.preventDefault();
            var $item = $(this);
            viewManageCard($item);
            // return false;
        });


        //$(".accordion").accordion({ heightStyle: "fill" });
        //$(".accordion").accordion("refresh");
        //getSideBarMenuForValoraciones();
        //function getSideBarMenuForValoraciones() {
        //    var options = '';
        //    options += '<li><h2>Opciones</h2><ul>';

        //    options += '<li><a href="/Valoraciones/Index"><span class="tab">Resumen temp.</span></a></li>';
        //    options += '<li><a href="/Valoraciones/Season"><span class="tab">Clasificacion temp. </span></a></li>';
        //    options += '<li><a href="/Valoraciones/History"><span class="tab">Histórico</span></a></li>';


        //    options += '</ul></li>';
        //    jQuery('#firstListUL').html(options);
        //}

        function viewManageCard($link) {

            var idManager = $link.attr("id");


            $.ajax({
                url: "@Url.Action("GetManagerCard", "Managers")",
                data: { idManager: idManager },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                beforeSend: function () {
                    $('#loading-image').show();
                },
                success: function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");
                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 200,
                        width: 300,
                        modal: true,
                        //dialogClass: 'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                },
                complete: function () {
                    $('#loading-image').hide();
                }

            });

        }
    });
</script>

<div class="container pb-5 oto">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="recibidas-tab" data-toggle="tab" href="#recibidas" role="tab" aria-controls="recibidas" aria-selected="true">Recibidas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="otorgadas-tab" data-toggle="tab" href="#otorgadas" role="tab" aria-controls="otorgadas" aria-selected="false">Otorgadas</a>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="recibidas" role="tabpanel" aria-labelledby="recibidas-tab">
            <h4>Medias de valoración recibida durante la temporada:</h4>

            @foreach (var valoracion in Model.MediasRecibidas.OrderBy(x => x.ManagerInfo.GamerTag))
            {
                var elManager = valoracion.idManager;

        <table style="width:100%">
            <tr>
                <td colspan="2" style="width:300px;font-weight:bold; color:red; font-size:20px">
                    <a href="link/to/trash/script/when/we/have/js/off" style="color:red; " id="@valoracion.idManager" title="Manager Card" class="managerCard"> @valoracion.ManagerInfo.GamerTag - @valoracion.Media</a>
                </td>

                <td rowspan="4" style="width:400px">
                    <div style="height:100px;overflow:scroll;overflow-x: hidden;">
                        @foreach (var recibida in Model.Valoraciones.Where(x => x.idManagerRecibe == elManager && x.season == 2015).OrderBy(x => x.gameDate))
                        {
                            <h5>
                                <span style="color:red;font-weight:bold;font-size:larger">@recibida.nota</span> by - @recibida.ManagerInfoOtorgado.GamerTag (@recibida.gameDate.Value.ToShortDateString()) <span style="color:red">Res.</span>
                                @recibida.GameInfo.idScoreAway <img height="20" width="20" src='@Url.Content("~/Images/Common/teams/Iconos/")@recibida.GameInfo.LVNBAFranchisAway.Icono' />
                                @@
                                <img height="20" width="20" src='@Url.Content("~/Images/Common/teams/Iconos/")@recibida.GameInfo.LVNBAFranchisLocal.Icono' />
                                @recibida.GameInfo.idScoreLocal
                            </h5>

                        }
                    </div>
                </td>
            </tr>
            <hr />
            <tr>
                <td>
                    Jugando como Local:
                    @if (Model.ListaValoracionesRecibidas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Local").FirstOrDefault() != null)
                    {
                        <span style="color:#006bbb; font-weight:bold">
                            @Model.ListaValoracionesRecibidas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Local").First().Media en

                            @Model.ListaValoracionesRecibidas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Local").FirstOrDefault().Partidos partidos
                        </span>

                    }
                </td>
            </tr>
            <tr>
                <td>
                    Jugando como Visitante:
                    @if (Model.ListaValoracionesRecibidas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Visitante").FirstOrDefault() != null)
                    {
                        <span style="color:#006bbb; font-weight:bold">
                            @Model.ListaValoracionesRecibidas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Visitante").First().Media en

                            @Model.ListaValoracionesRecibidas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Visitante").FirstOrDefault().Partidos partidos
                        </span>

                    }
                </td>
            </tr>

        </table>


            }
        </div>
        <div class="tab-pane fade" id="otorgadas" role="tabpanel" aria-labelledby="otorgadas-tab">
            <h4>Medias de valoración otorgada durante la temporada:</h4>

            @foreach (var valoracionO in Model.MediasOtorgadas.OrderBy(x => x.ManagerInfo.GamerTag))
            {
                var elManager = valoracionO.idManager;
               
                            <table style="width:100%">
                                <tr>
                                    <td colspan="2" style="width:300px;font-weight:bold; color:red ; font-size:20px">
                                        <a href="link/to/trash/script/when/we/have/js/off" style="color:red; " id="@valoracionO.idManager" title="Manager Card" class="managerCard"> @valoracionO.ManagerInfo.GamerTag - @valoracionO.Media</a>
                                    </td>

                                    <td rowspan="4" style="width:400px">
                                        <div style="height:100px;overflow:scroll;overflow-x: hidden;">
                                            @foreach (var recibida in Model.Valoraciones.Where(x => x.idManagerOtorga == elManager && x.season == 2015).OrderBy(x => x.gameDate))
                                            {
                                                <h5>
                                                    <span style="color:red;font-weight:bold;font-size:larger">@recibida.nota</span> to - @recibida.ManagerInfoRecibido.GamerTag (@recibida.gameDate.Value.ToShortDateString()) <span style="color:red">Res.</span>
                                                    @recibida.GameInfo.idScoreAway <img height="20" width="20" src='@Url.Content("~/Images/Common/teams/Iconos/")@recibida.GameInfo.LVNBAFranchisAway.Icono' />
                                                    @@
                                                    <img height="20" width="20" src='@Url.Content("~/Images/Common/teams/Iconos/")@recibida.GameInfo.LVNBAFranchisLocal.Icono' />
                                                    @recibida.GameInfo.idScoreLocal
                                                </h5>

                                            }
                                        </div>
                                    </td>
                                </tr>
                                <hr />
                                <tr>
                                    <td>
                                        Jugando como Local:
                                        @if (Model.ListaValoracionesOtorgadas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Local").FirstOrDefault() != null)
                                        {
                                            <span style="color:#006bbb; font-weight:bold">
                                                @Model.ListaValoracionesOtorgadas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Local").First().Media en

                                                @Model.ListaValoracionesOtorgadas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Local").FirstOrDefault().Partidos partidos
                                            </span>

                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Jugando como Visitante:
                                        @if (Model.ListaValoracionesOtorgadas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Visitante").FirstOrDefault() != null)
                                        {
                                            <span style="color:#006bbb; font-weight:bold">
                                                @Model.ListaValoracionesOtorgadas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Visitante").First().Media en

                                                @Model.ListaValoracionesOtorgadas.Where(x => x.idManager == elManager && x.LocalOVisitante == "Visitante").FirstOrDefault().Partidos partidos
                                            </span>

                                        }
                                    </td>
                                </tr>
                            </table>
   

            }
        </div>
    </div>
</div>
<div id="dialog-modal" style=" width:600px; height:800px; display:none" title="Basic modal dialog">
    <div id="FillTable"></div>
</div>
