﻿@model Liga.Domain.Entities.Goals

@{
    ViewBag.Title = "Objetivos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Crear Objetivos</h2>
<h4>Objetivos</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="form-group col-md-3">
            @Html.Label("Objetivo")
            @Html.TextBoxFor(model => model.Goal1, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Goal1)
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Descripción")
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Tipo (E=Equipo, M=Manager)")
            @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <div class="form-group col-md-3">
            @Html.Label("Bonus")
            @Html.TextBoxFor(model => model.Bonus, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Bonus)
        </div>
    </div>
    <div class="row justify-content-end">
        <a href="/Goals" class="btn btn-dark mr-1 col-md-2">Volver</a>
        <button type="submit" class="col-md-2 btn btn-outline-success">Crear</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
