﻿@model Liga.Domain.Entities.Goals

@{
    ViewBag.Title = "Objetivos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Borrar Objetivos</h2>
<h5>Está seguro?</h5>
<div class="row">
    <div class="form-group col-md-6">
        @Html.Label("Objetivo", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.Goal1)
    </div>

    <div class="form-group col-md-6">
        @Html.Label("Descripción", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="form-group col-md-6 ">
        @Html.Label("Tipo", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="form-group col-md-6">
        @Html.Label("Bonus", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.Bonus)
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="row">
    <a href="/Goals" class="btn btn-dark mr-1 col-md-2">Volver</a>
    <button type="submit" class="btn btn-outline-danger col-md-2">Borrar</button>
</div>
}
