﻿@model IEnumerable<Liga.Domain.Entities.Goals>

@{
    ViewBag.Title = "Objetivos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Objetivos</h2>

<p>
    @Html.ActionLink("Crear Objetivo", "Create")
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.Label("Objetivo")
            </th>
            <th>
                @Html.Label("Descripción")
            </th>
            <th>
                @Html.Label("Tipo")
            </th>
            <th>
                @Html.Label("Bonus")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Goal1)
                </td>
                <td style="width:400px">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bonus)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>


</table>
