﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Convertir FA";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";

}

<h2>Convertir a agente libre implica: </h2>
<div class="row mb-5 pb-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Eliminar el salario que tiene el jugador.
            </div>
            <div class="card-body">
                Todos los años de contrato se borran.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Eliminar su estado y su rol
            </div>
            <div class="card-body">
                El jugador ya no tiene equipo y por lo tanto no tiene rol ni estado contractual
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Dejar al jugador sin equipo
            </div>
            <div class="card-body">
                El jugador al convertirse en agente libre se queda sin equipo
            </div>
        </div>
    </div>
</div>

<fieldset>
    <legend class="mb-4 mt-5 font-weight-bold">Jugador</legend>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("Equipo")
            </th>
            <th>
                @Html.Label("Rol")
            </th>
            <th>
                @Html.Label("Posición")
            </th>
            <th>
                @Html.Label("Estado")
            </th>
            <th>
                @Html.Label("Derechos bird")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LVNBAFranchis.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayersRole.Rol)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayersPosition.Position)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayersState.State)
            </td>
            <td>
                @Html.DisplayFor(model => model.BirdRights)
            </td>
        </tr>
    </table>




</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row justify-content-end mt-4">
        @Html.ActionLink("Volver", "PlayerActions", null, new { @class = "btn btn-dark col-md-1 mr-2" })
        <input type="submit" class="btn btn-outline-danger col-md-2" value="Convertir a FA" />
    </div>
}
