﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Jugadores</h2>

<h3>Está seguro?</h3>
<div class="row">

    <div class="col-md-4 form-group">
        @Html.Label("Nombre", new { @class= "font-weight-bold" })
        @Html.DisplayFor(model => model.CompleteName)
    </div>
    <div class="col-md-4 form-group">
        @Html.Label("Equipo", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.LVNBAFranchis.Name)
    </div>
    <div class="col-md-4 form-group">
        @Html.Label("Rol", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.PlayersRole.Rol)
    </div>
    <div class="col-md-4 form-group">
        @Html.Label("Posición", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.PlayersPosition.Position)
    </div>
    <div class="col-md-4 form-group">
        @Html.Label("Fecha Nacimiento", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.BornDate)
    </div>

    <div class="col-md-4 form-group">
        @Html.Label("Estado", new { @class = "font-weight-bold" })
        @Html.DisplayFor(model => model.PlayersState.State)
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-danger col-md-2 mr-1" type="submit" value="Eliminar" />
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
    </div>
}
