﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.validator.methods.date = function (value, element) {
            var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
            return this.optional(element) || dateRegex.test(value);
        };
    })
</script>
<h2>Jugadores</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="row">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Injuried)
    <div class="form-group col-md-4">
        @Html.Label("Nombre")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Apellido")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Apodo")
        @Html.TextBoxFor(model => model.NickName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NickName)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Nombre completo", new { style = "color:red" })
        @Html.TextBoxFor(model => model.CompleteName, new { disabled = "disabled", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CompleteName)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Nombre abreviado", new { style = "color:red" })
        @Html.TextBoxFor(model => model.AbrevName, new { disabled = "disabled", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AbrevName)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Altura")
        @Html.TextBoxFor(model => model.Height, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Height)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Peso")
        @Html.TextBoxFor(model => model.Weight, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Weight)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Fecha nacimiento")
        @if (Model.BornDate != null)
        {
            <input type="date" value="@Model.BornDate.Value.ToString("yyyy-MM-dd")" class="form-control" name="BornDate" />
        }
        else
        {
            <input type="date" class="form-control" name="BornDate" />
        }
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Edad", new { style = "color:red" })
        @Html.TextBoxFor(model => model.Age, new { disabled = "disabled", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Age)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Retirado", new { style = "color:red" })
        @Html.CheckBoxFor(model => model.Retired)
        @Html.ValidationMessageFor(model => model.Retired)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Años profesional")
        @Html.TextBoxFor(model => model.YearsPro, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.YearsPro)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Derechos Bird")
        @Html.TextBoxFor(model => model.BirdRights, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BirdRights)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Posición")
        @Html.DropDownList("IdPosition", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdPosition)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Rol")
        @Html.DropDownList("IdRol", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdRol)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Estado")
        @Html.DropDownList("IdState", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdState)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Equipo Actual", "LVNBAFranchises")
        <select class="form-control" name="ActualTeam">
            <option value="0">Ninguna</option>
            @foreach (var item in ViewBag.ActualTeam.Items)
            {
                if (Model.ActualTeam == item.Id)
                {
                    <option selected="selected" value="@item.Id"> @item.Name</option>

                }
                else
                {
                    <option value="@item.Id"> @item.Name</option>

                }
            }
        </select>
        @Html.ValidationMessageFor(model => model.ActualTeam)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Opinión del manager")
        @Html.TextAreaFor(model => model.ManagerOpinion, new { maxlength = 150, @cols = 80, @rows = 3, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ManagerOpinion)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Anuncio venta")
        @Html.TextAreaFor(model => model.ManagerAdvert, new { maxlength = 150, @cols = 80, @rows = 3, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ManagerAdvert)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Foto")
        @Html.TextBoxFor(model => model.FaceImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FaceImage)
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail" src="@Model.FaceImage" />
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Imagen")
        @Html.TextBoxFor(model => model.MainImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MainImage)
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail" src="@Model.MainImage" />
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Lesión")
        @Html.TextBoxFor(model => model.Injury, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Injury)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Nivel 2k")
        @Html.TextBoxFor(model => model.Level2k, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Level2k)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Seguidores")
        @Html.TextBoxFor(model => model.Followers, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Followers)
    </div>
</div>
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-success col-md-2 mr-1" type="submit" value="Editar" />
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
    </div>

}


@section Scripts {
    @Scripts.Render("~/jqueryval")
}
