﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";

}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="row">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Injuried)
    <div class="form-group col-md-3">
        @Html.Label("Nombre")
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Apellido")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Apodo")
        @Html.TextBoxFor(model => model.NickName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NickName)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Nombre Completo")
        @Html.TextBoxFor(model => model.CompleteName, new { disabled = "disabled", style = "color:red", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CompleteName)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Abreviado")
        @Html.TextBoxFor(model => model.AbrevName, new { disabled = "disabled", style = "color:red", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AbrevName)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Altura")
        @Html.TextBoxFor(model => model.Height, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Height)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Peso")
        @Html.TextBoxFor(model => model.Weight, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Weight)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Fecha nacimiento")
        @Html.TextBoxFor(model => model.BornDate, new { type = "date", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BornDate)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("College")
        @Html.DropDownList("IdCollege", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdCollege)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Edad")
        @Html.TextBoxFor(model => model.Age, new { disabled = "disabled", style = "color:red", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Age)
    </div>
    <div class="form-group col-md-3 d-inline">
        @Html.Label("Retirado", new { style = "color:red" })
        @Html.CheckBoxFor(model => model.Retired, new { disabled = "disabled" })
        @Html.ValidationMessageFor(model => model.Retired)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Años profesional")
        @Html.TextBoxFor(model => model.YearsPro, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.YearsPro)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Bird rights")
        @Html.TextBoxFor(model => model.BirdRights, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BirdRights)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Posición")
        @Html.DropDownList("IdPosition", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdPosition)
    </div>

    <div class="form-group col-md-3">
        @Html.Label("Rol")
        @Html.DropDownList("IdRol", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdRol)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Estado")
        @Html.DropDownList("IdState", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdState)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Equipo")
        @Html.DropDownList("ActualTeam", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ActualTeam)
    </div>

    <div class="form-group col-md-6">
        @Html.Label("Opinión del manager")
        @Html.TextAreaFor(model => model.ManagerOpinion, new { maxlength = 150, @rows = 3, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ManagerOpinion)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Foto")
        @Html.TextBoxFor(model => model.FaceImage, new { id = "ImagenesCara", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FaceImage)
    </div>
    <div class="form-group col-md-3">
        <input type="file" id="buttonIDF" title="Visualizar" />
        <img id="mainF" width="40" height="60" src="@Model.FaceImage" />
    </div>

    <div class="form-group col-md-3">
        @Html.Label("Imagen")
        @Html.TextBoxFor(model => model.MainImage, new { id = "ImagenesCuerpo", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MainImage)
    </div>
    <div class="form-group col-md-3">
        <img id="buttonIDI" title="Visualizar" />
        <img id="mainI" width="270" height="200" src="@Model.MainImage" />
    </div>
    <div class="form-group col-md-6">
        @Html.Label("Anuncio del manager")
        @Html.TextAreaFor(model => model.ManagerAdvert, new { maxlength = 150, @rows = 3, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ManagerAdvert)
    </div>
    <div class="form-group col-md-3 d-inline">
        @Html.Label("De Agencia")
        @Html.CheckBoxFor(model => model.FromAgency.HasValue)
        @Html.ValidationMessageFor(model => model.FromAgency)
    </div>
    <div class="form-group col-md-3">
        @Html.Label("Nivel 2k")
        @Html.TextBoxFor(model => model.Level2k, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Level2k)
    </div>

    <div class="form-group col-md-3">
        @Html.Label("Seguidores")
        @Html.TextBoxFor(model => model.Followers, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Followers)
    </div>
</div>
    <div class="row mt-3 mb-5 justify-content-end">
        @Html.ActionLink("Volver", "PlayerActions", null, new { @class = "btn btn-dark col-md-2 mr-2" })
        <button type="submit" class="btn btn-outline-success col-md-2">Guardar</button>
    </div>
}


<script>
    $(function () {
        jQuery.validator.methods.date = function (value, element) {
            var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
            return this.optional(element) || dateRegex.test(value);
        };
        $('#buttonIDI').on({
            'click': function () {

                var imagePath = $("#ImagenesCuerpo").val();
                $('#mainI').attr('src', imagePath);
            }
        });
        $('#buttonIDF').on({
            'click': function () {

                var imagePath = $("#ImagenesCara").val();
                $('#mainF').attr('src', 'https://cdn.hoopshype.com/i/a4/09/df/' + imagePath);
            }
        });

    });
</script>
