﻿@model PagedList.IPagedList<Liga.Domain.Entities.Players>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Jugadores Libres";
        Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
        string message = ViewBag.Message;
    }
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Jugadores Libres</h2>
            </div>
            @{
                if (message != null && message != "")
                {
                    <div class="col-md-12">
                        <ul><li style="color: red;">@message</li></ul>
                    </div>
                }
            }
            <div class="col-md-12">
                @using (Html.BeginForm("FreeAgent", "Players", FormMethod.Get))
                {
                    <p>
                        Buscar por nombre jugador: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Buscar" />
                    </p>
                }
            </div>
            <div class="col-md-12">
                <table class="table table-striped small">
                    <thead class="thead-dark">
                        <tr>

                            <th>
                                @Html.ActionLink("Nombre", "FreeAgent", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @class = "order-table" })
                            </th>
                            <th>
                                @Html.DisplayName("Rol")
                            </th>
                            <th>
                                @Html.DisplayName("Posición")
                            </th>
                            <th>
                                @Html.DisplayName("Estado")
                            </th>
                            <th>
                                @Html.DisplayName("Nivel")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompleteName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlayersRole.Rol)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlayersPosition.Position)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PlayersState.Abrev)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Level2k)
                                </td>
                                <td>
                                    @Html.ActionLink("Ofertar", "Tender", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="pag-sep">
            </div>
            <div class="col-md-3">
                <p class="pag-size">
                    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                </p>
            </div>
            <div class="col-md-9">
                @Html.PagedListPager(Model, page => Url.Action("FreeAgent", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
