﻿@model Liga.Domain.Entities.PlayersForOutNBA

@{
    ViewBag.Title = "Jugadores fuera NBA";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";

}


<h2>Jugadores que salen de la NBA: </h2>
<p>
    Cuando un jugador sale de la NBA, podemos especificar el equipo al que va.
    <br /> Esto implica que el jugador cambia su condición contractual a NotInNBA. Su salario no cuenta durante ese año.
</p>
<div class="row mb-5 pb-5">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Cambiamos la condición contractual.
            </div>
            <div class="card-body">
                La primera condicion pasa a ser NOTInNBA.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Eliminar su estado y su rol
            </div>
            <div class="card-body">
                Pasan a nulo.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Cambio en histórico del jugador
            </div>
            <div class="card-body">
                El jugador cierra el ciclo con el equipo.
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="row">
    @Html.HiddenFor(model => model.Id)

    <div class="form-group col-md-4">
        <strong>Nombre</strong>:
        <input type="text" id="CompleteName" name="CompleteName" value="@Model.CompleteName" class="form-control" disabled />
    </div>

    <div class="form-group col-md-4">
        <strong>Salario</strong>:
        <input type="text" id="SalaryTeam" name="SalaryTeam" value="@string.Format("{0:C}", Model.SalaryTeam.Replace(",00", ""))" class="form-control" disabled />
    </div>

    <div class="form-group col-md-4">
        <strong>Equipo Que Paga</strong>:
        <input type="text" id="EuropeTeam" name="EuropeTeam" value="@Model.EuropeTeam" class="form-control" disabled />
    </div>

</div>
    <div class="row justify-content-end mt-4">
        @Html.ActionLink("Volver", "PlayerActions", null, new { @class = "btn btn-dark col-md-1 mr-2" })
        <input type="submit" class="btn btn-outline-danger col-md-2" value="Guardar" />
    </div>
}