﻿@model PagedList.IPagedList<Liga.Domain.Entities.Players>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Agentes Restringidos";
        Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
    }
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("RestrictedAgent", "Players", FormMethod.Get))
            {
                <br />
                <p>
                    Buscar por nombre jugador: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Buscar" />
                </p>
            }
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr width="100%"><th><h5>Agentes Restringidos</h5></th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="100%">
                            @foreach (var item in Model)
                            {
                                <div onclick="viewPlayerInfo(@item.Id)" style="cursor:pointer;float:left">

                                    @{Html.RenderPartial("PlayerCard", item);
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="pag-sep">
        </div>
        <div class="col-md-3">
            <p class="pag-size">
                Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            </p>
        </div>
        <div class="col-md-9">
            @Html.PagedListPager(Model, page => Url.Action("RestrictedAgent", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
    <br />
    <br />
    <br />
