﻿@model Liga.Domain.Entities.PlayerOfertInfo

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.validator.methods.date = function (value, element) {
            var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
            return this.optional(element) || dateRegex.test(value);
        };
    })
</script>
<h2>Ofertar por @Html.DisplayFor(model => model.Player.FirstName)</h2>

<div class="row">
    <div class="form-group col-md-12">
        <p>Si estas en esta página es porque quieres ofertar por un jugador y estamos en periodo de renovaciones y agencia libre.</p>
        <p>Si tienes dudas al respecto, infórmate bien en LVPEDIA. Puedes acceder, haciendo click aquí.</p>
        <hr>
    </div>
    <div class="form-group col-md-4">
        <div onclick="viewPlayerInfo(@Model.Player.Id)" style="cursor:pointer;float:left">

            @{Html.RenderPartial("PlayerCard", Model.Player);
            }
        </div>
    </div>
    <div class="form-group col-md-4">
        <h5>Información del Jugador</h5>
        <ul>
            <li><strong>Nombre</strong>: @Html.DisplayFor(model => model.Player.CompleteName)</li>
            <li><strong>Edad</strong>: @Html.DisplayFor(model => model.Player.Age)</li>
            <li><strong>Años Pro</strong>: @Html.DisplayFor(model => model.Player.YearsPro)</li>
        </ul>
    </div>
    <div class="form-group col-md-4">
        <h5>Información Básica</h5>
        <ul>
            <li><strong>Limite Salarial</strong>: @Model.LimSalary.Replace(",00", "")</li>
            <li><strong>Impuesto Lujo</strong>: @Model.LuxuryTax.Replace(",00", "")</li>
            <li><strong>Super Impuesto Lujo</strong>: 0</li>
            <li><strong>Cifra no Superable</strong>: 0</li>
            <li><strong>Mid Level</strong>: 0</li>
            <li><strong>Mini Mid Level</strong>: 0</li>
        </ul>
    </div>
    <div class="form-group col-md-12">
        <hr>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="row">
    <div class="form-group col-md-6">
        <h5>Datos de la Oferta</h5>
        <table>
            <tr>
                <td width="100px;"><strong>Primer Año</strong>:</td>
                <td><input type="text" id="Ofert1" name="Ofert1" class="form-control" /></td>
                <td>
                    <select class="form-control" name="c1" id="c1">
                        @foreach (var condition in ViewBag.Conditions)
                        {
                            if (condition.Id == 6)
                            {
                                <option id="c1_@condition.Id" value="@condition.Id" selected="selected">@condition.Condition</option>
                            }
                            else
                            {
                                <option id="c1_@condition.Id" value="@condition.Id">@condition.Condition</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td width="100px;"><strong>Segundo Año</strong>:</td>
                <td><input type="text" id="Ofert2" name="Ofert2" class="form-control" /></td>
                <td>
                    <select class="form-control" name="c2" id="c2">
                        @foreach (var condition in ViewBag.Conditions)
                        {
                            if (condition.Id == 6)
                            {
                                <option id="c2_@condition.Id" value="@condition.Id" selected="selected">@condition.Condition</option>
                            }
                            else
                            {
                                <option id="c2_@condition.Id" value="@condition.Id">@condition.Condition</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td width="100px;"><strong>Tercer Año</strong>:</td>
                <td><input type="text" id="Ofert3" name="Ofert3" class="form-control" /></td>
                <td>
                    <select class="form-control" name="c3" id="c3">
                        @foreach (var condition in ViewBag.Conditions)
                        {
                            if (condition.Id == 6)
                            {
                                <option id="c3_@condition.Id" value="@condition.Id" selected="selected">@condition.Condition</option>
                            }
                            else
                            {
                                <option id="c3_@condition.Id" value="@condition.Id">@condition.Condition</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td width="100px;"><strong>Cuarto Año</strong>:</td>
                <td><input type="text" id="Ofert4" name="Ofert4" class="form-control" /></td>
                <td>
                    <select class="form-control" name="c4" id="c4">
                        @foreach (var condition in ViewBag.Conditions)
                        {
                            if (condition.Id == 6)
                            {
                                <option id="c4_@condition.Id" value="@condition.Id" selected="selected">@condition.Condition</option>
                            }
                            else
                            {
                                <option id="c4_@condition.Id" value="@condition.Id">@condition.Condition</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td width="100px;"><strong>Quinto Año</strong>:</td>
                <td><input type="text" id="Ofert5" name="Ofert5" class="form-control" /></td>
                <td>
                    <select class="form-control" name="c5" id="c5">
                        @foreach (var condition in ViewBag.Conditions)
                        {
                            if (condition.Id == 6)
                            {
                                <option id="c5_@condition.Id" value="@condition.Id" selected="selected">@condition.Condition</option>
                            }
                            else
                            {
                                <option id="c5_@condition.Id" value="@condition.Id">@condition.Condition</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group col-md-6">
        <h5>Información del Jugador</h5>
        <ul>
            <li><strong>Tu presupuesto</strong>: 0</li>
            <li><strong>Mid Level Gastada</strong>: @Model.Salary.Replace(",00", "")</li>
            <li><strong>Jugadores en plantilla</strong>: 0</li>
        </ul>
    </div>
    <div class="form-group col-md-12">
        <hr>
    </div>
</div>
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-success col-md-2 mr-1" type="submit" value="Ofertar" />
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
    </div>

}


@section Scripts {
    @Scripts.Render("~/jqueryval")
}
