﻿@model Liga.Domain.Entities.Rounds

@{
    ViewBag.Title = "Rondas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Ronda</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="row">
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Type)
        @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Type)
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.Year)
        @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Year)
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.IdFranchise)
        @Html.DropDownListFor(model => model.IdFranchise, null,new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdFranchise)
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Propietario")
        @Html.DropDownListFor(model => model.Owner,null ,new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Owner)
    </div>
</div>
<div class="row justify-content-end mb-3">
    <a href="/Rounds/Index" class="btn btn-outline-dark mr-1">Volver</a>
    <button type="submit" class="btn btn-outline-success">Otorgar</button>
</div>
}
