﻿@model Liga.Domain.Entities.BoxScore
@{
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<div class="container-fluid mt-3 mb-6">
    <div class="row">
        <div class="col-md-1 npm d-none d-sm-block">
                <img class="img-fluid" src="@Url.Content("~/Images/Common/teams/sidebars/")@Model.ListaStatsTeams.First().AwaySidebar" />
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <table class="table">
                        <tr class="ttop">
                            <td style="width:50%; vertical-align:middle; font-size:25px; font-weight:bold">@Model.ListaStatsTeams.First().AbreAway</td>
                            <td align="right" style=" width:50%;float:right">
                                <img style="float:right; height:80px;width:80px;" src="@Url.Content("~/Images/Common/teams/Iconos/")@Model.ListaStatsTeams.First().AwayLogo" />
                            </td>
                        </trclass="ttop">
                        <tr>
                            <td colspan="2">
                                <table class="gameStats">
                                    <tr>
                                        <td>% FG</td>
                                        <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGM, @Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGA)</td>
                                    </tr>
                                    <tr>
                                        <td>% 3PT</td>
                                        <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3M, @Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3A)</td>
                                    </tr>
                                    <tr>
                                        <td>% FT</td>
                                        <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTM, @Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTA)</td>
                                    </tr>
                                    <tr>
                                        <td>REBS</td>
                                        <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TREBS</td>
                                    </tr>
                                    <tr>
                                        <td>REBS OFF</td>
                                        <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TROFS</td>
                                    </tr>
                                    <tr>
                                        <td>ASI</td>
                                        <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TASSS</td>
                                    </tr>
                                </table>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table canchas">
                        <tr>
                            <td valign="middle"  style="background-image:url('@Url.Content("~/Images/Common/teams/stadiums/")@Model.ListaStatsTeams.First().LocalStadium'); background-size:contain; background-repeat:no-repeat; ">

                                    <div class="circulo-res">@Model.ListaStatsTeams.First().idScoreAway</div>
                                    <div class="circulo-res2">@Model.ListaStatsTeams.First().idScoreLocal</div>

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3">
                    <table class="table">
                        <tr class="ttop">
                            <td align="right" >
                                <img style="float:left; height:80px;width:80px;" src="@Url.Content("~/Images/Common/teams/Iconos/")@Model.ListaStatsTeams.First().LocalLogo" />
                            </td>
                            <td style="width:50%; text-align:right; vertical-align:middle; font-size:25px; font-weight:bold">@Model.ListaStatsTeams.First().AbreLocal</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="gameStats">
                                    <tr>
                                        <td>% FG</td>
                                        <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGM, @Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGA)</td>
                                    </tr>
                                    <tr>
                                        <td>% 3PT</td>
                                        <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3M, @Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3A)</td>
                                    </tr>
                                    <tr>
                                        <td>% FT</td>
                                        <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTM, @Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTA)</td>
                                    </tr>
                                    <tr>
                                        <td>REBS</td>
                                        <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TREBS</td>
                                    </tr>
                                    <tr>
                                        <td>REBS OFF</td>
                                        <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TROFS</td>
                                    </tr>
                                    <tr>
                                        <td>ASI</td>
                                        <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TASSS</td>
                                    </tr>
                                </table>
                        </tr>
                    </table>
                </div>
            </div>
            <table>
                <tr>
                    <td style=" width:50%; vertical-align:top;">
                        <div class="tableStats">
                            <table  class="tablon" style=" width:100%; vertical-align:top;">
                                <tr class="tablita"><td>Player</td><td>MIN</td><td>FGM-A</td><td>3PM-A</td><td>FTM-A</td><td>+/-</td><td>OFF</td><td>DEF</td><td>TOT</td><td>AST</td><td>ST</td><td>TO</td><td>BL</td><td>PF</td><td>PTS</td></tr>

                                @foreach (var jugador in Model.ListaStatsPlayers.Where(x => x.ActualTeam == @Model.ListaStatsTeams.First().IdAway).OrderByDescending(x => x.TIT).ThenByDescending(x => x.MINU))
                                {
                                    <tr>
                                        <td>@jugador.AbrevName</td>
                                        <td>@jugador.MINU.ToString()</td>
                                        <td>@jugador.FGM - @jugador.FGA</td>
                                        <td>@jugador.P3GM - @jugador.P3GA</td>
                                        <td>@jugador.FTM - @jugador.FTA</td>
                                        <td>@jugador.PLUSMINUS</td>
                                        <td>@jugador.REBO</td>
                                        <td>@jugador.REB</td>
                                        <td>@jugador.REBT </td>
                                        <td>@jugador.ASSISTS</td>
                                        <td>@jugador.STEALS</td>
                                        <td>@jugador.BLOCKS</td>
                                        <td>@jugador.TURNOVERS</td>
                                        <td>@jugador.FOULTS</td>
                                        <td>@jugador.PTS</td>
                                    </tr>
                                }
                            <tr style="color:red">
                                <td>TOTALES</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TMIN</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGA</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3M/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3A</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTA</td>
                                <td></td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TROFS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TRDEFS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TREBS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TASSS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TSTLS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TTRNS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TBLKS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFOLS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TPNTS</td>
                            </tr>
                            </table>
                        </div>
                    </td>
                    <td style=" background-color:Red"></td>
                    <td style=" width:50%;vertical-align:top;">
                        <div class="tableStats" style="align-content:initial">
                            <table  class="tablon" style=" width:100%; vertical-align:top;">
                                <tr class="tablita"><td>Player</td><td>MIN</td><td>FGM-A</td><td>3PM-A</td><td>FTM-A</td><td>+/-</td><td>OFF</td><td>DEF</td><td>TOT</td><td>AST</td><td>ST</td><td>TO</td><td>BL</td><td>PF</td><td>PTS</td></tr>

                                @foreach (var jugador in Model.ListaStatsPlayers.Where(x => x.ActualTeam == @Model.ListaStatsTeams.First().IdLocal).OrderByDescending(x => x.TIT).ThenByDescending(x => x.MINU))
                                {
                                    <tr>
                                        <td>@jugador.AbrevName</td>
                                        <td>@jugador.MINU.ToString()</td>
                                        <td>@jugador.FGM - @jugador.FGA</td>
                                        <td>@jugador.P3GM - @jugador.P3GA</td>
                                        <td>@jugador.FTM - @jugador.FTA</td>
                                        <td>@jugador.PLUSMINUS</td>
                                        <td>@jugador.REBO</td>
                                        <td>@jugador.REB</td>
                                        <td>@jugador.REBT </td>
                                        <td>@jugador.ASSISTS</td>
                                        <td>@jugador.STEALS</td>
                                        <td>@jugador.BLOCKS</td>
                                        <td>@jugador.TURNOVERS</td>
                                        <td>@jugador.FOULTS</td>
                                        <td>@jugador.PTS</td>
                                    </tr>

                                }
                            <tr style="color:red">
                                <td>TOTALES</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TMIN</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGA</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3M/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3A</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTA</td>
                                <td></td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TROFS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TRDEFS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TREBS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TASSS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TSTLS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TTRNS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TBLKS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFOLS</td>
                                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TPNTS</td>
                            </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-1 npm2 d-none d-sm-block">
            <img class="img-fluid" src="@Url.Content("~/Images/Common/teams/sidebars/")@Model.ListaStatsTeams.First().LocalSidebar" />
        </div>
    </div>

</div>


