﻿ @model Liga.Web.UI.Controllers.ResumeStatsModel


<div class="CSSTableGenerator2 col-6">
	<table id="infoPlayer" >
		<tr> 
			<td colspan= "3" align="center" style="background: @Model.listStatsTeamLocal.FirstOrDefault().Color;        background: url('radial-gradient.png') 50% 50% no-repeat;        background: radial-gradient(black, @Model.listStatsTeamLocal.FirstOrDefault().Color);"  >
             <a href="/Rosters/TeamRosters?idTeam=@Model.listStatsTeamLocal.FirstOrDefault().idTeam" >   @Html.DisplayFor(modelItem => Model.listStatsTeamLocal.FirstOrDefault().Abbreviation)</a>
			</td>
		</tr>
   
            @foreach (var item in Model.listStatsTeamLocal)
            {
                 <tr  onclick="viewPlayerInfo('@item.idPlayer');" style="cursor:pointer" class="pruebaLink2" id="@item.idPlayer">
                <td> @Html.DisplayFor(modelItem => item.CompleteName)
               
                </td>
                <td>              @Html.DisplayFor(modelItem => item.stat)
                </td><td>
                                 @Html.DisplayFor(modelItem => item.Tipo)</td>
                </tr>
            }
	</table>
</div>

<div class="CSSTableGenerator2 col-6">
    <table id="infoPlayer" >
		<tr> 
			<td colspan= "3" align="center" style="background: @Model.listStatsTeamAway.FirstOrDefault().Color;        background: url('radial-gradient.png') 50% 50% no-repeat;        background: radial-gradient(black, @Model.listStatsTeamAway.FirstOrDefault().Color);"  >
                <a href="/Rosters/TeamRosters?idTeam=@Model.listStatsTeamAway.FirstOrDefault().idTeam" >@Html.DisplayFor(modelItem => Model.listStatsTeamAway.FirstOrDefault().Abbreviation)</a>
			</td>
		</tr>
   
            @foreach (var item in Model.listStatsTeamAway)
            {

                 <tr onclick="viewPlayerInfo('@item.idPlayer');" style="cursor:pointer" class="pruebaLink" id="@item.idPlayer">
                <td> @Html.DisplayFor(modelItem => item.CompleteName)
               
                </td>
                <td>              @Html.DisplayFor(modelItem => item.stat)
                </td><td>
                                 @Html.DisplayFor(modelItem => item.Tipo)</td>
                </tr>
               
            }
	</table>
</div>

	 <div id="loading-image" style="border:double; border-color:red;
                        background-color:white;width:100px; height:100px; display:none;position:relative;left:0%;top:0%; margin:-50px 0px 0px -50px;" >
                          <img style=" width:70px; position: absolute;    margin: auto;    top: 0;    left: 0;    right: 0;    bottom: 0;" src="~/Images/Common/basket.gif" />
		        </div>	       
   <div id="dialog-modal"  style=" width:600px; height:800px; display:none" title="Basic modal dialog">
                    <div id="FillTable"></div>
    </div>
