﻿@model IEnumerable<Liga.Domain.Entities.Games>
@using Liga.Domain.Entities

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
    bool isPrevious = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNext = ViewBag.IsNextLinkVisible ?? false;
}
<div class="col-md-12 mb-5">
    <h5>Resultados</h5>
    <div id="tabs-1">
        <form method="get">
            <div class="row">

                <div class="col-md-2">
                    @if (isPrevious)
                    {
                        @Html.ActionLink(" < Anterior ", "Index", new { id = ViewBag.PageNumber - 1 }, new { style = "font-weight: bold" })
                    }
                    @if (isNext)
                    {
                        @Html.ActionLink("  Siguiente > ", "Index", new { id = ViewBag.PageNumber + 1 }, new { style = "font-weight: bold" })
                    }
                </div>
                <div class="col-md-3">
                    @if (ViewBag.Date != null)
                    {
                        <input class="form-control" type="date" name="date" value="@ViewBag.Date.ToString("yyyy-MM-dd")" />
                    }
                    else
                    {
                        <input class="form-control" type="date" name="date" />
                    }

                </div>
                <div class="col-md-5">
                    <button class="btn btn-outline-primary" id="boton">Buscar</button>
                    <p class="text-info">Clicka en el resultado para ver el Boxscore</p>
                </div>

            </div>
        </form>
        <div class="row">
            @foreach (Games item in Model)
            {

                <div class="col-lg-8 col-md-8 col-sm-12 ">
                    @{
                        Html.RenderPartial("OneResult", item);
                    }
                </div>
                
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        getSideBarGamesPerMonth();
    });
    function getSideBarGamesPerMonth() {
               $.ajax({
                url: "@Url.Action("GetGamesPerMonth", "Results")",
                data: {},
                dataType: "html",
                type: "POST",
                error: function() {
                    alert("An error imp occurred.");
                },
                success: function(data) {
                      data = eval(data);
                      if (data.length > 0) {
                          var options = '';
                          var i = 0;
                          options += '<h2>Partidos</h2>';
                          for (temp in data) {
                              var item = data[temp];
                              i = i + 1;
                              var month = getAbrevMonth(item.gameMonth);
                              options += '<a class="nav-link text-dark pb-0 pt-0" href="@Url.Content("~/Results/gameMonthYear?month=")' + item.gameMonth + '&year=' + item.season + '"><span class="tab">' + month + ' - ' + item.season + ' (' + item.gameTotal + ') ' + '</span></a>';
                          }
                          jQuery('#secondListUL').html(options);
                      }
                      }
                  });
              }

        function getAbrevMonth(month) {
                  var abrevMonth = '';
                  switch (month) {
                      case 1:
                          abrevMonth = 'ENERO';
                          break;
                      case 2:
                          abrevMonth = 'FEBRERO';
                          break;
                      case 3:
                          abrevMonth = 'MARZO';
                          break;
                      case 4:
                          abrevMonth = 'ABRIL';
                          break;
                      case 5:
                          abrevMonth = 'MAYO';
                          break;
                      case 6:
                          abrevMonth = 'JUNIO';
                          break;
                      case 7:
                          abrevMonth = 'JULIO';
                          break;
                      case 8:
                          abrevMonth = 'AGOSTO';
                          break;
                      case 9:
                          abrevMonth = 'SEPTIEMBRE';
                          break;
                      case 10:
                          abrevMonth = 'OCTUBRE';
                          break;
                      case 11:
                          abrevMonth = 'NOVIEMBRE';
                          break;
                      case 12:
                          abrevMonth = 'DICIEMBRE';
                          break;
                      default:
                          abrevMonth = 'MES';
                  }
                  return abrevMonth;
              }
</script>
