﻿@model Liga.Domain.Entities.Games


<script type="text/javascript">

    $(document).ready(function () {




        $(".tablaPlayer").click(function (e) {
            var $item = $(this).attr("id");
        });
    });


</script>

<div class="container-fluid">
    <div class="row pb-3 pt-3 bbd">
        <div class="col-lg-6">
            @if (Model.cMVPPlayerInfo != null)
            {
                <table>
                    <tr align="center">
                        <td></td>
                        <td style="font-family:Calibri; font-weight:bold; color: red">MVP</td>
                    </tr>
                    <tr align="center">
                        <td style="width:20%" align="center"></td>
                        <td align="center" onclick="viewPlayerInfo('@Model.cMVPPlayerInfo.Id');" style="cursor:pointer">
                            @{Html.RenderPartial("MinPlayerCard", @Model.cMVPPlayerInfo);}
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div class="col-lg-6">
            <a href="/Results/GetScoreInfo?idGame=@Model.Id" id="@Model.Id" title="@String.Format("{0:d}", @Model.gameDate) @Model.LVNBAFranchisLocal.Abbreviation at @Model.LVNBAFranchisAway.Abbreviation   @Model.idScoreLocal-@Model.idScoreAway" class="boxscore">
                <div class="CSSTableGenerator pb-3">
                    <table width="100%">
                        <tr>
                            <td>
                                @String.Format("{0:d}", @Model.gameDate)
                            </td>

                        </tr>

                        <tr>
                            <td style="color:Black ;font-size:24px">
                                @Model.LVNBAFranchisLocal.Name
                            </td>
                            <td>
                                <img height="40" width="40" src='@Url.Content("~/Images/Common/teams/Iconos/")@Model.LVNBAFranchisLocal.Icono' />
                            </td>
                            <td style="	font-size:24px;">
                                @Model.idScoreLocal
                            </td>
                        </tr>
                        <tr>
                            <td style="color:Black;font-size:24px">
                                @Model.LVNBAFranchisAway.Name
                            </td>
                            <td>
                                <img height="40" width="40" src='@Url.Content("~/Images/Common/teams/Iconos/")@Model.LVNBAFranchisAway.Icono' />
                            </td>
                            <td style="	font-size:24px;">
                                @Model.idScoreAway

                            </td>
                        </tr>
                    </table>
                </div>
            </a>
            <div class="row">
                @{
                    Html.RenderAction("FlashResults", "Results", new { id = @Model.Id, idteamLocal = @Model.IdTeamLocal, idteamAway = @Model.IdTeamAway });
                }
            </div>
        </div>

    </div>
</div>
<div id="dialog-modal" style=" width:600px; height:800px; display:none" title="Basic modal dialog">
    <div id="FillTable"></div>
</div>