﻿@model Liga.Domain.Entities.TiposAnuncios

@{
    ViewBag.Title = "Tipos anuncio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TiposAnuncios</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.Label("Tipo")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tipo)
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
  @Html.ActionLink("Volver", "Index")</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
