﻿@model Liga.Domain.Entities.TiposVariables

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TiposVariables</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TiposAnuncio.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TiposAnuncio.Tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Variable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Variable)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
