﻿@model IEnumerable<Liga.Domain.Entities.TiposVariables>

@{
    ViewBag.Title = "Variables de anuncio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
  @Html.ActionLink("Tipos de Anuncio", "Index","TiposAnuncio")||
    @Html.ActionLink("Imagenes de Anuncio", "Index","ImagenesAnuncio")||
    @Html.ActionLink("Contenidos de Anuncio", "Index","ContenidosAnuncio")||
    @Html.ActionLink("Variables de Anuncio", "Index","TiposVariables")||
<h2>Variables de anuncio</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TiposAnuncio.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TiposAnuncio.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variable)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
