﻿@model Liga.Domain.Entities.FranchiseNewModel
@{
    ViewBag.Title = "Crear noticia de franquicia";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}



<script type="text/javascript">
    $(function () {

        //jQuery.validator.methods.date = function (value, element) {
        //    var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
        //    return this.optional(element) || dateRegex.test(value);
        //};
        $("#TagId").val("@ViewBag.Team");

        $("#datepicker").datepicker($.datepicker.regional["es"]);

        $('#buttonID').on({
            'click': function () {

                var imagePath = $("#ImagenAlertAnuncio").val();
                $('#anuncioImage').attr('src', imagePath);
            }
        });
        $('#editor').css("width", 100)
        $("input[name='FranchiseAnuncio.Estilo']").change(function () {
          
            if ($("input[name='FranchiseAnuncio.Estilo']:checked").val() == '1') {
                $('#anuncioImage').attr('width', '300');
                $('#anuncioImage').attr('height', '200');
            }
            else if ($("input[name='FranchiseAnuncio.Estilo']:checked").val() == '2') {
                $('#anuncioImage').attr('width', '200');
                $('#anuncioImage').attr('height', '300');
            }
                 
            });

    });





</script>

@Html.ValidationSummary("",new { style = "color:red; font-size:12px, font-weight:bold" })

@using (Html.BeginForm("CreateFranchiseNew","ManagersWithTeam")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true) 
<h2>Crear noticia de tu franquicia</h2>

<h3>Al escribir una noticia de tu equipo se crean dos eventos:<br />El título de la noticia es el mismo para ambos casos </h3>
        @Html.Label("", "Título: ")
    @Html.TextBoxFor(model => model.FranchisePost.Title, new { style = "width:500px",  maxlength = "100" } )<br />
   

<ol class="round" >
    <li class="one">
        <h4>Se crea una noticia </h4>
    Se crea una noticia en formato post que puede ser comentada o no
    @Html.Label("","Fecha: ")
    @Html.TextBoxFor(x=>x.FranchisePost.DateTime,DateTime.Now.ToShortDateString() , new { @id = "datepicker", style = "width:80px" })<br />
    
    @Html.Label("", "Bloquear comentarios:")
    @Html.CheckBoxFor(x => x.FranchisePost.BlockComments,new { @checked="checked"})<br /> Por defecto no se permiten comentarios
    
    <br />
    @Html.Label("", "Tags: ")
    
    @Html.TextBox("Tags", "", new { id="TagId", disabled = "disabled", style = "width:80px"})<br /> EL tag no se puede cambiar y es el propio del equipo


    <br />
    @Html.Label("", "Post: ")
                   @Html.TextAreaFor(model => model.FranchisePost.Body, new { @class = "ckeditor", rows = "20", id = "editor" })

    </li>
    <li class="two">
        <h4>Se genera un anuncio que resume la noticia</h4>
        Se crea un anuncio de Tipo = Noticia Equipo, pudiendose añadir una imagen cualquiera y el contenido que se desee.<br />
        El link siempre será "Ver Noticia".<br />
    @Html.Label("", "Contenido (max. 150 caracteres):")<br />
    @Html.TextAreaFor(model => model.FranchiseAnuncio.Contenido,new { maxlength=150,  @cols = 80, @rows = 3 , style="width:600px"}) <br />
    @Html.Label("","Estilo")<br />

    @Html.RadioButtonFor(model => model.FranchiseAnuncio.Estilo, "1",new {id="ComissAlertAnuncio1",name="ComissAlertAnuncio", @checked="checked"}) Estilo 1<br /> 

    @Html.Label("","Link de la imagen: Es importante que previsualices antes de guardar")<br /> 
    @Html.TextBoxFor(model => model.FranchiseAnuncio.ImagenLink,new { id="ImagenAlertAnuncio", style = "width:600px"})
    <img id="buttonID" title="Visualizar"/> 
    <br />
    <img id="anuncioImage" width="300" height="200" src="" />

    </li>
</ol>

    <input type="submit"  name="Guardar" value="Guardar" />
    <input type="submit" name="Guardar" value="Previsualizar"/>
     <div>
    @Html.ActionLink("Volver", "Index","ManagersWithTeam")
</div>  
}   