﻿@model Liga.Domain.Entities.FranchiseGoals
@{
    ViewBag.Title = "DefineGoals";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenu();
        var isTime ='@ViewBag.IsTime';
        if (isTime == "False") {
            $("#goalsTable").find("input,button,textarea").attr("disabled", "disabled");
            $("#mensajeObjetivo").text("Estamos fuera del periodo de pretemporada. No se pueden modificar los objetivos.");
        }
        else {

        }
     
    });
</script>
<br />
<h2>Definir objetivos</h2>

<div style="color:red; font-weight:bold" id="mensajeObjetivo"></div>
<br />
@using (Html.BeginForm()){
@Html.ValidationSummary(true,"",new { style = "color:red"})

<table id="goalsTable">
    <tr>
        <td>
            Objetivo deportivo:<br />

        </td>

    </tr>
    <tr>
        <td>
            @if(Model.SportGoal != null)
            {
            @Model.SportGoal.Goal.Goal1
            <br />@Model.SportGoal.Goal.Description
            <br />@Model.SportGoal.Goal.Bonus
            }
        </td>
    </tr>
    <tr>
        <td>
            Objetivo de manager:<br />
        </td>
    </tr>
    <tr>
        <td>
            @if(Model.ManagerGoal != null)
            {
            @Model.ManagerGoal.Goal.Goal1
            <br />@Model.ManagerGoal.Goal.Description
            <br />@Model.ManagerGoal.Goal.Bonus
            }
        </td>
    </tr>
    <tr>
        <td>
            Definir objetivo deportivo:
        </td>
    </tr>
    <tr>
        <td>
              @if(Model.SportGoal != null)
            {
           @Html.DropDownList("SportGoal", new SelectList(Model.GoalsList.Where(x => x.Type == "E"), "Id", "Goal1", Model.SportGoal.IdGoal), new { id="SportGoal", @class = "statusCombo" }) 
              }
            else
            {
           @Html.DropDownList("SportGoal", new SelectList(Model.GoalsList.Where(x => x.Type == "E"), "Id", "Goal1"), new { id="SportGoal", @class = "statusCombo" }) 

              }
            
        </td>
    </tr>
    <tr>
        <td>
            Definir objetivo de manager:
        </td>
    </tr>
    <tr>
        <td>
             @if(Model.ManagerGoal != null)
            {
           @Html.DropDownList("ManagerGoal", new SelectList(Model.GoalsList.Where(x => x.Type == "M"), "Id", "Goal1",Model.ManagerGoal.IdGoal ), new { id="ManagerGoal", @class = "statusCombo" }) 
             }
            else
            {
               @Html.DropDownList("ManagerGoal", new SelectList(Model.GoalsList.Where(x => x.Type == "M"), "Id", "Goal1" ), new { id="ManagerGoal", @class = "statusCombo" }) 
             
             }
        </td>
    </tr>
    <tr><td ><input type="submit" value="Guardar objetivos" /></td>
    </tr>
</table>
}