﻿@model Liga.Domain.Entities.LVNBAFranchises
@{
    ViewBag.Title = "Editar franquicia";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<style>
    .hightlight {
  background: #cc9999;
  border: 1px solid red;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenu();
    });
</script>
<br />
<h2>Editar plantilla </h2>
<p></p>

@using (Html.BeginForm()){
@Html.ValidationSummary(true,"",new { style = "color:red"})
<table border="1" style="width:780px">
<tr><td colspan="3"><input type="submit" value="Guardar" /></td>
</tr>
<tr>
<td colspan="3" >
    @Html.HiddenFor(model => Model.Id)
    <div class="editor-label">
        @Html.LabelFor(model => model.ManagerOpinion)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.ManagerOpinion,new { maxlength=150,  @cols = 80, @rows = 3 , style="width:600px"})
        @Html.ValidationMessageFor(model => model.ManagerOpinion)
    </div>
</td>
</tr>
<tr>
    <td colspan="3"><input type="submit" value="Guardar" /></td>
</tr>
</table>
}