﻿@model Liga.Domain.Entities.PlayersAndStates
@{
    ViewBag.Title = "GesStatus";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<style>
    .hightlight {
  background: #cc9999;
  border: 1px solid red;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenu();
        $(".statusCombo").each(function (i) {
            
            if ($(this).val() == "4" || $(this).val() == "6") {
                $(this).attr('disabled', true).addClass("hightlight");
                
            }
            if ($(this).val() == "2" || $(this).val() == "4" || $(this).val() == "5" || $(this).val() == "6" || $(this).val() == "7") {
               
                $("#anuncio" + $(this).attr("id")).css("visibility", "hidden");

            }
        });
        $(".statusCombo").change(function () {
            if ($(this).val() == "2" || $(this).val() == "4" || $(this).val() == "5" || $(this).val() == "6" || $(this).val() == "7") {

                $("#anuncio" + $(this).attr("id")).css("visibility", "hidden");

            }
            else {
                $("#anuncio" + $(this).attr("id")).css("visibility", "visible");
            }
        });
    });
    function enableControls() {
        $('.statusCombo').attr('disabled', false);
    }
</script>
<br />
<h2>Gestión del Status Mercantil</h2>
<p>Recuerda que cada vez que actualizas tu status mercantil, se enviará una noticia al tablón. Si por alguna razón no quieres que se notifique, desactiva la opción.</p>
@using (Html.BeginForm()){
@Html.ValidationSummary(true,"",new { style = "color:red"})
    @Html.Label("", "Enviar Anuncio:")
    @Html.CheckBox("idCheckAnuncio", true, new { id = "idCheckAnuncio" })

<table border="1">
<tr><td colspan="3"><input type="submit" value="Guardar status y enviar notificación" onclick="enableControls(); return true;" /></td>
</tr>
    <tr><td colspan="3">
<span>Necesidades del equipo (puedes explicar aquí que buscas a cambio):</span>
@Html.TextAreaFor(m => Model.Team.Needs,new {id="necesidad"+ @Model.Team.Id, @class="anuncio", maxlength=250,  @cols = 100, @rows = 4 , style="width:700px"})
</td></tr>
@foreach (var item in Model.ListPlayers)
{
    <tr>
        @Html.HiddenFor(modelItem => item.Id)
        <td>
           <div style=" float:left">

            @{Html.RenderPartial("MinPlayerCard", item);        }
           </div>
        </td>
        <td>
             @Html.DropDownListFor(m => item.IdState, new SelectList(Model.PlayersStates, "Id", "State", item.IdState), new { id=item.Id, @class = "statusCombo" }) 

        </td>
        <td>
        <p>Anuncio:</p>
        @Html.TextAreaFor(m => item.ManagerAdvert,new {id="anuncio"+ @item.Id, @class="anuncio", maxlength=150,  @cols = 80, @rows = 3 , style="width:400px"})
        </td>

    </tr>
}
<tr><td colspan="3"><input type="submit" value="Guardar status y enviar notificación" onclick="enableControls(); return true;" /></td>
</tr>
</table>
}