﻿@model Liga.Domain.Entities.PlayersAndRoles
@{
    ViewBag.Title = "Gestión de roles";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<style>
    .hightlight {
  background: #cc9999;
  border: 1px solid red;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenu();
        $(".rolCombo").each(function (i) {
            
            if ($(this).val() == "7") {
                $(this).attr('disabled', true).addClass("hightlight");
                
            }
        });
    });
    function enableControls() {
        $('.rolCombo').attr('disabled', false);
    }
</script>
<br />
<h2>Gestión de roles de la plantilla</h2>
<p>Recuerda que cada vez que actualizas los roles de los jugadores, se enviará una noticia al tablón. Si por alguna razón no quieres que se notifique, desactiva la opción.</p>
<p>El jugador franquicia sólo podrá asignarse a principio de temporada (periodo de asignación de roles o cuando no haya ningún jugador franquicia tras un traspaso</p>

@using (Html.BeginForm()){
@Html.ValidationSummary(true,"",new { style = "color:red"})
    @Html.Label("", "Enviar Anuncio:")
    @Html.CheckBox("idCheckAnuncio", true, new { id = "idCheckAnuncio" })

<table border="1" style="width:780px">
<tr><td colspan="3"><input type="submit" value="Guardar roles y enviar notificación" onclick="enableControls(); return true;" /></td>
</tr>
<tr>
    <td colspan="3" >
@foreach (var item in Model.ListPlayers)
{
    <table style="float:left">
        <tr>

            @Html.HiddenFor(modelItem => item.Id)
            <td>
               <div style=" float:left">

                @{Html.RenderPartial("MinPlayerCard", item);        }
               </div>
            </td>
            <td>
                 @Html.DropDownListFor(m => item.IdRol, new SelectList(Model.PlayersRoles, "Id", "Rol", item.IdRol), new { id=item.Id, @class = "rolCombo" }) 

            </td>
            
        </tr>
    </table>
}
</td>
</tr>
<tr>
    <td colspan="3"><input type="submit" value="Guardar roles y enviar notificación" onclick="enableControls(); return true;" /></td>
</tr>
</table>
}