﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<div class="container-fluid mt-5 mb-5 pb-5">
    <div class="accordion" id="accordionExample">
        <div class="card ">
            <div class="card-header bg-dark" id="reportesH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#reportesB" aria-expanded="true" aria-controls="reportesB">
                        Franquisias
                    </a>
                </h5>
            </div>
            <div id="reportesB" class="collapse show" aria-labelledby="reportesH" data-parent="#accordionExample">
                <div class="card-body">
                    <ol class="infoFranquicia" id="lFranquicia">
                        <li>
                            <a class="nav-link" href="@Url.Action("Franchise","ManagersWithTeam" , new { idTab = 0 })">
                                <h5>Info general</h5>
                                Presentación del equipo y datos generales.
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Franchise","ManagersWithTeam" , new {  idTab = 1 })">
                                <h5>Situación financiera</h5>
                                Presupuesto del equipo, objetivos y salarios.
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Franchise","ManagersWithTeam" , new {  idTab = 2})">
                                <h5>Situación deportiva</h5>
                                Clasificación,  objetivos, records, calendario , resultados.
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="datosMaestrosH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#datosMaestrosB" aria-expanded="true" aria-controls="datosMaestrosB">
                        Jugadores
                    </a>
                </h5>
            </div>
            <div id="datosMaestrosB" class="collapse" aria-labelledby="datosMaestrosH" data-parent="#accordionExample">
                <div class="card-body">
                    <ol class="infoFranquicia" id="lJugadores">
                        <li >
                            <a class="nav-link" href="@Url.Action("Players","ManagersWithTeam", new {  idTab = 0 })">
                                <h5>Jugadores</h5>
                                Información general de los jugadores
                            </a>
                        </li>
                        <li >
                            <a class="nav-link" href="@Url.Action("Players","ManagersWithTeam", new {  idTab = 1 })">
                                <h5>Estadísticas</h5>
                                Estadísticas de los jugadores
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Players","ManagersWithTeam", new {  idTab = 2 })">
                                <h5>Status mercantil</h5>
                                Resumen del status mercantil de la plantilla
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Players","ManagersWithTeam", new {  idTab = 3 })">
                                <h5>Roles de equipo</h5>
                                Resumen de los roles del equipo
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="administratH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#administratB" aria-expanded="true" aria-controls="administratB">
                        Traspasos
                    </a>
                </h5>
            </div>
            <div id="administratB" class="collapse" aria-labelledby="administratH" data-parent="#accordionExample">
                <div class="card-body">
                    <ol id="lTrades">
                        <li >
                            <a class="nav-link" href="@Url.Action("Mailing","ManagersWithTeam")">
                                <h5>Resumen de traspasos</h5>
                                Resumen de traspasos ( realizados, pendientes, borrador, etc)
                            </a>
                        </li>
                        <li>
                            <h5>Traspasos pendiententes</h5>
                            Ver los traspasos en estado pendiente
                        </li>

                        <li>
                            <h5>Histórico de traspasos</h5>
                            Todos los traspasos del equipo
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="franquiciasH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#franquiciasB" aria-expanded="true" aria-controls="franquiciasB">
                        Manager
                    </a>
                </h5>
            </div>
            <div id="franquiciasB" class="collapse" aria-labelledby="franquiciasH" data-parent="#accordionExample">
                <div class="card-body">
                    <ol class="infoFranquicia" id="lManager" style="list-style-type: none;">
                        <li>
                            <a class="nav-link" href="@Url.Action("Mailing","ManagersWithTeam")">
                                <h5>Mi Perfil</h5>
                                Información relativa a mi.
                            </a>
                        </li>
                        <li>
                            <h5>Ojeador</h5>
                            Seguimiento a otros jugadores
                        </li>

                        <li>
                            <h5>Quejas a manager</h5>
                            Crear queja al comisionado de otro manager
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="managersH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" data-toggle="collapse" data-target="#managersB" aria-expanded="true" aria-controls="managersB">
                        Gestion
                    </a>
                </h5>
            </div>
            <div id="managersB" class="collapse" aria-labelledby="managersH" data-parent="#accordionExample">
                <div class="card-body">
                    <ol class="infoFranquicia" id="lGestion">
                        <li>
                            <a class="nav-link" href="@Url.Action("CreateFranchiseNew","ManagersWithTeam")">
                                <h5>Franquicia</h5>
                                Noticia franquicia
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("GestRoles","ManagersWithTeam")">
                                <h5>Jugadores</h5>
                                Acciones relativas a los jugadores. Editarlos, cortar jugadores, ofertas de renovación
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("GestRoles","ManagersWithTeam")">
                                <h5>Ofertas</h5>
                                Enviar ofertas a jugadores libres
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("GestRoles","ManagersWithTeam")">
                                <h5>Roles</h5>
                                Gestión de los roles de tus jugadores.
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("GestStatus","ManagersWithTeam")">
                                <h5>Status mercantil</h5>
                                Gestión del status mercantil de la plantilla
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

