﻿@model Liga.Domain.Entities.GeneralPlayersInfo

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script type="text/javascript">
        $(document).ready(function () {
            getSideBarMenu();
            $("#tabs").tabs({ active: '@ViewBag.Tab' });
            $("#tabs").css("float", "right");
        });
</script>

<div id="tabs" style="width:790px; margin-left:0px">
  <ul>
    <li><a href="#tabs-1">Jugadores</a></li>
    <li><a href="#tabs-2">Estadísticas</a></li>
    <li><a href="#tabs-3">Status mercantil</a></li>
    <li><a href="#tabs-4">Roles jugador</a></li>
  </ul>
  <div id="tabs-1">

   @{
       Html.RenderPartial("PlayersInfo",Model);
   }  </div>
  <div id="tabs-2">
      @{
       Html.RenderPartial("PlayersStats",Model);
   } 
  </div>
  <div id="tabs-3">
      @{
       Html.RenderPartial("PlayersStatus",Model);
   } 

  </div>
  <div id="tabs-4">
      @{
       Html.RenderPartial("PlayersRoles",Model);
   } 

  </div>
</div>

