﻿@model Liga.Domain.Entities.FranchiseNewModel

@{
    ViewBag.Title = "Previsualizar noticia";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}


<h2>Previsualización de la noticia</h2>
  <h5>Se muestra la noticia y el anuncio</h5>

@using (Html.BeginForm("PreviewFranchiseNew","ManagersWithTeam")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
@Html.HiddenFor(model => model.FranchisePost.Title);
@Html.HiddenFor(model => model.FranchisePost.Body);
@Html.HiddenFor(model => model.FranchisePost.DateTime);
@Html.HiddenFor(model => model.FranchisePost.BlockComments);

@Html.HiddenFor(model => model.FranchiseAnuncio.ImagenLink);
@Html.HiddenFor(model => model.FranchiseAnuncio.Estilo);
@Html.HiddenFor(model => model.FranchiseAnuncio.Contenido);

      
       
<p>
    <input type="submit" value="Volver" />
</p>

 @PreviewPostHelper.Render(Model.FranchisePost, Html, true, false);
    

}
