﻿@model  Liga.Web.UI.Controllers.TeamRosterInfo

<style>
.LineUp table{

	width:350px;
}
.LineUp tr:first-child {

	height:100px;
}
.LineUp td {
    color:White;
	width:70px;
	font-weight:bold;
	font-size:medium;
	
}
</style>
<div style=" background-image:url(@Url.Content("~/Content/images/SIDEBARS/Wallpapers/")@Model.Team.BigLogo)">
<table >
    <tr>
        <td style= "vertical-align:top" rowspan="6">
                <table class="LineUp"  >
<tr style=" height:40px;  
    background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.06, rgb(0,0,0)),
	color-stop(0.69, rgb(232,58,58)),
	color-stop(0.91, rgb(10,10,10))
);
    padding:0px; border:0;  font-weight:bold; color: White">
<td style="font-size:20px; margin:0px; padding:5px; border:0px;" colspan="5">TITULARES</td></tr>
<tr>
@{var i = 0;}

@foreach (var item in Model.ListPlayersTeam)
{
    if (i < 5)
    {
        <td align="center"><img width="70px"  src='@item.FaceImage' /></td>
    }
    i++;
}
</tr>
<tr>
@{ i = 0;}

@foreach (var item in Model.ListPlayersTeam)
{
    if (i < 5)
    {
        <td style="font-size:10px; padding:10px; background-color:Black">@item.CompleteName.ToUpper()</td> 
    }
    i++;
}
</tr>
<tr style=" height:40px;  
    background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.06, rgb(0,0,0)),
	color-stop(0.69, rgb(232,58,58)),
	color-stop(0.91, rgb(10,10,10))
);
    padding:0px; border:0;  font-weight:bold; color: White">
<td style="font-size:20px; margin:0px; padding:5px; border:0px;" colspan="5">SUPLENTES</td></tr>
@{ i = 0;}

@foreach (var item in Model.ListPlayersTeam)
{
    <tr >
    @if (i < 12)
    {
        <td style=" font-size:10px;  background-color:Black;color:white; font-weight:bold " colspan="2">@item.CompleteName.ToUpper()</td> 
        <td style=" font-size:10px; text-align:center;background-color:Black;color:white; font-weight:bold " colspan="1">@item.PlayersPositions.Position.ToUpper()</td> 
        if (item.PlayersRoles.IdRol != 1){
        <td style="background-color:Black;color:white; font-weight:bold ; font-size:smaller" colspan="1">@item.PlayersRoles.Description.ToUpper()</td> 
            }
        else
        {
          <td " font-size:smaller" colspan="1"></td> 
          
        }
        if (item.PlayersStates.State != " ")
        {
        <td style="background-color:Black;color:white; text-align:center ; font-weight:bold ; font-size:smaller" colspan="1">@item.PlayersStates.Abreviado.ToUpper()</td> 
        }
         else
         {
          <td " font-size:smaller" colspan="1"></td> 
          
         }

    }
    @{i++;
}
    </tr>
}

</table>
</td>
        <td colspan="3" style="color:white; font-weight:bold ;width:70%;font-size:xx-large; font-weight:bold">
       <div style=" background-image:url(@Url.Content("~/Content/images/SIDEBARS/Wallpapers/")@Model.Team.BigLogo)">
 @Model.Team.Name
         <img style=" width:30%; width:100px; float:right;top:0px; text-align:right; vertical-align:top"  src="@Url.Content("~/Content/images/TEAMS/SmallLogos/")@Model.Team.Logo">
         </div>
        </td>
        
    </tr>
    <tr>
    <td colspan="3"></td></tr>
    <tr>
        <td style="width:100%;  font-size:20px;  
    background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.06, rgb(0,0,0)),
	color-stop(0.69, rgb(232,58,58)),
	color-stop(0.91, rgb(10,10,10))
);
    padding:5px; border:0;  font-weight:bold; color: White" colspan="3">DATOS</td>
    </tr>
    <tr>
        <td style="vertical-align:top" colspan="3">
            <div>
                <table style="padding:20px">
                <tr>
                <td style="width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="2">Manager:</td>
                <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @if (Model.Team.Managers != null) {
                @Model.Team.Managers.GamerTag}
                </td></tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Division:
                       
                </td>
                <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.Divisions.Division
                </td>
                </tr>
                                         <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Conferencia:
                </td>
                <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.Divisions.Conferences.Conference
                </td>
                </tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Estadio:
                </td>
                 <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                </tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Objetivo Temp.:      
                </td>
                </tr>
                <tr>
                <td style="font-weight:bold; font-style:italic; font-size:10px;background-color:Black" colspan="3">
                <div> un día de la final de la Confederaciones en Maracaná, Del Bosque pasó por los micrófonos de Radio MARCA y analizó la razón por la que él cree que Brasil pita a España: "Es normal que la afición se ponga del lado del débil. Nos ven como una amenaza, pero en todas la ciudades nos han tratado muy bien".</div>                </td>
                </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
            <td style="  font-size:20px;  
    background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.06, rgb(0,0,0)),
	color-stop(0.69, rgb(232,58,58)),
	color-stop(0.91, rgb(10,10,10))
);
    padding:5px; border:0;  font-weight:bold; color: White" colspan="3">RANKINGS</td>
    </tr>
    <tr>
      <td style="vertical-align:top" colspan="3">
            <div>
                <table style="padding:20px">
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Posición:
                </td>
                           <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                </tr>
                <tr>
                <td style="width:300px;font-weight:bold; font-size:14px;background-color:Black" colspan="2">Victorias: </td>
                          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td></tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Derrotas:
                        
                </td>
                          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                </tr>
                                         <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Puntos a favor:
                </td>          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                </tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Puntos en contra:
                </td>          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                 
                </tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Rebotes:
                </td>          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                 
                </tr>
                                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Asistencias:
                </td>          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                 
                </tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Robos:
                </td>          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                </tr>
                <tr>
                <td style="font-weight:bold; font-size:14px;background-color:Black" colspan="2">Tapones:
                </td>          <td style="color:Yellow;width:100px;font-weight:bold; font-size:14px;background-color:Black" colspan="1">   @Model.Team.StadiumName
                </td>
                 
                </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</div>
