﻿@model Liga.Domain.Entities.InjuryTypes

@{
    ViewBag.Title = "Tipos de lesión";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar tipo de lesión</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label("Tipo lesión")
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Duración mínima")
            @Html.TextBoxFor(model => model.MinDuration, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MinDuration)
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Duración máxima")
            @Html.TextBoxFor(model => model.MaxDuration, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaxDuration)
        </div>
    </div>
    <div class="row justify-content-end">
        <a href="/InjuryTypes" class="btn btn-dark mr-1 col-md-2">Volver</a>
        <button type="submit" class="col-md-2 btn btn-outline-success">Crear</button>
    </div>
}
