﻿@model IEnumerable<Liga.Domain.Entities.InjuryTypes>

@{
    ViewBag.Title = "Tipos de lesión";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Tipos de lesión</h2>

<div class="row justify-content-end">
    <a href="/InjuryTypes/Create" class="btn btn-outline-dark col-md-1">Crear</a>
</div>
<div class="row mt-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.Label("Lesión")
                </th>
                <th>
                    @Html.Label("Duración mínima")
                </th>
                <th>
                    @Html.Label("Duración máxima")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxDuration)
                    </td>
                    <td>
                        <a href="/InjuryTypes/Edit/@item.Id" class="btn btn-outline-warning col-md-1 mr-1">Editar</a>
                        <a href="/InjuryTypes/Delete/@item.Id" class="btn btn-outline-danger col-md-1 mr-1">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

