﻿@model Liga.Domain.Entities.TradatorModel 

@{
    ViewBag.Title = "TransfersInfo";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<style>
    .tradeLogoTeam {
        opacity: 1;
        width: 80px;
        /*background-image:url('../../Images/Common/teams/BigLogos/MIN.png');*/
    }
    body {
  
  
    
}
         
    
</style>
<script>
    $(function () {
    $(".draggable").tooltip({
            track: true
        });
    $(".draggable").draggable({ revert: "invalid" });
    $( "#droppable" ).droppable({
      drop: function( event, ui ) {
        $( this )
          .addClass( "ui-state-highlight" )
          .find( "p" )
            .html( "Dropped!" );
      }
    });
  });
  </script>
<table style="font-size: 10px;width:100%;height:100%;background-color:whitesmoke;">
    <tr>
        <td><table>

         @foreach (var player in Model.ListPlayersTeam1)
         {
             <tr>
             <td class="draggable" id="@player.Id" class="ui-widget-content">@player.Player.AbrevName</td>
             <td>@player.Salary1</td><td><a href="#" title="@player.Salary2 || @player.Salary3 || @player.Salary4 || @player.Salary5 || @player.Salary6  ">Ver Salario</a></td>
             </tr>
         }</table>  

        </td><td>2</td><td>3</td><td style="font-size: 1px; text-align:center;">        <img class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Team1.Icono" /><br />
      @Html.DropDownList("IdTeam1", String.Empty)

        </td><td>5</td><td>6</td><td>7</td>
        <td><table>
<tr>
         @foreach (var player in Model.ListPlayersTeam1)
         {
             
             <td class="draggable" id="@player.Id" class="ui-widget-content" style="float:right"> @{Html.RenderPartial("TradePlayerCard", player.Player);}</td>
            
         }</tr></table>  
        </td>
    </tr>
    <tr>
        <td><img class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Team2.Icono" /><br />
                    @Html.DropDownList("IdTeam2", String.Empty)

        </td><td>2</td><td>3</td><td>4</td>
        <td>5</td><td>6</td><td>7</td><td style="text-align:right"><img style="" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Team3.Icono" /> <br />
                               @Html.DropDownList("IdTeam3", String.Empty)
</td>

    </tr>
    <tr><td><table>

         @foreach (var player in Model.ListPlayersTeam1)
         {
             <tr>
             <td class="draggable" id="@player.Id" class="ui-widget-content">@player.Player.AbrevName</td>
             <td>@player.Salary1</td><td>@player.Salary2</td><td>@player.Salary3</td><td>@player.Salary4</td><td>@player.Salary5</td><td>@player.Salary6</td>
             </tr>
         }</table> 

        </td><td>2</td><td>3</td><td style="text-align:center"><img class="tradeLogoTeam"  src="~/Images/Common/teams/BigLogos/@Model.Team4.Icono" /> <br />
                           @Html.DropDownList("IdTeam4", String.Empty)
</td><td>5</td><td>6</td><td>7</td><td>
    <table>

         @foreach (var player in Model.ListPlayersTeam1)
         {
             <tr>
             <td class="draggable" id="@player.Id" class="ui-widget-content">@player.Player.AbrevName</td>
             <td>@player.Salary1</td><td>@player.Salary2</td><td>@player.Salary3</td><td>@player.Salary4</td><td>@player.Salary5</td><td>@player.Salary6</td>
             </tr>
         }</table> 
                                   </td></tr>
</table>
