﻿@model Liga.Domain.Entities.TradatorModel 

@{
    ViewBag.Title = "TransfersInfo";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<style>

    .tradeLogoTeam {
        opacity: 1;
        width: 80px;
        /*background-image:url('../../Images/Common/teams/BigLogos/MIN.png');*/
    }
    body {}
    #galleryTeam_1 { float: left;font-size:9px; }
    .gallery {
        
    }
    .gallery li { float: right;margin:3px;   text-align: center;color:white; font-weight:bold;  background-color:darkslategrey}       
    
    .gallery li img { cursor: default; }  
    .gallery.custom-state-active { background: #eee; }


    .trash { float: right; width: 200px; font-size:8px; min-height: 18em; padding: 1%; }
    .trash h4 { line-height: 16px; margin: 0 0 0.4em; }
    .trash h4 .ui-icon { float: left; }
    .trash .gallery h6 { display: none; }

    .ui-tooltip {
    border: 1px solid white;
    background: rgba(20, 20, 20, 1);
    color: white;
  }
  .set {
    display: inline-block;
  }
</style>
<script>

    $(function () {
        $('#mainContent').css("height", "2000");
        $('.salarioGallery').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
        $('.presupuestoSpan').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
        $('.SalaryExit').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $('.SalaryEntry').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $('.SalaryDiff').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $('.SalaryCalc').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $('.Presupuesto').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $('.presupuestoSpan').attr("disabled", true);
        $('.labelPresActual').css("color", "red").css("font-size","14pt");
        $('.labelSalaryExit').css("color", "yellow").css("font-size", "12pt");
        $('.labelSalaryEntry').css("color", "blue").css("font-size", "12pt");
        $('.labelSalaryDiff').css("color", "green").css("font-size", "12pt");
        $('.labelSalaryCalc').css("color", "orange").css("font-size", "12pt");
        $('#IdTeam1').css('width', '100px'); $('#IdTeam2').css('width', '100px'); $('#IdTeam3').css('width', '100px'); $('#IdTeam4').css('width', '100px');
        $('#IdTeam1').css('font-size', '9px'); $('#IdTeam2').css('font-size', '9px');$('#IdTeam3').css('font-size', '9px');$('#IdTeam4').css('font-size', '9px');
        $('#divPresupuesto1').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });


        var $galleryTeam1 = $("#galleryTeam_1"), $galleryTeam2 = $("#galleryTeam_2"), $galleryTeam3 = $("#galleryTeam_3"), $galleryTeam4 = $("#galleryTeam_4"),
            $trashTeam1 = $("#trashTeam1"), $trashTeam2 = $("#trashTeam2"), $trashTeam3 = $("#trashTeam3"), $trashTeam4 = $("#trashTeam4");
        $galleryRound1 = $("#galleryRound_1"), $galleryRound2 = $("#galleryRound_2"), $galleryRound3 = $("#galleryRound_3"), $galleryRound4 = $("#galleryRound_4");

        $('#divPresupuesto1').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $("#IdTeam1").on("change", function () {
        
            var selectedID = $(this).val();
            if (selectedID == "")
                selectedID = 0;
            getRounds(1,selectedID, "#Round1PlaceHolder");
            getPlayers(1, selectedID, "#Team1PlaceHolder");
            getSalaryTeam(1, selectedID, "#divPresupuesto1");

            makeGalleryDraggable();
            setImage(selectedID,"#TeamLogoImg1");
            deleteSpecificTrash("#trashTeam1");
            deleteTrashItemsFromGallery("#galleryTeam_1");
        });
        $("#IdTeam2").on("change", function () {

            var selectedID = $(this).val();
            if (selectedID == "")
                selectedID = 0;
            getRounds(2,selectedID, "#Round2PlaceHolder");
            getPlayers(2, selectedID, "#Team2PlaceHolder");
            getSalaryTeam(2, selectedID, "#divPresupuesto2");

            makeGalleryDraggable();
            setImage(selectedID, "#TeamLogoImg2");
            deleteSpecificTrash("#trashTeam2");
            deleteTrashItemsFromGallery("#galleryTeam_2");

        });
        $("#IdTeam3").on("change", function () {

            var selectedID = $(this).val();
            if (selectedID == "")
                selectedID = 0;
            getRounds(3,selectedID, "#Round3PlaceHolder");
            getPlayers(3, selectedID, "#Team3PlaceHolder");
            getSalaryTeam(3, selectedID, "#divPresupuesto3");


            makeGalleryDraggable();
            setImage(selectedID, "#TeamLogoImg3");
            deleteSpecificTrash("#trashTeam3");
            deleteTrashItemsFromGallery("#galleryTeam_3");

        });
        $("#IdTeam4").on("change", function () {

            var selectedID = $(this).val();
            if (selectedID == "")
                selectedID = 0;
            getRounds(4,selectedID, "#Round4PlaceHolder");
            getPlayers(4, selectedID, "#Team4PlaceHolder");
            getSalaryTeam(4, selectedID, "#divPresupuesto4");

            makeGalleryDraggable();
            setImage(selectedID, "#TeamLogoImg4");
            deleteSpecificTrash("#trashTeam4");
            deleteTrashItemsFromGallery("#galleryTeam_4");

        });



        //// let the trash be droppable, accepting the gallery items
        makeDroppable($trashTeam1, "#galleryTeam_2 > li, #galleryTeam_3 > li, #galleryTeam_4 > li, #galleryRound_2 > li, #galleryRound_3 > li, #galleryRound_4 > li ");
        makeDroppable($trashTeam2, "#galleryTeam_1 > li, #galleryTeam_3 > li, #galleryTeam_4 > li, #galleryRound_1 > li, #galleryRound_3 > li, #galleryRound_4 > li ");
        makeDroppable($trashTeam3, "#galleryTeam_1 > li, #galleryTeam_2 > li, #galleryTeam_4 > li, #galleryRound_1 > li, #galleryRound_2 > li, #galleryRound_4 > li ");
        makeDroppable($trashTeam4, "#galleryTeam_1 > li, #galleryTeam_2 > li, #galleryTeam_3 > li, #galleryRound_1 > li, #galleryRound_2 > li, #galleryRound_3 > li ");


        function dameSalario(objeto) {
            var salarioJugador = 0;
            var team = $(objeto).attr('idGallery').toString();
            switch (team) {
                case "galleryTeam_1":
                    if ($(objeto).attr('salary') != undefined) {
                        salarioJugador = $(objeto).attr('salary').toString();
                    }
                    break;
                case "galleryTeam_2":
                    if ($(objeto).attr('salary') != undefined) {
                        salarioJugador = $(objeto).attr('salary').toString();
                    }
                    break;
                case "galleryTeam_3":
                    if ($(objeto).attr('salary') != undefined) {
                        salarioJugador = $(objeto).attr('salary').toString();
                    }
                    break;
                case "galleryTeam_4":
                    if ($(objeto).attr('salary') != undefined) {
                        salarioJugador = $(objeto).attr('salary').toString();
                    }
                    break;
            }
            return salarioJugador;
        }
        function makeDroppable($item, $acceptedList) {
            $item.droppable({
                accept: $acceptedList,
                activeClass: "ui-state-highlight",
                drop: function (event, ui) {
                    deleteImage(ui.draggable, $item);
                    calculaPresAlContener(ui.draggable, $item);
                }
            });
        }

        function getRounds($idList, $idTeam, $whereToLoad) {
            $.get('../Trades/PartialRoundTradeTeam'  + $idList + '/' + $idTeam, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $($whereToLoad).html(data);
                /* little fade in effect */
                $($whereToLoad).fadeIn('fast');
            });
        }
        function getPlayers($idList,$idTeam, $whereToLoad) {
            $.get('../Trades/PartialTradeTeam' + $idList + '/' + $idTeam, function (data) {

                /* data is the pure html returned from action method, load it to your page */
                $($whereToLoad).html(data);
                /* little fade in effect */
                $($whereToLoad).fadeIn('fast');
            });
        }
        function getSalaryTeam($idList, $idTeam, $whereToLoad) {
            $.get('../Trades/PartialSalaryTradeTeam' + $idList + '/' + $idTeam, function (data) {
                /* data is the pure html returned from action method, load it to your page */
                $($whereToLoad).html(data);           
                $($whereToLoad).autoNumeric('set', parseFloat(data));
               
            });
        }
        function makeGalleryDraggable() {
            $("li", ".gallery").draggable({
                cancel: "a.ui-icon", // clicking an icon won't initiate dragging
                revert: "invalid", // when not dropped, the item will revert back to its initial position
                containment: "document",
                helper: "clone",
                cursor: "default"
            });
        }

        function deleteTrashItems() {
            $("li", ".trash").each(function () {
                recycleImage($(this), $("#" + $(this).attr('idGallery').toString()));

            });
        }
        function deleteTrashItemsFromGallery($gallery) {
            $("li", ".trash").each(function () {
                if ("#" + $(this).attr('idGallery').toString() == $gallery) {
                    recycleImage($(this), $("#" + $(this).attr('idGallery').toString()));
                }
            });
            
        }
        function deleteSpecificTrash($whatTrash) {
            $("li", $whatTrash).each(function () {
                recycleImage($(this), $("#" + $(this).attr('idGallery').toString()));
            });
        }

        function setImage($teamId, $imageId) {
            if ($teamId != "") {
                $.get('../Trades/ReturnImage/' + $teamId, function (data) {

                    var $TeamLogoImg1 = $($imageId);
                    $TeamLogoImg1.attr("src", data);

                });
            }
            else {
                var $TeamLogoImg1 = $($imageId);
                $TeamLogoImg1.attr("src", "../Images/Common/teams/BigLogos/fa.png");
            }
        }
     
        function calculaPresAlContener($jugador, $contenedorDestino) {

            //lert($jugador.attr('idTeam'));
            if ($jugador.attr('idTeam') == undefined) {
                var equipo = 1;
            }
            else {

                var equipo = $jugador.attr('idTeam').toString();
            }
               
            var salarioSaliente = $('#divSalaryExit' + equipo).autoNumeric('get');
            var salarioJugador = 0;
            if ($jugador.attr('salary') == undefined) {
                salarioJugador = 0;
            }
            else {
                salarioJugador = parseFloat($jugador.attr('salary').toString());
            }
            if (salarioSaliente == "")
                salarioSaliente = 0;
            salarioSaliente = parseFloat(salarioSaliente) + salarioJugador;
            $('#divSalaryExit' + equipo).autoNumeric('set', salarioSaliente);
            


            var salarioEntrante = 0;
            $("li", $contenedorDestino).each(function () {
                if ($(this).attr('salary') == undefined)
                {
                    salarioEntrante =salarioEntrante + 0;
                }
            else
                {
                salarioEntrante =salarioEntrante + parseFloat($(this).attr('salary').toString());
                }
            });
            salarioEntrante = salarioEntrante + salarioJugador;
            var idContenedor = $contenedorDestino.attr('idTrash').toString();
            $('#divSalaryEntry' + idContenedor).autoNumeric('set', salarioEntrante);

            //calculolos diff de ambos
            
            var salarioSalienteAux = $('#divSalaryExit' + idContenedor).autoNumeric('get');
            var salarioEntranteAux = $('#divSalaryEntry' + idContenedor).autoNumeric('get');
            var resultado = salarioEntranteAux - salarioSalienteAux;
            $('#divSalaryDiff' + idContenedor).autoNumeric('set', resultado);

            var presupuesto = $('#divPresupuesto' + idContenedor).autoNumeric('get');

            var salaryCalc = parseFloat(presupuesto) + resultado;
            

            $('#divSalaryExit' + idContenedor).autoNumeric('set', salarioSalienteAux);
            $('#divSalaryEntry' + idContenedor).autoNumeric('set', salarioEntranteAux);
            $('#divSalaryDiff' + idContenedor).autoNumeric('set', resultado);
            $('#divSalaryCalc' + idContenedor).autoNumeric('set', salaryCalc);


            //--------------------------------------------------------------------------------


            salarioSalienteAux = $('#divSalaryExit' + equipo).autoNumeric('get');
            salarioEntranteAux = $('#divSalaryEntry' + equipo).autoNumeric('get');
            resultado = salarioEntranteAux - salarioSalienteAux;
            $('#divSalaryDiff' + equipo).autoNumeric('set', resultado);
            presupuesto = $('#divPresupuesto' + equipo).autoNumeric('get');
            salaryCalc = parseFloat(presupuesto) + resultado;

            $('#divSalaryExit' + equipo).autoNumeric('set', salarioSalienteAux);
            $('#divSalaryEntry' + equipo).autoNumeric('set', salarioEntranteAux);
            $('#divSalaryDiff' + equipo).autoNumeric('set', resultado);
            $('#divSalaryCalc' + equipo).autoNumeric('set', salaryCalc);

        }
        function eliminaSuSalario(jugador) {

            salarioJugador = dameSalario(jugador);
            var equipo = $(jugador).attr('idGallery').toString(); // de que equipo pertenece
            switch (equipo) {
                case "galleryTeam_1":
                    salarioEntranteEquipoActual = $('#divSalaryExit1').autoNumeric('get');
                    $('#divSalaryExit1').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));

                    break;
                case "galleryTeam_2":
                    salarioEntranteEquipoActual = $('#divSalaryExit2').autoNumeric('get');
                    $('#divSalaryExit2').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));
                    break;
                case "galleryTeam_3":
                    salarioEntranteEquipoActual = $('#divSalaryExit3').autoNumeric('get');
                    $('#divSalaryExit3').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));
                    break;
                case "galleryTeam_4":
                    salarioEntranteEquipoActual = $('#divSalaryExit4').autoNumeric('get');
                    $('#divSalaryExit4').autoNumeric('set', parseFloat(salarioEntranteEquipoActual) - parseFloat(salarioJugador));
                    break;
            }

            //como saber en que trash esta? para decrecer el saliente
            var papeleraSt = $(jugador).parents().eq(1).attr('idTrash').toString();
            var papelera = $(jugador).parents().eq(1).attr('idTrash');

            salarioSalienteEquipoActual = $('#divSalaryEntry' + papelera).autoNumeric('get');
            $('#divSalaryEntry' + papelera).autoNumeric('set', parseFloat(salarioSalienteEquipoActual) - parseFloat(salarioJugador));

            calculaDffSal();
            calculaPresCalc();
        }
        function calculaDffSal() {

            for (i = 1; i < 5; i++) {
                $('#divSalaryDiff' + i).autoNumeric('set', parseFloat($('#divSalaryEntry' + i).autoNumeric('get')) - parseFloat($('#divSalaryExit' + i).autoNumeric('get')));

            }
            
        }
        function calculaPresCalc() {

            for (i = 1; i < 5; i++) {
                $('#divSalaryCalc' + i).autoNumeric('set', parseFloat($('#divPresupuesto' + i).autoNumeric('get')) + parseFloat($('#divSalaryDiff' + i).autoNumeric('get')));

            }
        }

        var recycle_icon = "<a href='link/to/recycle/script/when/we/have/js/off' title='Quitar' class='ui-icon ui-icon-refresh'>Recycle image</a>";
        function deleteImage($item, $fromTrash) {
            $item.fadeOut(function () {
                var $list = $("ul", $fromTrash).length ?
                  $("ul", $fromTrash) :
                  $("<ul class='gallery ui-helper-reset'/>").appendTo($fromTrash);

                $item.find("a.ui-icon-trash").remove();
                $item.append(recycle_icon).appendTo($list).fadeIn(function () {
                    $item
                      .animate({ width: "65px" })
                      //.find("img")
                      //  .animate({ height: "35px" });
                });
                
            });
        }

        
        var trash_icon = "<a href='link/to/trash/script/when/we/have/js/off' title='Delete this image' class='ui-icon ui-icon-trash'>Delete image</a>";
        function recycleImage($item, $fromGallery) {
            $item.fadeOut(function () {
                $item
                  .find("a.ui-icon-refresh")
                    .remove()
                  .end()
                  //.css("width", "96px")
                  //.append(trash_icon)
                  //.find("img")
                  //  .css("height", "72px")
                  //.end()
                  .appendTo($fromGallery)
                  .fadeIn();
            });
            eliminaSuSalario($item);
         }





        $("#BtAddTeam3").click(function () {
            $("#teamDiv3").toggle("explode");

            if ($("#BtAddTeam3").attr("tipoBt") == "add") {

                $("#BtAddTeam3").find('.ui-icon')
                    .removeClass('ui-icon-circle-plus')
                    .addClass('ui-icon-circle-minus');
                $("#BtAddTeam3 span").text("Quitar equipo");
                $("#BtAddTeam3 span").attr("title", "Quitar equipo");
                $("#BtAddTeam3").attr("tipoBt", "del");

            }
            else {
                $("#BtAddTeam3").find('.ui-icon')
                  .removeClass('ui-icon-circle-minus')
                  .addClass('ui-icon-circle-plus');
                $("#BtAddTeam3 span").text("Añadir equipo");
                $("#BtAddTeam3 span").attr("title", "Añadir equipo");
                $("#BtAddTeam3").attr("tipoBt", "add");
                $("li", ".trash").each(function () {
                    if ("#" + $(this).attr('idGallery').toString() == "#galleryTeam_3")
                        recycleImage($(this), $("#" + $(this).attr('idGallery').toString()));

                });
                $("li", "#trashTeam3").each(function () {
                   recycleImage($(this), $("#" + $(this).attr('idGallery').toString()));

                });
            }

        });
        $("#BtAddTeam4").click(function () {
            $("#teamDiv4").toggle("explode");
       
            if ($("#BtAddTeam4").attr("tipoBt") == "add") {

                $("#BtAddTeam4").find('.ui-icon')
                    .removeClass('ui-icon-circle-plus')
                    .addClass('ui-icon-circle-minus');
                $("#BtAddTeam4 span").text("Quitar equipo");
                $("#BtAddTeam4 span").attr("title", "Quitar equipo");
                $("#BtAddTeam4").attr("tipoBt", "del");

            }
            else {
                $("#BtAddTeam4").find('.ui-icon')
                  .removeClass('ui-icon-circle-minus')
                  .addClass('ui-icon-circle-plus');
                $("#BtAddTeam4 span").text("Añadir equipo");
                $("#BtAddTeam4 span").attr("title", "Añadir equipo");
                $("#BtAddTeam4").attr("tipoBt", "add");
                $("li", ".trash").each(function () {
                    if ("#" + $(this).attr('idGallery').toString() == "#galleryTeam_4")
                        recycleImage($(this), $("#" + $(this).attr('idGallery').toString()));

                });
                $("li", "#trashTeam4").each(function () {
                    recycleImage($(this), $("#" + $(this).attr('idGallery').toString()));

                });
            }

        });
        $("#BtReset").click(function () {
            deleteTrashItems();
            for (i = 1; i < 5; i++) {
                $('#divSalaryCalc' + i).autoNumeric('set', 0);
                $('#divSalaryDiff' + i).autoNumeric('set', 0);
                $('#divSalaryEntry' + i).autoNumeric('set', 0);
                $('#divSalaryExit' + i).autoNumeric('set', 0);
                $('#divPresupuesto' + i).autoNumeric('set', 0);

            }
        });

        $("#BtPreview").click(function () {
            viewTrade();
        });

        $("#teamDiv4").hide();
        $("#teamDiv3").hide();
        $( "button" ).each(function() {
            var button = $( this ).button({
                icons: {
                    primary: $( this ).data( "icon" )
                },
                text: !!$( this ).attr( "title" )
            });
            button.click(function() {
               
            });
        });
        $( ".set" ).buttonset({
            items: "button"
        });
 
        $( document ).tooltip({
            position: {
                my: "center top",
                at: "center bottom+5",
            },
            show: {
                duration: "fast"
            },
            hide: {
                effect: "hide"
            }
        });
        function viewTrade() {
            if ($("#IdTeam1").val() == "" || $("#IdTeam2").val() == "")
                return;
            //var myarray = {};  //must be declared as an object literal first
            //myarray[0] = val

            var listaJugadores1 = "";
            var listaRondas1 = "";
            var listaJugadores2 = "";
            var listaRondas2 = "";
            var listaJugadores3 = "";
            var listaRondas3 = "";
            var listaJugadores4 = "";
            var listaRondas4 = "";

            $("li", "#trashTeam1").each(function () {

                var RondaJugadorYDeDondeViene = $(this).attr('idGallery').toString();
                if(RondaJugadorYDeDondeViene.toString().substring(0,11) == "galleryTeam")
                {
                    var idJugador = $(this).attr('id').toString();
                    listaJugadores1 = listaJugadores1 + idJugador + ";";

                }
                else
                {
                    var idRonda =  $(this).attr('id').toString();
                    //var vieneDe = RondaJugadorYDeDondeViene.toString().substring(RondaJugadorYDeDondeViene.toString().length - 1, RondaJugadorYDeDondeViene.toString().length );
                    listaRondas1 = listaRondas1 + idRonda + ";";

                }
            });
            $("li", "#trashTeam2").each(function () {

                var RondaJugadorYDeDondeViene = $(this).attr('idGallery').toString();
                if (RondaJugadorYDeDondeViene.toString().substring(0, 11) == "galleryTeam") {
                    var idJugador = $(this).attr('id').toString();
                    listaJugadores2 = listaJugadores2 + idJugador + ";";

                }
                else {
                    var idRonda = $(this).attr('id').toString();
                    //var vieneDe = RondaJugadorYDeDondeViene.toString().substring(RondaJugadorYDeDondeViene.toString().length - 1, RondaJugadorYDeDondeViene.toString().length );
                    listaRondas2 = listaRondas2 + idRonda + ";";

                }
            });
            $("li", "#trashTeam3").each(function () {

                var RondaJugadorYDeDondeViene = $(this).attr('idGallery').toString();
                if (RondaJugadorYDeDondeViene.toString().substring(0, 11) == "galleryTeam") {
                    var idJugador = $(this).attr('id').toString();
                    listaJugadores3 = listaJugadores3 + idJugador + ";";

                }
                else {
                    var idRonda = $(this).attr('id').toString();
                    //var vieneDe = RondaJugadorYDeDondeViene.toString().substring(RondaJugadorYDeDondeViene.toString().length - 1, RondaJugadorYDeDondeViene.toString().length );
                    listaRondas3 = listaRondas3 + idRonda + ";";

                }
            });
            $("li", "#trashTeam4").each(function () {

                var RondaJugadorYDeDondeViene = $(this).attr('idGallery').toString();
                if (RondaJugadorYDeDondeViene.toString().substring(0, 11) == "galleryTeam") {
                    var idJugador = $(this).attr('id').toString();
                    listaJugadores4 = listaJugadores4 + idJugador + ";";

                }
                else {
                    var idRonda = $(this).attr('id').toString();
                    //var vieneDe = RondaJugadorYDeDondeViene.toString().substring(RondaJugadorYDeDondeViene.toString().length - 1, RondaJugadorYDeDondeViene.toString().length );
                    listaRondas4 = listaRondas4 + idRonda + ";";

                }
            });


            sendTransferInfo(listaJugadores1, listaRondas1, listaJugadores2, listaRondas2, listaJugadores3, listaRondas3,listaJugadores4, listaRondas4);


        }

        function sendTransferInfo(listaJugadores1, listaRondas1, listaJugadores2, listaRondas2, listaJugadores3, listaRondas3, listaJugadores4, listaRondas4) {

            var equipo1 = $("#IdTeam1").val();
            var equipo2 = $("#IdTeam2").val();
            var equipo3 = $("#IdTeam3").val();
            var equipo4 = $("#IdTeam4").val();
            $("#dialog:ui-dialog").dialog("destroy");
            $("#FillTable").html("");
            $.post('../Trades/ValidateTransferInfo',
                { equipo1: equipo1, equipo2 : equipo2, equipo3 : equipo3, equipo4: equipo4, infoJug1: listaJugadores1, infoRound1: listaRondas1, infoJug2: listaJugadores2, infoRound2: listaRondas2, infoJug3: listaJugadores3, infoRound3: listaRondas3, infoJug4: listaJugadores4, infoRound4: listaRondas4},
                function (data) {
                $("#FillTable").html(data);
                });

            $("#dialog-modal").dialog({
                title: "Trade Info",
                height: 755,
                width: 840,
                modal: true,
                resizable: false
            });



        }

        //function sendTransferInfo(listaJugadores1, listaRondas1, listaJugadores2, listaRondas2, listaJugadores3, listaRondas3, listaJugadores4, listaRondas4) {

        //    var equipo1 = $("#IdTeam1").val();
        //    var equipo2 = $("#IdTeam2").val();
        //    var equipo3 = $("#IdTeam3").val();
        //    var equipo4 = $("#IdTeam4").val();
        //   // $("#dialog:ui-dialog").dialog("destroy");
        //    $("#FillTable").html("");
        //    $.post('../Trades/GetTransferInfo2',
        //        { equipo1: equipo1, equipo2: equipo2, equipo3: equipo3, equipo4: equipo4, infoJug1: listaJugadores1, infoRound1: listaRondas1, infoJug2: listaJugadores2, infoRound2: listaRondas2, infoJug3: listaJugadores3, infoRound3: listaRondas3, infoJug4: listaJugadores4, infoRound4: listaRondas4 },
        //        function (data) {
        //        //    $("#FillTable").html(data);
        //        });

        //    //$("#dialog-modal").dialog({
        //    //    title: "Trade Info",
        //    //    height: 755,
        //    //    width: 840,
        //    //    modal: true,
        //    //    resizable: false
        //    //});



        //}
        function confirma() {
            
            event.preventDefault();
            var form = $("#TradeatorInfo");
            $.post(form.attr('action'), form.serialize(), function (data) {
                if (data.IsError) { alert(data.Error); }
                else { alert(data.Message); }
            });
        }


    });


  </script>
<div style="">
<table style="font-size: 10px;width:100%;height:100%;">
<tr>
    <td colspan="2"><button id="BtReset" data-icon="ui-icon-extlin" title="Resetea el trade a su estado original">Reset</button> Arrastra y coloca al jugador donde corresponda  </td>
   @if(ViewBag.IsManagerWithTeam == true)
   { <td colspan="2"> </td>}
    else
    {
       <td colspan ="2"></td>
   }
  @if (ViewBag.IsManagerWithTeam == true)
  {
    <td colspan="1"><button id="BtPreview" data-icon="ui-icon-search" title="Previsualizar Resumen Trade">Preview</button>   </td>
  }
  else
  {
    <td colspan="1"><button id="BtPreview" data-icon="ui-icon-search" title="Previsualizar Resumen Trade">Preview</button>   </td>
  }

</tr>
<tr style="background-color:indianred;height:5px"><td colspan="5"></td></tr>

<tr><td style="width:5%">Rondas</td><td style="width:50%">Jugadores</td><td style="width:10%">Equipo</td><td style="width:15%">Recibe</td><td style="width:25%">Info</td></tr>
<tr>
    @if (Model.ListPlayersTeam1.ListPlayersTeam != null)
    {
     <td id="Round1PlaceHolder">     @{Html.RenderPartial("TransferRound", Model.ListPlayersTeam1);} </td>
     <td id="Team1PlaceHolder">     @{Html.RenderPartial("TransferTeam", Model.ListPlayersTeam1);} </td>
            <td>    <img id="TeamLogoImg1" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Team1.Icono" /><br />
                    @Html.DropDownList("IdTeam1", String.Empty)</td>
    }
    else
    {
      <td id="Round1PlaceHolder">     </td>
     <td id="Team1PlaceHolder">      </td>
      <td>    <img id="TeamLogoImg1" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/fa.png" /><br />
                    @Html.DropDownList("IdTeam1", String.Empty)</td>
    }
  

    <td>
           <ul id="trashTeam1" idTrash="1" class="trash ui-widget-content ui-state-default">
          <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Recibe</span> Recibe</h4>
        </ul>
    </td>
    <td>
    <span class="labelPresActual">Presupuesto Actual</span>
    <div id="divPresupuesto1" class="Presupuesto"  style="font-size:16pt">
    @if (Model.ListPlayersTeam1.ListPlayersTeam != null)
    {
        Html.RenderPartial("TransferSalary", Model.ListPlayersTeam1);
        
    }
    </div>
     <span class="labelSalaryExit" style="">Salario Saliente</span>
     <div id="divSalaryExit1" class="SalaryExit" style="font-size:16pt">
         0
     </div>
     <span class="labelSalaryEntry" style="">Salario Entrante</span>      
     <div id="divSalaryEntry1" class="SalaryEntry" style="font-size:16pt">
         0
     </div>
     <span class="labelSalaryDiff" style="">Diferencia presupuestos</span>   
     <div id="divSalaryDiff1"  class="SalaryDiff" style="font-size:16pt">
         0
     </div>
     <span class="labelSalaryCalc" style="">Presupuesto calculado</span>   
     <div id="divSalaryCalc1"  class="SalaryCalc" style="font-size:16pt">
         0
     </div>

           
  
    </td>
</tr>
<tr style="background-color:whitesmoke;height:5px"><td colspan="5"></td></tr>
<tr>
     <td id="Round2PlaceHolder">     </td>
     <td id="Team2PlaceHolder">      </td>
    <td>    <img id="TeamLogoImg2" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/fa.png" /><br />
                    @Html.DropDownList("IdTeam2", String.Empty)</td>
    <td>
        <div id="trashTeam2" idTrash="2" class="trash ui-widget-content ui-state-default">
          <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Recibe</span> Recibe</h4>
        </div>
    </td>
    <td><span class="labelPresActual">Presupuesto Actual</span>
    <div id="divPresupuesto2" class="Presupuesto"  style="font-size:16pt">
    </div>
     <span class="labelSalaryExit">Salario Saliente</span>    
     <div id="divSalaryExit2" class="SalaryExit" style="font-size:16pt">
         0
     </div>
     <span class="labelSalaryEntry">Salario Entrante</span>      
     <div id="divSalaryEntry2" class="SalaryEntry" style="font-size:16pt" >
         0
     </div>
     <span class="labelSalaryDiff">Diferencia presupuestos</span>   
     <div id="divSalaryDiff2"  class="SalaryDiff" style="font-size:16pt">
         0
     </div>
     <span class="labelSalaryCalc">Presupuesto calculado</span>   
     <div id="divSalaryCalc2"  class="SalaryCalc" style="font-size:16pt">
         0
     </div>    
    </td>
</tr>
    <tr style="background-color:whitesmoke;height:5px"><td colspan="5"></td></tr>
    <tr style="height:5px"><td colspan="5">   <button id="BtAddTeam3" tipoBt="add" data-icon="ui-icon-circle-plus" title="Añadir equipo">Añadir equipo</button></td></tr>
<tr  id="teamDiv3">
     <td id="Round3PlaceHolder">      </td>
     <td id="Team3PlaceHolder">       </td>
    <td>    <img id="TeamLogoImg3" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/fa.png" /><br />
                    @Html.DropDownList("IdTeam3", String.Empty)</td>
    <td>        
        <div id="trashTeam3" idTrash="3" class="trash ui-widget-content ui-state-default">
          <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Recibe</span> Recibe</h4>
        </div>

    </td>
        <td><span class="labelPresActual">Presupuesto Actual</span>
    <div id="divPresupuesto3" class="Presupuesto"  style="font-size:16pt"> </div>    
     <span class="labelSalaryExit">Salario Saliente</span>    
     <div id="divSalaryExit3" class="SalaryExit" style="font-size:16pt"></div>
     <span class="labelSalaryEntry">Salario Entrante</span>      
     <div id="divSalaryEntry3" class="SalaryEntry" style="font-size:16pt" ></div>
     <span class="labelSalaryDiff">Diferencia presupuestos</span>   
     <div id="divSalaryDiff3"  class="SalaryDiff" style="font-size:16pt"></div>
     <span class="labelSalaryCalc">Presupuesto calculado</span>   
     <div id="divSalaryCalc3"  class="SalaryCalc" style="font-size:16pt"></div>
    </td>
</tr>
    <tr style="background-color:whitesmoke;height:5px"><td colspan="5"></td></tr>
    <tr style="height:5px"><td colspan="5">   <button id="BtAddTeam4" tipoBt="add" data-icon="ui-icon-circle-plus" title="Añadir equipo">Añadir equipo</button></td></tr>
<tr  id="teamDiv4">
     <td id="Round4PlaceHolder">     </td>
     <td id="Team4PlaceHolder">      </td>
    <td>    <img id="TeamLogoImg4" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/fa.png" /><br />
                    @Html.DropDownList("IdTeam4", String.Empty)</td>
    <td>
                <div id="trashTeam4" idTrash="4" class="trash ui-widget-content ui-state-default">
          <h4 class="ui-widget-header"><span class="ui-icon .ui-icon-arrowreturnthick-1-e">Recibe</span> Recibe</h4>
        </div>
    </td>
        <td><span class="labelPresActual">Presupuesto Actual</span>
    <div id="divPresupuesto4" class="Presupuesto"  style="font-size:16pt">    </div>  
     <span class="labelSalaryExit">Salario Saliente</span>    
     <div id="divSalaryExit4" class="SalaryExit" style="font-size:16pt"></div>
     <span class="labelSalaryEntry">Salario Entrante</span>      
     <div id="divSalaryEntry4" class="SalaryEntry"style="font-size:16pt" ></div> 

     <span class="labelSalaryDiff">Diferencia presupuestos</span>   
     <div id="divSalaryDiff4"  class="SalaryDiff" style="font-size:16pt"></div>
     <span class="labelSalaryCalc">Presupuesto calculado</span>   
     <div id="divSalaryCalc4"  class="SalaryCalc" style="font-size:16pt"></div>  
    </td>
 </tr>
</table>

</div>
         <div id="dialog-modal"  style=" width:900px; height:800px; display:none" title="Basic modal dialog">
            <div id="FillTable"></div>
        </div>