﻿@model Liga.Domain.Entities.ListPlayersTradeTeam
  
 
<ul id="galleryRound_@Model.idPosTeam" class="gallery ui-helper-reset ui-helper-clearfix">
         @foreach (var ronda in Model.ListRoundsTeam)
         {
             <li id="@ronda.Id"  idGallery="galleryRound_@Model.idPosTeam">
                <div>@ronda.Type ª</div>
                <div>@ronda.LVNBAFranchis.NickName </div>
                <div>@ronda.Year</div>
             </li>
         }
</ul> 
