﻿@model Liga.Domain.Entities.PlayersForChangeTeam

@{
    ViewBag.Title = "Estados";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";

}


<h2>Cambiar a un jugador de equipo implica: </h2>
<p>
    Sólo se pueden mover de equipo los jugadores no retirados o que no sean legalmente intransferibles.
    <br /> Si quieres cambiar de equipo a un jugador LI, debes primero cambiar su status desde administración.
    <br />Jugadores FA a los que se ficha deben abrir un nuevo salario. Luego las cantidades especificarlas desde administración
</p>
<div class="row mb-5 pb-5">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Cambiar el equipo que paga el salario.
            </div>
            <div class="card-body">
                El campo SalaryTeam pasa al nuevo equipo.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Eliminar su estado y su rol
            </div>
            <div class="card-body">
                El jugador en el nuevo equipo al empezar no tiene rol.
                Su estado  puede pasar a LEGALMENTE INTRANSFERIBLE y sino a NULO.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Cambio en histórico del jugador
            </div>
            <div class="card-body">
                El jugador cierra un ciclo con un equipo y abre otro ciclo con el nuevo.
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">

        @Html.HiddenFor(model => model.Id)


        <div class="form-group col-md-4">
            @Html.Label("Equipo")
            @Html.TextBoxFor(model => model.CompleteName, new { disabled = "disabled", @class = "form-control disabled" })
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Equipo Actual")
            @Html.TextBoxFor(model => model.FranchiseName, new { disabled = "disabled", @class="form-control disabled" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Nuevo Equipo")
            @Html.DropDownList("ActualTeam", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ActualTeam)
        </div>
    </div>
    <div class="row justify-content-end mt-4">
        @Html.ActionLink("Volver", "PlayerActions", null, new { @class = "btn btn-dark col-md-1 mr-2" })
        <input type="submit" class="btn btn-outline-danger col-md-2" value="Guardar" />
    </div>
}



@section Scripts {
    @Scripts.Render("~/jqueryval")
}
