﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        jQuery.validator.methods.date = function (value, element) {
            var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
            return this.optional(element) || dateRegex.test(value);
        };

        $('#buttonID2').on({
            'click': function () {

                var imagePath = $("#mainImage").val();
                $('#mImage').attr('src', imagePath);
            }
        });
    })


</script>
<h2>Jugadores</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row pb-5">
        <div class="form-group col-md-4">
            @Html.Label("Nombre")
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Apellido")
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Apodo")
            @Html.TextBoxFor(model => model.NickName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NickName)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Altura")
            @Html.TextBoxFor(model => model.Height, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Height)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Peso")
            @Html.TextBoxFor(model => model.Weight, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Weight)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Equipo", "LVNBAFranchis")
            @Html.DropDownList("ActualTeam", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ActualTeam)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Rol")
            @Html.DropDownList("IdRol", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdRol)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Posición")
            @Html.DropDownList("IdPosition", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdPosition)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Fecha nacimiento")
            @Html.TextBoxFor(model => model.BornDate, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.BornDate)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Estado")
            @Html.DropDownList("IdState", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdState)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Foto")
            @Html.TextBoxFor(model => model.FaceImage, new { id = "faceImage", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FaceImage)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Imagen")
            @Html.TextBoxFor(model => model.MainImage, new { id = "mainImage", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MainImage)
        </div>
        <img class="col-md-4" id="buttonID2" title="Visualizar" />
        <img class="col-md-4" id="mImage" width="150" height="200" src="" />
        <div class="form-group col-md-4">
            @Html.Label("Nivel 2k")
            @Html.TextBoxFor(model => model.Level2k, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Level2k)
        </div>
    </div>
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-success col-md-2 mr-1" type="submit" value="Crear" />
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
