﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Cortar Jugador";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";

}

<h2>Cortar a un jugador significa: </h2>
<div class="row mb-5 pb-5">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-header">
                Cambiar sus condiciones contractuales
            </div>
            <div class="card-body">
                La condicion contractual del primer salario pasa a ser Cutted. <br />DUDA: que ocurre si el jugador en los próximos años tiene otras condiciones (PO por ejemplo)??<br />
                El campo SalaryTeam no se toca, ya que sigue siendo el mismo equipo el que paga.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Eliminar su estado y su rol
            </div>
            <div class="card-body">
                El jugador ya no tiene equipo y por lo tanto no tiene rol ni estado contractual
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Dejar al jugador sin equipo
            </div>
            <div class="card-body">
                El jugador se queda sin equipo al ser cortado, pasando a ser fichable por cualquier otro equipo.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Crear noticia
            </div>
            <div class="card-body">
                Al cortar un jugador, se genera una noticia informando de ello.
            </div>
        </div>
    </div>
</div>

<fieldset>
    <legend>Jugador</legend>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("Equipo")
            </th>
            <th>
                @Html.Label("Rol")
            </th>
            <th>
                @Html.Label("Posición")
            </th>
            <th>
                @Html.Label("Estado")
            </th>
            <th>
                @Html.Label("Derechos bird")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LVNBAFranchis.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayersRole.Rol)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayersPosition.Position)
            </td>
            <td>
                @Html.DisplayFor(model => model.PlayersState.State)
            </td>
            <td>
                @Html.DisplayFor(model => model.BirdRights)
            </td>
        </tr>
    </table>




</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row justify-content-end mt-4">
        @Html.ActionLink("Volver", "PlayerActions", null, new { @class = "btn btn-dark col-md-1 mr-2" })
        <input type="submit" class="btn btn-outline-danger col-md-2" value="Cortar jugador" />
    </div>
}
