﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Jugadores</h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Jugadores</legend>

    <div class="display-label">
         @Html.Label("Nombre")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompleteName)
    </div>
    <div class="display-label">
         @Html.Label("Equipo")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LVNBAFranchis.Name)
    </div>
    <div class="display-label">
         @Html.Label("Rol")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayersRole.Rol)
    </div>

    <div class="display-label">
         @Html.Label("Posición")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayersPosition.Position)
    </div>

    <div class="display-label">
         @Html.Label("Fecha Nacimiento")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BornDate)
    </div>

    <div class="display-label">
         @Html.Label("Estado")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PlayersState.State)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
