﻿@model IEnumerable<Liga.Domain.Entities.Players>

@{
    ViewBag.Title = "FreeAgent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>FreeAgent</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped small">
    <tr>

        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Equipo", "Index", new { sortOrder = ViewBag.TeamSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Rol")
        </th>
        <th>
            @Html.DisplayName("Posición")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th>
            @Html.DisplayName("Nivel")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LVNBAFranchis.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayersRole.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayersPosition.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayersState.Abrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level2k)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
