﻿@model PagedList.IPagedList<Liga.Domain.Entities.Players>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Jugadores</h2>

<p>
    @Html.ActionLink("Crear Jugador", "Create")
</p>

@using (Html.BeginForm("Index", "Players", FormMethod.Get))
{
    <p>
        Buscar por nombre jugador o equipo: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table table-striped small">
    <tr>
               
        <th>    
          @Html.ActionLink("Nombre", "Index", new { sortOrder=ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Equipo", "Index", new { sortOrder = ViewBag.TeamSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Rol")
        </th>
        <th>
            @Html.DisplayName("Posición")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th>
            @Html.DisplayName("Imagen")
        </th>
        <th>
            @Html.DisplayName("Nivel")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompleteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LVNBAFranchis.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayersRole.Rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayersPosition.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayersState.Abrev)
        </td>
        <td>
            <img class="img-thumbnail"  width="40" height="60" src="@item.FaceImage" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level2k)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
<p style="color:red; font-weight:bold">
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</p>
@Html.PagedListPager(Model , page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }))