﻿@model PagedList.IPagedList<Liga.Domain.Entities.Players>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Acciones a jugador";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";

}

<h2>Acciones en jugadores</h2>
@using (Html.BeginForm("PlayerActions", "Players", FormMethod.Get))
{
    <div class="row mb-5">
        <div class="col-md-6">
            Buscar por nombre jugador o equipo: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-outline-info d-inline">Buscar</button>
        </div>
    </div>
}
<table class="table table-striped small">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Equipo", "Index", new { sortOrder = ViewBag.TeamSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LVNBAFranchis.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditComission", new { id = item.Id })|
                @if (item.PlayersSalaries != null)
                {
                    <a href="/PlayersSalaries/Edit/@item.Id">Salario</a>
                }
                | @Html.ActionLink("Convertir FA", "ConvertFA", new { id = item.Id }) |
                @Html.ActionLink("Cortar", "CutPlayer", new { id = item.Id }) |
                @Html.ActionLink("Retirar", "RetirePlayer", new { id = item.Id }) |
                @Html.ActionLink("Cambiar equipo", "ChangePlayerTeam", new { id = item.Id }) |
                @Html.ActionLink("Fuera de NBA", "OutOfNBA", new { id = item.Id })

            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("PLayerActions", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script type="text/javascript">
    $(document).ready(function () {
        $('.pagination').children().addClass('page-item');
        $('.page-item').children().addClass('page-link');
    })
</script>