﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Retirar Jugador";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";

}

<h2>Retirar el jugador significa: </h2>
<div class="row mb-5 pb-5">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-header">
                Eliminar el salario que tiene el jugador.
            </div>
            <div class="card-body">
                Todos los años de contrato se borran.
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Eliminar su estado y su rol
            </div>
            <div class="card-body">
                El jugador ya no tiene equipo y por lo tanto no tiene rol ni estado contractual
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Dejar al jugador sin equipo
            </div>
            <div class="card-body">
                El jugador pasa a estar retirado. Se cierra su trayectoria y se genera un anuncio al respecto
            </div>
        </div>
    </div>
</div>

<fieldset>
    <legend>Jugador</legend>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("Equipo")
            </th>
            <th>
                @Html.Label("Retirado")
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.CompleteName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LVNBAFranchis.Name)
            </td>
            <td>
                @Html.CheckBoxFor(model => model.Retired)
            </td>
        </tr>
    </table>




</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row justify-content-end mt-4">
        @Html.ActionLink("Volver", "PlayerActions", null, new { @class = "btn btn-dark col-md-1 mr-2" })
        <input type="submit" class="btn btn-outline-danger col-md-2" value="Retirar jugador" />
    </div>
}