﻿@model Liga.Domain.Entities.PlayerCompleteInfo
 <script type="text/javascript">

     
</script>
<style>
.CSSTableGenerator {

	margin:0px;padding:0px;

	width:70px;

	border:1px solid #000000;

	

	-moz-border-radius-bottomleft:14px;

	border-bottom-left-radius:14px;

	border-bottom-left-radius:14px;

	

	-moz-border-radius-bottomright:14px;

	border-bottom-right-radius:14px;

	border-bottom-right-radius:14px;

	

	-moz-border-radius-topright:14px;

	border-top-right-radius:14px;

	border-top-right-radius:14px;

	

	-moz-border-radius-topleft:14px;

	border-top-left-radius:14px;

	border-top-left-radius:14px;

}.CSSTableGenerator table{

	width:70px;

	height:100%;

	margin:0px;padding:0px;

}.CSSTableGenerator tr:last-child td:last-child {

	-moz-border-radius-bottomright:14px;

	border-bottom-right-radius:14px;

	border-bottom-right-radius:14px;

}

.CSSTableGenerator table tr:first-child td:first-child {

	-moz-border-radius-topleft:14px;

	border-top-left-radius:14px;

	border-top-left-radius:14px;

}

.CSSTableGenerator table tr:first-child td:last-child {

	-moz-border-radius-topright:14px;

	border-top-right-radius:14px;

	border-top-right-radius:14px;

}.CSSTableGenerator tr:last-child td:first-child{

	-moz-border-radius-bottomleft:14px;

	border-bottom-left-radius:14px;

	border-bottom-left-radius:14px;

}.CSSTableGenerator tr:hover td{

	

}

.CSSTableGenerator tr:nth-child(odd){ background-color:#ffaa56; }

.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{

	vertical-align:middle;

	

	

	border:1px solid #000000;

	border-width:0px 1px 1px 0px;

	text-align:center;

	padding:7px;

	font-size:26px;

	font-family:Arial;

	font-weight:bold;

	color:red;

}.CSSTableGenerator tr:last-child td{

	border-width:0px 1px 0px 0px;
    height:30px;

}.CSSTableGenerator tr td:last-child{

	border-width:0px 0px 1px 0px;

}.CSSTableGenerator tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.CSSTableGenerator tr:first-child td{

	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

    background-color:#005fbf;

	border:0px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#ffffff;

    height:30px;


}

.CSSTableGenerator tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	

	background-color:#005fbf;

}

.CSSTableGenerator tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.CSSTableGenerator tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}
.CSSTableGenerator tr:last-child td:last-child{

	border-width:0px 0px 1px 1px;
    font-size:12px;
    color:Black;
    
}
.CSSTableGenerator tr:first-child td:first-child{

	border-width:0px 0px 1px 1px;
    font-size:14px;
    
}
</style>
<td style=" text-align:center;width:250px; height:200px; background-image:url('@Url.Content("~/Images/Common/")bfield.gif')">
    <table style="width:230px;color:black; font-size:30px;  font-weight:bold;text-align:right">
        @if (Model.PositionRank.PlayerStat != null)
        {
    <tr style="width:100%"><td>FG: @Model.PositionRank.PlayerStat.FG %</td></tr>
    <tr  style="width:100%"><td>F3: @Model.PositionRank.PlayerStat.F3G %</td></tr>
    <tr  style="width:100%"><td>FT: @Model.PositionRank.PlayerStat.FT %</td></tr>
        }
        else
        {
    <tr><td>FG: -</td></tr>
    <tr><td>F3: -</td></tr>
    <tr><td>FT: -</td></tr>      
        }
    </table>
</td>
  @if(Model.PositionRank.PlayerStat != null)
    {
<td>

    <table>
    <tr><td align="center" style="color:white; font-size:16px; font-weight:bold;" colspan="6">Rankings Temp. Regular</td></tr>
    <tr>
                                                        <td><div class="CSSTableGenerator" >
<table style="" >
		<tr> 
			<td>
				MPG
			</td>
        </tr>
        <tr style="height:70px; ">
            <td>@String.Format("{0}", @Model.PositionRank.PosMPG.POS)</td>
        </tr>
        <tr>
            <td>@String.Format("{0:f0}", @Model.PositionRank.PosMPG.MPG)</td>
        </tr>

    </table></div></td>
                                                        <td><div class="CSSTableGenerator" >
<table style="" >
		<tr> 
			<td>
				PPG
			</td>
        </tr>

        <tr style="height:70px; ">
            <td>@String.Format("{0}", @Model.PositionRank.PosPPG.POS)º</td>
        </tr>
        <tr>
            <td>@String.Format("{0:f1}", @Model.PositionRank.PosPPG.PPG)</td>
        </tr>

    </table></div></td>
                                                        <td><div class="CSSTableGenerator" >
<table style="" >
		<tr> 
			<td>
				RPG
			</td>
        </tr>
        <tr style="height:70px; ">
            <td>@String.Format("{0}", @Model.PositionRank.PosRPG.POS)º</td>
        </tr>
        <tr>
            <td>@String.Format("{0:f1}", @Model.PositionRank.PosRPG.RPG)</td>
        </tr>
    </table></div></td>
                                                        <td><div class="CSSTableGenerator" >
<table style="" >
		<tr> 
			<td>
				APG
			</td>
        </tr>
        <tr style="height:70px; ">
            <td>@String.Format("{0}", @Model.PositionRank.PosAPG.POS)º</td>
        </tr>
        <tr>
            <td>@String.Format("{0:f1}", @Model.PositionRank.PosAPG.APG)</td>
        </tr>
    </table></div></td>
                                                        <td><div class="CSSTableGenerator" >
<table style="" >
		<tr> 
			<td>
				SPG
			</td>
        </tr>
        <tr style="height:70px; ">
            <td>@String.Format("{0}", @Model.PositionRank.PosSPG.POS)º</td>
        </tr>
        <tr>
            <td>@String.Format("{0:f1}", @Model.PositionRank.PosSPG.SPG)</td>
        </tr>
    </table></div></td>
                                                        <td><div class="CSSTableGenerator" >
<table style="" >
		<tr> 
			<td>
				BPG
			</td>
        </tr>
        <tr style="height:70px; ">
            <td>@String.Format("{0}", @Model.PositionRank.PosBPG.POS)º</td>
        </tr>
        <tr>
            <td>@String.Format("{0:f1}", @Model.PositionRank.PosBPG.BPG)</td>
        </tr>
    </table></div></td>

    </tr>
    </table>
  
</td>
  }
else
{
      <td></td>
  }