﻿@model Liga.Domain.Entities.PlayerCompleteInfo
<div style="width:750px">

<img   width="90px" height="119px" src='@Url.Content("../Images/Common/trofeo.jpg")' />

<table border="0" style="background-color:black;float:right">
    <tr>
        <td>
            @foreach (var premio in Model.PlayerAwards.GroupBy(x=>x.IdAward))
            {
                var premiosYear = "";
                foreach( var aYear in premio)
                {
                    if (premiosYear == "")
                    {
                        premiosYear ="" + (aYear.Year + 1);
                    }
                    else
                    {
                        premiosYear = premiosYear + " || " + (aYear.Year + 1);
                    }
                }   
                    
                    
                <span>
                    <img width="100px" title="@premio.First().Award.Description &#13; Años: @premiosYear "  src="~/Images/Common/awards/@premio.First().Award.Image" />
                    <span style="color:yellow;font-size:25px;font-weight:bold">X </span><span style="color:yellow;font-size:50px;font-weight:bold">@premio.Count()</span>
                </span>
               
                
            }
        </td>
    </tr>
</table>
<table border="1" style=" text-align:center; background-color:gray; border:1; border-color:Gray; width:70% ; float:right">
<tr><td style="color:yellow;font-weight:bold" colspan="4">Desglose de Premios</td></tr>
<tr style="color:Black">
<th>Fecha</th><th>Temporada</th><th>Equipo</th><th>Premio</th>
</tr>
@foreach (var item in @Model.PlayerAwards)
{
 <tr>
<td>@String.Format("{0:MMM yyyy}", @item.AwardDate)</td>
<td>
    @if (item.AwardDate.Month > 8)
    {
        var temp = @item.AwardDate.Year + 1;
        <span>@item.AwardDate.Year / @temp </span>
    }
    else
    {
        var temp = @item.AwardDate.Year - 1;
        <span>@temp / @item.AwardDate.Year   </span>
    }
</td>
<td>
    @if (@item.LVNBAFranchis != null)
    {
    <img   width="30px" height="30px" src='@Url.Content("~/Images/Common/teams/BigLogos/")@item.LVNBAFranchis.Icono' />
    }
</td>
<td>@item.Award.Description </td>
</tr>   
}

</table>
    </div>
<br /><br /><br />
