﻿@model Liga.Domain.Entities.PlayerCompleteInfo
<div style="width:750px">
<img   width="179px" height="238px" src='@Url.Content("../Images/Common/balonfuego.jpg")' />
<table border="1" style="float:right; text-align:center; background-color:gray; border:1; border-color:Gray; width:70% ">
<tr style="color:Black">
<th>Fecha</th><th>Equipo</th><th>Traspaso</th>
</tr>
 <tr>
     <td colspan="3">        <div style="height:350px; align-content:center"> 
        <img  width="300px" src="http://www.jnc.gov.jo/img/Website_Under_Construction2.gif" />

        </div></td>
</tr>
@foreach (var item in @Model.PlayerHistories)
{
 <tr>
<td style="font-weight:bold; font-size:large">@item.StartDate.ToShortDateString() - 
@if (@item.EndDate != null)
{
   @item.EndDate.Value.ToShortDateString()
}
</td>
<td><img   width="30px" height="40px" src='@Url.Content("~/Images/Common/teams/BigLogos/")@item.LVNBAFranchis.Icono' /> </td>

<td>
@if (@item.IdTransfer != null)
{
    @item.Transfer.TransferDate
}
else
{
 @Html.Label("FALTA POR HACER")   
}
</td>

</tr>  
    
}

</table>
</div>
<br /><br /><br />