﻿@model IEnumerable<Liga.Domain.Entities.LastGame>
<div style="color:Yellow; font-size:larger; font-weight:bold">Last Three Games</div>
<table  border="1" style=" text-align:center; background-color:gray; border:1; border-color:Gray; width:100%">
<tr style="color:Black; border-bottom-width:1px; border-bottom-color:Black">
<th>Date</th><th>Opponent</th><th>Result</th><th>MIN</th><th>FGM-A</th><th>3PM-A</th><th>FTM-A</th><th>OFF</th><th>DEF</th><th>REB</th><th>AST</th>
<th>STL</th><th>BLK</th><th>TO</th><th>PF</th><th>PTS</th>
</tr>
@foreach (var item in Model)
{
    <tr>
    <td>@String.Format("{0:dd MMM}",@item.gameDate)</td>
    <td>@item.Opponent</td>
    <td>@item.Result</td>
        @if (item.MIN == 0)
        {<td style="color:red">NP</td>
        }
        else
        {
    <td>@String.Format("{0:f0}", @item.MIN)</td>}
    <td>@item.FG</td>
    <td>@item.C3P</td>
    <td>@item.FT</td>
    <td>@String.Format("{0:f0}",@item.rofs)</td>
    <td>@String.Format("{0:f0}",@item.rdefs)</td>
    <td>@String.Format("{0:f0}",@item.rebs)</td>
    <td>@String.Format("{0:f0}",@item.asss)</td>
    <td>@String.Format("{0:f0}",@item.stls)</td>
    <td>@String.Format("{0:f0}",@item.blks)</td>
    <td>@String.Format("{0:f0}",@item.trns)</td>
    <td>@String.Format("{0:f0}",@item.fols)</td>
    <td>@String.Format("{0:f0}",@item.pnts)</td>
    </tr>
}
</table>