﻿@model Liga.Domain.Entities.PlayerCompleteInfo
<div style="width:750px">

    <table border="0" style="border:none">
@*<tr style="margin:0px; padding:0px;height:20px">
     <td style="height:20px;"><p style="width:200px;height:20px;color:Red;  font-weight:bold">k </p>
    </td>
    <td style="max-height:20px;"><p style="width:200px;height:20px; font-size:smaller; font-weight:bold">  Rol</p> </td>
    <td style="max-height:20px;" align="right"><p style="width:200px;height:20px; font-size:smaller; font-weight:bold">  Status</p> </td>
    </tr>*@
    <tr>
    <td><p style="width:200px;color:Red; font-size:larger; font-weight:bold">@Html.DisplayFor(model => model.Player.CompleteName)</p>
    </td>
@*    <td><p style=" font-size:larger; font-weight:bold"> |  @Html.DisplayFor(model => model.Player.PlayersPosition.Description)</p> </td>
    <td><p style=" font-size:larger; font-weight:bold"> |  @Html.DisplayFor(model => model.Player.LVNBAFranchis.Abbreviation)</p> </td>
    <td><img   width="30px" height="40px" src='@Url.Content("~/Images/Common/teams/BigLogos/")@Model.Player.LVNBAFranchis.Icono'/></td>
    <td><p style="color:Red; font-size:x-large; font-weight:bold">  @Html.DisplayFor(model => model.Player.Level2k)</p> </td>*@
    <td><p style="width:200px; font-size:medium;color:Yellow; font-weight:bold">  @Html.DisplayFor(model => model.Player.PlayersRole.Rol)</p> </td>
    <td align="right"><p style="width:200px; color:Red; font-size:medium; font-weight:bold">  @Html.DisplayFor(model => model.Player.PlayersState.State)</p> </td>

    </tr>
    <tr><td colspan="1" rowspan="2"><img   width="270px" height="200px" src='@Model.Player.MainImage' /></td>
    <td  valign="top">    
                <table border="1" style= " width:200px; border-style:dashed">
                <tr>
                    <td colspan="3"  style="color:Yellow; font-size:larger; font-weight:bold">Estadísticas Actuales</td>
                </tr>
                <tr>
                    <td  style="text-align:center; color:Yellow; font-size:larger; font-weight:bold"></td> <td  style="text-align:center;color:Yellow; font-size:larger; font-weight:bold">RS</td> <td  style="text-align:center;color:Yellow; font-size:larger; font-weight:bold">PO</td>
                </tr>
                <tr><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;" >PPG</span></td>
                    <td style="text-align:center; font-size:larger;font-weight:bold">@Html.DisplayFor(model => model.PlayerStatThisRS.PPG)</td>
                     <td style="text-align:center; font-size:larger;font-weight:bold">@Html.DisplayFor(model => model.PlayerStatThisPlayoffs.PPG)</td>
                </tr>
                <tr>
                    <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;" >RPG</span></td>
                    <td style="text-align:center; font-size:larger;font-weight:bold">@Html.DisplayFor(model => model.PlayerStatThisRS.RPG)</td>
                     <td style="text-align:center; font-size:larger;font-weight:bold">@Html.DisplayFor(model => model.PlayerStatThisPlayoffs.RPG)</td>
                </tr>
                <tr>
                    <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;" >APG</span></td>
                    <td style="text-align:center; font-size:larger;font-weight:bold">@Html.DisplayFor(model => model.PlayerStatThisRS.APG)</td>
                     <td style="text-align:center; font-size:larger;font-weight:bold">@Html.DisplayFor(model => model.PlayerStatThisPlayoffs.APG)</td>

                </tr>
                </table> 

    </td>
    </tr>
    <tr><td valign="top">
                <table border="0" style= "">
                <tr><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;" >Edad:</span></td><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:yellowgreen;" >@String.Format("{0:d}", Model.Player.Age)</span></td></tr>
                <tr><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;" >Altura:</span></td><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:yellowgreen;" >@Html.DisplayFor(model => model.Player.Height) cms</span></td></tr>
                <tr><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;" >Peso:</span></td><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:yellowgreen;" >@Html.DisplayFor(model => model.Player.Weight) kgs</span></td></tr>
                <tr><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;" >Años Pro:</span></td><td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:yellowgreen;" >@Html.DisplayFor(model => model.Player.YearsPro)</span></td></tr>
                </table>
    
    </td></tr>
    </table>
    @{
        Html.RenderAction("StatsBySeason", "PlayerInfo", new { idPlayer = Model.Player.Id });
    } 
    @{
        Html.RenderAction("StatsByTeam", "PlayerInfo", new { idPlayer = Model.Player.Id });
    } 

</div>
