﻿@model Liga.Domain.Entities.PlayerCompleteInfo
<script type="text/javascript">

    jQuery(document).ready(function () {

       
    });
</script>
<style>
    .teamCuttedStyle {
        color:white;
        font-weight:bold;
        background-color:violet;
    }
    .teamBRStyle {
        color:black;
        font-weight:bold;
        background-color:yellow;
    }
    .teamTOStyle {
        color:white;
        font-weight:bold;
        background-color:red;
    }
    .teamPOStyle {
        color:white;
        font-weight:bold;
        background-color:blue;
    }
    .teamQOStyle {
        color:white;
        font-weight:bold;
        background-color:green;
    }
    .tituloStatus {
        font-weight: bold;
        color:yellow;
        text-decoration:underline;
        text-underline-position:initial;
        font-family: 'Arial Black';
        font-size: 10pt; margin-bottom:10px;
      
    }
</style>
<div style="width:750px">
 
<table  border="1" style=" text-align:center; background-color:gray; border:1; border-color:Gray; width:100%">
<tr style="color:Black; border-bottom-width:1px; border-bottom-color:Black">
    <th>BR</th>
    <th>Salario 1</th>
    <th>Salario 2</th>
    <th>Salario 3</th>
    <th>Salario 4</th>
    <th>Salario 5</th>
    <th>Salario 6</th>

    </tr>
    <tr>
    <td id="BirdRights">@Html.DisplayFor(model => model.Player.BirdRights)</td>
    <td id="sal1">@Html.DisplayFor(model => model.PlayerSalary.Salary1,"MyDecimalTemplate")</td>
    <td id="sal2">@Html.DisplayFor(model => model.PlayerSalary.Salary2,"MyDecimalTemplate")</td>  
    <td id="sal3">@Html.DisplayFor(model => model.PlayerSalary.Salary3,"MyDecimalTemplate")</td>    
    <td id="sal4">@Html.DisplayFor(model => model.PlayerSalary.Salary4,"MyDecimalTemplate")</td>  
    <td id="sal5">@Html.DisplayFor(model => model.PlayerSalary.Salary5,"MyDecimalTemplate")</td>
    <td id="sal6">@Html.DisplayFor(model => model.PlayerSalary.Salary6,"MyDecimalTemplate")</td>
    </tr>
    <tr style="visibility:hidden;visibility:collapse ">
     <td></td>
    <td id="csal1">@Html.DisplayFor(model => model.PlayerSalary.SalaryCondition.Abrev)</td>
    <td id="csal2">@Html.DisplayFor(model => model.PlayerSalary.SalaryCondition1.Abrev)</td>  
    <td id="csal3">@Html.DisplayFor(model => model.PlayerSalary.SalaryCondition2.Abrev)</td>    
    <td id="csal4">@Html.DisplayFor(model => model.PlayerSalary.SalaryCondition3.Abrev)</td>  
    <td id="csal5">@Html.DisplayFor(model => model.PlayerSalary.SalaryCondition4.Abrev)</td>
    <td id="csal6">@Html.DisplayFor(model => model.PlayerSalary.SalaryCondition5.Abrev)</td>
    </tr>

</table>
<table style="width:100%">
<tr>
    @if(@Model.Player.BirdRights > 2)
    {
    <td style="width:100% ;font-size:smaller;color:yellow; font-weight:bold" colspan="2">Bird Rights: SI</td>  

    }
    else
    {
       <td style="width:100% ;font-size:smaller;color:green; font-weight:bold" colspan="2">Bird Rights: NO(@Model.Player.BirdRights)</td>  
    }
</tr>
<tr>

    <td style="width:25%">    
        <p style=" font-size:medium; font-weight:bold"> Situación: </p>
        <p style="color:Red; font-size:10pt; font-weight:bold"> @Html.DisplayFor(model => model.Player.PlayersState.State)</p>

    </td>
    <td valign="top" style="width:75%" rowspan="1"><p style=" font-size:larger; font-weight:bold"></p>@Html.DisplayFor(model => model.Player.ManagerAdvert)</td>
</tr>
<tr>
        <td style="width:25%">    <p style=" font-size:medium; font-weight:bold"> Rol actual: </p>
            <p style="color:Red; font-size:10pt; font-weight:bold"> @Html.DisplayFor(model => model.Player.PlayersRole.Rol)</p> 

        </td>
        <td valign="top" style="width:75%" rowspan="1"><p style=" font-size:larger; font-weight:bold">Opinión del manager:</p>@Html.DisplayFor(model => model.Player.ManagerOpinion)</td>

</tr>
<tr>

        <td colspan="2" valign="top" style="width:100%" rowspan="1"><p style=" font-size:larger; font-weight:bold">Necesidades del equipo:</p>@Html.DisplayFor(model => model.Player.LVNBAFranchis.Needs)</td>

</tr>
</table>



</div>

