﻿@
@model IEnumerable<Liga.Web.UI.Controllers.AlphabeticalMapping<Players>>

@{
    ViewBag.Title = "Jugadores Retirados";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script>
    $(function () {
        $("#tabs").tabs({
            selected: 0,
            ajaxOptions: {
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                }
            }
        });
        getSideBarPlayersMenu();
    });

    

	</script>
<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/AllPlayers.css")" type="text/css" />

    <div style="width:750px; float:left; padding-top:10px; padding-left:10px" id="tabs-1">
        <div id="player-listing">
            <div id="search-instructions">
                Usa los enlaces para encontrar a tus jugadores favoritos ordenados alfabéticamente por el apellido
            </div>
            <div id="jumpto">
                <a href="#A" id="A_4">A</a> <a href="#B" id="A_4">B</a> <a href="#C" id="A_4">C</a> <a href="#D" id="A_4">D</a> <a href="#E" id="A_4">E</a> <a href="#F" id="A_4">F</a> <a href="#G" id="A_4">G</a> <a href="#H" id="A_4">H</a> <a href="#I" id="A_4">I</a> <a href="#J" id="A_4">J</a> <a href="#K" id="A_4">K</a> <a href="#L" id="A_4">L</a> <a href="#M" id="A_4">M</a> <a href="#N" id="A_4">N</a> <a href="#O" id="A_4">O</a> <a href="#P" id="A_4">P</a> <a href="#Q" id="A_4">Q</a> <a href="#R" id="A_4">R</a> <a href="#S" id="A_4">S</a> <a href="#T" id="A_4">T</a> <a href="#U" id="A_4">U</a> <a href="#V" id="A_4">V</a> <a href="#W" id="A_4">W</a> <a href="#X" id="A_4">X</a> <a href="#Y" id="A_4">Y</a> <a href="#Z" id="A_4">Z</a>
            </div>
        </div>

        <div id="directorio">

                @foreach (var item in Model)
{
    <div id="DIV_2">
        <div id="@item.FirstLetter" class="Letra">
            <span id="SPAN_4">@item.FirstLetter</span> <a href="#top" id="A_5">Ir Arriba</a>
        </div>
        <div class="JugadoresPorLetra">
            <div id="DIV_7">
            </div>

            @{int iRow = 1;
            int iTotal = item.Items.Count();


            @:<div class="PlayerColumn">
                                foreach (var player in item.Items)
                                {

                                    if (iRow > (iTotal / 3))
                                    {
                                        @:</div>
                                    @:<div class="PlayerColumn">
                                    }
                                   
                                    <a href="@Url.Action("GetPlayerInfoSinModal","PlayerInfo", new {  idPlayer = player.Id })"  id="A_9">@player.CompleteName</a>
                                    iRow++;
                                }
                                @:</div>


            }
        </div>

    </div>
}
                        }

        </div>
    </div>



<div id="dialog-modal" style=" width:900px; height:800px; display:none" title="Basic modal dialog">
    <div id="FillTable"></div>
</div>
<div id="loading-image" style="border:double; border-color:red;
                        background-color:white;width:100px; height:100px; display:none;position:absolute;left:50%;top:50%; margin:-50px 0px 0px -50px;">
    <img style=" width:70px; position: absolute;    margin: auto;    top: 0;    left: 0;    right: 0;    bottom: 0;" src="~/Images/Common/basket.gif" />
</div>





