﻿@model IEnumerable<Liga.Domain.Entities.PlayerStatisticsRSPOByTeam>
<span style="color:White; font-size:larger; font-weight:bold">Medias por equipo</span>
<table  border="1" style=" text-align:center; background-color:gray; border:1; border-color:Gray; width:100%">
<tr style="color:Black; border-bottom-width:1px; border-bottom-color:Black">
<th>Temp.</th>
   <th>Tipo</th><th>Team</th>
    <th>G</th><th>GS</th><th>MPG</th><th>FG%</th><th>3P%</th><th>FT%</th><th>OFF</th><th>DEF</th><th>RPG</th><th>APG</th>
<th>SPG</th><th>BPG</th><th>TO</th><th>PF</th><th>PPG</th>
</tr>
@foreach (var item in Model)
{
    var colorPofs = "white";
    if(item.Tipo == "P")
    {
        colorPofs = "yellow";
    }
    else
       {
           colorPofs = "white";
        }
    <tr style="color:@colorPofs;font-weight:bold">
    <td>@item.Season</td>
    <td>@item.Tipo</td>
 <td>@item.Team</td>
    <td>@item.G</td>
    <td>@item.GS</td>
    <td>@String.Format("{0:f0}", @item.MPG)</td>
    <td>@item.FG</td>
    <td>@item.F3G</td>
    <td>@item.FT</td>
    <td>@String.Format("{0:f1}",@item.OFR)</td>
    <td>@String.Format("{0:f1}",@item.DEF)</td>
    <td>@String.Format("{0:f1}",@item.RPG)</td>
    <td>@String.Format("{0:f1}",@item.APG)</td>
    <td>@String.Format("{0:f1}",@item.SPG)</td>
    <td>@String.Format("{0:f1}",@item.BPG)</td>
    <td>@String.Format("{0:f1}",@item.TOO)</td>
    <td>@String.Format("{0:f1}",@item.PF)</td>
    <td>@String.Format("{0:f1}",@item.PPG)</td>
    </tr>
}
</table>