﻿@model IEnumerable<List<Liga.Domain.Entities.Clasificacion>>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
    }
    <script>
        $(function () {
            getSideBarInStanding();
        });


    </script>
    <a href="" alt="" width="40" height="50" id="boton"></a>
    <br />
    <div class="col-md-1">
        <label for="idSeason">Temporadas: </label>
    </div>
    <div class="col-md-3">
        <select class="form-control" name="idSeason" id="idSeason">
            @foreach (var season in ViewBag.Seasons)
            {
                if (season == ViewBag.idSeason)
                {
                    <option value="@season" selected="selected">Temporada @season</option>
                }
                else
                {
                    <option value="@season">Temporada @season</option>
                }
            }
        </select>
        <br />
    </div>
    <div class="card border-dark">
        <div class="card-header">Eastern Conference</div>
        <div class="card-body text-dark">
            @{var bFirst = false; var idPrincipal = 0;}
            @foreach (var clasi in Model)
            {
                if (clasi.Count != 0)
                {
                    if (clasi.First().TeamInfo.IdDivision != 4 && bFirst == false)
                    {
                        bFirst = true;
                        idPrincipal = clasi.First().id;
                        <table class="table table-striped small">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2">@clasi.First().TeamInfo.Division.Division1</th>
                                    <th>G</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>PCT</th>
                                    <th>CONF</th>
                                    <th>DIV</th>
                                    <th>HOME</th>
                                    <th>ROAD</th>
                                    <th>L10</th>
                                    <th>STREAK</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in clasi)
                                {
                                    <tr>
                                        <td><img width="20px" height="20px" src='@Url.Content("~/Images/Common/teams/Iconos/")@item.TeamInfo.Icono' /></td>
                                        <td style="font-weight:bold;padding-left:5px; text-align:left"><a style="color:black;text-decoration:underline" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = item.TeamInfo.Id })" title="@item.Name">@item.Name</a></td>
                                        <td>@item.G</td>
                                        <td>@item.W</td>
                                        <td>@item.L</td>
                                        <td>@String.Format("{0:f3}", @item.Pct)</td>
                                        <td>@item.Conf</td>
                                        <td>@item.Division</td>
                                        <td>@item.Casa</td>
                                        <td>@item.Fuera</td>
                                        <td>@item.L10</td>
                                        <td>@item.Racha</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            }
        </div>
    </div>
    <hr />
    <div class="card border-dark">
        <div class="card-header">Western Conference</div>
        <div class="card-body text-dark">
            @foreach (var clasi in Model)
            {
                if (clasi.Count != 0)
                {
                    if (clasi.First().TeamInfo.IdDivision != 4 && clasi.First().id != idPrincipal)
                    {
                        <table class="table table-striped small">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="2">@clasi.First().TeamInfo.Division.Division1</th>
                                    <th>G</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>PCT</th>
                                    <th>CONF</th>
                                    <th>DIV</th>
                                    <th>HOME</th>
                                    <th>ROAD</th>
                                    <th>L10</th>
                                    <th>STREAK</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in clasi)
                                {
                                    <tr>
                                        <td><img width="20px" height="20px" src='@Url.Content("~/Images/Common/teams/Iconos/")@item.TeamInfo.Icono' /></td>
                                        <td style="font-weight:bold;padding-left:5px; text-align:left"><a style="color:black;text-decoration:underline" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = item.TeamInfo.Id })" title="@item.Name">@item.Name</a></td>
                                        <td>@item.G</td>
                                        <td>@item.W</td>
                                        <td>@item.L</td>
                                        <td>@String.Format("{0:f3}", @item.Pct)</td>
                                        <td>@item.Conf</td>
                                        <td>@item.Division</td>
                                        <td>@item.Casa</td>
                                        <td>@item.Fuera</td>
                                        <td>@item.L10</td>
                                        <td>@item.Racha</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            }
        </div>
    </div>
    <br />
    <br />
    <br />
    <script>
        $('#idSeason').on('change', function () {
            var id = this.value;
            var urlReal = '@Url.Action("Index", "TeamStandings")'+'?idSeason='+id;
            window.location.href = urlReal;
        });
    </script>
