﻿@model Liga.Domain.Entities.InjuryTypes

@{
    ViewBag.Title = "Tipos de lesión";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Borrar tipo de lesión</h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Tipos de lesión</legend>

    <div class="display-label">
            @Html.Label("Tipo lesión")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
            @Html.Label("Duración mínima")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinDuration)
    </div>

    <div class="display-label">
            @Html.Label("Duración máxima")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxDuration)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
