﻿@model Liga.Domain.Entities.PlayersPositions

@{
    ViewBag.Title = "Posiciones Jugador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Borrar Posición</h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Posiciones jugador</legend>

    <div class="display-label">
            @Html.Display("Posición")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position)
    </div>

    <div class="display-label">
            @Html.Display("Descripción")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
