﻿@model Liga.Domain.Entities.PlayersPositions

@{
    ViewBag.Title = "Posiciones Jugador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Posición</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Posiciones jugador</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.Display("Posición")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <div class="editor-label">
            @Html.Display("Descripción")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
