﻿@model IEnumerable<Liga.Domain.Entities.PlayersPositions>

@{
    ViewBag.Title = "Posiciones Jugador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Posiciones Jugador</h2>

<p>
    @Html.ActionLink("Crear posición", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Display("Posición")
        </th>
        <th>
            @Html.Display("Descripción")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
