﻿@model IEnumerable<List<Liga.Domain.Entities.Clasificacion>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script>
    $(function () {
        getSideBarInStanding();

        $("#Season").val(@ViewBag.Seleccionado);
        $("#Season").change(function (event, data) {
            var idSeason = $(this).val();
         
            sendQueryStandings(idSeason);

        });
       
        function sendQueryStandings(idSeason) {   
         
            var src = '@Url.Content("~/TeamStandings/Index?idSeason=")' + idSeason;
            $("#boton").attr("href", src);
            var linkEl = $("#boton");
            if (linkEl.attr('onclick') === undefined) {
                document.location = linkEl.attr('href');
            } else {
                linkEl.click();
            }
          //  $("#boton").trigger("click");
        }

    
    });


</script>
 <a href="" alt="" width="40" height="50"  id="boton"></a>
<br />
        <label for="Season">Temporada</label>
        <select name="Season" id="Season">
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>          
          <option value="2018">2018</option>
          <option value="2019" selected="selected">2019</option>
        </select>
<table class="table table-striped small">
    <tr style="font-size:larger; background:-o-linear-gradient(bottom, #2b5884 5%, #142c44 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2b5884), color-stop(1, #142c44) ); color:black;color:white; font-weight:bold"><td style="padding-left:5px;" colspan="12">Eastern Conference</td></tr>
@{var bFirst = false;}
@foreach (var clasi in Model)
{
    if (clasi.Count != 0)
    {
        if (clasi.First().TeamInfo.IdDivision == 4 && bFirst == false)
        {
            bFirst = true;
          <tr style="font-size:larger;background:-o-linear-gradient(bottom, #2b5884 5%, #142c44 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2b5884), color-stop(1, #142c44) );  font-weight:bold; color:white"><td style="padding-left:5px;" colspan="12">Western Conference</td></tr>
        }
    <tr style="text-align:center;background:-o-linear-gradient(bottom, #387abc 5%, #ffffff 100%);	
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #387abc), color-stop(1, #ffffff) ); font-weight:bold; color:black">
        <td colspan="2">@clasi.First().TeamInfo.Division.Division1</td><td>G</td><td>W</td><td>L</td><td>PCT</td><td>CONF</td><td>DIV</td>
        <td>HOME</td><td>ROAD</td><td>L10</td><td>STREAK</td></tr>
        foreach (var item in clasi)
        {
        <tr style="text-align:center; background-color:ghostwhite; color:black">
        <td><img   width="20px" height="20px" src='@Url.Content("~/Images/Common/teams/BigLogos/")@item.TeamInfo.Icono' /></td><td style="font-weight:bold;padding-left:5px; text-align:left"><a style="color:black;text-decoration:underline" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = item.TeamInfo.Id })" title="@item.Name">@item.Name</a></td><td>@item.G</td><td>@item.W</td><td>@item.L</td><td>@String.Format("{0:f3}", @item.Pct)</td><td>@item.Conf</td><td>@item.Division</td>
        <td>@item.Casa</td><td>@item.Fuera</td><td>@item.L10</td><td>@item.Racha</td>
        </tr>
        }
    }

}
</table>
