﻿@model IEnumerable<Liga.Domain.Entities.TeamStats>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Estadisticas";
        Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
        string message = ViewBag.Message;
    }
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12">
                <h2>Estadisticas</h2>
            </div>
            @{
                if (message != null && message != "")
                {
                    <div class="col-md-12">
                        <ul><li style="color: red;">@message</li></ul>
                    </div>
                }
            }
            <div class="col-md-2">
                <label for="idSeason">Ordenar Por: </label>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="orderBy" id="orderBy">
                    <option value="FGM">FGM</option>
                    <option value="FGA">FGA</option>
                    <option value="FG">FG</option>
                    <option value="FTM">FTM</option>
                    <option value="FTA">FTA</option>
                    <option value="FT">FT</option>
                    <option value="F3M">F3M</option>
                    <option value="F3A">F3A</option>
                    <option value="F3">F3</option>
                    <option value="RPG">RPG</option>
                    <option value="RDPG">RDPG</option>
                    <option value="ROPG">ROPG</option>
                    <option value="ASPG">ASPG</option>
                    <option value="TOPG">TOPG</option>
                    <option value="STPG">STPG</option>
                    <option value="BLPG">BLPG</option>
                    <option value="FOPG">FOPG</option>
                    <option value="PNTS">PNTS</option>
                </select>
                <br />
            </div>
            <div class="col-md-12">
                <table class="table table-striped small">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayName("Eq.")</th>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("G")</th>
                            <th>@Html.DisplayName("FGM")</th>
                            <th>@Html.DisplayName("FGA")</th>
                            <th>@Html.DisplayName("FG")</th>
                            <th>@Html.DisplayName("FTM")</th>
                            <th>@Html.DisplayName("FTA")</th>
                            <th>@Html.DisplayName("FT")</th>
                            <th>@Html.DisplayName("F3M")</th>

                            <th>@Html.DisplayName("F3A")</th>
                            <th>@Html.DisplayName("F3")</th>
                            <th>@Html.DisplayName("RPG")</th>
                            <th>@Html.DisplayName("RDPG")</th>
                            <th>@Html.DisplayName("ROPG")</th>
                            <th>@Html.DisplayName("ASPG")</th>
                            <th>@Html.DisplayName("TOPG")</th>

                            <th>@Html.DisplayName("STPG")</th>
                            <th>@Html.DisplayName("BLPG")</th>
                            <th>@Html.DisplayName("FOPG")</th>
                            <th>@Html.DisplayName("PNTS")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img width="25px" src="~/Images/Common/teams/Iconos/@item.Logo.Replace(".jpg", ".png")" /></td>
                                <td>@item.Name</td>
                                <td>@item.G</td>
                                <td>@string.Format("{0:N2}", @item.FGM)</td>
                                <td>@string.Format("{0:N2}", @item.FGA)</td>
                                <td>@string.Format("{0:N2}", @item.FG)</td>
                                <td>@string.Format("{0:N2}", @item.FTM)</td>
                                <td>@string.Format("{0:N2}", @item.FTA)</td>
                                <td>@string.Format("{0:N2}", @item.FT)</td>
                                <td>@string.Format("{0:N2}", @item.F3M)</td>
                                <td>@string.Format("{0:N2}", @item.F3A)</td>
                                <td>@string.Format("{0:N2}", @item.F3)</td>
                                <td>@string.Format("{0:N2}", @item.RPG)</td>
                                <td>@string.Format("{0:N2}", @item.RDPG)</td>
                                <td>@string.Format("{0:N2}", @item.ROPG)</td>
                                <td>@string.Format("{0:N2}", @item.ASPG)</td>
                                <td>@string.Format("{0:N2}", @item.TOPG)</td>
                                <td>@string.Format("{0:N2}", @item.STPG)</td>
                                <td>@string.Format("{0:N2}", @item.BLPG)</td>
                                <td>@string.Format("{0:N2}", @item.FOPG)</td>
                                <td>@string.Format("{0:N2}", @item.PNTS)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<script>
        $('#orderBy').on('change', function () {
            var orderBy = this.value;
            var urlReal = '@Url.Action("StatsTeam", "StatsTeams")'+'?orderBy='+orderBy;
            window.location.href = urlReal;
        });
        $('#orderBy').val("@ViewBag.CurrentSort");
</script>
