﻿@model  Liga.Web.UI.Controllers.RosterPlayers
@using Liga.Domain.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";

}
<script>

</script>
<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/Rosters.css")" type="text/css" />	

<div id="DIV_1">
    <div id="DIV_2">

        @*ESTE*@

        <div id="DIV_3">
            <div id="DIV_4">
                <div id="DIV_5">
                    <h4 id="H4_6">
                        Atlantic
                    </h4>
                </div>
                <div id="DIV_7">
                    <ul id="UL_8">
                        @foreach (LVNBAFranchises franchise in Model.equipos)
                        {

                            if (franchise.Division.Conference.Conferencia.ToUpper() == "EAST" && franchise.IdDivision == 1)
                            {
                                <li id="LI_9">
                                    <div id="DIV_10" style="background: rgba(0, 0, 0, 0) url(/Images/Common/teams/Iconos/@franchise.Icono) no-repeat scroll padding-box border-box; background-position: 15px 5px;">
                                        <h5 id="H5_11"><a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                                        <span id="SPAN_21"><a href="@Url.Action("TeamPlayers","Rosters", new {  idTab = 1, idTeam = franchise.Id })" id="A_22">Stats</a> | <a href="@Url.Action("TeamRosters","Rosters", new {  idTab = 3, idTeam = franchise.Id })" id="A_23">Schedule</a> | <a href="/Rosters/TeamPlayers?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="DIV_3">
            <div id="DIV_4">
                <div id="DIV_5">
                    <h4 id="H4_6">
                        Central
                    </h4>
                </div>
                <div id="DIV_7">
                    <ul id="UL_8">
                        @foreach (LVNBAFranchises franchise in Model.equipos)
                        {

                            if (franchise.Division.Conference.Conferencia.ToUpper() == "EAST" && franchise.IdDivision == 3)
                            {
                                <li id="LI_9">
                                    <div id="DIV_10" style="background: rgba(0, 0, 0, 0) url(/Images/Common/teams/Iconos/@franchise.Icono) no-repeat scroll padding-box border-box; background-position: 15px 5px;">
                                        <h5 id="H5_11"><a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                                        <span id="SPAN_21"><a href="@Url.Action("TeamPlayers","Rosters", new {  idTab = 1, idTeam = franchise.Id })" id="A_22">Stats</a> | <a href="@Url.Action("TeamRosters","Rosters", new {  idTab = 3, idTeam = franchise.Id })" id="A_23">Schedule</a> | <a href="/Rosters/TeamPlayers?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="DIV_185">
            <div id="DIV_186">
                <div id="DIV_187">
                    <h4 id="H4_188">
                        Southeast
                    </h4>
                </div>
                <div id="DIV_189">
                    <ul id="UL_190">
                        @foreach (LVNBAFranchises franchise in Model.equipos)
                        {

                            if (franchise.Division.Conference.Conferencia.ToUpper() == "EAST" && franchise.IdDivision == 2)
                            {
                                <li id="LI_9">
                                    <div id="DIV_10" style="background: rgba(0, 0, 0, 0) url(/Images/Common/teams/Iconos/@franchise.Icono) no-repeat scroll padding-box border-box; background-position: 15px 5px;">
                                        <h5 id="H5_11"><a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                                        <span id="SPAN_21"><a href="@Url.Action("TeamPlayers","Rosters", new {  idTab = 1, idTeam = franchise.Id })" id="A_22">Stats</a> | <a href="@Url.Action("TeamRosters","Rosters", new {  idTab = 3, idTeam = franchise.Id })" id="A_23">Schedule</a> | <a href="/Rosters/TeamPlayers?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>


        @*OESTE*@
        <div id="DIV_3">
            <div id="DIV_4">
                <div id="DIV_5">
                    <h4 id="H4_6">
                        Pacific
                    </h4>
                </div>
                <div id="DIV_7">
                    <ul id="UL_8">
                        @foreach (LVNBAFranchises franchise in Model.equipos)
                        {

                            if (franchise.Division.Conference.Conferencia.ToUpper() == "WEST" && franchise.IdDivision == 5)
                            {
                                <li id="LI_9">
                                    <div id="DIV_10" style="background: rgba(0, 0, 0, 0) url(/Images/Common/teams/Iconos/@franchise.Icono) no-repeat scroll padding-box border-box; background-position: 15px 5px;">
                                        <h5 id="H5_11"><a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                                        <span id="SPAN_21"><a href="@Url.Action("TeamPlayers","Rosters", new {  idTab = 1, idTeam = franchise.Id })" id="A_22">Stats</a> | <a href="@Url.Action("TeamRosters","Rosters", new {  idTab = 3, idTeam = franchise.Id })"  id="A_23">Schedule</a> | <a href="/Rosters/TeamRosters?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="DIV_3">
            <div id="DIV_4">
                <div id="DIV_5">
                    <h4 id="H4_6">
                        Southwest
                    </h4>
                </div>
                <div id="DIV_7">
                    <ul id="UL_8">
                        @foreach (LVNBAFranchises franchise in Model.equipos)
                        {

                            if (franchise.Division.Conference.Conferencia.ToUpper() == "WEST" && franchise.IdDivision == 6)
                            {
                                <li id="LI_9">
                                    <div id="DIV_10" style="background: rgba(0, 0, 0, 0) url(/Images/Common/teams/Iconos/@franchise.Icono) no-repeat scroll padding-box border-box; background-position: 15px 5px;">
                                        <h5 id="H5_11"><a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                                        <span id="SPAN_21"><a href="@Url.Action("TeamPlayers","Rosters", new {  idTab = 1, idTeam = franchise.Id })" id="A_22">Stats</a> | <a href="@Url.Action("TeamRosters","Rosters", new {  idTab = 3, idTeam = franchise.Id })" id="A_23">Schedule</a> | <a href="/Rosters/TeamPlayers?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
        <div id="DIV_185">
            <div id="DIV_186">
                <div id="DIV_187">
                    <h4 id="H4_188">
                        Northwest
                    </h4>
                </div>
                <div id="DIV_189">
                    <ul id="UL_190">
                        @foreach (LVNBAFranchises franchise in Model.equipos)
                        {

                            if (franchise.Division.Conference.Conferencia.ToUpper() == "WEST" && franchise.IdDivision == 4)
                            {
                                <li id="LI_9">
                                    <div id="DIV_10" style="background: rgba(0, 0, 0, 0) url(/Images/Common/teams/Iconos/@franchise.Icono) no-repeat scroll padding-box border-box; background-position: 15px 5px;">
                                        <h5 id="H5_11"><a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                                        <span id="SPAN_21"><a href="@Url.Action("TeamPlayers","Rosters", new {  idTab = 1, idTeam = franchise.Id })" id="A_22">Stats</a> | <a href="@Url.Action("TeamRosters","Rosters", new {  idTab = 3, idTeam = franchise.Id })" id="A_23">Schedule</a> | <a href="/Rosters/TeamPlayers?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>






    </div>
</div>
      