﻿@model Liga.Domain.Entities.Cronicas

	<head>
		<!-- Bring to you by http://www.CSSTableGenerator.com -->
		<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/OneResult.css")" type="text/css"/>	
	</head>
    <script type="text/javascript">
    
     $(document).ready(function (){

            function viewLargerImage($link) {

                var idPlayer = $link.attr("id");
                $.post('@Url.Action("GetPlayerInfo", "Players")', { idPlayer: idPlayer }, function (data) {
                    $("#FillTable").html(data);                $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    //var title = $link.attr("title");

                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: "Info",
                        height: 600,
                        width: 800,
                        modal: true,
                        resizable: false
                    });



                });
            }




    });
        </script>

	<div>
    <table width="750px">
    <tr>
    <td>
    <a href="link/to/trash/script/when/we/have/js/off" id="@Model.gameCronica.Id" title="@String.Format("{0:d}", @Model.gameCronica.gameDate) @Model.gameCronica.LVNBAFranchis.Abbreviation at @Model.gameCronica.LVNBAFranchis1.Abbreviation   @Model.gameCronica.idScoreLocal-@Model.gameCronica.idScoreAway" class="boxscore">
    <div class="CSSTableGenerator" >
    <table width="270px">
		<tr> 
			<td>
            @String.Format("{0:d}", @Model.gameCronica.gameDate)
			</td>
		</tr>

		<tr>
			<td style="color:Black">
				@Model.gameCronica.LVNBAFranchis.Name 
			</td>
			<td>
				<img height="30" width="40" src='@Url.Content("~/Images/Common/teams/Iconos/")@Model.gameCronica.LVNBAFranchis.Icono' />
			</td>
			<td style="	font-size:20px;">
				@Model.gameCronica.idScoreLocal
			</td>
		</tr>
		<tr>
			<td style="color:Black" >
				@Model.gameCronica.LVNBAFranchis1.Name 
			</td>
			<td>
				<img height="30" width="40" src='@Url.Content("~/Images/Common/teams/Iconos/")@Model.gameCronica.LVNBAFranchis1.Icono' />
			</td>
			<td style="	font-size:20px;">
				@Model.gameCronica.idScoreAway
			</td>
		</tr>
	</table>
    </div>
    </a>
    </td>
    <td style="width:200px">
    <a href="link/to/trash/script/when/we/have/js/off" id="@Model.gameCronica.Player.Id" title="Selecciona" class="pruebaLink">
    <table >
        <tr align="center">
        <td></td>
        <td style="font-family:Calibri; font-weight:bold; color: red">MVP</td>
        </tr>
		<tr align="center">
        	<td style="width:20%" align="center" >
			</td>
			<td align="center" >
                @{Html.RenderPartial("MinPlayerCard", @Model.gameCronica.Player);        }
			</td>
		</tr>
	</table>    
    </a>
    </td>
    <td style="width:450px; height:50px">
      <p style="font-size:24px">@Model.anuncioCronica.Post.Title</p>
      <p style="font-size:12px"><a class="detalleCronica" href="" id="@Model.postCronica.Id">Leer Crónica</a></p>
    </td>
  </tr>
  </table>
    </div>
       <div id="dialog-modal"  style=" width:600px; height:800px; display:none" title="Basic modal dialog">
                    <div id="FillTable"></div>
    </div>