﻿@model Liga.Domain.Entities.CronicasInfoList
@using Liga.Domain.Entities

@{
    ViewBag.Title = "Crónicas";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
    bool isPrevious = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNext = ViewBag.IsNextLinkVisible ?? false;
}
    <style>
        .boxScoreDialogClass{
                                 
                }
               
    </style>
<script>
    $(function () {

        $("#tabs").tabs({
            selected: 0,
            ajaxOptions: {
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                }
            }
        });


        
        
        getSideBarMenuForRoster();
        $("#tabs").tabs({ active: '@ViewBag.Tab' });
        $("#tabs").css("float", "right");


        function viewBoxScorer($link) {

                var idGame = $link.attr("id");
                $.post('@Url.Action("GetScoreInfo", "Results")', { idGame: idGame }, function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");

                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 600,
                        width: 1000,
                        modal: true,
                        dialogClass:'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                });



        }

        

        function viewLargerImage($link) {

                var idPlayer = $link.attr("id");
                $.post('@Url.Action("GetPlayerInfo", "Players")', { idPlayer: idPlayer }, function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    //var title = $link.attr("title");

                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: "Info",
                        height: 550,
                        width: 780,
                        modal: true,
                        resizable: false
                    });
                });



            }



             $(".boxscore").click(function (e) {
                e.preventDefault();
                var $item = $(this);
                viewBoxScorer($item);
               // return false;
             });
             $(".detalleCronica").click(function (e) {
                 e.preventDefault();
                 var $item = $(this);
                 viewCronica($item);
                 // return false;
             });
             $(".pruebaLink").click(function (e) {
                 e.preventDefault();
                 var $item = $(this);
                 viewLargerImage($item);
                 // return false;
             });
    });
    function getSideBarMenuForRoster() {
        var options = '';
        options += '<li><h2>Secciones</h2><ul>';

        options += '<li><a href="/Rosters/TeamRosters?idTeam=@Model.IdTeam"><span class="tab">General</span></a></li>';
            options += '<li><a href="/Rosters/TeamPlayers?idTeam=@Model.IdTeam"><span class="tab">Jugadores</span></a></li>';
@*                options += '<li><a href="/Rosters/TeamTrades?idTeam=@Model.IdTeam"><span class="tab">Traspasos</span></a></li>';*@
                options += '<li><a href="/Rosters/TeamNews?idTeam=@Model.IdTeam"><span class="tab">Día a día</span></a></li>';
                options += '<li><a href="/Rosters/TeamCronics?idTeam=@Model.IdTeam"><span class="tab">Crónicas</span></a></li>';


                options += '</ul></li>';
                jQuery('#firstListUL').html(options);
            }
    </script>
<div id="tabs"  style="float:left; width:780px">
	<ul>
		<li><a href="#tabs-1">Resultados</a></li>
	</ul>
	<div id="tabs-1">

        @if (isPrevious)
        {
            @Html.ActionLink("      < Anterior ","Index", new { id = ViewBag.PageNumber - 1 }, new { style = "font-weight: bold;color: Orange;" })
        }
        @if (isNext)
        {
            @Html.ActionLink("      Siguiente > ", "Index", new { id = ViewBag.PageNumber + 1 }, new { style = "font-weight: bold;color: Orange;" })
        }
        <p>Clicka en el resultado para ver el Boxscore</p>

        <div style="float:left">
        @foreach (Cronicas  cronica in Model.ListCronicas)
        {

            <div style=" text-align:center">
                      @{
            Html.RenderPartial("OneCronica", cronica);
                        }
            </div>
            <br /><br />

        }
        </div>

    </div>
</div>

