﻿ @using MvcJqGrid 
@model Liga.Domain.Entities.GeneralPlayersInfo

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script src="~/Scripts/i18n/grid.locale-es.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />

<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenuForRoster();
        $("#tabs").tabs({ active: '@ViewBag.Tab' });
        $("#tabs").css("float", "right");

       
        $(".statusIdPlayer").click(function () {
            @*            $.ajax({
                url: "@Url.Action("YourPartialView")",
                type: "GET",
                success: function (data) {
                    var htmlx = data; // the View

                    $("#contentMinCard").append(htmlx);
                    $("#contentMinCard").slideDown('slow');
                }
                });*@
            var idPlayer = $(this).attr("id");
            $.post('@Url.Action("GetPlayerCard", "PlayerInfo")', { idPlayer: idPlayer }, function (data) {
              
                $("#FillTableStatus").html(data);
                pintaCeldaSalario();

                                //$("#dialog:ui-dialog").dialog("destroy");
                                

                                //$("#imagenModal").attr("src", src);

                                //$("#dialog-modal").dialog({
                                //    title: 'Prueba',
                                //    height: 600,
                                //    width: 1000,
                                //    modal: true,
                                //    dialogClass: '',
                                //    resizable: false,
                                //    show: 'fade'
                                //});
                            });

       });
    });
    function pintaCeldaSalario() {

        for (i = 1; i < 7; i++) {
            var opcion = $('#csal' + i).text().trim();
            switch (opcion) {

                case 'TO':
                    $('#sal' + i).addClass("teamTOStyle");
                    break;
                case 'QO':
                    $('#sal' + i).addClass("teamQOStyle");
                    break;
                case 'PO':
                    $('#sal' + i).addClass("teamPOStyle");
                    break;
            }
        }
        var BR = $('#BirdRights').text().trim();
        if (BR == "3") {
            $('#BirdRights').addClass("teamBRStyle");
        }
        var Cutted = $('#csal1').text().trim();
        if (Cutted == "CU") {
            for (i = 1; i < 7; i++) {
                $('#sal' + i).removeClass();
                $('#sal' + i).addClass("teamCuttedStyle");
            }  
        }

        var Cutted = $('#csal1').text().trim();
        if (Cutted == "NNBA") {
            for (i = 1; i < 7; i++) {
                $('#sal' + i).removeClass();
                $('#sal' + i).text("Not NBA");
            }
        }
        //if ($('#csal2').text().trim() === 'TO') {
        //    $("#sal2").addClass("teamOptionStyle");
        //}
        //else {
        //    alert("pero que dices");
        //}
    };
    function getSideBarMenuForRoster() {
        var options = '';
        options += '<li><h2>Secciones</h2><ul>';

        options += '<li><a href="/Rosters/TeamRosters?idTeam=@Model.ListPlayers.First().ActualTeam"><span class="tab">General</span></a></li>';
        options += '<li><a href="/Rosters/TeamPlayers?idTeam=@Model.ListPlayers.First().ActualTeam"><span class="tab">Jugadores</span></a></li>';
 //       options += '<li><a href="/Rosters/TeamTrades?idTeam=@Model.ListPlayers.First().ActualTeam"><span class="tab">Traspasos</span></a></li>';
        options += '<li><a href="/Rosters/TeamNews?idTeam=@Model.ListPlayers.First().ActualTeam"><span class="tab">Día a día</span></a></li>';
        options += '<li><a href="/Rosters/TeamCronics?idTeam=@Model.ListPlayers.First().ActualTeam"><span class="tab">Crónicas</span></a></li>';


                options += '</ul></li>';
                jQuery('#firstListUL').html(options);

            }
</script>

<div id="tabs" style="width:850px; margin-left:0px">
  <ul>
    <li><a href="#tabs-1">Jugadores</a></li>
    <li><a href="#tabs-2">Estadísticas</a></li>
    <li><a href="#tabs-3">Status mercantil</a></li>
    <li><a href="#tabs-4">Roles jugador</a></li>
  </ul>
  <div id="tabs-1">

   @{
       Html.RenderPartial("PlayersInfoList",Model);
   }  </div>
  <div id="tabs-2">
      @{
       Html.RenderPartial("PlayersStats",Model);
   } 
  </div>
  <div id="tabs-3">
      @{
       Html.RenderPartial("PlayersStatus",Model);
   } 

  </div>
  <div id="tabs-4">
      @{
       Html.RenderPartial("PlayersRoles",Model);
   } 

  </div>
</div>
