﻿@model  Liga.Web.UI.Controllers.RosterPlayers
@using Liga.Domain.Entities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";

}
<div class="row mt-5 pt-5 mb-5 pb-5">
    <div class="card col-md-4">
        <div class="card-header">
            <h4>Atlantic</h4>
        </div>
        <div class="card-body">
            @foreach (var franchise in Model.equipos)
            {
                if (franchise.Division.Conference.Conferencia.ToUpper() == "EAST" && franchise.IdDivision == 1)
                {
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <img src="/Images/Common/teams/Iconos/@franchise.Icono" class="img-fluid" />
                        </div>
                        <div class="col-md-10">
                            <h5><a class="text-dark" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                            <span><a class="text-dark" href="/Rosters/TeamPlayers?idTab=2&idTeam=@franchise.Id" id="A_22">Stats</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTab=3&idTeam=@franchise.Id" id="A_23">Schedule</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-header">
            <h4 id="H4_6">
                Central
            </h4>
        </div>
        <div class="card-body">
            @foreach (var franchise in Model.equipos)
            {
                if (franchise.Division.Conference.Conferencia.ToUpper() == "EAST" && franchise.IdDivision == 3)
                {
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <img src="/Images/Common/teams/Iconos/@franchise.Icono" class="img-fluid" />
                        </div>
                        <div class="col-md-10">
                            <h5><a class="text-dark" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                            <span><a class="text-dark" href="/Rosters/TeamPlayers?idTab=2&idTeam=@franchise.Id" id="A_22">Stats</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTab=3&idTeam=@franchise.Id" id="A_23">Schedule</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-header">
            <h4 id="H4_188">
                Southeast
            </h4>
        </div>
        <div class="card-body">
            @foreach (var franchise in Model.equipos)
            {
                if (franchise.Division.Conference.Conferencia.ToUpper() == "EAST" && franchise.IdDivision == 2)
                {
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <img src="/Images/Common/teams/Iconos/@franchise.Icono" class="img-fluid" />
                        </div>
                        <div class="col-md-10">
                            <h5><a class="text-dark" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                            <span><a class="text-dark" href="/Rosters/TeamPlayers?idTab=2&idTeam=@franchise.Id" id="A_22">Stats</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTab=3&idTeam=@franchise.Id" id="A_23">Schedule</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>


    @*OESTE*@
    <div class="card col-md-4">
        <div class="card-header">
            <h4 id="H4_6">
                Pacific
            </h4>
        </div>
        <div class="card-body">
            @foreach (var franchise in Model.equipos)
            {
                if (franchise.Division.Conference.Conferencia.ToUpper() == "WEST" && franchise.IdDivision == 5)
                {
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <img src="/Images/Common/teams/Iconos/@franchise.Icono" class="img-fluid" />
                        </div>
                        <div class="col-md-10">
                            <h5><a class="text-dark" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                            <span><a class="text-dark" href="/Rosters/TeamPlayers?idTab=2&idTeam=@franchise.Id" id="A_22">Stats</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTab=3&idTeam=@franchise.Id" id="A_23">Schedule</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-header">
            <h4 id="H4_6">
                Southwest
            </h4>
        </div>
        <div class="card-body">
            @foreach (var franchise in Model.equipos)
            {
                if (franchise.Division.Conference.Conferencia.ToUpper() == "WEST" && franchise.IdDivision == 6)
                {
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <img src="/Images/Common/teams/Iconos/@franchise.Icono" class="img-fluid" />
                        </div>
                        <div class="col-md-10">
                            <h5><a class="text-dark" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                            <span><a class="text-dark" href="/Rosters/TeamPlayers?idTab=2&idTeam=@franchise.Id" id="A_22">Stats</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTab=3&idTeam=@franchise.Id" id="A_23">Schedule</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-header">
            <h4 id="H4_188">
                Northwest
            </h4>
        </div>
        <div class="card-body">
            @foreach (var franchise in Model.equipos)
            {
                if (franchise.Division.Conference.Conferencia.ToUpper() == "WEST" && franchise.IdDivision == 4)
                {
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <img src="/Images/Common/teams/Iconos/@franchise.Icono" class="img-fluid" />
                        </div>
                        <div class="col-md-10">
                            <h5><a class="text-dark" href="@Url.Action("TeamRosters", "Rosters", new { idTeam = franchise.Id })" id="A_12">@franchise.Name</a></h5>
                            <span><a class="text-dark" href="/Rosters/TeamPlayers?idTab=2&idTeam=@franchise.Id" id="A_22">Stats</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTab=3&idTeam=@franchise.Id" id="A_23">Schedule</a> | <a class="text-dark" href="/Rosters/TeamRosters?idTeam=@franchise.Id" id="A_24">Roster</a> </span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
