﻿@model Liga.Domain.Entities.GeneralFranchiseInfo

@{
    ViewBag.Title = "Equipo";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
        string tabJugadores = "";
        string listJugadores = "";
        string selectJugadores = "false";
        string tabEstadisticas = "";
        string listEstadisticas = "";
        string selectEstadisticas = "false";
        string tabStatus = "";
        string listStatus = "";
        string selectStatus = "false";
        string tabRoles = "";
        string listRoles = "";
        string selectRoles = "false";

        if (ViewBag.Tab == 2)
        {
            tabEstadisticas = "show active";
            listEstadisticas = "active";
            selectEstadisticas = "true";
        }
        else if (ViewBag.Tab == 3)
        {
            tabStatus = "show active";
            listStatus = "active";
            selectStatus = "true";
        }
        else
        {
            tabJugadores = "show active";
            listJugadores = "active";
            selectJugadores = "true";
        }
}
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.canvasTextRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.canvasAxisTickRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.json2.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.highlighter.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.cursor.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.pieRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot//plugins/jqplot.ohlcRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.barRenderer.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.pointLabels.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.canvasOverlay.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/syntaxhighlighter/scripts/shCore.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/syntaxhighlighter/scripts/shBrushJScript.min.js")'></script>
<script type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/syntaxhighlighter/scripts/shBrushXml.min.js")'></script>
<script src="~/Scripts/i18n/grid.locale-es.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />

<script type="text/javascript">
        $(document).ready(function () {
            getSideBarMenuForRoster();
            var options = {};
            $("#divManager").show("explode", options, 500);
            $.jqplot.config.enablePlugins = true;
            var Season = @ViewBag.Season

            var line1 = [[Season, salary1Div.textContent], [Season +1 , salary2Div.textContent], [Season+2, salary3Div.textContent],
                    [Season+3, salary4Div.textContent], [Season+4, salary5Div.textContent], [Season+5, salary6Div.textContent]];

            var grid = {
                gridLineWidth: 1.5,
                gridLineColor: 'red',
                drawGridlines: true
            };

            var plot1 = $.jqplot('chart1', [line1], {
                // Turns on animatino for all series in this plot.
                animate: true,
                // Will animate plot on calls to plot1.replot({resetAxes:true})
                animateReplot: true,
                cursor: {
                    show: true,
                    zoom: true,
                    looseZoom: true,
                    showTooltip: true
                },
                //title: 'Situación salarial',
                seriesDefaults: { renderer: $.jqplot.BarRenderer, rendererOptions: { varyBarColor: true } },
                series: [
                             {
                                 pointLabels: {
                                     show: true,
                                     labels: ['$' + salary1Div.textContent, '$' + salary2Div.textContent, '$' + salary3Div.textContent, '$' + salary4Div.textContent, '$' + salary5Div.textContent, '$' + salary6Div.textContent],
                                     formatString: "$%'d",
                                     location: "n",
                                     edgeTolerance: -15 //cuidado con esto, si no lo pongo no salia el primer label de los cojones
                                 },
                                 rendererOptions: {
                                     // speed up the animation a little bit.
                                     // This is a number of milliseconds.
                                     // Default for a line series is 2500.
                                     animation: {
                                         speed: 2000
                                     }
                                 }
                             }
                ],
                axesDefaults: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                    tickOptions: {
                        angle: -10,
                        fontSize: '10pt'
                    }
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                    },
                    yaxis: {
                        min: 0,
                        max: 120000000,
                        numberTicks: 5,
                        tickOptions: { formatString: "$%'d" }
                    }
                },
                canvasOverlay: {
                    show: true,
                    objects: [
                    {
                        horizontalLine: {
                            name: 'cap',
                            y: salaryTaxdiv.textContent.valueOf(),
                            lineWidth: 3,
                            xOffset: 0,
                            color: 'red',
                            shadow: false
                        }
                    },
                      {
                          horizontalLine: {
                              name: 'luxury',
                              y: luxuryDiv.textContent.valueOf(),
                              lineWidth: 3,
                              xOffset: 0,
                              color: 'yellow',
                              shadow: false
                          }
                      }
                    ]
                }
            });
        });

        function getSideBarMenuForRoster() {
            var options = '';
            options += '<li><h2>Secciones</h2><ul>';

            options += '<li><a href="/Rosters/TeamRosters?idTeam=@Model.Franchise.Id"><span class="tab">General</span></a></li>';
            options += '<li><a href="/Rosters/TeamPlayers?idTeam=@Model.Franchise.Id""><span class="tab">Jugadores</span></a></li>';
            options += '</ul></li>';
            jQuery('#firstListUL').html(options);

        }

</script>



<div hidden="hidden">@ViewBag.Season</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link @tabJugadores" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Info general</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link @tabEstadisticas" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Situación financiera</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link @tabStatus" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Situación deportiva</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade @tabJugadores" id="home" role="tabpanel" aria-labelledby="home-tab">
        @{
            Html.RenderPartial("TeamGeneralInfo", Model);
        }
    </div>
    <div class="tab-pane fade @tabEstadisticas" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        @{
            Html.RenderPartial("TeamFinancialInfo", Model);
        }
    </div>
    <div class="tab-pane fade @tabStatus" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        @{
            Html.RenderPartial("TeamSituation", Model);
        }
    </div>
</div>
<div id="pager"></div>
<div id="dialog-modal" style=" width:600px; height:800px; display:none" title="Basic modal dialog">
    <div id="FillTable"></div>
</div>
<div id="loading-image" style="border:double; border-color:red; background-color:white;width:100px; height:100px; display:none;position:absolute;left:50%;top:50%; margin:-50px 0px 0px -50px;">
    <img style=" width:70px; position: absolute;    margin: auto;    top: 0;    left: 0;    right: 0;    bottom: 0;" src="~/Images/Common/basket.gif" />
</div>