﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}

<h2> Borrar Reporte</h2>
<h3>Está seguro?</h3>
<fieldset>
    <legend>Jugadores</legend>
    <div class="display-label">
         @Html.Label("Fecha Reporte")
    </div>
    <div  style="font-weight:bold; color:orange ; font-size:20px" class="display-field" class="display-field">
        @Html.DisplayFor(model => model.gameDate)
    </div>
    <div class="display-label">
         @Html.Label("Fecha 2k")
    </div>
    <div  style="font-weight:bold; color:orange ; font-size:20px" class="display-field" class="display-field">
        @Html.DisplayFor(model => model.date2k)
    </div>
    <div class="display-label">
         @Html.Label("Partido")
    </div>
    <div style="font-weight:bold; color:orange ; font-size:20px" class="display-field">
     <img width="60px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisAway.Icono" />
          @Html.DisplayFor(model => model.LVNBAFranchisAway.Name) @@         @Html.DisplayFor(model => model.LVNBAFranchisLocal.Name)
     <img width="60px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisLocal.Icono" />
    </div>
    <div class="display-label">
         @Html.Label("Resultado")
    </div>
    <div  style="font-weight:bold; color:orange ; font-size:40px" class="display-field" class="display-field">
        @Html.DisplayFor(model => model.idScoreAway) - @Html.DisplayFor(model => model.idScoreLocal)
    </div>
      <div  style="font-weight:bold; color:green ; font-size:10px" class="display-field" class="display-field">
          Lista Jugadores que le restó lesión ese partido (se les aumentará en 1):<br />
          @foreach(var lesionadoEsePartido in Model.GamesInjuries)
          {
              <span style="color:Red">@lesionadoEsePartido.Player.CompleteName</span><br />
          }
        </div>
        <div  style="font-weight:bold; color:yellow ; font-size:10px" class="display-field" class="display-field">
          Lista Jugadores que se lesionaron en ese partido (se les quita la lesión):<br />
          @foreach(var lesionados in Model.InjuriesInGame)
          {
              <span style="color:Red">@lesionados.Player.CompleteName</span><br />
          }
    </div>


</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "AdminReports")
    </p>
}