﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "Editar Reporte";
    //Layout = "~/Views/Shared/_WebOneColumnForStats.cshtml";
    Layout = "~/Views/Shared/_WebWithoutTitleLayout.cshtml";
} 
<script src="~/Scripts/i18n/grid.locale-es.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />
		<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	

    <script type="text/javascript">
        $(document).ready(function () {
            var lastSel = 0;
            var selICol; //iCol of selected cell
            var selIRow; //iRow of selected cell
            $("#NotifyError").hide();
            $( "#ValidateReport" ).click(function() {
                getValidateStatus();
            });
            $( "#NotifyError" ).click(function() {
                notificarError();
            });

            grid = $("#statsTable"),
              getColumnIndexByName = function(grid,columnName) {
                  var cm = grid.jqGrid('getGridParam','colModel');
                  for (var i=0,l=cm.length; i<l; i++) {
                      if (cm[i].name===columnName) {
                          return i; // return the index
                      }
                  }
                  return -1;
              },
              getTextFromCell = function(cellNode) {
                  return cellNode.childNodes[0].nodeName === "INPUT"?
                         cellNode.childNodes[0].value:
                         cellNode.textContent || cellNode.innerText;
              },
              calculateTotal = function() {
                  var totalMins = 0, totalPoints = 0, totalRebounds = 0, totalAssists = 0, totalSteals = 0, totalBlocks = 0;
                  var totalTurnOvers = 0, totalTCM =0, totalTCA = 0 , totalC3TCA = 0, totalC3TCM = 0, totalTLA = 0, totalTLM = 0 , totalOff = 0, totalFouls = 0;
                  i=getColumnIndexByName(grid,'MIN'); // nth-child need 1-based index so we use (i+1) below
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalMins += Number(getTextFromCell(this));
                  });

                  i=getColumnIndexByName(grid,'PNTS'); // nth-child need 1-based index so we use (i+1) below
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalPoints += Number(getTextFromCell(this));
                  });   

                  i=getColumnIndexByName(grid,'REBS'); // nth-child need 1-based index so we use (i+1) below
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalRebounds += Number(getTextFromCell(this));
                  }); 

                  i=getColumnIndexByName(grid,'AST'); // nth-child need 1-based index so we use (i+1) below
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalAssists += Number(getTextFromCell(this));
                  }); 

                  i=getColumnIndexByName(grid,'ROB'); // nth-child need 1-based index so we use (i+1) below
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalSteals += Number(getTextFromCell(this));
                  });

                  i=getColumnIndexByName(grid,'TAP');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalBlocks += Number(getTextFromCell(this));
                  });


                  i=getColumnIndexByName(grid,'PER');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalTurnOvers += Number(getTextFromCell(this));
                  });

                  i=getColumnIndexByName(grid,'TCM');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalTCM += Number(getTextFromCell(this));
                  });
                 
                  i=getColumnIndexByName(grid,'TCA');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalTCA += Number(getTextFromCell(this));
                  });
                  
                  i=getColumnIndexByName(grid,'C3TCM');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalC3TCM += Number(getTextFromCell(this));
                  });
                                    
                  i=getColumnIndexByName(grid,'C3TCA');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalC3TCA += Number(getTextFromCell(this));
                  });   
                  
                  i=getColumnIndexByName(grid,'TLM');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalTLM += Number(getTextFromCell(this));
                  });

                  i=getColumnIndexByName(grid,'TLA');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalTLA += Number(getTextFromCell(this));
                  });


     
                  i=getColumnIndexByName(grid,'RO');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalOff += Number(getTextFromCell(this));
                  });

                  i=getColumnIndexByName(grid,'FP');
                  $("tbody > tr.jqgrow > td:nth-child("+(i+1)+")",grid[0]).each(function() {
                      totalFouls += Number(getTextFromCell(this));
                  });
                  
                  @{
                      var totalResultado = 0;
                      if (ViewBag.IdTeam == @Model.IdTeamAway)   
                      {
                            totalResultado = @Model.idScoreAway;     
                      }
                      else
                      {
                            totalResultado = @Model.idScoreLocal  ;  
                      }
                  }
                  
                  var totalTiros = 0;
                  var totalDos = 0;
                  var totalTres = 0;
                  var totalUno = totalTLA;
                  if(totalTCA > 0)
                  {
                      totalDos = (totalTCA - totalC3TCA) * 2;
                  }
                  if(totalC3TCA > 0)
                  {
                      totalTres = totalC3TCA * 3;
                  }
                  totalTiros = totalUno + totalDos + totalTres;

                  
                  var totalRes = 0;
                  totalRes = @totalResultado

                    if (totalTiros > totalRes)
                    {
                        $footRow.find('>td[aria-describedby="statsTable_TCM"]').css("color", "orange");
                        $footRow.find('>td[aria-describedby="statsTable_C3TCM"]').css("color", "orange");
                        $footRow.find('>td[aria-describedby="statsTable_TLM"]').css("color", "orange");
                        $footRow.find('>td[aria-describedby="statsTable_PNTS"]').css("color", "orange");
                    }
                    if (totalTiros < totalRes)
                    {
                        $footRow.find('>td[aria-describedby="statsTable_TCM"]').css("color", "yellow");
                        $footRow.find('>td[aria-describedby="statsTable_C3TCM"]').css("color", "yellow");
                        $footRow.find('>td[aria-describedby="statsTable_TLM"]').css("color", "yellow");
                        $footRow.find('>td[aria-describedby="statsTable_PNTS"]').css("color", "yellow");
                    }
                    if (totalTiros == totalRes)
                    {
                        $footRow.find('>td[aria-describedby="statsTable_TCM"]').css("color", "green");
                        $footRow.find('>td[aria-describedby="statsTable_C3TCM"]').css("color", "green");
                        $footRow.find('>td[aria-describedby="statsTable_TLM"]').css("color", "green");
                        $footRow.find('>td[aria-describedby="statsTable_PNTS"]').css("color", "green");
                    }

                    if (totalPoints != totalRes)
                    {

                        $footRow.find('>td[aria-describedby="statsTable_PNTS"]').css("color", "red");

                    }
                    else
                    {
                        $footRow.find('>td[aria-describedby="statsTable_PNTS"]').css("color", "green");
                    }

                  //mas tiros anotados (M) que intentados (I)
                  grid.jqGrid('footerData','set',{Nombre:'TOTALES',MIN:totalMins
                  , PNTS:  totalPoints
                  , REBS:totalRebounds,AST: totalAssists, ROB:totalSteals,TAP:totalBlocks, PER: totalTurnOvers
                  , TCM: totalTCA < totalTCM ? "<span style='color:red'>" + totalTCM + "/" + totalTCA + "</span>": totalTCM + "/" + totalTCA
                  , C3TCM: totalC3TCA < totalC3TCM?  "<span style='color:red'>" + totalC3TCM + "/" + totalC3TCA + "</span>": totalC3TCM + "/" + totalC3TCA
                  , TLM: totalTLA < totalTLM?  "<span style='color:red'>" + totalTLM + "/" + totalTLA + "</span>": totalTLM + "/" + totalTLA , RO: totalOff , FP: totalFouls});




              };

            $('#statsTable').css("font-size","14px").css("font-weight", "bold");

            $('#statsTable').jqGrid({
                //url from wich data should be requested
                url: '@Url.Action("GetAdminPlayersStats", "GridList",new { idGame = @Model.Id , idTeam = @ViewBag.IdTeam   })',
                //type of data
                datatype: 'json',
                postData:{idTeam: @ViewBag.IdTeam},
                //url access method type
                mtype: 'POST',
                //columns names
                colNames: ['Eq.', 'Nombre','TI','MIN', 'PTS', 'REB', 'AST','ROB', 'TAP','PER','TCM','TCA','3PTM','3PTA','TLM','TLA','RO','FP'],
                //columns model
                colModel: [
                            { name: 'LOGO', index: 'LOGO', width: 100, align: 'left', sortable: true,  stype: 'text', formatter: imageFormat, searchoptions: { sopt: ['cn'] } },
                            { name: 'Nombre', width: 500, index: 'Nombre', align: 'left', stype: 'text', summaryType:'sum',summaryTpl:'<b>TOTALES</b>', searchoptions: { sopt: ['cn'] } },
                            { name: 'TI', width: 40, index: 'TI', align: 'left', editable: true,edittype:'checkbox', editoptions: { value:"True:False"},formatter: "checkbox", formatoptions: {disabled : false} ,stype: 'text', summaryType:'sum',searchoptions: { sopt: ['cn'] } },
                            {
                                name: 'MIN', width: 120, index: 'MIN', align: 'right', editable: true, formatter: 'string',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'PNTS', width: 120, index: 'PNTS', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }, editrules:{ maxValue:70, minValue:0}
                            },
                            {
                                name: 'REBS', width: 120, index: 'REBS', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'AST', width: 120, index: 'AST', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'ROB', width: 120, index: 'ROB', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'TAP', width: 120, index: 'TAP', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'PER', width: 120, index: 'PER', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'TCM', width: 120, index: 'TCM', align: 'right', editable: true, formatter: 'string',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'TCA', width: 120, index: 'TCA', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'C3TCM', width: 120, index: 'C3TCM', align: 'right', editable: true, formatter: 'string',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'C3TCA', width: 120, index: 'C3TCA', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'TLM', width: 120, index: 'TLM', align: 'right', editable: true, formatter: 'string',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'TLA', width: 120, index: 'TLA', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'RO', width: 120, index: 'RO', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                            },
                            {
                                name: 'FP', width: 120, index: 'FP', align: 'right', editable: true, formatter: 'integer',summaryType:'sum', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] }
                                //, editoptions: {
                                //    dataInit: function (elem) { $(elem).focus(function () { this.select(); }) },
                                //    dataEvents: [
                                //        {
                                //            type: 'keydown',
                                //            fn: function (e) {
                                //                var key = e.charCode || e.keyCode;
                                //                if (key == 9)//tab
                                //                {


                                //                    var grid = $('#statsTable');
                                //                    var sel_id = grid.getGridParam('selrow');
                                //                    var idx = grid.getInd(sel_id);

                                //                    grid.jqGrid('editCell', idx+1, 3, true);
                                //                }

                                //            }
                                //        }
                                //    ]

                                //}
                            }

                ],
                //pager for grid
                //pager: $('#pager'),
                gridview: true,
                rowNum: 40,
                rowList: [30, 60, 100],
                caption: 'Reporte @Model.LVNBAFranchisLocal.Name',
                height: 350,
                width: 820,
                //initial sorting column
                sortname: 'CompleteName',
                footerrow: true,
                footerData:true,
                //initial sorting direction
                sortorder: 'asc',
                //we want to display total records count
                viewrecords: true,
                gridComplete: function () {
                    paintCols();
                    calculateTotal();
                },
                afterSaveCell: function (rowid, name, val, iRow, iCol) {
                    calculateTotal();
                },
                afterEditCell: function (rowid,cellname,value,iRow,iCol){
                    
                  
                },
                loadComplete: function () {
                    var iCol = getColumnIndexByName ($(this), 'TI'), rows = this.rows, i,
                        c = rows.length;

                    for (i = 1; i < c; i += 1) {
                        $(rows[i].cells[iCol]).click(function (e) {
                            var id = $(e.target).closest('tr')[0].id,
                                isChecked = $(e.target).is(':checked');
                          starterPlayer(id, isChecked);
                          
                           
                        });
                    }
                },

                beforeSubmitCell : function(rowid,cellname,value,iRow,iCol) {
                    return {"DATO":cellname}
                },
                cellEdit:true,
                //grid height
                height: '100%',
                cellsubmit: 'remote',
                cellurl: '@Url.Action("SaveReportCell", "Report",new { idGame = @Model.Id  })',
            }).navGrid("#pager",
                  { add: false, edit: false, del: false, reload: false, search: false }, // navGrid options
                  {}, // edit option
                  {}, // add options
                  {}, // del options
                  { closeOnEscape: true, multipleSearch: false, closeAfterSearch: true, searchOnEnter: true }
                  )

            var $footRow = $("#statsTable").closest(".ui-jqgrid-bdiv").next(".ui-jqgrid-sdiv").find(".footrow");
            $footRow.css("color","green").css("font-size","14px").css("font-weight","bold");
            $footRow.find('>td[aria-describedby="statsTable_LOGO"]').css("border-right-color", "transparent");
            $footRow.find('>td[aria-describedby="statsTable_TCM"]').css("border-right-color", "transparent");
            $footRow.find('>td[aria-describedby="statsTable_TCM"]').css("text-align", "right");
            $footRow.find('>td[aria-describedby="statsTable_TCA"]').css("text-align", "left");
            $footRow.find('>td[aria-describedby="statsTable_C3TCA"]').css("text-align", "left");
            $footRow.find('>td[aria-describedby="statsTable_TLA"]').css("text-align", "left");


            $footRow.find('>td[aria-describedby="statsTable_C3TCM"]').css("border-right-color", "transparent");
            $footRow.find('>td[aria-describedby="statsTable_TLM"]').css("border-right-color", "transparent");
           
            jQuery("#statsTable").jqGrid('bindKeys', {"onLeftKey":function( rowid ) { alert("You enter a row with id:"+rowid)} } );

            //$('#statsTable').jqGrid('setCell', id, col, "", {
            //     'background-color': 'violet',
            //     'background-image': 'none'
            // });
            //$("#statsTable").jqGrid('bindKeys', {
            //    onEnter:function( rowid ) {
            //        $('#statsTableHome').jqGrid('editRow',rowid, true,
            //            null,               // edit
            //            returnFocusToGrid,  // success
            //            null,               // url
            //            null,               // extraparam
            //            null,               // aftersave
            //            null,               // error
            //            returnFocusToGrid); // afterrestore
            //    }
            //});
        });

        var getColumnIndexByName = function(grid, columnName) {
            var cm = grid.jqGrid('getGridParam', 'colModel'), i, l;
            for (i = 1, l = cm.length; i < l; i += 1) {
                if (cm[i].name === columnName) {
                    return i; // return the index
                }
            }
            return -1;
        };
        function paintCols()
        {
            var dataIds = $('#statsTable').jqGrid('getDataIDs');

            for (var i = 0; i < dataIds.length; i++) {

                var data = $('#statsTable').jqGrid('getRowData', dataIds[i]);
                data.Id = dataIds[i];
              
                $('#statsTable').jqGrid('setCell',  data.Id, "TCA", "", {
                    'background-color': '#fff8e7',
                    'color':'black',
                    'background-image': 'none'
                });
                $('#statsTable').jqGrid('setCell',  data.Id, "TCM", "", {
                    'background-color': '#fff8e7',
                    'color':'black',
                    'background-image': 'none'
                }); 
                $('#statsTable').jqGrid('setCell',  data.Id, "C3TCA", "", {
                    'background-color': '#929698',
                    'color':'black',
                    'background-image': 'none'
                });
                $('#statsTable').jqGrid('setCell',  data.Id, "C3TCM", "", {
                    'background-color': '#929698',
                    'color':'black',
                    'background-image': 'none'
                }); 
                $('#statsTable').jqGrid('setCell',  data.Id, "TLA", "", {
                    'background-color': '#d4d4d2',
                    'color':'black',
                    'background-image': 'none'
                });
                $('#statsTable').jqGrid('setCell',  data.Id, "TLM", "", {
                    'background-color': '#d4d4d2',
                    'color':'black',
                    'background-image': 'none'
                }); 
            }
           
        }
        function returnFocusToGrid() {$('#statsTable').focus();}

        function supplierFormatter(cellvalue, options, rowObject) {
            return "<a href='#' data-supplier-id='" + cellvalue.substr(1, cellvalue.indexOf(']') - 1) + "'>" + cellvalue.substr(cellvalue.indexOf(']') + 2) + "</a>";
        };

        function imageFormat(cellvalue, options, rowObject) {
            return '<img width="20" height="20" src="../Images/Common/teams/BigLogos/' + cellvalue + '" />';
        }
       
        function starterPlayer(idplayer, isChecked)
        {
            $.ajax({
                url: "@Url.Action("SaveStarter", "Report")",
                data: { idGame:@Model.Id, idPlayer: idplayer, check: isChecked },
                dataType: "html",
                type: "POST",
                error: function () {
                    alert("An error occurred.");
                },
                beforeSend: function(){
                    $('#loading-image').show();
                },
                success: function (data) {
                    
                },
                complete: function(){
                    $('#loading-image').hide();
                }

            });
        }
        function notificarError()
        {
            $.ajax({
                url: "@Url.Action("NotifyError", "Report")",
                data: { idGame:@Model.Id },
                dataType: "html",
                type: "POST",
                error: function () {
                    alert("An error occurred.");
                },
                beforeSend: function(){
                    
                },
                success: function (data) {
                    alert('Notificado!');
                     window.location.href = "../Report/AdminReports";
                },
                complete: function(){
                   
                }

            });
        }
        function getValidateStatus() {
            $.ajax({
                url: "@Url.Action("AdminValidateReport", "Report")",
                      data: { idGame: @Model.Id, idTeam: @ViewBag.IdTeam },
                      dataType: "html",
                      type: "POST",
                      error: function () {
                          // alert("An error occurred.");
                      },
                      beforeSend: function(){
                          $('#loading-image').show();
                      },
                      success: function (data) {
                          data = eval(data);
                          if (data.length > 1) {
                              var options = '';
                              var i = 0;
                              options += '<li style="color:red"><h3>Errores (rojo) o posibles errores (amarillo) </h3>';
                              for (temp in data) {
                                  var item = data[temp];
                                  i = i + 1;
                                
                                
                                  options += '<ul style="color:' + item.Color + '">' + item.Mensaje + '</ul>';
                              }
                              options += '</li>';                   
                              jQuery('#contentErrors').html(options);
                              jQuery('#NotifyError').show();

                          }
                          else
                          {
                              var options = '';
                              options += '<li style="color:red"><h3>Errores (rojo) o posibles errores (amarillo) </h3>';
                              options += '<ul style="color:green">' +  'Sin errores aparentes' + '</ul>';
                              options += '</li>';

                              jQuery('#contentErrors').html(options);
                              jQuery('#NotifyError').hide();
                          }
                      },
                      complete: function(){
                          $('#loading-image').hide();
                      }

                  });
              }

       

    </script>
<br /><br />
<span>Consideraciones a tener en cuenta en esta pantalla:
    <br />    - Solucionar el tabulador en la última columna
    <br />    - Añadir leyenda con los colores para saber que significa


    <br />
    <br />
</span>
     <div style="width:810px" id="tableDiv">
    <table id="statsTable"></table>  <br />
    <table><tr>
        <td style="width:200px">  <img width="100px" style="float:left"   src="~/Images/Common/teams/BigLogos/@ViewBag.Icono" /> 
                 
             @if (ViewBag.IdTeam == @Model.IdTeamAway)   
             {                       
             @Html.ActionLink("Rival", "AdminEditReportCellEdit", new { idGame=@Model.Id , idTeam = @Model.IdTeamLocal}, new { @class = "css_button" })
             }
             else
             {
               @Html.ActionLink("Rival", "AdminEditReportCellEdit", new { idGame=@Model.Id , idTeam = @Model.IdTeamAway}, new { @class = "css_button" })           
             }
          
        </td>
        <td style="font-weight:bold; vertical-align:top">
            No es obligatorio validar un reporte, pero si que facilita el trabajo de los revisores. Un report sin errores de validación será confirmado mucho más fácilmente.
              <img id="loading-image"  style="display:none;position:absolute;left:50%;top:50%; margin:-24px 0px 0px -72px; auto; " src="~/Images/Common/loader1.gif" />
        </td>
        <td style="font-weight:bold; vertical-align:top ">
             <div style="float:left;font-weight:bold;">      <input type="button" id="ValidateReport"  class="css_button" value="Validar los dos equipos" />      </div>  <br />
             <div style="float:left;font-weight:bold;">       @Html.ActionLink("Volver", "AdminReports",null, new { id="idVolver", @class = "css_button" })      </div>  
        </td>
           </tr>
        <tr><td></td><td id="contentErrors"></td>
            <td><input type="button" id="NotifyError"  class="css_button" value="Notificar errores a los dos equipos" /></td></tr>
    </table>
  
    <div id="pager"></div>
    </div>


