﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "Quitar queja";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	

<script>
    $(function () {

    });
</script>

@using (Html.BeginForm("AdminDeleteQueja", "Report", FormMethod.Post, new { @id = "DeleteQuejaForm" }))
{
    @Html.HiddenFor(model => model.Id)
       
    @Html.ValidationSummary(true, "", new { style = "color:red" })
<input type="hidden" name="idManager" value="@ViewBag.Manager" />
   <table style ="text-align:center; width:100%; font-size:30px; color:orange; font-weight:bold">
       <tr>
           <td></td>
       </tr>
       <tr></tr>
       <tr>
           <td colspan="3">@if (Model.ManagerLocal.Id == ViewBag.Manager)
               {
               <img width="90px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisAway.Icono" />
                     @Model.ManagerAway.GamerTag 
                     
                   if (Model.ManagerAway.Photo == null)
                     {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                     }
                    else
                    {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                    }
               }
               else
               {
               <img width="90px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisLocal.Icono" />
                     @Model.ManagerLocal.GamerTag 
                     
                     if (Model.ManagerLocal.Photo == null)
                     {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                     }
                    else
                    {
                    <img width="60px"  src="~/Images/Common/cara.jpg" />
                    }
                }
           </td>
       </tr>
       <tr>
            <td>
                <span style="color:@Model.LVNBAFranchisAway.Color">
                <img width="50px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisAway.Icono" />@Model.LVNBAFranchisAway.Name</span>
            </td>
            <td> @@ </td>
            <td>
                <span style="color:@Model.LVNBAFranchisLocal.Color">  
                @Model.LVNBAFranchisLocal.Name<img width="50px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisLocal.Icono" /></span>
            </td>
       </tr>
       <tr>
           <td colspan="3">
                @Model.idScoreAway - @Model.idScoreLocal
           </td>
       </tr>
       <tr>
           <td colspan="3" style="color:gray;font-size:12px;text-align:center; margin-left:100px">
               
               @if (Model.ManagerLocal.Id == ViewBag.Manager)
               {
               @Html.Raw(@System.Web.HttpUtility.HtmlDecode(Model.lMotivo))
               }
               else
               {
               @Html.Raw(@System.Web.HttpUtility.HtmlDecode(Model.aMotivo))
               }
           </td>                  
          
       </tr>
        <tr><td colspan="3" style="font-size:12px;color:white">

            </td>

        </tr>
       <tr>
           <td colspan="3">   
               <input type="submit"  class="css_button" value="Quitar Queja" />
                @Html.ActionLink("Volver", "AdminReports", null, new { @class = "css_button" })  
           </td>
       </tr>
   </table>
}