﻿@model IEnumerable<Liga.Domain.Entities.Games>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<script type="text/javascript">
    $(function () {

        createDialog();

        $("#Help").click(function () {
            $("#dialog").dialog("open");
        });

        $(".boxscore").click(function (e) {

            e.preventDefault();
            var $item = $(this);
            viewBoxScorer($item);
            // return false;
        });
        function runEffect() {

            // most effect types need no options passed by default
            var options = {};

            // run the effect
            $("#InfoHelp").show("Pulsate", options, 500);
        };
        function createDialog() {
            $("#dialog").dialog({
                width: 780,
                autoOpen: false,
                modal: true,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

        }

        function viewBoxScorer($link) {

            var idGame = $link.attr("id");
            $.ajax({
                url: "@Url.Action("GetScoreInfo", "Results")",
                data: { idGame: idGame },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                beforeSend: function () {
                    $('#loading-image').show();
                },
                success: function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");
                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 600,
                        width: 1000,
                        modal: true,
                        dialogClass: 'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                },
                complete: function () {
                    $('#loading-image').hide();
                    $("#dialog").hide();
                    createDialog();
                }

            });

        }
    });

</script>

@using (Html.BeginForm())
{
    if (ViewBag.Message != null)
    {
        <div class="message">
            <script>alert(@ViewBag.Message);</script>@ViewBag.Message
        </div>
    }

    @Html.ValidationSummary(true, "", new { style = "color:red" })
    <h3>Reportar</h3>
    <div class="row">
        <div class="col-12">
            Desde esta pantalla se realizarán todos los pasos para el correcto reporte de los partidos.<br />
            La pantalla se divide en cuatro secciones y cada seccoón define el estado de un partido:
        </div>
    </div>
    <div id="dialog" class="card">
        <div class="card-header">
            Partidos Pendientes
        </div>
        <div class="card-body">
            Aquí salen todos los partidos pendientes de reportar desde 0. Al darle al link de reportar iremos al formulario de Reporte. Una vez reportado el partido se nos irá a la siguiente sección.
            En este estado el partido ni cuenta para clasificación, ni para stats.
        </div>
        <div class="card-header">
            Partidos Pendientes de Generar Lesiones:
        </div>
        <div class="card-body">
            En este estado de partido podremos realizar dos acciones: <br />
            - Generar las lesiones metiendo los minutos jugados a ambos equipos <br />
            - Borrar el partido. Este es el único punto donde un manager puede borrar un partido. Pasado este estado ya sólo un administrador puede borrar un partido. <br />
            Borrar un partido significa descontarlo de clasificación, tirar atrás posibles lesiones y volverlo a dejar como Pendiente.
        </div>
        <div class="card-header">
            Partidos jugadores y reportados:
        </div>
        <div class="card-body">
            En este estado de partido ya podremos empezar a introducir los stats y a realizar varias acciones: <br />
            - Editar los stats tanto de tu equipo como del rival.<br />
            - Poner o quitar queja según el caso.<br />
            - Valorar al rival si aún no lo hemos hecho.<br />
            - Seleccionar el MVP que nosotros consideramos.<br />
            - Ver el Boxscore con el resumen de las stats.<br />
            - Se nos indicará también mediante una imagen exclamación que el partido aún tiene datos incorrectos o posibles errores. <br />
            Esta imagen aparece desde el momento que un Administrador notifica errores de validación.
        </div>
        <div class="card-header">
            Partidos cerrados:
        </div>
        <div class="card-body">
            En este estado aparecen los partidos que ya se han dado como validados por parte de la Administración. <br />
            Sobre ellos no podremos realizar ninguna opción salvo ver el resumen de las stats.
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
            <h4>Partidos pendientes</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="2">Visitante</th>
                        <th>@@</th>
                        <th colspan="2">Local</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                @foreach (var game in Model.Where(x => x.gameDate == null))
                {
                    <tr style="text-align:center;">
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisAway.Icono" /></td>
                        <td>@game.LVNBAFranchisAway.Name</td>
                        <td></td>
                        <td>@game.LVNBAFranchisLocal.Name</td>
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisLocal.Icono" /></td>
                        <td>@Html.ActionLink("Reportar", "Report", new { idGame = game.Id })</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4>Partidos pendientes de generar lesiones</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th colspan="5" style="text-align:center">Partido</th>
                        <th>Res.</th>
                        <th colspan="2" style="text-align:center">Acciones</th>
                    </tr>
                </thead>
                @foreach (var game in Model.Where(x => x.gameDate != null && (x.state == null || x.state == 0)))
                {
                    <tr>
                        <td>@game.gameDate.Value.ToShortDateString()</td>
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisAway.Icono" /></td>
                        <td>@game.LVNBAFranchisAway.Abbreviation</td>
                        <td>@@</td>
                        <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisLocal.Icono" /></td>
                        <td>@game.idScoreAway - @game.idScoreLocal</td>
                        <td>@Html.ActionLink("Generar Lesiones", "InjuryReport", new { id = game.Id })</td>
                        <td>
                            | @Html.ActionLink("Borrar", "DeleteF1", new { id = game.Id })
                        </td>
                    </tr>
                }
            </table>
            <h4 class="mt-5">Partidos jugados y reportados</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th colspan="5" style="text-align:center">Partido</th>
                        <th style="width:70px">Res.</th>
                        <th colspan="5" style="text-align:center">Acciones</th>
                        <th style="text-align:center">Err.</th>
                    </tr>
                </thead>
                @foreach (var game in Model.Where(x => x.gameDate != null && x.state > 0 && x.state < 3))
                {
                    <tr>
                        <td>@game.gameDate.Value.ToShortDateString()</td>
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisAway.Icono" /></td>
                        <td>@game.LVNBAFranchisAway.Abbreviation</td>
                        <td>@@</td>
                        <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisLocal.Icono" /></td>
                        <td style="text-align:center">@game.idScoreAway - @game.idScoreLocal</td>
                        <td>
                            @if (game.aidManager == @ViewBag.Manager)
                            {
                                @Html.ActionLink("Editar", "EditReportCellEdit", new { idGame = game.Id, idTeam = game.IdTeamAway })
                            }
                            else
                            {
                                @Html.ActionLink("Editar", "EditReportCellEdit", new { idGame = game.Id, idTeam = game.IdTeamLocal })
                            }
                        </td>
                        <td>
                            | @if ((game.aidManager == @ViewBag.Manager && game.aQueja == true) || (game.lidManager == @ViewBag.Manager && game.lQueja == true))
                            {

                                @Html.ActionLink("Quitar Queja", "DeleteQueja", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:green" })
                            }
                            else
                            {
                                @Html.ActionLink("Poner Queja", "AddQueja", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:red" })
                            }

                        </td>
                        <td>
                            | @if ((game.aidManager == @ViewBag.Manager && (game.aMVP == 0 || game.aMVP == null)) || (game.lidManager == @ViewBag.Manager && (game.lMVP == 0 || game.lMVP == null)))
                            {
                                @Html.ActionLink("MVP", "SetMVP", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:yellow" })

                            }
                        </td>
                        <td>
                            | @if ((game.aidManager == @ViewBag.Manager && (game.aVal == null || game.aVal == 0)) || (game.lidManager == @ViewBag.Manager && (game.lVal == null || game.lVal == 0)))
                            {
                                @Html.ActionLink("Valorar", "SetVal", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:orange" })
                            }
                            else
                            {
                                if (game.aidManager == @ViewBag.Manager)
                                {
                                    <span>Val: @game.aVal</span>
                                }
                                else
                                {
                                    <span>Val: @game.lVal</span>
                                }
                            }
                        </td>
                        <td>| <a href="link/to/trash/script/when/we/have/js/off" id="@game.Id" title="BoxScore" class="boxscore">BS </a> </td>
                        <td>
                            @if (game.errores == 1)
                            {<img width="20px" src="~/Images/Common/redBall.png" />}

                        </td>
                    </tr>
                }
            </table>
            <h4 class="mt-5">Partidos cerrados</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr style="font-weight:bold;color:orange;text-align:center">
                        <th>Fecha</th>
                        <th colspan="5" style="text-align:center">Partido</th>
                        <th>Res.</th>
                        <th style="text-align:center">Acciones</th>
                    </tr>
                </thead>

                @foreach (var game in Model.Where(x => x.gameDate != null && x.state == 3))
                {
                    <tr>
                        <td>@game.gameDate.Value.ToShortDateString()</td>
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisAway.Icono" /></td>
                        <td>@game.LVNBAFranchisAway.Abbreviation</td>
                        <td>@@</td>
                        <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                        <td><img width="20px" src="~/Images/Common/teams/BigLogos/@game.LVNBAFranchisLocal.Icono" /></td>
                        <td style="text-align:center">@game.idScoreAway - @game.idScoreLocal</td>
                        <td> <a href="link/to/trash/script/when/we/have/js/off" id="@game.Id" title="BoxScore" class="boxscore">BoxScore </a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div id="dialog-modal" style=" width:600px; height:800px; display:none" title="Basic modal dialog">
        <div id="FillTable"></div>
    </div>
    <div id="loading-image" style="border:double; border-color:red;
                        background-color:white;width:100px; height:100px; display:none;position:absolute;left:50%;top:50%; margin:-50px 0px 0px -50px;">
        <img style=" width:70px; position: absolute;    margin: auto;    top: 0;    left: 0;    right: 0;    bottom: 0;" src="~/Images/Common/basket.gif" />
    </div>
}
