﻿@model IEnumerable<Liga.Domain.Entities.PlayersStatsGames>

@{
    ViewBag.Title = "Reporte lesiones";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css" />


<h5>
    Reporte de lesiones partido a fecha 2k  @Model.First().Game.date2k.Value.ToShortDateString()
    @Model.Where(x => x.idTeam == @ViewBag.EquipoVisitante).First().LVNBAFranchis.Abbreviation @@  @Model.Where(x => x.idTeam == @ViewBag.EquipoLocal).First().LVNBAFranchis.Abbreviation
</h5>


@using (Html.BeginForm("InjuryReport", "Report", FormMethod.Post, new { @id = "LesReport" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @style = "color:red" })
    @Html.Hidden("idPartido", Model.First().Game.Id)
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 justify-content-center text-center">
                    <img width="90px" src="~/Images/Common/teams/BigLogos/@Model.Where(x => x.idTeam == @ViewBag.EquipoVisitante).First().LVNBAFranchis.Icono" />
                </div>
                <div class="col-md-6 justify-content-center text-center">
                    <img width="90px" src="~/Images/Common/teams/BigLogos/@Model.Where(x => x.idTeam == @ViewBag.EquipoLocal).First().LVNBAFranchis.Icono" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 justify-content-center text-center"> 
                    @Html.TextBox("sumVisitante", null, new { @id = "sumVisitante", @class="form-control col-md-4 disabled" })
                </div>
                <div class="col-md-6 justify-content-center text-center"> 
                    @Html.TextBox("sumLocal", null, new { @id = "sumLocal", @class = "form-control col-md-4 disabled" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @foreach (var playerStat in Model.Where(x => x.idTeam == @ViewBag.EquipoVisitante).OrderBy(x => x.Player.CompleteName).OrderBy(x => x.idTeam))
                    {
                        <div class="row mb-1">
                            <div class="col-8">
                                <img width="25px" src="~/Images/Common/teams/BigLogos/@playerStat.LVNBAFranchis.Icono" />
                                @playerStat.Player.CompleteName
                            </div>
                            <div class="col-4">
                                @Html.TextBox("p" + @playerStat.idPlayer, null, new { @id = @playerStat.idPlayer, @class = "form-control", @team = @playerStat.idTeam, maxlength = "2", style = " font-weight:bold; font-size:14pt" })
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        @foreach (var playerStat in Model.Where(x => x.idTeam == @ViewBag.EquipoLocal).OrderBy(x => x.Player.CompleteName).OrderBy(x => x.idTeam))
                        {
                            <tr>
                                <td class="col-7">
                                    <img width="25px" src="~/Images/Common/teams/BigLogos/@playerStat.LVNBAFranchis.Icono" />
                                    @playerStat.Player.CompleteName
                                </td>
                                <td class="col-5">
                                    @Html.TextBox("p" + @playerStat.idPlayer, null, new { @id = @playerStat.idPlayer, @class = "form-control", @team = @playerStat.idTeam, maxlength = "2", style = " font-weight:bold; font-size:14pt" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <div style="color:red; font-weight:bold">
                    Revisa bien los minutos antes de darle al botón de generar lesiones.<br />
                    Recuerda que no podrás volver a generar las lesiones de este partido <br />y que los minutos imputados quedarán registrados.
                </div><br />
                <hr />
                <h1> Parte de Lesionados?</h1>
                <div id="ListaLesionados"></div>
        </div>
    </div>
    <div class="row">
        <td>
            @if (Model.First().Game.state == 0 || Model.First().Game.state == null)
            {
                <input type="submit" id="genLes" class="css_button" value="Generar Lesiones" />
            }
        </td>
        <td>   @Html.ActionLink("Volver", "Index", null, new { @class = "css_button" })</td>
    </div>
}
<script>

    $(function () {
        getInjuries();
        $("#sumVisitante").attr('readonly', 'readonly');
        $("#sumLocal").attr('readonly', 'readonly');
        $('.MinLocal').autoNumeric('init', { aSep: '', aDec: ',', mDec: '0', vMax:'53' });
        $('.MinAway').autoNumeric('init', { aSep: '', aDec: ',', mDec: '0', vMax: '53' });
        $(".MinAway").on("change", function () {
            contarMinutos();
        });
        $(".MinLocal").on("change", function () {
            contarMinutos();
        });

        $("#LesReport").submit(function (event) {
            if ($("#sumVisitante").val() < 240 || $("#sumLocal").val() < 240)
                {
                alert("Los minutos de cada equipo deben sumar almenos 240 en total!");
                event.preventDefault();
            }
        });
    });
    function contarMinutos() {
        var iTotalAway = 0;
        var iTotalHome = 0;
        $("input:text").each(function () {
            if ($(this).hasClass("MinAway")) {
                if ($(this).val() != "") {
                    iTotalAway = iTotalAway +  parseInt($(this).val());
                }
            }
            if ($(this).hasClass("MinLocal")) {
                if ($(this).val() != "")
                    iTotalHome = iTotalHome + parseInt($(this).val());
            }
        });
        $("#sumLocal").val(iTotalHome);
        $("#sumVisitante").val(iTotalAway);
        //$("#sum1").text(iTotalHome.toString());
        //$("#sum2").text(iTotalAway.toString());

    }

    function getInjuries() {
        $.ajax({
            url: "@Url.Action("GetInjuriesOfGame", "Report")",
            data: { idGame: '@Model.First().Game.Id' },
            dataType: "html",
            type: "POST",
            error: function () {
                alert("An error occurred con las lesiones.");
            },
            success: function (data) {
                data = eval(data);
                if (data.length > 0) {
                    var options = '';
                    var i = 0;
                    options += '<li><h2>Lesiones</h2><ul>';
                    for (temp in data) {
                        var item = data[temp];
                        i = i + 1;
                        var imageLogo = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                        imageLogo = imageLogo.replace("#laIMG", item.sLogo);

                        options += '<table  style="border-collapse:inherits;border-left-width:0px;background-color:black;color:white;width:100%;font-size:10px"><tr border=""  style="border-left-width:0px;background-color:transparent;"><td style="width:70%;background-color:black;">' + imageLogo + '&nbsp;&nbsp;' + item.sCompleteName + '</td><td style="width:30%;align:center;background-color:black;"><img width="15px" height="15px" src="@Url.Content("~/Images/Common/lesion.png")"  />' + '&nbsp;&nbsp;' + item.iGamesRest + '</td></tr></table>';
                    }
                    options += '</ul></li>';
                    jQuery('#ListaLesionados').html(options);
                }
            }
    });
}
</script>