﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "Valorar";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
		<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	

<script>
    $(function () {


        $("#SetValForm").submit(function (event) {
            if ($("input[type=radio][name=valora1]:checked").length == 0) {
                alert('Debes dar una valoración!');
                event.preventDefault();
            }
            
        });
    });
</script>

@using (Html.BeginForm("SetVal", "Report", FormMethod.Post, new { @id = "SetValForm" }))
{
    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary(true, "", new { style = "color:red" })

   <table style ="text-align:center; width:100%; font-size:30px; color:orange; font-weight:bold">
       <tr>
           <td></td>
       </tr>
       <tr></tr>
       <tr>
           <td colspan="3">@if (Model.ManagerLocal.Id == ViewBag.Manager)
               {
               <img width="90px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisAway.Icono" />
                     @Model.ManagerAway.GamerTag 
                     
                   if (Model.ManagerAway.Photo == null)
                     {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                     }
                    else
                    {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                    }
               }
               else
               {
               <img width="90px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisLocal.Icono" />
                     @Model.ManagerLocal.GamerTag 
                     
                     if (Model.ManagerLocal.Photo == null)
                     {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                     }
                    else
                    {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                    }
                }
           </td>
       </tr>
       <tr>
            <td>
                <span style="color:@Model.LVNBAFranchisAway.Color">
                <img width="50px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisAway.Icono" />@Model.LVNBAFranchisAway.Name</span>
            </td>
            <td> @@ </td>
            <td>
                <span style="color:@Model.LVNBAFranchisLocal.Color">  
                @Model.LVNBAFranchisLocal.Name<img width="50px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchisLocal.Icono" /></span>
            </td>
       </tr>
       <tr>
           <td colspan="3">
                @Model.idScoreAway - @Model.idScoreLocal
           </td>
       </tr>
       <tr>
           <td colspan="3" style="color:gray">
                                                       
      @Html.RadioButton("valora1", "1")1 @Html.RadioButton("valora1", "2") 2  
      @Html.RadioButton("valora1", "3") 3  @Html.RadioButton("valora1", "4") 4 
      @Html.RadioButton("valora1", "5") 5 

           </td>
       </tr>
        <tr><td colspan="3" style="font-size:12px;color:white"> Cuando valoramos un manager tenemos que tener en cuenta diferentes cosas.<br /> Por un lado el juego desplegado, su variedad, su estética, etc. <br />También conviene mirar su fair play, sus defectos, etc. Al final
                        debes tener un criterio para valorar al compañero. <br />En definitiva, este valor sirve para medir tu grado de satisfacción tras el partido jugado.<br /> Los diferentes grados van de 1 a 5 donde el 1 es una experiencia pobre y 5 la más favorable. 
                        </td>

        </tr>
       <tr>
           <td colspan="3">   
               <input type="submit"  class="css_button" value="Valorar" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "css_button" })  
           </td>
       </tr>
   </table>


 







                  
                
}


   

