﻿@{
    ViewBag.Title = "Traspasos";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";
}

<h2>Gestión de Ofertas</h2>
<div id="dialog-modal" style=" width:600px; height:800px; display:none" title="Basic modal dialog">
    <div id="FillTable"></div>
</div>

<ul class="nav nav-tabs nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-Propuestos-tab" data-toggle="pill" href="#pills-Propuestos" role="tab" aria-controls="pills-Propuestos" aria-selected="true">Propuestos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-Pendientes-tab" data-toggle="pill" href="#pills-Pendientes" role="tab" aria-controls="pills-Pendientes" aria-selected="false">Aceptar/Rechazar Ofertas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-Aceptados-tab" data-toggle="pill" href="#pills-Aceptados" role="tab" aria-controls="pills-Aceptados" aria-selected="false">Aceptados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-Denegados-tab" data-toggle="pill" href="#pills-Denegados" role="tab" aria-controls="pills-Denegados" aria-selected="false">Denegados</a>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-Propuestos" role="tabpanel" aria-labelledby="pills-Propuestos-tab">
        <p>Se muestran los traspasos propuestos por un equipo y que no están confirmados por todos los managers. Se podrán borrar estos traspasos notificando de ello a los equipos implicados</p>
        @{
            Html.RenderAction("Trade", "TradesCenter", new { idState = 2 });
        }

    </div>
    <div class="tab-pane fade" id="pills-Pendientes" role="tabpanel" aria-labelledby="pills-Pendientes-tab">
        <p>Se muestran los traspasos pendientes de respuesta por parte del comisionado. El comisionado, podrá aceptar o denegar los traspasos con este estado.</p>
        <p>Un traspaso está en estado pendiente cuando todos los managers implicados han dado el visto bueno.</p>
        @{
            Html.RenderAction("Trade", "TradesCenter", new { idState = 3 });
        }
    </div>
    <div class="tab-pane fade" id="pills-Aceptados" role="tabpanel" aria-labelledby="pills-Aceptados-tab">
        <p>Se muestran los traspasos aceptados por parte del comisionado. El comisionado no puede hacer ninguna acción sobre ellos.</p>
        @{
            Html.RenderAction("Trade", "TradesCenter", new { idState = 5 });
        }
    </div>
    <div class="tab-pane fade" id="pills-Denegados" role="tabpanel" aria-labelledby="pills-Denegados-tab">
        <p>Se muestran los traspasos denegados por parte del comisionado. El comisionado no puede hacer ninguna acción sobre ellos.</p>
        @{
            Html.RenderAction("Trade", "TradesCenter", new { idState = 4 });
        }
    </div>
</div>

<script>
    $(function () {
        $(":button").click(function (event) {
            $target = $(event.target);
            var idPlayer = $(this).attr("value");
            viewTradeInfo($target);
            return false;
        });

    });
    function viewTradeInfo($link) {

        $("#dialog:ui-dialog").dialog("destroy");

        var idTransfer = $link.attr("value");;
        alert(idTransfer);
        $.post('TradesCenter/GetTradeInfo', { idTransfer: idTransfer }, function (data) {
            $("#FillTable").html(data);
        });

        $("#dialog-modal").dialog({
            title: 'Traspaso',

            modal: true,
            resizable: true,
            scrollable: true,
            height: 450,
            width: 800
        });
    }
</script>