﻿@model Liga.Domain.Entities.Transfers
@{
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";
}
<div>

    Traspaso @Html.DisplayFor(m => m.TransfersState.TransferState)
    @Html.DisplayFor(m => m.TransferDate)
    <div>
        @if (Model.TransfersPlayersLists.Select(o => o.IdFranchise).Distinct().Count() > 2)
        {
            foreach (var itemDos in Model.TransfersPlayersLists.Select(o => o.IdFranchise).Distinct())
            {
                var origen = Model.TransfersPlayersLists.Where(x => x.IdFranchise == itemDos).First().LVNBAFranchis1.BigLogo.ToString();
                var i = 0;
                <table class="table table-striped">
                    <tr>
                        <td align="left" style="width:42%"></td>
                        <td align="center" style="width:16%">
                            <img width="30px" height="40px" src="@Url.Content("~/Images/Common/teams/SmallLogos/" + origen)" />
                        </td>
                        <td align="right" style="width:42%"></td>
                    </tr>

                    @foreach (var itemPlayer in Model.TransfersPlayersLists.Where(x => x.IdFranchise == itemDos).OrderBy(x => x.IdFranchise))
                    {
                        <tr>
                            <td align="left" style="width:42%">
                                @Html.Partial("TradePlayerInfo", itemPlayer)
                            </td>
                            <td align="center" style="width:16%">
                                <img width="35px" height="35px" src="@Url.Content("~/Images/Common/rArrow.gif")" />
                            </td>
                        </tr>
                    }
                    @foreach (var destinatario in Model.TransfersPlayersLists.Where(x => x.Destination == itemDos))
                    {
                        var destino = destinatario.LVNBAFranchis2.BigLogo.ToString();
                        <tr>
                            <td align="center" style="width:16%">
                                <img width="35px" height="35px" src="@Url.Content("~/Images/Common/lArrow.gif")" />
                            </td>
                            <td align="right" style="width:42%">
                                @Html.Partial("TradePlayerInfo", destinatario)
                            </td>
                        </tr>
                    }
                </table>
                <hr /><hr />
            }
        }
        else
        {
            var itemDos = Model.TransfersPlayersLists.First().IdFranchise;
            var origen = Model.TransfersPlayersLists.First().LVNBAFranchis1.BigLogo.ToString();
            <table class="table table-striped">
                @foreach (var itemPlayer in Model.TransfersPlayersLists.Where(x => x.IdFranchise == itemDos).OrderBy(x => x.IdFranchise))
                {
                    <tr>
                        <td align="left" style="width:42%">

                            @Html.Partial("TradePlayerInfo", itemPlayer)
                        </td>
                        <td align="center" style="width:16%">
                            <img width="35px" height="35px" src="@Url.Content("~/Images/Common/rArrow.gif")" />
                        </td>
                    </tr>
                }
                @foreach (var destinatario in Model.TransfersPlayersLists.Where(x => x.Destination == itemDos))
                {
                    var destino = destinatario.LVNBAFranchis2.BigLogo.ToString();
                    <tr>
                        <td align="center" style="width:16%">
                            <img width="35px" height="35px" src="@Url.Content("~/Images/Common/lArrow.gif")" />
                        </td>
                        <td align="right" style="width:42%">
                            @Html.Partial("TradePlayerInfo", destinatario)
                        </td>

                    </tr>
                }
            </table>
        }
    </div>
</div>