﻿@model IList<Liga.Domain.Entities.Transfers>
    @{
        ViewBag.Title = "Traspasos";
    }
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Fecha Traspaso
                </th>
                <th>
                    Jugador
                </th>
                @if (ViewBag.TransferState == 3)
                {
                    <th>
                        Salarios 1
                    </th>
                    <th>
                        Salarios 2
                    </th>
                    <th>
                        Salarios 3
                    </th>
                    <th>
                        Salarios 4
                    </th>
                    <th>
                        Salarios 5
                    </th>
                }
                <th>
                    Equipo
                </th>
                @if (ViewBag.TransferState == 4)
                {
                    <th>
                        Fecha Denegación
                    </th>
                }
                @if (ViewBag.TransferState == 5)
                {
                    <th>
                        Fecha Confirmación
                    </th>
                }
                @if (ViewBag.TransferState == 4)
                {
                    <th>Motivo Rechazo</th>
                }
                @if (ViewBag.TransferState != 4 && ViewBag.TransferState != 5)
                {
                    <th>
                        Acciones
                    </th>
                }
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.Id)
                    @Html.DisplayFor(modelItem => item.TransferDate)
                </td>
                <td>
                    @item.TransfersPlayersLists.First().Player.CompleteName
                </td>
                @if (ViewBag.TransferState == 3)
                {
                    foreach (var salaries in item.TransfersPlayersLists.First().Player.FreeAgentOffers.Where(x => x.Accepted == null && x.Rejected == null))
                    {
                        <td>
                            @salaries.Salary1
                        </td>
                        <td>
                            @salaries.Salary2
                        </td>
                        <td>
                            @salaries.Salary3
                        </td>
                        <td>
                            @salaries.Salary4
                        </td>
                        <td>
                            @salaries.Salary5
                        </td>
                    }
                }
                <td>
                    @item.LVNBAFranchis1.Name
                </td>
                @if (ViewBag.TransferState == 4 || ViewBag.TransferState == 5)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ResolutionDate)
                    </td>
                }
                @if (item.IdTransferState == 4)
                {
                    <td>@Html.DisplayFor(modelItem => item.ReasonDeny)</td>
                }
                @if (ViewBag.TransferState != 4 && ViewBag.TransferState != 5)
                {
                    <td>
                        @if (ViewBag.TransferState == 3)
                        {
                            @Html.ActionLink("Confirmar", "Accept", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                            @Html.ActionLink("Denegar", "Deny", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                        }
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                }
            </tr>
        }
    </table>
