﻿ @using MvcJqGrid 

@{
    ViewBag.Title = "Estadísticas equipo";
    Layout = "~/Views/Shared/_WebOneColumnForStats.cshtml";

} 
<script src="~/Scripts/i18n/grid.locale-es.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="~/Content/jquery.jqGrid/ui.jqgrid.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabs").tabs({
                selected: 0,
                ajaxOptions: {
                    error: function (xhr, status, index, anchor) {
                        $(anchor.hash).html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                            "If this wouldn't be a demo.");
                    }
                }
            });
            getSideBarStatsTeamMenu();

            $("#Season").change(function (event, data) {
                sendQueryStatsTeam();
            });
            sendQueryStatsTeam();
        });





        function sendQueryStatsTeam() {
            
            $('#statsTable').jqGrid({
                //url from wich data should be requested
                url: '@Url.Action("GetOpponentStats", "GridList")',
                //type of data
                datatype: 'json',
                postData: { idSeason: function () { return jQuery("#Season option:selected").val(); } },
                   
                //url access method type
                mtype: 'POST',
                //columns names
                colNames: ['Eq.', 'Nombre', 'G', 'FGM', 'FGA', 'FG', 'F3M', 'F3A', 'F3', 'FTM', 'FFTA', 'FT', 'RPG', 'RDPG', 'ROPG', 'ASPG', 'STPG', 'BLPG', 'TOPG', 'FOPG', 'PNTS'],
                //columns model
                colModel: [
                            { name: 'Logo', index: 'Logo', width: 90, align: 'left', sortable: true, search: true, stype: 'text', formatter: imageFormat, searchoptions: { sopt: ['cn'] } },
                            { name: 'Name', width: 470, index: 'Name', align: 'left', search: true, stype: 'text', searchoptions: { sopt: ['cn'] } },
                            { name: 'G', width: 70, index: 'G', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 0 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FGM', width: 120, index: 'FGM', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FGA', width: 120, index: 'FGA', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FG', width: 130, index: 'FG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, suffix: '%' }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'F3M', width: 120, index: 'F3M', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'F3A', width: 120, index: 'F3A', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'F3', width: 130, index: 'F3', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, suffix: '%' }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FTM', width: 120, index: 'FGM', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FTA', width: 120, index: 'FTA', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FT', width: 130, index: 'FT', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, suffix: '%' }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'RPG', width: 100, index: 'RPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'RDPG', width: 100, index: 'RDPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'ROPG', width: 100, index: 'ROPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'ASPG', width: 100, index: 'ASPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'STPG', width: 100, index: 'STPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'BLPG', width: 100, index: 'BLPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'TOPG', width: 100, index: 'TOPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'FOPG', width: 100, index: 'FOPG', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } },
                            { name: 'PNTS', width: 130, index: 'PNTS', align: 'right', formatter: 'number', formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2 }, search: true, searchrules: { number: true }, searchoptions: { sopt: ['eq', 'lt', 'le', 'gt', 'ge'] } }

                ],
                //pager for grid
                pager: $('#pager'),
                gridview: true,
                rowNum: 40,
                rowList: [40, 100],
                caption: 'Estadísticas equipos',
                height: 350,
                width: 820,
                onSelectRow: function (id) {
                },
                loadComplete: function (data) {
                    //$("tr.jqgrow:odd").css("background", "#E0E0E0");
                    //$("tr.jqgrow:odd").css("color", "black");
                },

                //initial sorting column
                sortname: 'CompleteName',
                //initial sorting direction
                sortorder: 'asc',
                //we want to display total records count
                viewrecords: true,
                //grid height
                height: '100%'
            }).navGrid("#pager",
                { add: false, edit: false, del: false, reload: true, search: true }, // navGrid options
                {}, // edit option
                {}, // add options
                {}, // del options
                { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true, searchOnEnter: true }
                )

            $('#statsTable').jqGrid('filterToolbar', {
                //we want filters to be returned the same way as with advanced searching
                stringResult: true, searchOnEnter: true
            });
            $("#statsTable").trigger('reloadGrid');
        }

        function supplierFormatter(cellvalue, options, rowObject) {
            return "<a href='#' data-supplier-id='" + cellvalue.substr(1, cellvalue.indexOf(']') - 1) + "'>" + cellvalue.substr(cellvalue.indexOf(']') + 2) + "</a>";
        };


      


        function imageFormat(cellvalue, options, rowObject) {
            return '<img width="20" height="20" src="../Images/Common/teams/Iconos/' + cellvalue + '" />';
        }


    </script>
<div id="tabs"  style="float:left;">
	<ul>
		<li><a href="#tabs-1">Estadísticas oponentes</a></li>
	</ul>
    <div style="width:810px" id="tabs-1">
      
 
      <div id="circle"></div>
 

        <label for="Season">Temporada</label>
        <select name="Season" id="Season">
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014" >2014</option>
          <option value="2015" selected="selected">2015</option>
        </select>
        <span style="color:red">Importante: Si cambias de temporada, los filtros de búsqueda se mantenien. Vacía los filtros después de cambiar de temporada</span>

    <br />
    <table id="statsTable"></table>
    <div id="pager"></div>
         <div id="dialog-modal"  style=" width:900px; height:800px; display:none" title="Basic modal dialog">
            <div id="FillTable"></div>
        </div>
    </div>
</div>