﻿
@model IEnumerable<Liga.Domain.Entities.Games>

    @{
        ViewBag.Title = "Reportar";
        Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
    }
    <script type="text/javascript">
     function viewBoxScorer($id) {
            $.blockUI({ message: 'Cargando...' });
            var idGame = $id;
            $.ajax({
                url: "@Url.Action("GetScoreInfo", "Results")",
                data: { idGame: idGame },
                dataType: "html",
                type: "POST",
                error: function (error) {
                    console.log(error);
                    $.unblockUI();
                },
                beforeSend: function () {
                    console.log("before");
                },
                success: function (data) {
                    console.log("exito");
                    $("#FillTable").html(data);
                    $("#dialog-modal").modal();
                    $.unblockUI();
                }
            });
        }
    $(function () {
        $(".valErrores1").click(function (e) {

            e.preventDefault();
            var $item = $(this);
            validateErrores($item,1);
            // return false;
        });
        $(".valErrores2").click(function (e) {

            e.preventDefault();
            var $item = $(this);
            validateErrores($item, 2);
            // return false;
        });

        function validateErrores($link, lista) {

            var idGame = $link.attr("id");
            $.ajax({
                url: "@Url.Action("AdminValidateReport", "Report")",
                data: { idGame: idGame },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                beforeSend: function(){
                    $('#loading-image').show();
                },
                success: function (data) {
                    data = eval(data);
                    if (data.length > 1) {
                        if (lista == 1)
                            jQuery('#1td_' + idGame).html('| <img width="20px"   src="../Images/Common/redBall.png" />' + (data.length -1) + ' posibles errores');
                        else
                            jQuery('#2td_' + idGame).html('| <img width="20px"   src="../Images/Common/redBall.png" />' + (data.length -1) + ' posibles errores');
                    }
                    else
                    {
                        if (lista == 1)
                            jQuery('#1td_' + idGame).html('');
                        else
                            jQuery('#2td_' + idGame).html('');
                    }
                },
                complete: function(){
                    $('#loading-image').hide();
                }
            });
        }
    });

    </script>

    @using (Html.BeginForm())
    {
        if (ViewBag.Message != null)
        {
            <div class="message">
                <script>alert(@ViewBag.Message);</script>@ViewBag.Message
            </div>
        }

        @Html.ValidationSummary(true, "", new { style = "color:red" })
                  <div class="container">
                      <div class="row">
                          <table class="table pb-5 mb-5">
                              <tr>
                                  <td>
                                      <h2>Partidos pendientes de generar lesiones</h2>

                                      <table class="table table-striped">
                                          <tr>
                                              <td>Fecha</td>
                                              <td colspan="5" style="text-align:center">Partido</td>
                                              <td>Res.</td>
                                              <td colspan="2" style="text-align:center">Acciones</td>
                                          </tr>
                                          @foreach (var game in Model.Where(x => x.gameDate != null && (x.state == null || x.state == 0)))
                                          {
                                              <tr>
                                                  <td>@game.gameDate.Value.ToShortDateString()</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                                  <td>@game.LVNBAFranchisAway.Abbreviation</td>
                                                  <td>@@</td>
                                                  <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                                  <td>@game.idScoreAway - @game.idScoreLocal</td>
                                                  <td>@Html.ActionLink("Generar Lesiones", "AdminInjuryReport", new { id = game.Id })</td>
                                                  <td>| @Html.ActionLink("Borrar", "AdminDeleteF1", new { id = game.Id })</td>
                                              </tr>
                                          }
                                      </table>
                                      <br />
                                      <hr />
                                      <h2>Partidos jugados y reportados sin notificar errores</h2>

                                      <table class="table table-striped">
                                          <tr>
                                              <td>Fecha</td>
                                              <td colspan="5" style="text-align:center">Partido</td>
                                              <td style="width:70px">Res.</td>
                                              <td colspan="2" style="text-align:center">Acciones</td>
                                              <td colspan="1" style="text-align:center">Queja Local</td>
                                              <td colspan="1" style="text-align:center">Queja Visit.</td>
                                              <td colspan="1" style="text-align:center">Validar</td>
                                              <td colspan="1" style="text-align:center">Err.</td>
                                              <td colspan="1" style="text-align:center">BoxScore</td>
                                              <td colspan="1" style="text-align:center">Cerrar</td>

                                          </tr>
                                          @foreach (var game in Model.Where(x => x.gameDate != null && x.state > 0 && x.state < 3 && (x.errores == 0 || x.errores == null)))
                                          {
                                              <tr>
                                                  <td>@game.gameDate.Value.ToShortDateString()</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                                  <td>@game.LVNBAFranchisAway.Abbreviation</td>
                                                  <td>@@</td>
                                                  <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                                  <td style="text-align:center">@game.idScoreAway - @game.idScoreLocal</td>
                                                  <td>
                                                      @Html.ActionLink("Editar", "AdminEditReportCellEdit", new { idGame = game.Id, idTeam = game.IdTeamLocal })
                                                  </td>
                                                  <td>| @Html.ActionLink("Borrar", "AdminDeleteF2", new { id = game.Id })</td>

                                                  <td>
                                                      | @if (game.lQueja == true)
                                                      {

                                                          @Html.ActionLink("Quitar Queja", "AdminDeleteQueja", new { idGame = game.Id, idManager = game.lidManager }, new { style = " color:green" })
                                                      }
                                                      else
                                                      {
                                                          @Html.ActionLink("Poner Queja", "AdminAddQueja", new { idGame = game.Id, idManager = game.lidManager }, new { style = " color:red" })
                                                      }

                                                  </td>
                                                  <td>
                                                      | @if (game.aQueja == true)
                                                      {

                                                          @Html.ActionLink("Quitar Queja", "AdminDeleteQueja", new { idGame = game.Id, idManager = game.aidManager }, new { style = " color:green" })
                                                      }
                                                      else
                                                      {
                                                          @Html.ActionLink("Poner Queja", "AdminAddQueja", new { idGame = game.Id, idManager = game.aidManager }, new { style = " color:red" })
                                                      }

                                                  </td>
                                                  <td>
                                                      | <a href="link/to/trash/script/when/we/have/js/off" id="@game.Id" title="Validar Errores" class="valErrores1">Validar Errores </a>
                                                  </td>

                                                  <td id="1td_@game.Id">  </td>
                                                  <td>| <a href="#" onClick="viewBoxScorer(@game.Id)" id="@game.Id" title="BoxScore" class="boxscore">BoxScore </a> </td>
                                                  <td>
                                                      @if (game.lVal == 0 || game.lVal == null || game.aVal == 0 || game.aVal == null)
                                                      {
                                                          <div style="color:red">Pdte Val.</div>

                                                      }
                                                      else
                                                      {
                                                          @Html.ActionLink("Cerrar", "CloseGame", new { idGame = game.Id }, new { style = " color:yellow" })
                                                      }

                                                  </td>
                                              </tr>
                                          }
                                      </table>
                                      <hr />
                                      <br />
                                      <h2>Partidos jugados y reportados con errores ya notificados</h2>

                                      <table class="table table-striped">
                                          <tr>
                                              <td>Fecha</td>
                                              <td colspan="5" style="text-align:center">Partido</td>
                                              <td style="width:70px">Res.</td>
                                              <td colspan="2" style="text-align:center">Acciones</td>
                                              <td colspan="1" style="text-align:center">Queja Local</td>
                                              <td colspan="1" style="text-align:center">Queja Visit.</td>
                                              <td colspan="1" style="text-align:center">Validar</td>
                                              <td colspan="1" style="text-align:center">Err.</td>
                                              <td colspan="1" style="text-align:center">BoxScore</td>
                                              <td colspan="1" style="text-align:center">Cerrar</td>

                                          </tr>
                                          @foreach (var game in Model.Where(x => x.gameDate != null && x.state > 0 && x.state < 3 && x.errores == 1))
                                          {
                                              <tr>
                                                  <td>@game.gameDate.Value.ToShortDateString()</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                                  <td>@game.LVNBAFranchisAway.Abbreviation</td>
                                                  <td>@@</td>
                                                  <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                                  <td style="text-align:center">@game.idScoreAway - @game.idScoreLocal</td>
                                                  <td>
                                                      @Html.ActionLink("Editar", "AdminEditReportCellEdit", new { idGame = game.Id, idTeam = game.IdTeamLocal })
                                                  </td>
                                                  <td>| @Html.ActionLink("Borrar", "AdminDeleteF2", new { id = game.Id })</td>

                                                  <td>
                                                      | @if (game.lQueja == true)
                                                      {

                                                          @Html.ActionLink("Quitar Queja", "AdminDeleteQueja", new { idGame = game.Id, idManager = game.lidManager }, new { style = " color:green" })
                                                      }
                                                      else
                                                      {
                                                          @Html.ActionLink("Poner Queja", "AdminAddQueja", new { idGame = game.Id, idManager = game.lidManager }, new { style = " color:red" })
                                                      }

                                                  </td>
                                                  <td>
                                                      | @if (game.aQueja == true)
                                                      {

                                                          @Html.ActionLink("Quitar Queja", "AdminDeleteQueja", new { idGame = game.Id, idManager = game.aidManager }, new { style = " color:green" })
                                                      }
                                                      else
                                                      {
                                                          @Html.ActionLink("Poner Queja", "AdminAddQueja", new { idGame = game.Id, idManager = game.aidManager }, new { style = " color:red" })
                                                      }

                                                  </td>
                                                  <td>
                                                      | <a href="link/to/trash/script/when/we/have/js/off" id="@game.Id" title="Validar Errores" class="valErrores2">Validar Errores </a>
                                                  </td>

                                                  <td id="2td_@game.Id">  </td>
                                                  <td>| <a href="#" onClick="viewBoxScorer(@game.Id)" id="@game.Id" title="BoxScore" class="boxscore">BoxScore </a> </td>
                                                  <td>
                                                      @if (game.lVal == 0 || game.lVal == null || game.aVal == 0 || game.aVal == null)
                                                      {
                                                          <div style="color:red">Pdte Val.</div>

                                                      }
                                                      else
                                                      {
                                                          @Html.ActionLink("Cerrar", "CloseGame", new { idGame = game.Id }, new { style = " color:yellow" })
                                                      }
                                                  </td>

                                              </tr>
                                          }
                                      </table>
                                      <br />
                                      <hr />
                                      <h2>Partidos cerrados</h2>
                                      <table class="table table-striped">
                                          <tr>
                                              <td>Fecha</td>
                                              <td colspan="5" style="text-align:center">Partido</td>
                                              <td>Res.</td>
                                              <td colspan="5" style="text-align:center">Acciones</td>
                                          </tr>
                                          @foreach (var game in Model.Where(x => x.gameDate != null && x.state == 3))
                                          {
                                              <tr>
                                                  <td>@game.gameDate.Value.ToShortDateString()</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                                  <td>@game.LVNBAFranchisAway.Abbreviation</td>
                                                  <td>@@</td>
                                                  <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                                                  <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                                  <td style="text-align:center">@game.idScoreAway - @game.idScoreLocal</td>
                                                  <td>
                                                      | @Html.ActionLink("Borrar","AdminDeleteF2", new { id = game.Id }, new { style = " color:red" })
                                                  </td>
                                                  <td>
                                                      | @Html.ActionLink("Reabrir", "OpenGame", new { idGame = game.Id, idTeam = game.IdTeamLocal }, new { style = " color:yellow" })
                                                  </td>

                                                  <td> <a href="#" id="@game.Id" title="BoxScore" onClick="viewBoxScorer(@game.Id)" class="boxscore">BoxScore </a></td>
                                              </tr>
                                          }
                                      </table>
                                      <br />
                                  </td>
                              </tr>
                          </table>
                      </div>
                  </div>
                <div class="modal fade" id="dialog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="width:90%">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="FillTable"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading-image" style="border:double; border-color:red;
                        background-color:white;width:100px; height:100px; display:none;position:absolute;left:50%;top:50%; margin:-50px 0px 0px -50px;">
                    <img style=" width:70px; position: absolute;    margin: auto;    top: 0;    left: 0;    right: 0;    bottom: 0;" src="~/Images/Common/basket.gif" />
                </div>
                }
