﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "Valorar";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}

@using (Html.BeginForm("CloseGame", "Report", FormMethod.Post, new { @id = "SetClosedGame" }))
{
    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary(true, "", new { style = "color:red" })

    <div class="row mt-5">
        <div class="col-md-12">
            @if (Model.ManagerLocal.Id == ViewBag.Manager)
            {
                <img width="90px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisAway.Icono" />
                @Model.ManagerAway.GamerTag

                if (Model.ManagerAway.Photo == null)
                {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                }
                else
                {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                }
            }
            else
            {
                <img width="90px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisLocal.Icono" />
                @Model.ManagerLocal.GamerTag

                if (Model.ManagerLocal.Photo == null)
                {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                }
                else
                {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                }
            }
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <img width="50px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisAway.Icono" />@Model.LVNBAFranchisAway.Name
                </div>
                <div class="card-body text-center">
                    <h2 class="h2">@Model.idScoreAway</h2> 
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @Model.LVNBAFranchisLocal.Name<img width="50px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisLocal.Icono" />
                </div>
                <div class="card-body text-center">
                    <h2 class="h2">@Model.idScoreLocal</h2> 
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 pb-5 mt-5 justify-content-end">
        <button type="submit" class="btn btn-outline-success col-md-2">Cerrar Reporte</button>
        <a href="/Report/Index" class="btn btn-outline-dark col-md-2 ml-3">Volver</a>
    </div>
}