﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<h3 class="h3 mt-5"> Borrar Reporte</h3>
<h4 class="h4 mt-2">Está seguro?</h4>
<div class="row mt-5">
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Fecha Reporte</label>
        @Html.DisplayFor(model => model.gameDate, new { @class="form-control"})
    </div>
    <div class="form-group col-md-3">
        <label class="font-weight-bold">Fecha 2k</label>
        @Html.DisplayFor(model => model.date2k, new { @class="form-control"})
    </div>
    <div class="row">
        <h5 class="h5 font-weight-bold">Partido</h5>
        <div class="col-md-5">
            <img width="60px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisAway.Icono" />
            @Html.DisplayFor(model => model.LVNBAFranchisAway.Name)
        </div>
        <div class="col-md-5">
            <img width="60px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisLocal.Icono" />
            @Html.DisplayFor(model => model.LVNBAFranchisLocal.Name)
        </div>
    </div>
     <div class="form-group col-md-3">
         <label class="font-weight-bold">Resultado</label>
         @Html.DisplayFor(model => model.idScoreAway) - @Html.DisplayFor(model => model.idScoreLocal)
     </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row mb-5 pb-5 justify-content-end mr-5">
        <button type="submit" class="btn btn-outline-danger col-md-2 mr-2">Eliminar</button>
        <a href="/Report/Index" class="btn btn-outline-dark">Volver</a>
    </div>
}
