﻿@model IEnumerable<Liga.Domain.Entities.Games>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
    }
    <script type="text/javascript">
    $(function () {
        $("#Help").click(function () {
            $("#dialog-modal").modal();
        });
        function runEffect() {
            // most effect types need no options passed by default
            var options = {};
            // run the effect
            $("#InfoHelp").show("Pulsate", options, 500);
        };
    });

    </script>

    @using (Html.BeginForm())
    {
        if (ViewBag.Message != null)
        {
            <div class="message">
                <script>alert(@ViewBag.Message);</script>@ViewBag.Message
            </div>
        }

        @Html.ValidationSummary(true, "", new { style = "color:red" })
                  <div class="container pt-5">
                      <h3>Reportar</h3>
                      <div class="row mt-5 mb-5 pb-5">
                          <div class="col-sm-12">
                              <h4>Partidos pendientes</h4>
                              <table class="table table-striped">
                                  <thead class="thead-dark">
                                      <tr>
                                          <th colspan="2">Visitante</th>
                                          <th>@@</th>
                                          <th colspan="2">Local</th>
                                          <th>Acciones</th>
                                      </tr>
                                  </thead>
                                  @foreach (var game in Model.Where(x => x.gameDate == null))
                                  {
                                      <tr style="text-align:center;">
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                          <td>@game.LVNBAFranchisAway.Name</td>
                                          <td></td>
                                          <td>@game.LVNBAFranchisLocal.Name</td>
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                          <td>@Html.ActionLink("Reportar", "Report", new { idGame = game.Id })</td>
                                      </tr>
                                  }
                              </table>
                          </div>
                          <div class="col-sm-12">
                              <h4>Partidos pendientes de generar lesiones</h4>
                              <table class="table table-striped">
                                  <thead class="thead-dark">
                                      <tr>
                                          <th>Fecha</th>
                                          <th colspan="5" style="text-align:center">Partido</th>
                                          <th>Res.</th>
                                          <th colspan="2" style="text-align:center">Acciones</th>
                                      </tr>
                                  </thead>
                                  @foreach (var game in Model.Where(x => x.gameDate != null && (x.state == null || x.state == 0)))
                                  {
                                      <tr>
                                          <td>@game.gameDate.Value.ToShortDateString()</td>
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                          <td>@game.LVNBAFranchisAway.Abbreviation</td>
                                          <td>@@</td>
                                          <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                          <td>@game.idScoreAway - @game.idScoreLocal</td>
                                          <td>@Html.ActionLink("Generar Lesiones", "InjuryReport", new { id = game.Id })</td>
                                          <td>
                                              | @Html.ActionLink("Borrar", "DeleteF1", new { id = game.Id })
                                          </td>
                                      </tr>
                                  }
                              </table>
                              <h4 class="mt-5">Partidos jugados y reportados</h4>
                              <table class="table table-striped">
                                  <thead class="thead-dark">
                                      <tr>
                                          <th>Fecha</th>
                                          <th colspan="5" style="text-align:center">Partido</th>
                                          <th style="width:70px">Res.</th>
                                          <th colspan="5" style="text-align:center">Acciones</th>
                                          <th style="text-align:center">Err.</th>
                                      </tr>
                                  </thead>
                                  @foreach (var game in Model.Where(x => x.gameDate != null && x.state > 0 && x.state < 3))
                                  {
                                      <tr>
                                          <td>@game.gameDate.Value.ToShortDateString()</td>
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                          <td>@game.LVNBAFranchisAway.Abbreviation</td>
                                          <td>@@</td>
                                          <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                          <td style="text-align:center">@game.idScoreAway - @game.idScoreLocal</td>
                                          <td>
                                              @if (game.aidManager == @ViewBag.Manager)
                                              {
                                                  @Html.ActionLink("Editar", "EditReportCellEdit", new { idGame = game.Id, idTeam = game.IdTeamAway })
                                              }
                                              else
                                              {
                                                  @Html.ActionLink("Editar", "EditReportCellEdit", new { idGame = game.Id, idTeam = game.IdTeamLocal })
                                              }
                                          </td>
                                          <td>
                                              | @if ((game.aidManager == @ViewBag.Manager && game.aQueja == true) || (game.lidManager == @ViewBag.Manager && game.lQueja == true))
                                              {

                                                  @Html.ActionLink("Quitar Queja", "DeleteQueja", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:green" })
                                              }
                                              else
                                              {
                                                  @Html.ActionLink("Poner Queja", "AddQueja", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:red" })
                                              }

                                          </td>
                                          <td>
                                              | @if ((game.aidManager == @ViewBag.Manager && (game.aMVP == 0 || game.aMVP == null)) || (game.lidManager == @ViewBag.Manager && (game.lMVP == 0 || game.lMVP == null)))
                                              {
                                                  @Html.ActionLink("MVP", "SetMVP", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:yellow" })

                                              }
                                          </td>
                                          <td>
                                              | @if ((game.aidManager == @ViewBag.Manager && (game.aVal == null || game.aVal == 0)) || (game.lidManager == @ViewBag.Manager && (game.lVal == null || game.lVal == 0)))
                                              {
                                                  @Html.ActionLink("Valorar", "SetVal", new { idGame = game.Id, idManager = @ViewBag.Manager }, new { style = " color:orange" })
                                              }
                                              else
                                              {
                                                  if (game.aidManager == @ViewBag.Manager)
                                                  {
                                                      <span>Val: @game.aVal</span>
                                                  }
                                                  else
                                                  {
                                                      <span>Val: @game.lVal</span>
                                                  }
                                              }
                                          </td>
                                          <td>| <a href="/Results/GetScoreInfo?idGame=@game.Id" id="@game.Id" title="BoxScore" class="boxscore">BS </a> </td>
                                          <td>
                                              @if (game.errores == 1)
                                              {<img width="20px" src="~/Images/Common/redBall.png" />}

                                          </td>
                                      </tr>
                                  }
                              </table>
                              <h4 class="mt-5">Partidos cerrados</h4>
                              <table class="table table-striped">
                                  <thead class="thead-dark">
                                      <tr style="font-weight:bold;color:orange;text-align:center">
                                          <th>Fecha</th>
                                          <th colspan="5" style="text-align:center">Partido</th>
                                          <th>Res.</th>
                                          <th style="text-align:center">Acciones</th>
                                      </tr>
                                  </thead>

                                  @foreach (var game in Model.Where(x => x.gameDate != null && x.state == 3))
                                  {
                                      <tr>
                                          <td>@game.gameDate.Value.ToShortDateString()</td>
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisAway.Icono" /></td>
                                          <td>@game.LVNBAFranchisAway.Abbreviation</td>
                                          <td>@@</td>
                                          <td>@game.LVNBAFranchisLocal.Abbreviation</td>
                                          <td><img width="20px" src="~/Images/Common/teams/Iconos/@game.LVNBAFranchisLocal.Icono" /></td>
                                          <td style="text-align:center">@game.idScoreAway - @game.idScoreLocal</td>
                                          <td> <a href="/Results/GetScoreInfo?idGame=@game.Id" id="@game.Id" title="BoxScore" class="boxscore">BoxScore </a></td>
                                      </tr>
                                  }
                              </table>
                          </div>
                      </div>
                  </div>
        <div class="modal fade" id="dialog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="FillTable"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
