﻿@model IEnumerable<Liga.Domain.Entities.PlayersStatsGames>

@{
    ViewBag.Title = "Reporte lesiones";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<h2 class="mt-5">
    Reporte de lesiones partido a fecha 2k  @ViewBag.Fecha2K
</h2>
<h3 class="h3"> Parte de Lesionados?</h3>

<div class="container">
    @using (Html.BeginForm("InjuryReport", "Report", FormMethod.Post, new { @id = "LesReport" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @style = "color:red" })
        <input type="hidden" value="@ViewBag.GameId" name="idPartido" />
        <div class="row injury">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-6 justify-content-center text-center">
                        <img width="90px" src="~/Images/Common/teams/Iconos/@ViewBag.IconoVisitante" />
                    </div>
                    <div class="col-md-6 justify-content-center text-center">
                        <img width="90px" src="~/Images/Common/teams/Iconos/@ViewBag.IconoLocal" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 justify-content-center text-center">
                        @Html.TextBox("sumVisitante", null, new { @id = "sumVisitante", @class = "form-control col-md-12 disabled" })
                    </div>
                    <div class="col-md-6 justify-content-center text-center">
                        @Html.TextBox("sumLocal", null, new { @id = "sumLocal", @class = "form-control col-md-12 disabled" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="w-75">Jugador</th>
                                    <th class="w-25">Minutos</th>
                                </tr>
                            </thead>
                            @foreach (var playerStat in Model.Where(x => x.idTeam == @ViewBag.EquipoVisitanteId).OrderBy(x => x.Player.CompleteName))
                            {
                                <tr>
                                    <td>
                                        <img width="25px" src="~/Images/Common/teams/Iconos/@playerStat.LVNBAFranchis.Icono" />
                                        @playerStat.Player.CompleteName
                                    </td>
                                    <td>
                                        @Html.TextBox("p" + @playerStat.idPlayer, null, new { @id = @playerStat.idPlayer, @class = "form-control MinAway", @team = @playerStat.idTeam, maxlength = 2, max=53, min=0, step=1, style = " font-weight:bold; font-size:14pt" })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="w-75">Jugador</th>
                                    <th class="w-25">Minutos</th>
                                </tr>
                            </thead>
                            @foreach (var playerStat in Model.Where(x => x.idTeam == ViewBag.EquipoLocalId).OrderBy(x => x.Player.CompleteName))
                            {
                                <tr>
                                    <td>
                                        <img width="25px" src="~/Images/Common/teams/Iconos/@playerStat.LVNBAFranchis.Icono" />
                                        @playerStat.Player.CompleteName
                                    </td>
                                    <td>
                                        @Html.TextBox("p" + @playerStat.idPlayer, null, new { @id = @playerStat.idPlayer, @class = "form-control MinLocal", @team = @playerStat.idTeam, maxlength = "2", max = "53", min = "0", step = "1", style = "font-weight:bold; font-size:14pt" })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="ListaLesionados"></div>
            </div>
        </div>
        <div class="row mb-5 pb-5">
            <div class="col-md-3">
                <input type="submit" id="genLes" class="btn btn-outline-success" value="Generar Lesiones" />
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-dark" })
            </div>
        </div>
    }

</div>
<script>
    console.log("hola mundo");
        $(function () {
            getInjuries();
            $("#sumVisitante").attr('readonly', 'readonly');
            $("#sumLocal").attr('readonly', 'readonly');
            $(".MinAway").on("change", function () {
                contarMinutos();
            });
            $(".MinLocal").on("change", function () {
                contarMinutos();
            });

            $("#LesReport").submit(function (event) {
                if ($("#sumVisitante").val() < 240 || $("#sumLocal").val() < 240)
                    {
                    alert("Los minutos de cada equipo deben sumar almenos 240 en total!");
                    event.preventDefault();
                }
            });
        });
        function contarMinutos() {
            var iTotalAway = 0;
            var iTotalHome = 0;
            $("input:text").each(function () {
                if ($(this).hasClass("MinAway")) {
                    if ($(this).val() != "") {
                        iTotalAway = iTotalAway +  parseInt($(this).val());
                    }
                }
                if ($(this).hasClass("MinLocal")) {
                    if ($(this).val() != "")
                        iTotalHome = iTotalHome + parseInt($(this).val());
                }
            });
            $("#sumLocal").val(iTotalHome);
            $("#sumVisitante").val(iTotalAway);
        }

        function getInjuries() {
            $.ajax({
                url: "@Url.Action("GetInjuriesOfGame", "Report")",
                data: { idGame: '@ViewBag.GameId' },
                dataType: "html",
                type: "POST",
                error: function () {
                    alert("An error occurred con las lesiones.");
                },
                success: function (data) {
                    data = eval(data);
                    if (data.length > 0) {
                        var options = '';
                        var i = 0;
                        options += '<h2>Lesiones</h2>';
                        for (temp in data) {
                            var item = data[temp];
                            i = i + 1;
                            var imageLogo = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                            imageLogo = imageLogo.replace("#laIMG", item.sLogo);

                            options += '<table  style="border-collapse:inherits;border-left-width:0px;background-color:black;color:white;width:100%;"><tr border=""  style="border-left-width:0px;background-color:transparent;"><td style="background-color:black;">' + imageLogo + '&nbsp;&nbsp;' + item.sCompleteName + '</td><td style="width:30%;align:center;background-color:black;"><img width="15px" height="15px" src="@Url.Content("~/Images/Common/lesion.png")"  />' + '&nbsp;&nbsp;' + item.iGamesRest + '</td></tr></table>';
                        }
                        options += '</ul></li>';
                        jQuery('#ListaLesionados').html(options);
                    }
                },
                error: function (data) {
                    console.log(data);
                }
        });
    }
</script>
