﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<script type="text/javascript">
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    $("#idResult1").validate({
        rules: {
            field: {
                required: true,
                digits: true
            }
        }
    });

</script>

@using (Html.BeginForm())
{

    if (ViewBag.Message != null)
    {
        <div class="message">
            <script>alert(@ViewBag.Message);</script>@ViewBag.Message
        </div>
    }
    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary(true, "", new { style = "color:red" })
    <div class="row mb-5 pb-5">
        <div class="col-10 offset-1">
            <h4 class="mb-5 mt-5">Reportar Partido</h4>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Fecha 2k</label>
                    @Html.TextBoxFor(model => model.date2k, new { @id = "fecha2k", type = "date", @class = "form-control" })
                </div>
                <div class="form-group col-md-4">
                    <label>Local</label>
                    @Html.HiddenFor(model => model.IdTeamLocal)
                    <span class="font-weight-bold">@ViewBag.EquipoLocal</span>
                    @Html.TextBoxFor(model => model.idScoreLocal, new { @class = "form-control" })@Html.ValidationMessageFor(model => model.idScoreLocal, null, new { style = "color:red" })
                </div>
                <div class="form-group col-md-4">
                    <label>Visitante</label>
                    @Html.HiddenFor(model => model.IdTeamAway)
                    <span class="font-weight-bold">@ViewBag.EquipoVisitante</span>
                    @Html.TextBoxFor(model => model.idScoreAway, new { @class = "form-control" })@Html.ValidationMessageFor(model => model.idScoreAway, null, new { style = "color:red" })
                </div>

                <div class="col-md-6">
                    <span class="text-danger">RECUERDA:</span> poner una queja es un tema serio<br />
                    piensa bien si es acertado poner queja. Medítalo y no te dejes llevar por un calentón. Cuando pones una queja, el motivo es obligatorio
                </div>
                <div class="form-group col-md-2">
                    <label>Queja:</label>
                    @Html.CheckBox("chQueja", false)
                </div>
                <div class="col-md-4 form-group">
                    <label>Motivo:</label>
                    @Html.TextArea("idMotivo", "", 4, 10, new { style = "width:350px", maxlenght = "8", @class = "form-control" })
                </div>
                <div class="col-md-8 mb-3">
                    <h5 class="text-danger">Como valorar un manager?</h5>
                    <span>
                        Cuando valoramos un manager tenemos que tener en cuenta diferentes cosas.<br /> Por un lado el juego desplegado, su variedad, su estética, etc. <br />También conviene mirar su fair play, sus defectos, etc. Al final
                        debes tener un criterio para valorar al compañero. <br />En definitiva, este valor sirve para medir tu grado de satisfacción tras el partido jugado.<br /> Los diferentes grados van de 1 a 5 donde el 1 es una experiencia pobre y 5 la más favorable.
                    </span>
                </div>
                <div class="col-md-4 form-group ">
                    <h5> Valoración manager rival?</h5>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButton("valora1", "1", false, new { @class = "custom-control-input", @id = "customRadioInline1" })
                        <label class="custom-control-label" for="customRadioInline1">1</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButton("valora1", "2", false, new { @class = "custom-control-input", @id = "customRadioInline2" })
                        <label class="custom-control-label" for="customRadioInline2">2</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButton("valora1", "3", false, new { @class = "custom-control-input", @id = "customRadioInline3" })
                        <label class="custom-control-label" for="customRadioInline3">3</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButton("valora1", "4", false, new { @class = "custom-control-input", @id = "customRadioInline4" })
                        <label class="custom-control-label" for="customRadioInline4">4</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButton("valora1", "5", false, new { @class = "custom-control-input", @id = "customRadioInline5" })
                        <label class="custom-control-label" for="customRadioInline5">5</label>
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    <label>MVP 2k (el que selecciona CPU)</label>
                    @Html.DropDownList("mvpPlayer", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4 form-group">
                    <label>MVP (el que tu crees que se lo merece)</label>
                    @Html.DropDownList("ManmvpPlayer", null, new { @class = "form-control" })
                </div>

            </div>
            <div class="row mb-5 justify-content-end">
                <button type="submit" class="btn btn-outline-success col-md-2 mr-2">Reportar</button>
                <a href="/Report/Index" class="btn btn-outline-dark">Volver</a>
            </div>
        </div>
    </div>
}
