﻿@model Liga.Domain.Entities.Games

@{
    ViewBag.Title = "MVP";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
		<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	

<script>
    $(function () {


        $("#SetValForm").submit(function (event) {
            if ($("input[type=radio][name=valora1]:checked").length == 0) {
                alert('Debes dar una valoración!');
                event.preventDefault();
            }
            
        });
    });
</script>

@using (Html.BeginForm("SetMVP", "Report", FormMethod.Post, new { @id = "SetMVPForm" }))
{
    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary(true, "", new { style = "color:red" })

   <table style ="text-align:center; width:100%; font-size:30px; color:orange; font-weight:bold">
       <tr>
           <td></td>
       </tr>
       <tr></tr>
       <tr>
           <td colspan="3">@if (Model.ManagerLocal.Id == ViewBag.Manager)
               {
               <img width="90px"   src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisAway.Icono" />
                     @Model.ManagerAway.GamerTag 
                     
                   if (Model.ManagerAway.Photo == null)
                     {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                     }
                    else
                    {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                    }
               }
               else
               {
               <img width="90px"   src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisLocal.Icono" />
                     @Model.ManagerLocal.GamerTag 
                     
                     if (Model.ManagerLocal.Photo == null)
                     {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                     }
                    else
                    {
                    <img width="60px" src="~/Images/Common/cara.jpg" />
                    }
                }
           </td>
       </tr>
       <tr>
            <td>
                <span style="color:@Model.LVNBAFranchisAway.Color">
                <img width="50px"   src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisAway.Icono" />@Model.LVNBAFranchisAway.Name</span>
            </td>
            <td> @@ </td>
            <td>
                <span style="color:@Model.LVNBAFranchisLocal.Color">  
                @Model.LVNBAFranchisLocal.Name<img width="50px"   src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchisLocal.Icono" /></span>
            </td>
       </tr>
       <tr>
           <td colspan="3">
                @Model.idScoreAway - @Model.idScoreLocal
           </td>
       </tr>
       
       <tr>
           <td  style="color:gray">MVP CPU: @ViewBag.MVPCPU</td>
           <td  style="color:gray">
                                 @Html.DropDownList("MVPList", String.Empty)                                     
           </td>
           <td  style="color:gray">MVP Rival: @ViewBag.MVPRival</td>
       </tr>
       
       <tr>
           <td colspan="3">   
               <input type="submit"  class="css_button" value="MVP" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "css_button" })  
           </td>
       </tr>
   </table>
}

 

