﻿@model Liga.Domain.Entities.UserProfile

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Usuario: @Model.UserName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="row mt-5 mb-5">
    <input type="text" id="UserId" name="UserId" value="@Model.UserId" class="form-control" hidden />
    <div class="form-group col-md-4">
        @Html.Label("Nombre")
        <input type="text" id="UserName" name="Username" value="@Model.UserName" class="form-control" />
    </div>
    <div class="form-group col-md-4">
        @Html.Label("Email")
        <input type="text" id="Email" name="Email" value="@Model.Email" class="form-control" />
    </div>
    <div class="form-group col-md-4">
        <label for="roles">Roles</label>
        <select multiple class="form-control" id="roles" name="roles">
            @foreach (var role in ViewBag.Roles)
            {
                var encontro = false;
                foreach (var userRoles in Model.Webpages_UsersInRoles)
                {
                    if (userRoles.RoleId == role.RoleId)
                    {
                        encontro = true;
                        break;
                    }
                }
                if (encontro)
                {
                    <option value="@role.RoleId" selected>@role.RoleId - @role.RoleName</option>
                }
                else
                {
                    <option value="@role.RoleId">@role.RoleId - @role.RoleName</option>
                }
            }
        </select>
    </div>
</div>
<div class="row justify-content-end">
    <a href="/Users" class="btn btn-dark mr-1 col-md-2">Volver</a>
    <button type="submit" class="col-md-2 btn btn-outline-success">Editar</button>
</div>
}

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
