﻿@model IEnumerable<Liga.Domain.Entities.UserProfile>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row mt-5 mb-5">
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("Mail")
                </th>
                <th>
                    @Html.DisplayName("Perfiles")
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <ul>
                            @foreach (var perfil in item.Webpages_UsersInRoles)
                            {
                                <li>@perfil.Webpages_Roles.RoleName</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <a href="/Users/Edit/@item.UserId" class="btn btn-sm btn-warning mr-1">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

