﻿@model IEnumerable<Liga.Domain.Entities.LVNBAFranchises>

@{
    ViewBag.Title = "Asignar manager a franquicia";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";
}
<h3>Despedir Manager, asignar Manager a franquicia</h3>
<h5>Cuando se asigna un Manager a una franquicia ocurre lo siguiente:</h5>
<ol class="row mt-3">
    <li class="one">
        <h4>Se consolida el histórico de Manager-Franquicia</h4>
        Para poder ver todo el histórico de managers, pueder verlo <a href="http://go.microsoft.com/fwlink/?LinkId=245153">aquí</a>
    </li>
    <li class="two">
        <h4>Se envía mail de notificación</h4>
        Si la franquicia no tenía manager, se envía un mail al nuevo manager notificando la noticia <br />
        Si la franquicia tenía ya manager, se envía un mail al nuevo y al anterior manager<br />
        Si la franquicia tenía manager y simplemente se desasigna, se envía mail al anterior manager <br />
    </li>
    <li class="three">
        <h4>Se crea una noticia. </h4>
        Si el check está marcado, se generarán las noticias oportunas. Puedes revisar esas noticias <a href="http://go.microsoft.com/fwlink/?LinkId=245153">aquí</a>
    </li>
</ol>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "validateClass" })

    <div class="row mt-3">
        <p class="text-danger font-weight-bold">
            Desactiva este check si quieres que no se plasme la noticia en el tablón---->
            @Html.CheckBox("Envío Notifiaciones", true)
        </p>
        <p>Si vas a despedir un manager, puedes introducir aquí el texto de la noticia que se generará (max.150 caracteres) </p>
        <div class="col-12 mt-3">@Html.TextArea("Motivo", new { maxlength = 150, @rows = 3, @class = "form-control" })</div>
    </div>
    <div class="row mt-3">
        <div class="form-group col-md-4">
            <label>Escoge franquicia:</label>
            @Html.DropDownList("IdFranchise", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label>Manager Actual:</label>
            <label class="form-control" id="manActual"></label>
        </div>
        <div class="form-group col-md-4">
            <label>Escoge manager:</label>
            @Html.DropDownList("IdManager", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row justify-content-end">
        <button class="col-md-2 btn btn-outline-success" type="submit">Asignar</button>
    </div>
}
<table class="table table-striped mt-3 mb-5">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayName("Equipo")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager.GamerTag)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.GamerTag)
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $("#IdFranchise").change(function () {
            var idTeam = $("#IdFranchise").val();
            getManager(idTeam);
        });
    });
    function getManager(idTeam) {
        $.ajax({
            url: "@Url.Action("ManagerByTeam", "ManagerFranchises")",
            data: { idTeam: idTeam },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";

                $("#manActual").html(data);
            }
        });
    }
</script>