﻿@model Liga.Domain.Entities.ManagersFranchises

@{
    ViewBag.Title = "Histórico franquicias-manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(function () {
        jQuery.validator.methods.date = function (value, element) {
            var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
            return this.optional(element) || dateRegex.test(value);
        };
    });
</script>
<h2>Histórico franquicias-manager</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label("Franquicia")
            @Html.DropDownList("IdFranchise", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdFranchise)
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Manager")
            @Html.DropDownList("IdManager", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdManager)
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Fecha inicio")
            @Html.TextBoxFor(model => model.StartDate, new { @type = "date", @class ="form-control" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Fecha fin")
            @Html.TextBoxFor(model => model.EndDate, new { @type="date", @class="form-control" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
    </div>
    <div class="row justify-content-end">
        <a href="/ManagerFranchises" class="btn btn-dark mr-1 col-md-2">Volver</a>
        <button type="submit" class="col-md-2 btn btn-outline-success">Crear</button>
    </div>
}

