﻿@model Liga.Domain.Entities.ManagersFranchises

@{
    ViewBag.Title = "Histórico franquicias-manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Histórico franquicias-manager</h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Histórico franquicias-manager</legend>

    <div class="display-label">
            @Html.Label("Franquicia")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LVNBAFranchis.Name)
    </div>

    <div class="display-label">
            @Html.Label("Manager")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manager.GamerTag)
    </div>

    <div class="display-label">
            @Html.Label("Fecha inicio")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
            @Html.Label("Fecha fin")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
