﻿@model Liga.Domain.Entities.BoxScore
<style>
.gameStats 
{
    width:100%;
}
.gameStats td
   {
       width:50%;
       color:Yellow;
       font-weight:bold;
       text-align:right;
       font-size:14px;
       
   }
.gameStats td:first-child{
   color:white;
}
.tableStats {

	margin:0px;padding:0px; 

	width:100%;

	border:0px solid #000000;

	 vertical-align:top;

	-moz-border-radius-bottomleft:0px;

	border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

	

	-moz-border-radius-bottomright:0px;

	border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

	

	-moz-border-radius-topright:0px;

	border-top-right-radius:0px;

	border-top-right-radius:0px;

	

	-moz-border-radius-topleft:0px;

	border-top-left-radius:0px;

	border-top-left-radius:0px;

}.tableStats table{

	width:100%;

	height:100%;

	margin:0px;padding:0px;
	border:0px;
		 border-collapse:collapse;


}.tableStats tr:last-child td:last-child {

	-moz-border-radius-bottomright:0px;

	border-bottom-right-radius:0px;

	border-bottom-right-radius:0px;

}

.tableStats table tr:first-child td:first-child {

	-moz-border-radius-topleft:0px;

	border-top-left-radius:0px;

	border-top-left-radius:0px;

}

.tableStats table tr:first-child td:last-child {

	-moz-border-radius-topright:0px;

	border-top-right-radius:0px;

	border-top-right-radius:0px;

}.tableStats tr:last-child td:first-child{

	-moz-border-radius-bottomleft:0px;

	border-bottom-left-radius:0px;

	border-bottom-left-radius:0px;

}.tableStats tr:hover td{

	

}
.tableStats tr:nth-child(odd){ background-color:#e5e5e5; }

.tableStats tr:nth-child(even)    { background-color:#cccccc; }
.tableStats td{

	vertical-align:middle;

	


	border:1px solid #red;

	border-width:0px 1px 1px 0px;

	text-align:center;

	padding:1px;padding-left:1px; padding-right:1px;

	font-size:10px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.tableStats tr:last-child td{

	border-width:0px 0px 1px 0px;

}.tableStats tr td:last-child{

	border-width:0px 0px 1px 0px;

}.tableStats tr:last-child td:last-child{

	border-width:0px 0px 1px 0px;

}

.tableStats tr:first-child td{

		background:-o-linear-gradient(bottom, #666666 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #666666 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#666666,b2b2b2);


	background-color:#666666;

	border:1px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 0px;

	font-size:10px;

	font-family:Arial;

	font-weight:bold;

	color:#000000;

}
.tableStats tr:hover td{

	background:-o-linear-gradient(bottom, yellow 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, yellow), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, yellow 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="yellow", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,yellow,b2b2b2);


	background-color:red;

}
.tableStats tr:last-child td {
    color:red;
    font-weight:bold;
}
.tableStats tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #666666 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #666666 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#666666", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#666666,b2b2b2);


	background-color:red;

}
.tableStats td:first-child
{
    text-align:left;
	font-weight:bold;
    border:0px;
}
.tableStats tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.tableStats tr:first-child td:last-child{

	border-width:0px 0px 1px 0px;

}
.tableStats td {

	border-width:0px 0px 1px 0px;

}
</style>
<div  style=" width:993px; margin-left:-15px; margin-top:-10px;margin-right:-15px;">

<table style=" border-color:Black">

<tr>
            <td style="width:10px">
            @*    <img style=" height:540px;width:70px;float:left;" src="@Url.Content("~/Content/images/teams/SmallLogos/")@Model.First().LocalSidebar" />
            *@   
                <img style=" height:550px;width:70px;float:left;" src="@Url.Content("~/Images/Common/teams/sidebars/")@Model.ListaStatsTeams.First().AwaySidebar" />

            </td>
            <td  style=" top:0; vertical-align:top; margin-top:0px; margin-left:0px; width:900px;">
      <table width="100%" >
        <tr>
            <td style=" width:25%; vertical-align:top;">
                <table>
            <tr><td style="width:50%; vertical-align:middle; font-size:25px; font-weight:bold">@Model.ListaStatsTeams.First().AbreAway</td>
                 <td align="right" style=" width:50%;float:right">                    
                <img style="float:right; height:80px;width:80px;" src="@Url.Content("~/Images/Common/teams/BigLogos/")@Model.ListaStatsTeams.First().AwayLogo" />
                </td>
            </tr>
            <tr><td colspan="2">
                <table class="gameStats">
                                <tr><td>% FG</td>
                                <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGM, @Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGA)</td></tr>
                                <tr><td>% 3PT</td>
                                <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3M, @Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3A)</td></tr>
                                <tr><td>% FT</td>
                                <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTM, @Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTA)</td></tr>
                                <tr><td>REBS</td>
                                <td>@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TREBS</td></tr>
                                <tr><td>REBS OFF</td>
                                <td>@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TROFS</td></tr>
                                <tr><td>ASI</td>
                                <td>@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TASSS</td></tr>
                                    </tr>
                                </table>
                </td>
            </tr>
            </table>
                    
            </td>
            <td style="width:50%;vertical-align:bottom; height:200px; width:860px;top:0px;background-size:cover;  background-image:url('@Url.Content("~/Images/Common/teams/stadiums/")@Model.ListaStatsTeams.First().LocalStadium') ">
                   <p> 
                    <div style=" margin-left: 40px; float: left; font-size: 90px; font-family: Segoe UI,Arial,sans-serif; color: yellow; text-shadow: 2px 2px 2px #000; background: rgba(0, 0, 0, 0.5); border-radius: 20px;">@Model.ListaStatsTeams.First().idScoreAway</div>
                    <div style=" margin-right: 40px; float: right; font-size: 90px; font-family: Segoe UI,Arial,sans-serif; color: yellow; text-shadow: 2px 2px 2px #000; background: rgba(0, 0, 0, 0.5); border-radius: 20px;">@Model.ListaStatsTeams.First().idScoreLocal</div>
                   </p>
            </td>
            <td style="width:25%;vertical-align:top;">
                <table>
            <tr>
                 <td align="right" style=" width:50%;float:right">                    
                <img style="float:right; height:80px;width:80px;" src="@Url.Content("~/Images/Common/teams/BigLogos/")@Model.ListaStatsTeams.First().LocalLogo" />
                </td>
                <td style="width:50%; text-align:right; vertical-align:middle; font-size:25px; font-weight:bold">@Model.ListaStatsTeams.First().AbreLocal</td>
            </tr>
            <tr>
                <td colspan="3">
                <table class="gameStats">
                                <tr><td>% FG</td>
                                <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGM, @Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGA)</td></tr>
                                <tr><td>% 3PT</td>
                                <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3M, @Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3A)</td></tr>
                                <tr><td>% FT</td>
                                <td>@MathHelper.Percentil(@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTM, @Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTA)</td></tr>
                                <tr><td>REBS</td>
                                <td>@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TREBS</td></tr>
                                <tr><td>REBS OFF</td>
                                <td>@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TROFS</td></tr>
                                <tr><td>ASI</td>
                                <td>@Model.ListaStatsTeams.Where(x=>x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TASSS</td></tr>
                                    </tr>
                                </table>
                </td>
    </tr>
                    </table>
                      
            </td>
        </tr>
     </table>
     <table>
     <tr>
     <td style=" width:50%; vertical-align:top;">
     <div class="tableStats">
     <table >
     <tr><td>Player</td><td>MIN</td><td>FGM-A</td><td>3PM-A</td><td>FTM-A</td><td>+/-</td><td>OFF</td><td>DEF</td><td>TOT</td><td>AST</td><td>ST</td><td>TO</td><td>BL</td><td>PF</td><td>PTS</td></tr>
     
     @foreach (var jugador in Model.ListaStatsPlayers.Where(x => x.ActualTeam == @Model.ListaStatsTeams.First().IdAway).OrderByDescending(x=>x.TIT).ThenByDescending(x=>x.MINU))
     {
        <tr><td>@jugador.AbrevName</td><td>@jugador.MINU.ToString()</td><td>@jugador.FGM - @jugador.FGA</td><td>@jugador.P3GM - @jugador.P3GA</td><td>@jugador.FTM - @jugador.FTA</td>
            <td>@jugador.PLUSMINUS</td><td>@jugador.REBO</td><td>@jugador.REB</td><td>@jugador.REBT </td><td>@jugador.ASSISTS</td><td>@jugador.STEALS</td><td>@jugador.BLOCKS</td>
            <td>@jugador.TURNOVERS</td><td>@jugador.FOULTS</td><td>@jugador.PTS</td></tr>

     }
            <tr style="color:red"><td>TOTALES</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TMIN</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFGA</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3M/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TF3A</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFTA</td>
                <td></td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TROFS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TREBS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TRDEFS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TASSS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TSTLS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TTRNS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TBLKS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TFOLS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdAway).First().TPNTS</td></tr>
     </table>
     </div>
     </td>
     <td style=" background-color:Red"></td>
      <td style=" width:50%;vertical-align:top;">
     <div class="tableStats" style="align-content:initial">
     <table >
     <tr><td>Player</td><td>MIN</td><td>FGM-A</td><td>3PM-A</td><td>FTM-A</td><td>+/-</td><td>OFF</td><td>DEF</td><td>TOT</td><td>AST</td><td>ST</td><td>TO</td><td>BL</td><td>PF</td><td>PTS</td></tr>
     
     @foreach (var jugador in Model.ListaStatsPlayers.Where(x => x.ActualTeam == @Model.ListaStatsTeams.First().IdLocal).OrderByDescending(x=>x.TIT).ThenByDescending(x=>x.MINU))
     {
        <tr><td>@jugador.AbrevName</td><td>@jugador.MINU.ToString()</td><td>@jugador.FGM - @jugador.FGA</td><td>@jugador.P3GM - @jugador.P3GA</td><td>@jugador.FTM - @jugador.FTA</td>
            <td>@jugador.PLUSMINUS</td><td>@jugador.REBO</td><td>@jugador.REB</td><td>@jugador.REBT </td><td>@jugador.ASSISTS</td><td>@jugador.STEALS</td><td>@jugador.BLOCKS</td>
            <td>@jugador.TURNOVERS</td><td>@jugador.FOULTS</td><td>@jugador.PTS</td></tr>

     }
 <tr style="color:red"><td>TOTALES</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TMIN</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFGA</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3M/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TF3A</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTM/@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFTA</td>
                <td></td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TROFS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TREBS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TRDEFS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TASSS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TSTLS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TTRNS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TBLKS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TFOLS</td>
                <td>@Model.ListaStatsTeams.Where(x => x.idTeam == @Model.ListaStatsTeams.First().IdLocal).First().TPNTS</td></tr>
     </table>
     </div>
     </td>
    </tr>
     </table>
</td>
<td style="width:10px">        
@*    <img style="height:540px;width:70px;float:right;" src="@Url.Content("~/Content/images/teams/SmallLogos/")@Model.First().AwayLogo" />
*@
  <img style="height:550px;width:70px;float:right;" src="@Url.Content("~/Images/Common/teams/sidebars/")@Model.ListaStatsTeams.First().LocalSidebar" />
</td>
</tr>

</table>

</div>
