﻿@model IEnumerable<Liga.Domain.Entities.Games>
@using Liga.Domain.Entities

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
    bool isPrevious = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNext = ViewBag.IsNextLinkVisible ?? false;
}
<div class="col-md-12">
    <h5>Resultados</h5>
    <div id="tabs-1">
        <div class="row">
            <div class="col-md-2">
                @if (isPrevious)
                {
                    @Html.ActionLink(" < Anterior ", "Index", new { id = ViewBag.PageNumber - 1 }, new { style = "font-weight: bold;color: Orange;" })
                }
                @if (isNext)
                {
                    @Html.ActionLink("  Siguiente > ", "Index", new { id = ViewBag.PageNumber + 1 }, new { style = "font-weight: bold;color: Orange;" })
                }
            </div>
            <div class="col-md-3">
                <input class="form-control" type="date" />
            </div>
            <div class="col-md-5">
                <button class="btn btn-outline-primary" id="boton">Buscar</button>
                <p class="text-info">Clicka en el resultado para ver el Boxscore</p>
            </div>
        </div>
        <div style="float:left">
            @foreach (Games item in Model)
            {

                <div style=" text-align:center">
                    @{
                        Html.RenderPartial("OneResult", item);
                    }
                </div>
                <br /><br />
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs({
            selected: 0,
            ajaxOptions: {
                error: function (xhr, status, index, anchor) {
                    $(anchor.hash).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo.");
                }
            }
        });
        $("#buscaPorDia").click(function() {
          $(input).datepicker('show');
       });

        $("#datepicker").datepicker({
        showOn: "button",
        dateFormat: "dd/mm/yy",
        buttonImage: "@Url.Content("~/Images/Common/calendar.png")",
        buttonImageOnly: true,
        onSelect: function(date, inst) {

                    var src = '@Url.Content("~/Results/GamesPerDay?id=0")' + '&year=' + inst.selectedYear + '&month=' + (inst.selectedMonth +1) + '&day=' + inst.selectedDay;
                    $("#boton").attr("href", src);

            }
        })
        $("#datepicker").datepicker($.datepicker.regional["es"]);

        getSideBarGamesPerMonth();

        function viewBoxScorer($link) {

                var idGame = $link.attr("id");
                $.post('@Url.Action("GetScoreInfo", "Results")', { idGame: idGame }, function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");

                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 600,
                        width: 1000,
                        modal: true,
                        dialogClass:'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                });
            }
             $(".boxscore").click(function (e) {
                e.preventDefault();
                var $item = $(this);
                viewBoxScorer($item);
               // return false;
            });
    });
    function getSideBarGamesPerMonth() {
               $.ajax({
                url: "@Url.Action("GetGamesPerMonth", "Results")",
                data: {},
                dataType: "html",
                type: "POST",
                error: function() {
                    alert("An error imp occurred.");
                },
                success: function(data) {
                      data = eval(data);
                      if (data.length > 0) {
                          var options = '';
                          var i = 0;
                          options += '<h2>Partidos</h2>';
                          for (temp in data) {
                              var item = data[temp];
                              i = i + 1;
                              var month = getAbrevMonth(item.gameMonth);
                              options += '<a class="nav-link text-dark pb-0 pt-0" href="@Url.Content("~/Results/gameMonthYear?month=")' + item.gameMonth + '&year=' + item.season + '"><span class="tab">' + month + ' - ' + item.season + ' (' + item.gameTotal + ') ' + '</span></a>';
                          }
                          jQuery('#secondListUL').html(options);
                      }
                      }
                  });
              }

        function getAbrevMonth(month) {

                  var abrevMonth = '';
                  switch (month) {
                      case 1:
                          abrevMonth = 'ENERO';
                          break;
                      case 2:
                          abrevMonth = 'FEBRERO';
                          break;
                      case 3:
                          abrevMonth = 'MARZO';
                          break;
                      case 4:
                          abrevMonth = 'ABRIL';
                          break;
                      case 5:
                          abrevMonth = 'MAYO';
                          break;
                      case 6:
                          abrevMonth = 'JUNIO';
                          break;
                      case 7:
                          abrevMonth = 'JULIO';
                          break;
                      case 8:
                          abrevMonth = 'AGOSTO';
                          break;
                      case 9:
                          abrevMonth = 'SEPTIEMBRE';
                          break;
                      case 10:
                          abrevMonth = 'OCTUBRE';
                          break;
                      case 11:
                          abrevMonth = 'NOVIEMBRE';
                          break;
                      case 12:
                          abrevMonth = 'DICIEMBRE';
                          break;
                      default:
                          abrevMonth = 'MES';
                  }
                  return abrevMonth;
              }
</script>
