﻿@model Liga.Domain.Entities.SuperBoxScore

<head>
    <!-- Bring to you by http://www.CSSTableGenerator.com -->
    <link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/OneResult.css")" type="text/css" />
</head>

<script type="text/javascript">

    $(document).ready(function () {




        $(".tablaPlayer").click(function (e) {
            var $item = $(this).attr("id");
        });
    });


</script>

<div>
    <table width="750px">
        <tr>
            <td>
                <a href="link/to/trash/script/when/we/have/js/off" id="@Model.Partido.Id" title="@String.Format("{0:d}", @Model.Partido.gameDate) @Model.Partido.LVNBAFranchisLocal.Abbreviation at @Model.Partido.LVNBAFranchisAway.Abbreviation   @Model.Partido.idScoreLocal-@Model.Partido.idScoreAway" class="boxscore">
                    <div class="CSSTableGenerator" style="width:200px">
                        <table style="width:200px">
                            <tr>
                                <td>
                                    @String.Format("{0:d}", @Model.Partido.gameDate)
                                </td>

                            </tr>

                            <tr>
                                <td style="color:Black ;font-size:12px">
                                    @Model.Partido.LVNBAFranchisLocal.Name
                                </td>
                                <td>
                                    <img height="30" width="30" src='@Url.Content("~/Images/Common/teams/Iconos/")@Model.Partido.LVNBAFranchisLocal.Icono' />
                                </td>
                                <td style="	font-size:20px;">
                                    @Model.Partido.idScoreLocal
                                </td>
                            </tr>
                            <tr>
                                <td style="color:Black;font-size:12px">
                                    @Model.Partido.LVNBAFranchisAway.Name
                                </td>
                                <td>
                                    <img height="30" width="30" src='@Url.Content("~/Images/Common/teams/Iconos/")@Model.Partido.LVNBAFranchisAway.Icono' />
                                </td>
                                <td style="	font-size:20px;">
                                    @Model.Partido.idScoreAway

                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </td>
            <td style="width:350px;">
                @if (Model.Partido.cMVPPlayerInfo != null)
                {
                    // <a href="link/to/trash/script/when/we/have/js/off" id="@Model.cMVPPlayerInfo.Id" title="Selecciona" class="verInfoPlayer">
                    <table>
                        <tr align="center">
                            <td></td>
                            <td style="font-family:Calibri; font-weight:bold; color: red">MVP</td>
                        </tr>
                        <tr align="center">
                            <td style="width:20%" align="center"></td>
                            <td align="center" onclick="viewPlayerInfo('@Model.Partido.cMVPPlayerInfo.Id');" style="cursor:pointer">
                                @{Html.RenderPartial("MinPlayerCard", @Model.Partido.cMVPPlayerInfo);}
                            </td>
                        </tr>
                    </table>
                }
            </td>
            <td>
                @if (Model.listStatsTeamAway != null)
                {
                    foreach (var listaFuera in Model.listStatsTeamAway)
                    {

                        <div>@listaFuera.CompleteName</div>
                    }
                }
                @if (Model.listStatsTeamLocal != null)
                {
                    foreach (var listaLocal in Model.listStatsTeamLocal)
                    {

                        <div>@listaLocal.CompleteName</div>
                    }
                }
            </td>
        </tr>
    </table>
</div>
<div id="dialog-modal" style=" width:600px; height:800px; display:none" title="Basic modal dialog">
    <div id="FillTable"></div>
</div>