﻿ 	<head>
		<!-- Bring to you by http://www.CSSTableGenerator.com -->
		<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ResumeStats.css")" type="text/css"/>	
	</head>
    <script type="text/javascript">
        
     

    </script>
<style>
    
    
</style>
<table style="width:410px">
<tr>
<td>
    <div style="color:red;font-size:20px;font-weight:bold">PENDIENTE STATS</div>
</td>
</tr>
</table>
			
   <div id="dialog-modal"  style=" width:600px; height:800px; display:none" title="Basic modal dialog">
                    <div id="FillTable"></div>
    </div>
