﻿@model Liga.Domain.Entities.PlayersAndStates
@{
    ViewBag.Title = "GesStatus";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<style>
    .hightlight {
  background: #cc9999;
  border: 1px solid red;
}
    table.tablaPlayer.mx-auto {
    width: 250px;
    float: none!important;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenu();
        $(".statusCombo").each(function (i) {
            
            if ($(this).val() == "4" || $(this).val() == "6") {
                $(this).attr('disabled', true).addClass("hightlight");
                
            }
            if ($(this).val() == "2" || $(this).val() == "4" || $(this).val() == "5" || $(this).val() == "6" || $(this).val() == "7") {
               
                $("#anuncio" + $(this).attr("id")).css("visibility", "hidden");

            }
        });
        $(".statusCombo").change(function () {
            if ($(this).val() == "2" || $(this).val() == "4" || $(this).val() == "5" || $(this).val() == "6" || $(this).val() == "7") {

                $("#anuncio" + $(this).attr("id")).css("visibility", "hidden");

            }
            else {
                $("#anuncio" + $(this).attr("id")).css("visibility", "visible");
            }
        });
    });
    function enableControls() {
        $('.statusCombo').attr('disabled', false);
    }
</script>
<br />
<h2>Gestión del Status Mercantil</h2>
<p>Recuerda que cada vez que actualizas tu status mercantil, se enviará una noticia al tablón. Si por alguna razón no quieres que se notifique, desactiva la opción.</p>
@using (Html.BeginForm()){
@Html.ValidationSummary(true,"",new { style = "color:red"})
<div class="row">
    <div class="col-12">
        <span>Necesidades del equipo (puedes explicar aquí que buscas a cambio):</span>
        @Html.TextAreaFor(m => Model.Team.Needs, new { id = "necesidad" + @Model.Team.Id, @class = "form-control", maxlength = 250, @cols = 100, @rows = 4, style = "width:700px" })
        <input type="submit" class="btn btn-success mt-2" value="Guardar status y enviar notificación" onclick="enableControls(); return true;" />
        <hr />
    </div>

    @foreach (var item in Model.ListPlayers)
    {
        <div class="mb-4 float-left">
            <div class="row h-auto" style="min-height:250px">
                @Html.HiddenFor(modelItem => item.Id)
                <div class="col-12 mb-4 m-2">
                    @{Html.RenderPartial("MinPlayerCard", item); }
                    @Html.DropDownListFor(m => item.IdState, new SelectList(Model.PlayersStates, "Id", "State", item.IdState), new { id = item.Id, @class = "form-control noventa" })
                </div>

            </div>
        </div>
    }
</div>
}
<br />
<br />
<br />