﻿@model Liga.Domain.Entities.PlayersAndRoles
@{
    ViewBag.Title = "Gestión de roles";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<style>
    .hightlight {
  background: #cc9999;
  border: 1px solid red;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenu();
        $(".rolCombo").each(function (i) {
            
            if ($(this).val() == "7") {
                $(this).attr('disabled', true).addClass("hightlight");
                
            }
        });
    });
    function enableControls() {
        $('.rolCombo').attr('disabled', false);
    }
</script>
<br />
<h2>Gestión de roles de la plantilla</h2>
<p>Recuerda que cada vez que actualizas los roles de los jugadores, se enviará una noticia al tablón. Si por alguna razón no quieres que se notifique, desactiva la opción.</p>
<p>El jugador franquicia sólo podrá asignarse a principio de temporada (periodo de asignación de roles o cuando no haya ningún jugador franquicia tras un traspaso</p>

@using (Html.BeginForm()){
@Html.ValidationSummary(true,"",new { style = "color:red"})
   
<div class="row">
    @foreach (var item in Model.ListPlayers)
    {
    <div class="mb-4 float-left">
        <div class="row h-auto" style="min-height:250px">
            @Html.HiddenFor(modelItem => item.Id)
            <div class="col-12 mb-4 m-2">
                @{Html.RenderPartial("PlayerCard", item); }
                @Html.DropDownListFor(m => item.IdRol, new SelectList(Model.PlayersRoles, "Id", "Rol", item.IdRol), new { id = item.Id, @class = "form-control noventa" })
            </div>

        </div>
    </div>
    }
</div>

<input type="submit"  class="btn btn-success mt-2"  value="Guardar roles y enviar notificación" onclick="enableControls(); return true;" />
}
<br />
<br />
<br />