﻿@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<div class="container-fluid mt-5 mb-5 pb-5">
    <div class="accordions">
        <div class="card ">
            <div class="card-header bg-dark" id="reportesH">
                <h5 class="mb-0">
                    <a class="text-light nav-link">
                        Franquicias
                    </a>
                </h5>
            </div>
            <div id="reportesB" class="collapse show" aria-labelledby="reportesH" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="infoFranquicia" id="lFranquicia">
                        <li>
                            <a class="nav-link" href="@Url.Action("Franchise","ManagersWithTeam" , new {  idTab = 2})">
                                <h5>Situación deportiva</h5>
                                                         </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header bg-dark" id="managersH">
                <h5 class="mb-0">
                    <a class="text-light nav-link" >
                        Gestion
                    </a>
                </h5>
            </div>
            <div id="managersB" class="collapse show" aria-labelledby="managersH" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="infoFranquicia" id="lGestion">
                        <li>
                            <a class="nav-link" href="@Url.Action("Players","ManagersWithTeam")">
                                <h5>Jugadores</h5>
                               
                            </a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link" href="@Url.Action("FreeAgent","Players")">
                                <h5>Ofertas</h5>
                            
                            </a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link" href="@Url.Action("GestRoles","ManagersWithTeam")">
                                <h5>Roles</h5>
                             
                            </a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link" href="@Url.Action("GestStatus","ManagersWithTeam")">
                                <h5>Status mercantil</h5>
                             
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

