﻿@{
    ViewBag.Title = "MenuGestion";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        getSideBarMenu();
    });
</script>
<h2>Gestión general</h2>

<table border="1" style="width:780px">
    <tr>
        <td>
   <ol class="infoFranquicia" id="lGestion" style="list-style-type: none;">
  
    <!--<li style="  margin: 25px 0;  padding-left: 40px;background: url('../Images/orderedList1.png') no-repeat;">
         <a href="@Url.Action("CreateFranchiseNew","ManagersWithTeam")">
        <h3>Franquicia</h3>
        Noticia franquicia
        </a>
    </li>-->
    <li style="  margin: 25px 0;  padding-left: 40px;background: url('../Images/orderedList2.png') no-repeat;">
         <a href="@Url.Action("GestRoles","ManagersWithTeam")">
        <h3>Jugadores</h3>
        Acciones relativas a los jugadores. Editarlos, cortar jugadores, ofertas de renovación 
        </a>
    </li> 
           <li style="  margin: 25px 0;  padding-left: 40px;background: url('../Images/orderedList3.png') no-repeat;">
         <a href="@Url.Action("FreeAgent","Players")">
        <h3>Ofertas</h3>
        Enviar ofertas a jugadores libres
        </a>
    </li>       
@*    <li style="  margin: 25px 0;  padding-left: 40px;background: url('../Images/orderedList3.png') no-repeat;">
         <a href="@Url.Action("DefineGoals","ManagersWithTeam")">
        <h3>Objetivos</h3>
        Definir los objetivos de la temporada.Tanto deportivos como de manager. Sólo habilitado en pretemporada.
        </a>
    </li>  *@  

    <li style="  margin: 25px 0;  padding-left: 40px;background: url('../Images/orderedList4.png') no-repeat;">
         <a href="@Url.Action("GestRoles","ManagersWithTeam")">
        <h3>Roles</h3>
        Gestión de los roles de tus jugadores. 
        </a>
    </li>
    <li style="  margin: 25px 0;  padding-left: 40px;background: url('../Images/orderedList5.png') no-repeat;">
        <a href="@Url.Action("GestStatus","ManagersWithTeam")">    
        <h3>Status mercantil</h3>
        Gestión del status mercantil de la plantilla
    </li>
</ol>
</td>
        </tr>
    </table>

