﻿@model Liga.Domain.Entities.GeneralPlayersInfo

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script type="text/javascript">
        $(document).ready(function () {
            getSideBarMenu();
            $("#tabs").tabs({ active: '@ViewBag.Tab' });
            $("#tabs").css("float", "right");
        });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr />
            <ul class="nav nav-tabs" id="managerTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="players-tab" data-toggle="tab" href="#players" role="tab" aria-controls="players" aria-selected="true">Jugadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Estadísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="statusmer-tab" data-toggle="tab" href="#statusmer" role="tab" aria-controls="statusmer" aria-selected="false">Status mercantil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rolesplayer-tab" data-toggle="tab" href="#rolesplayer" role="tab" aria-controls="rolesplayer" aria-selected="false">Roles jugador</a>
                </li>
            </ul>
            <hr style="border-top: 0px solid rgba(0,0,0,.1);" />
            <div class="tab-content" id="managerTabContent">
                <div class="tab-pane fade show active" id="players" role="tabpanel" aria-labelledby="players-tab">
                    <!--Html.RenderPartial("PlayersInfo", Model.ListsPlayersCompleteInfo.FirstOrDefault());-->
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr width="100%"><th><h5>Jugadores</h5></th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="100%">
                                    @{
                                        foreach (var jugador in Model.ListPlayers)
                                        {
                                            <a style="cursor:pointer;float:left" href="@Url.Action("GetPlayerInfoSinModal","PlayerInfo", new {  idPlayer = jugador.Id })" id="A_9">
                                                @{Html.RenderPartial("PlayerCard", jugador);
                                                }
                                            </a>
                                        }
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                    @{
                        //Html.RenderPartial("PlayersStats", Model);
                        Html.RenderAction("PlayersStatsRedirect", "Rosters", new { idTeam = Model.idTeam, size = 100 });
                    }
                </div>
                <div class="tab-pane fade" id="statusmer" role="tabpanel" aria-labelledby="statusmer-tab">
                    @{
                        //Html.RenderPartial("PlayersStatus", Model);
                    }
                </div>
                <div class="tab-pane fade" id="rolesplayer" role="tabpanel" aria-labelledby="rolesplayer-tab">
                    @{
                        //Html.RenderPartial("PlayersRoles", Model);
                    }
                </div>
            </div>
        </div>
    </div>
</div>

