﻿@model Liga.Domain.Entities.SalaryConditions

@{
    ViewBag.Title = "Condiciones salariales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Borrar Condición Salarial</h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Condición Salarial</legend>

    <div class="display-label">
@Html.Label("Condición")    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Condition)
    </div>

    <div class="display-label">
            @Html.Label("Abreviación")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Abrev)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
