﻿@model Liga.Domain.Entities.LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Iniciar sesión";
}

<section id="loginForm">
    <div class="row mb-5 mt-5 justify-content-center">
        <div class="col-md-3 text-center">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @style = "color:red" })

                <fieldset>

                    <p> @Html.LabelFor(m => m.UserName)</p>
                    <p>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @style = "color:red" })
                    </p>
                    <p> @Html.LabelFor(m => m.Password)</p>
                    <p>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                    </p>
                    <p>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </p>
                    <input class="btn btn-outline-success" type="submit" value="Iniciar sesión" />
                </fieldset>
                @*<p>
                    @Html.ActionLink("Regístrese", "Register") si no tiene ninguna cuenta.
                </p>*@
            }
        </div>
    </div>
    
</section>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
