﻿@model Liga.Domain.Entities.LocalPasswordModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Administrar cuenta";
}

<div class="row justify-content-center mb-5">
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
        {
            <div class="alert alert-success">@ViewBag.StatusMessage</div>
        }

        <h2>Ha iniciado sesión como <strong>@User.Identity.Name</strong>.</h2>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

    </div>
</div>



