﻿@using CaptchaMvc.HtmlHelpers

@model Liga.Domain.Entities.RegisterModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Registrarse";
}
<div class="row justify-content-center align-items-center mb-5">
    <div class="col-md-6">
        <h4>Regístrese en LVNBA.</h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @style = "color:red" })

            <fieldset>
                <legend>Formulario de registro</legend>
                <p>@Html.LabelFor(m => m.UserName) 
                    @Html.TextBoxFor(m => m.UserName , new { @class="form-control col-md-6" })</p>
                <p>@Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-6" })</p>
                <p>@Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-6" })</p>
                <p>@Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-md-6" })</p>
                <p>@Html.Captcha("Prueba otro", "Introduce el texto que ves abajo", 5, "obligatorio", true) </p>
                <button type="submit" value="Registrarse" class="btn btn-outline-success">Registrarse</button>
            </fieldset>
        }
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
