﻿@model Liga.Domain.Entities.LVNBAFranchises

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $('#bonusDiv').autoNumeric('init', { aSep: '', aDec: ',', mDec: '0' });

    });
</script>
<h2>Editar</h2>
<h4>LVNBA Franchises</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.IdDivision, "Division")
            @Html.DropDownList("IdDivision",null, new { @class="form-control"})
            @Html.ValidationMessageFor(model => model.IdDivision)
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Abbreviation)
            @Html.TextBoxFor(model => model.Abbreviation, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Abbreviation)
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.NickName)
            @Html.TextBoxFor(model => model.NickName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NickName)
        </div>
        @Html.HiddenFor(model => model.IdManager)
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Icono)
            @Html.TextBoxFor(model => model.Icono, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Icono)
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Logo)
            @Html.TextBoxFor(model => model.Logo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Logo)
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.BigLogo)
            @Html.TextBoxFor(model => model.BigLogo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BigLogo)
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.StadiumBoard)
            @Html.TextBoxFor(model => model.StadiumBoard, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StadiumBoard)
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.SideBar)
            @Html.TextBoxFor(model => model.SideBar, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SideBar)
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Color)
            @Html.TextBoxFor(model => model.Color, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.History)
            @Html.TextAreaFor(model => model.History, new { @cols = 80, @rows = 10, @class="form-control" })
            @Html.ValidationMessageFor(model => model.History)
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Category)
            @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.TotalBonus)
            @Html.TextBoxFor(model => model.TotalBonus, null, new { id = "bonusDiv", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TotalBonus)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Needs)
            @Html.TextAreaFor(model => model.Needs, new { maxlength = 150, @rows = 3, @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Needs)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ManagerOpinion)
            @Html.TextAreaFor(model => model.ManagerOpinion, new { maxlength = 150, @rows = 3, @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ManagerOpinion)
        </div>
    </div>
    <div class="row justify-content-end">
        <a href="/Franchises" class="btn btn-dark mr-1 col-md-2">Volver</a>
        <button type="submit" class="btn btn-outline-success col-md-2">Guardar</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/jqueryval")
}
