﻿@model Liga.Domain.Entities.PFMAwards

@{
    ViewBag.Title = "Otorgar Premio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

  <script>
      $(function () {
          jQuery.validator.methods.date = function (value, element) {
              var dateRegex = /^(0?[1-9]|[12]\d|3[01])\/(0?[1-9]|10|11|12)\/(19|20)\d\d(\D.*)?$/;
              return this.optional(element) || dateRegex.test(value);
          };
      });
  </script>
<h2>Otorgar premio</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div class="row mb-1">
    <div class="form-group col-md-4">
        @Html.Label("Premio")
        @Html.DropDownList("IdAward", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdAward)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Franquicia")
        @Html.DropDownList("IdFranchise", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdFranchise)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Manager")
        @Html.DropDownList("IdManager", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdManager)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Jugador")
        @Html.DropDownList("IdPlayer", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdPlayer)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Temporada")
        @Html.TextBoxFor(model => model.Year, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Year)
    </div>

    <div class="form-group col-md-4">
        @Html.Label("Fecha del premio")
        @Html.TextBoxFor(model => model.AwardDate, new { @class="form-control", @type="date" })
    </div>
</div>
<div class="row justify-content-end mb-3">
    <a href="/PMFAwards/Index" class="btn btn-outline-dark mr-1">Volver</a>
    <button type="submit" class="btn btn-outline-success">Otorgar</button>
</div>
}
