﻿@model Liga.Domain.Entities.PFMAwards

@{
    ViewBag.Title = "Premios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Borrar premios</h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Premios</legend>

    <div class="display-label">
            @Html.Label("Premio")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Award.Name)
    </div>

    <div class="display-label">
            @Html.Label("Franquicia")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LVNBAFranchis.Name)
    </div>

    <div class="display-label">
            @Html.Label("Manager")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Manager.GamerTag)
    </div>

    <div class="display-label">
            @Html.Label("Jugador")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Player.Name)
    </div>

    <div class="display-label">
            @Html.Label("Temporada")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
            @Html.Label("Fecha del premio")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AwardDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
