﻿@model IEnumerable<Liga.Domain.Entities.PFMAwards>

@{
    ViewBag.Title = "Premios Otorgados";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Premios</h2>
<p>
    @Html.ActionLink("Otorgar nuevo premio", "Create")
</p>
<table class="table table-striped small">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.Label("Premio")
            </th>
            <th>
                @Html.Label("Franquicia")
            </th>
            <th>
                @Html.Label("Manager")
            </th>
            <th>
                @Html.Label("Jugador")
            </th>
            <th>
                @Html.Label("Info")
            </th>
            <th>
                @Html.Label("Temporada")
            <th>
                @Html.Label("Fecha del Premio")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Award.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LVNBAFranchis.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.GamerTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.CompleteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwardDate)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
