﻿@{
    ViewBag.Title = "AgenciaLibre";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<script>
    $(function () {
        getSideBarCategories(); getSideBarMedia();
    });

</script><br />
<h2 style="text-align:center">Agencia Libre</h2>

<div style="float:left;left:200px;border:1px solid;padding:20px; border-color:yellow; width:750px"> 


<span style="font-weight:bold; font-size:14px; color:yellow">CONCEPTOS Y NÚMEROS CLAVE:</span><br />
<br />
Salary Cap: 63.065.000 $<br />
Luxury Tax: 76.829.000 $<br />
Super Tax (no superable por ningún motivo cuando acabe el periodo de agencia): 87.152.000 $<br />
Cifra no Superable (no superable por ningún motivo cuando acabe el periodo de agencia): 97.475.000 $<br />
<br />
Mid Level: 5.305.000 $. Se puede utilizar sin superar la Luxury Tax, y por un máximo de 4 años, y con incrementos máximos del 4,5% anuales.<br />
Small Mid: 3.278.000 $. Se puede utilizar superando la Luxury Tax y hasta la Super Tax, por un máximo de 2 años, y con incrementos máximos del 4,5% anuales.<br />
<br />
Jugadores con derechos bird: se pueden renovar utilizando tanto cap como superando el Salary Cap y llegando hasta el Luxury Tax. Además, el equipo que los posee puede dar hasta 5 años de contrato e incrementos del 7,5% anual (mientras que un equipo que opta a fichar a un agente libre que no es suyo sólo puede dar un máximo de 4 años e incrementos del 4,5% anual).<br />
<br />
Cada equipo debe contar con un mínimo de 12 jugadores en su plantilla. Durante agencia, si un equipo dispone de menos de 12 jugadores, se contará con el salario mínimo (con un año de experiencia) de todos los jugadores que falten para llegar a 12 de cara a calcular el cap salarial disponible. <br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">EJEMPLOS PRÁCTICOS:</span><br />
<br />
a) Si tienes un salario inferior al del Salary Cap, puedes optar a firmar a agentes libres por el importe que tengas disponible hasta el Salary Cap. Es decir, si tienes 40.000.000 $ en salarios, puedes llegar a ofertar más de 23 millones en agentes libres!!! <br />
<br />
b) Ojo con una cosa: si ofreces dinero a jugadores que quieras renovar, siempre cuentan contra el cap antes que cualquier oferta que realices por agentes libres. <br />
<br />
c) Si estos jugadores que quieres renovar tienen bird rights, entonces puedes renovarlos hasta el importe del Luxury Tax. Es importante entender los conceptos a, b y c, y manejar correctamente los timings, pues esto puede marcar la diferencia entre poder fichar agentes libres o no, y renovar a tus jugadores o no. <br />
<br />
d) Si tienes dinero disponible en Salary Cap, pero inferior al que tendrías utilizando la Mid Level, puedes decidir no fichar a jugadores con dinero del salary cap, pero sí con el de la mid level. Sólo un pero aquí: no olvides que si fichas a un jugador con la mid level no lo puedes vender en su primera temporada.<br />
<br />
e) La Mid Level puedes utilizarla entera para un jugador, o partirla para varios jugadores, lo que prefieras. Sólo recuerda que a cualquier jugador que fiches con este concepto no lo podrás vender hasta el draft siguiente. <br />
<br />
f) La Mid Level sólo la puedes utilizar hasta el importe marcado por la Luxury Tax, no se puede superar. <br />
<br />
g) Puedes utilizar la Small Mid para superar el importe del Luxury Tax, eso sí. También ten presente que no podrás vender durante el primer año al jugador / jugadores que fiches con la Small Mid. <br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">CÓMO SE DECIDEN LAS COSAS EN LA AGENCIA</span><br />
<br />
Un grupo yellowucido de miembros del comisionados, que no cuentan con intereses importantes en fichar FAs, son los que visualizan las ofertas.<br />
<br />
Los miembros de la comisión que valoramos las ofertas intentamos simular qué haría el jugador en ese caso, teniendo en cuenta los siguientes parámetros:<br />
<br />
a) El importe y años de la oferta, en relación al valor del jugador en Nba 2k y Nba real.<br />
<br />
b) El potencial del equipo que oferta.<br />
<br />
c) El rol que tendría el jugador en ese equipo (sería titular? suplente? minutos? etc.)<br />
<br />
d) El momento de la agencia: queda todavía mucho dinero disponible por parte de otros equipos? Es una oferta inmejorable? Si no la acepto hoy, seguirá estando ahí mañana?<br />
<br />
La suma de estos cuatro factores provoca que los agentes vayan fichando o no por vuestros equipos. Es evidente por lo tanto que si un equipo con una puntuación alta, envía un contrato elevado y por muchos años a un agente libre, y encima vemos que tiene minutos, pues probablemente el agente firmará muy rápido. En cambio, si la oferta es normalita, el agente esperará a ver si puede encontrar algo mejor. No esperéis por lo tanto que vuestros agentes os firmen rápido si enviáis ofertas "psé psé": no significa que no acaben firmando, pero no van a correr tampoco, y esperarán por si sale algo mejor.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">JUGADORES CORTADOS</span><br />
<br />
Si un equipo corta a un jugador en algún momento de la temporada, no puede volver a ofertar por él. <br />
<br />
Jugadores traspasados, que el otro equipo corta:<br />
<br />
En el caso de que haya un traspaso, y el equipo al que llega el jugador decida cortarlo, el equipo del que sale no puede ofertar por él hasta que pase 1 mes desde la fecha del traspaso.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">MECÁNICA DEL PERIODO AGENTES LIBRES</span><br />
<br />
Un lunes a las 00h empieza el periodo de Agentes Libres. El funcionamiento del mismo es lo que trataremos de detallar en este post. El periodo de Agentes Libres constará de 14 días, termina un Domingo a las 23:59.<br />
<br />
> Funcionamiento de los días<br />
<br />
El formato de este periodo será el de días separados que constituirán un lapso de tiempo en el que volver a reformular ofertas, contratos y demás. Durante el día, tendréis tiempo para enviar las ofertas que creáis correspondientes. Para aseguraros que las ofertas llegan a un día concreto enviarlas antes de las 20h de esa tarde. Al final de la misma, se darán los resultados de los Agentes Libres que han firmado por un equipo y el representante del jugador se pondrá en contacto con el club para comunicarles qué piensa de la oferta en caso de que no la haya aceptado sin más.<br />
<br />
Por lo tanto, si el Día 1 realizas una oferta y recibes como respuesta una exigencia mayor del representante, el Día 2 podrás mandar una nueva oferta.<br />
<br />
> Actitud de los jugadores<br />
<br />
Los jugadores, dentro de unos parámetros determinados de ambición deportiva y demás, se tomarán este periodo con total actitud especulativa. Es decir, si pueden sacar un contrato por 9 millones, no lo firmarán por 8. Por ello la mayoría de jugadores no tendrán ninguna prisa en firmar los contratos. Es decir, para que un jugador firme el Día 1 un contrato, deberá pensar que no puede sacar un contrato que le satisfaga más, económica y deportivamente. Si el jugador tiene aunque sea la más mínima sospecha de que puede obtener un contrato más satisfactorio, ya sea en forma de dinero o de años, esperará lo que crea oportuno y hablará con los clubs para acercar las posturas.<br />
<br />
Esto significa que se cerrarán muchos más fichajes hacia el final del periodo que hacia el comienzo. Por no hablar del último día, donde los jugadores (dentro de una lógica), aceptarán la mejor oferta que tengan.<br />
<br />
* En casos extremos, puede haber jugadores que decidan no aceptar ninguna oferta y negociar con algún equipo algún tipo de contrato especial *<br />
<br />
Ejemplo: Kobe Bryant solo recibe ofertas en un rango de 8-9 millones de $ por 3 años. Como esto es una birria para él, decide no firmar por nadie y al finalizar el periodo intenta negociar con alguna franquicia un contrato de Excepción Media por un año, para intentar sacar el contrato grande el año que viene.<br />
<br />
Esto es un caso muy extremo que dudamos que pase. Lo que queremos decir es que el último día los jugadores no aceptarán cualquier cosa por mala que sea, si hay un desequilibrio calidad-precio muy grande.<br />
<br />
> Y después, ¿qué?<br />
<br />
Una vez finalizado el periodo, como es lógico, habrá jugadores que no hayan sido contratados por nadie, incluso puede que haya equipos que aún dispongan de algo de dinero para gastar o de un trozo de Mid-Level por adjudicar, incluso la Mid entera.<br />
<br />
El fin del periodo de Agentes Libres no quiere decir que termine la contratación de Agentes Libres, simplemente que las cosas se harán de forma diferente.<br />
<br />
Este sistema funcionará hasta que se cierre el periodo de contratación, ya cercanos los Playoffs de la temporada que viene, es decir, funcionará también durante la Regular Season, y es el siguiente:<br />
<br />
Cuando alguien quiera contratar a un agente libre (si no tiene dinero ni Mid deberá ser por el salario mínimo) deberá enviar una oferta por la web a ese jugador. Automáticamente se inicia un periodo de 24 horas en el que el jugador escuchará ofertas de todos los equipos (este periodo no se hará público, ni se conocerá la identidad del jugador) y al finalizar las 24 horas elegirá la oferta que más le satisfaga.<br />
<br />
Esto se hará así para evitar que el día después del FA Period haya una avalancha por los jugadores libres con ofertas por el mínimo, y se lo lleve el primero que ponga la oferta, y se hace de forma privada para evitar que uno diga: "Ofrezco el mínimo por Dajuan Wagner" Y 3 mánagers digan: "Anda, está libre! Voy a ofertar yo también". <br />
<br />
> ¿Cómo se decide qué oferta es aceptada?<br />
<br />
Como en la vida real, lo que más pesará a la hora de aceptar una u otra oferta será el factor económico. Pero en la realidad también hay factores que escapan a esto, como el equipo en el que juegas, etc. Para ello, se utilizará una formula que compensará la diferencia económica con otro tipo de diferencias. Esto será siempre que los contratos tengan una diferencia económica inferior a un determinado porcentaje. Es decir, en contratos con una diferencia destacable, el jugador directamente elegirá la opción que mayor beneficio le reporte.<br />
<br />
<br />
—<br />
 <br />
<span style="font-weight:bold; font-size:14px; color:yellow">IMPORTANTE:</span> Al final de la agencia libre todos los equipos deben tener como máximo 15 jugadores. A pesar de ello, los picks de draft cuyo futuro no esté claro no contarán para este límite hasta que se sepa si van a Europa, NBA o D-League. Antes de comenzar la regular season han de tener un mínimo de 12 jugadores.<br />
<br />
Se puede ofertar tanto por:<br />
- Jugadores sin contrato (ver WEB)<br />
- Jugadores undrafted (Jugadores que están jugado ligas de verano sin contrato)<br />
- Jugadores de europa (caso Childress, Delfino, Pargo, Nachbar, Haislip,...). 
</div>
