﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 style="text-align:center">LVNBA PEDIA</h5>
    </div>
    <div class="card-body text-justify">

        LVPedia es la sección donde podrás entender qué es LVNBA y cómo funciona. En esta sección aprenderás todas las normas o conceptos que rigen LVNBA. <br />
        En LVNBA hay muchas leyes y normas, algunas son iguales a la NBA real y otras han sido ideadas para potenciar la experiencia del juego.
        La lectura de los diferentes apartados  es obligada para todos los managers, ya que un buen conocimiento de las normas y reglas de LVNBA permiten un mejor desarrollo de...
        <br />
        También encontrarás videotutoriales que te ayudarán a realizar diferentes acciones.....

    </div>
</div>
<script>
    $(document).ready(function () {
        getSideBarCategories();
        getSideBarMedia();
    });
</script>