﻿@{
    ViewBag.Title = "Juego";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}
<script>
    $(function () {
        getSideBarCategories(); getSideBarMedia();
    });

</script><br />
<h2 style="text-align:center">Juego</h2>
<div style="float:left;left:200px;border:1px solid;padding:20px; border-color:yellow; width:750px"> 
       

        1.- Todo aquel manager que use la <span style="font-weight:bold; font-size:14px; color:yellow">defensa automática</span> en algún partido de liga será automáticamente expulsado de la liga. En todo momento del partido (salvo pequeños lapsos de tiempo en los que se haga algún cambio en la defensa) se ha de estar en uno contra uno directo contra el atacante.<br /><br />

		2.- Los managers que en critiquen de forma maleducada tanto en privado como en los anales de IRC o Whatsapp a otros managers porque, con insultos o básicamente de malas formas, tendrán un aviso de expulsión, <span style="font-weight:bold; font-size:14px; color:yellow">al tercero se les expulsará de la liga.</span><br /><br />

		3.- Se prohibe el uso de <span style="font-weight:bold; font-size:14px; color:yellow">cualquier ajuste defensivo antes de los partidos</span>. Cualquier ajuste que se quiera hacer se puede hacer durante el partido, ya sea con el uso de la opciones de la cruceta o bien en los tiempos muertos con las diferentes opciones que hay.<br /><br />

		Todo manager que quiera cambiar las marcas a algún rival lo puede hacer con el menú de carga previa de los partidos. En el caso de que un manager no cumpla con esta norma se le pondrá una queja automáticamente o bien una sanción a determinar por la comisión.<br /><br />

		4.- No se puede hacer temblar la cámara en los tiros libres del rival.<br /><br />

		5.- No presionar los saques de fondo y banda durante todo el partido. Se entiende que es molesto tener a un rival que te mete la mano en cada saque. También se entiende que en los minutos finales de un partido ajustado se puede tratar de robar un balón, aunque con calma. Por lo tanto, consejo general: presionad solo en los finales de partidos ajustados y si os toca sacar, hacedlo con atención en estas situaciones para que luego no os tengáis que quejar.<br /><br />

		6.- Pedir mínimo 1 tiempo muerto por cuarto. Es decir, en todo partido NBA se piden varios tiempos muertos y aquí ha de ser lo mismo. Disponemos de 7 tiempos muertos, Lo lógico es que entre ambos equipos se acaben pidiendo entorno a 4-10 de ellos, en ocasiones más, en ocasiones menos. Lo que no queremos es que la cosa caiga en: "tengo una plantilla muy amplia, así que no pediré tiempos muertos así el rival se cansa más". Si no sabéis cuando pedir tiempos muertos o no estáis acostumbrados a hacerlo, pensad en hacer uno cada vez que hagáis un cambio grande de jugadores (por ejemplo cambiar a 3 o 4 jugadores del quinteto), o cuando os metan un pequeño parcial, para parar las cosas.<br /><br /> 

		7.- No esperar al base en su propia cancha para sacarle la falta de ataque ni para forzar un campo atrás. Molesta y es irreal.<br /><br />

		8.- No abusar del botón de robo (reaching). Está bien meter la mano de vez en cuando (por ejemplo si el atacante está plantado delante de tu defensor durante varios segundos esperando a una jugada, entonces es normal probar a meter la zarpa), pero no darle por norma ni de forma constante al botón. <br /><br />

		FILOSOFÍA DE JUEGO REALISTA<br /><br />

		Hay que tener en cuenta que son 48 minutos de partido. Es decir, vais a estar un rato largo jugando con el otro jugador y hay que tener cabeza. Mucha gente está acostumbrada a sacar de fondo rapidísimo o coger un rebote, darle el balón al base de forma fugaz y subir con el turbo apretado a toda pastilla hacia la cancha rival. <br /><br />

		Esto está bien hacerlo en determinadas ocasiones, pero no constantemente.<br /><br />

		Hay fases del partido, ya sea porque se descontrola, o porque tienes un quinteto bajito y quieres aprovechar, o por lo que sea, que se pueden acelerar las cosas, es perfectamente real. Pero son eso, fases, o ataques en los que ves un desajuste y quieres aprovechar. La mayoría de ocasiones, en la NBA real, el base sube andando y marcando jugada. Aquí ha de ser lo mismo. Hay mucho tiempo para variar o para entrar en diversas etapas del partido, así que tranquilidad, y mantengamos un ritmo de partido realista.<br /><br />

		<span style="font-weight:bold; font-size:15px; color:yellow">Ausencia de normas o límites =/ Descontrol</span><br /><br />

		Muchos venís a esta liga proviniendo de otras en las que hay todo tipo de variopintos límites de puntos en zona, puntos de jugadores, puntos promediados por jugadores...<br /><br />

		Aquí no creemos en todos estos límites. Creemos en que el baloncesto es un deporte en el que hay que buscar los defectos del rival, hacer de estos tus virtudes y explotarlos al máximo. Esto no quiere decir caer en la repetitividad y el abuso. Ni mucho menos, esto quiere decir que si un equipo es débil en zona, cargarás más tu juego en la zona, si es débil en el perímetro, lo cargarás más en el perímetro. Pero nunca descuidando ninguna faceta del juego.<br /><br />

		Casi todo en este juego se puede defender. Si nos dejamos de jugadas un tanto "cheeser", como puede ser balón fácil debajo del aro y X y para adentro, o dar vueltas con tu pívot hasta quedarte solo debajo del aro y anotar, todo es defendible en mayor o menor medida. Por lo tanto, poner límites a un partido de baloncesto es un tanto estúpido.<br /><br />

		El único límite es la buena voluntad de cada uno. Si tienes a LeBron James, es totalmente lógico y comprensible que en un partido puedas meter 40 y tantos o incluso 50 puntos. Aunque hay formas y formas y conseguirlo, si es una forma realista, no hay problema. Otra cosa es promediar 40 puntos por partido. Todo aquel que siga la NBA sabe que este tipo de anotaciones son circunstanciales, y si un día metes 50, otro día puedes meter 18, y el resto del equipo tirar más del carro.<br /><br />

		Lo que nos venimos a referir es que tratáis de imitar los comportamientos y tendencias de la NBA real, por suerte tenemos un juego que lo implementa con bastante fidelidad. <br /><br />

		Con los puntos en zona, lo mismo. Puede haber un partido en el que por lo que sea, anotes más de la cuenta en la zona, yo que sé, 60 puntos de 95 que anotes. Es muchúsimo, pero la circunstancia del partido lo pedía, o tus exteriores estaban muy fallones y tuviste que meter el balón dentro. Es lógico. Si no abusas, tu defensor tiene la oportunidad de pararte, así que no hay problema.<br /><br />

		El problema llega cuando metes 60 cada partido, no varías tu juego y los shot charts dan pena. Entonces es cuando el hecho de no haber normas no importa, y la administración toma cartas en el asunto.<br /><br />

		La filosofía es esa, no hay normas salvo de cortesía, juega variado y juega realista.
</div>