﻿@{
    ViewBag.Title = "JugFranquicia";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<script>
    $(function () {
        getSideBarCategories(); getSideBarMedia();
    });

</script><br />
<h2 style="text-align:center">Jugadores Franquicia</h2>

    
<div style="float:left;left:200px;border:1px solid;padding:20px; border-color:yellow; width:750px"> 

<span style="font-weight:bold; font-size:14px; color:yellow">Listado de jugadores considerados FRANQUICIA y que sólo pueden cambiar de equipo UNA vez cada 2 años</span><br /><br />

Rajon Rondo<br />
Derrick Rose<br />
Paul George<br />
LeBron James<br />
Carmelo Anthony<br />
Dirk Nowitzki<br />
James Harden<br />
Dwight Howard<br />
Blake Griffin<br />
Chris Paul<br />
Kobe Bryant<br />
Kevin Love<br />
Anthony Davis<br />
Kevin Durant<br />
Russell Westbrook<br />
LaMarcus Aldridge<br />
Tim Duncan<br />
Tony Parker<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">Listado de jugadores considerados ESTRELLA y que sólo pueden cambiar de equipo UNA vez al año</span><br />
<br />
Al Horford<br />
Paul Millsap<br />
Al Jefferson<br />
Joakim Noah<br />
Josh Smith<br />
Dwayne Wade<br />
Chris Bosh<br />
Joe Johnson<br />
Paul Pierce<br />
Tyson Chandler<br />
DeMar DeRozan<br />
Kyle Lowry<br />
John Wall<br />
Monta Ellis<br />
Ty Lawson<br />
Stephen Curry<br />
Marc Gasol<br />
Mike Conley<br />
Jrue Holiday<br />
Serge Ibaka<br />
Goran Dragic<br />
Damian Lillard<br />
Rudy Gay<br />
DeMarcus Cousins<br />
Manu Ginobili<br />
Kawhi Leonard<br />

</div>