﻿@{
    ViewBag.Title = "Quejas";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<script>
    $(function () {
        getSideBarCategories(); getSideBarMedia();
    });

</script><br />
<h2 style="text-align:center">Quejas</h2>
<div style="float:left;left:200px;border:1px solid;padding:20px; border-color:yellow; width:750px"> 
<span style="font-weight:bold; font-size:14px; color:yellow">1.- Cuando un GM tiene una queja sobre el juego o comportamiento en el partido del rival, tiene que enviar un mensaje privado por el foro a Comisionado, poniendo como título:</span> <br /><br />

"Queja a Nombre GM".<br /><br />

Si tenéis quejas sobre varios GMs (porque acumuláis y las queréis enviar todas juntas), se han de poner tantos mensajes como GMs.<br /><br />

<span style="font-weight:bold; font-size:14px; color:yellow">2.- Una vez recibido el mensaje privado, habrá una persona en Comisionado que revisará las quejas y os enviará un mensaje privado de vuelta confirmando la recepción, y en caso de aceptar la queja, os informará de ello.</span><br /><br />

<span style="font-weight:bold; font-size:14px; color:yellow">3.- La Comisión, en privado, dividirá las quejas entre tres grandes temáticas, para así clasificarlas correctamente:</span><br /><br />

Quejas por el juego de Ataque (ej: correr continuamente para perder la marca).<br />
Quejas por el juego de Defensa (ej: abusar del reaching constante).<br />
Quejas por Comportamiento (ej: no pedir tiempos muertos).<br />

<span style="font-weight:bold; font-size:14px; color:yellow">4.- Una vez clasificadas se incluirán en un doc conjunto que tiene la Comisión, y en el que aparece el ranking de managers y las quejas que tienen.</span><br /><br />

<span style="font-weight:bold; font-size:14px; color:yellow">5.- En el caso de que un manager tenga varias quejas que correspondan a la misma temática (Ataque, Defensa o Comportamiento), la Comisión actuará de la siguiente manera:</span><br /><br />

a) 2 quejas por misma temática: se le envía un mensaje privado por foro al GM avisándole de que tiene 2 quejas que hacen referencia a la misma temática, y se le anima a revisar su juego.<br /><br />

b) 4 quejas por la misma temática: se le enviará un mensaje privado al GM avisándolo del hecho, y se le pedirá que comparezca ante la comisión en el canal IRC para dar explicaciones.<br /><br />

c) 5 quejas por la misma temática: se procederá a la expulsión del GM.<br /><br />

<span style="font-weight:bold; font-size:14px; color:yellow">6.- En el caso de que un manager tenga varias quejas que correspondan a diferentes temáticas, la Comisión actuará de la siguiente manera:</span><br /><br />

a) 3 quejas de diferente temática: se le envía un mensaje privado por foro al GM avisándole de que tiene 3 quejas que hacen referencia a diferente temática, y se le anima a revisar su juego.<br /><br />

b) 6 quejas de diferente temática: se le enviará un mensaje privado al GM avisándolo del hecho, y se le pedirá que comparezca ante la comisión en el canal IRC para dar explicaciones.<br /><br />

c) 9 quejas de diferente temática: se procederá a la expulsión del GM.
</div>