﻿@{
    ViewBag.Title = "Salarios";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<script>
    $(function () {
        getSideBarCategories(); getSideBarMedia();
    });

</script><br />
<h2 style="text-align:center">Salarios</h2>


<div style="float:left;left:200px;border:1px solid;padding:20px; border-color:yellow; width:750px"> 

<span style="font-weight:bold; font-size:14px; color:yellow">GUÍA DE SALARIOS</span><br />
<br />
1.- Introducción<br />
2.- Luxury Tax<br />
3.- Super Luxury Tax<br />
4.- Excepciones<br />
4.1.- Excepción de salario medio<br />
4.2.- Excepción de rookies<br />
4.3.- Excepción Larry Bird<br />
4.4.- Excepción del salario mínimo<br />
4.5.- Escala de salario Rookies<br />
5.- Opciones<br />
5.1.- Qualifying Option<br />
5.2.- Restricciones 2ª ronda<br />
5.3.- Jugadores undrafted<br />
5.4.- Jugadores en Europa<br />
6.- Sign-and-trade<br />
7.- Incrementos anuales<br />
8.- Salario Máximo<br />
9.- Renovaciones<br />
9.1.- Regla de los 36 años (Válido tanto para contratación como para renovación)<br />
10.- Contratos verbales<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">1.- Introducción</span><br />
<br />
El límite salarial de la NBA es la máxima cantidad de dinero que un equipo NBA tiene permitido gastar en salarios para sus jugadores. Aunque esto parece un concepto bastante simple, es en realidad extremadamente complejo conteniendo numerosas reglas oscuras y lagunas.<br />
<br />
La cantidad del límite varía cada año siguiendo una base, y se calcula como un porcentaje de los ingresos de la Liga en el año anterior.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">2.- Impuesto de lujo (Luxury tax)</span><br />
<br />
Es la cifra hasta la cual podemos renovar a jugadores con derechos Bird y jugadores que terminen su contrato de rookie.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">3.- Impuesto de super lujo (Super Luxury tax)</span><br />
<br />
Ningún equipo podrá superar este límite máximo salarial cifrado por la siguiente fórmula: ((Luxury-Salary Cap)*0.75)*2+Luxury.<br />
<br />
Si el equipo no cumple con estos requisitos mínimos, se le aplicarán las siguientes penalizaciones:<br />
<br />
- No jugará playoffs.<br />
- Su primera ronda será un pick número 30.<br />
- No podrá ejercer team options.<br />
- No podrá ejercer qualifying offers.<br />
<br />
Si un equipo que a día de hoy no ha alcanzado esa cifra la supera tras la agencia, sufrirá penalizaciones MUY graves (por definir).<br />
<br />
Edición: ante cualquier duda posible, sólo es posible superar esa cifra durante un periodo concreto de agencia en verano. Al final de la agencia de verano se deberá estar dentro de los parámetros marcados. Si durante la temporada se supera esa cifra, sea con contratos mínimos o traspasos, se aplicarán las penalizaciones.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">4.- Excepciones</span><br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">4.1.- Excepción del salario medio (Mid-level exception)</span><br />
<br />
Un equipo tiene permiso para contratar a un jugador por una cantidad igual a la media de salarios de la NBA, incluso aunque el equipo esté por encima del límite salarial o si esta contratación lo coloca por encima del límite, siempre que no exista alguna otra regla citada. Esta cantidad puede usarse para contratar a un único jugador o dividirse para contratar a más de uno. Un ejemplo de esta excepción es el fichaje de Antonio McDyess por los Detroit Pistons en 2004. Hay que decir que se puede efectuar contratos de este tipo de hasta 4 años y que la subida anual es de un máximo de 4.5%. El año siguiente se tendría de nuevo esta excepción aunque hayas contratado con la Mid-Level un jugador durante 4 años.<br />
<br />
Los jugadores firmados con esta excepción no podrán ser traspasados durante su primer año de contrato.<br />
<br />
Los equipos que dispongan de Cap Space superior al importe de la MLE, no podrán utilizar la MLE después de haber realizado fichajes en la agencia libre. <br />
<br />
Los equipos que dispongan de Cap Space inferior al importe de la MLE, podrán decidir si utilizar la MLE para realizar fichajes o renunciar a ella y fichar sólo con el cap salarial disponible (esto puede ser útil porque los jugadores fichados con la MLE no se pueden traspasar durante todo el año).<br />
<br />
Por ejemplo:<br />
Salarios <72 ; MID-LEVEL COMPLETA<br />
Salarios: 72.5M ; MID-LEVEL: 4,5 M<br />
Salarios: 75 M ; MID-LEVEL 2 M con máximo 4 años o SMALL-MID 3M con máximo 2 años (a decidir)<br />
Salarios: 77M ; SMALL-MID: 3M<br />
Salarios: 83M ; SMALL-MID: 3M<br />
Salarios: 85M ; SMALL-MID: 2M<br />
Salarios: >87M ; MID: 0M<br />
<br />
Los equipos que superen la cifra anteriormente mencionada no dispondrán de la Mid-Level. Esto también afectaría a los equipos que no llegasen a esa cifra y por ello voy a poner el siguiente ejemplo:<br />
<br />
Washington $ 63.951.651 => Tendría la mid completa<br />
Charlotte $ 72.657.024 => Tendría $ 4.171.976 de la mid<br />
Milwaukee $ 74.573.803 => Tendría $ 3.278.000 de la mid<br />
Chicago $ 85.703.500 => Tendría $ 1.448.500 de la mid<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">4.2.- Excepción del Novato (Rookie exception)</span><br />
<br />
Es obligado a un equipo contratar a sus selecciones de primera ronda del draft según la escala de contratos incluso aunque exceda el límite salarial. A excepción de jugadores que marchen fuera de la NBA o a la D-League.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">4.3.- Excepción Larry Bird (Larry Bird exception)</span><br />
<br />
Tal vez la excepción más conocidas al límite salarial de la NBA. La excepción Larry Bird permite a un equipo superar el límite salarial para renovar a sus propios agentes libres, hasta la cantidad que marca el Impuesto de Lujo. Para estar dentro de la categoría de agente libre Bird, un jugador debe haber jugado tres temporadas sin haber sido cortado ni cambiado de equipo como agente libre. Esto significa que un jugador puede obtener los “derechos Bird” jugando bajo 3 contratos de un año, un contrato de tres años, o cualquier combinación posible. También significa que cuando un jugador es traspasado, sus derechos Bird se traspasan con él, y su nuevo equipo puede usar la excepción Bird para renovarlo. Los contratos usando la excepción Bird pueden ser de hasta cincoaños de duración. Mientras que de los demás pueden ser de cuatro años como máximo. El aumento máximo de este tipo de contratos será de un 7.5%.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">4.4.- Excepción del salario mínimo (Minimum Salary Exception)</span><br />
<br />
Los equipos pueden contratar a jugadores por el salario mínimo de la NBA incluso si están por encima del límite salarial, en contratos de hasta dos años de duración. En el caso de contratos de dos años, el salario del segundo años corresponderá al salario mínimo para tal temporada. El contrato no puede contener bonus por firma. Esta excepción también permite que los jugadores contratados por el salario mínimo sean adquiridos a través de traspasos. No existe límite al número de jugadores que pueden contratarse o adquirirse usando esta excepción.<br />
<br />
Si un jugador es firmado por el mínimo y es cortado después, el salario que quede en el Salary Cap no podrá ser utilizado como parte de un traspaso a no ser que haya estado en el equipo durante 20 partidos.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">4.5.- Escala de salarios de novatos (Rookie “scale” salary)</span><br />
<br />
Las elecciones de primera ronda del draft tienen salarios asignados de acuerdo con su posición en el draft. La primera elección recibe más dinero que la segunda, la segunda más que la tercera y así sucesivamente. Cada contrato es por dos años, con una opción para el equipo de prolongarlo una tercera y cuarta temporada, con unas subidas establecidas para cada año como compensación de los incrementos en el salario medio.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">5.- Opciones</span><br />
<br />
Muchos contratos NBA están estructurados con “opciones” para los jugadores o el equipo. Una opción simplemente otorga el derecho a quien controla la opción de extender el contrato un año más por un salario nunca inferior al del año anterior.<br />
<br />
Team Option: El equipo puede decidir que el jugador continue en su equipo si ejerce esta opción o puede mandarlo a la agencia.<br />
Player Option: El jugador dedice si quiere continuar o no durante ese año en el equipo.<br />
<br />
Las opciones se pueden añadir al último año del contrato que ofrezcamos a un jugador siempre que no sea un contrato mínimo.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">5.1.- Qualifying Option</span><br />
<br />
Esta es una opción de tanteo que se guardan los equipos para cuando finaliza el contrato de un jugador. Si un jugador tiene marcado su último año como "Qualifying offer" es que ese año solo se cumplirá si el equipo activa la QO y el jugador no recibe ofertas más altas, en cuyo caso el equipo tiene la opción de igualarlas y quedarse con el jugador, siempre y cuando haga eso, igualarlas. <br />
<br />
Esto quiere decir que el jugador es agente libre restringido, y cuando reciba las ofertas de otro equipo, su franquícia actual puede retenerlo pagándole el mismo contrato en cuanto a cuantía total y duración (aunque pueda pagarsele en diferentes términos).<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">5.2.- Restricciones 2ª ronda</span><br />
<br />
Como ya sabéis las primeras rondas tienen la opción qualiffing offer, pero las 2º también tienen una restricción para que no se roben los jugadores. Se trata de una opcion muy parecida a la qualiffing offer y funciona de la siguiente manera:<br />
<br />
Un jugador en estas condiciones esta obligado a aceptar una oferta, bien sea del propio equipo o de otro. Si la oferta es de otro equipo, el equipo en el que ha jugado tendrá derecho de igualar la oferta y quedárselo, siempre que se quede por debajo del luxury tax. Por tanto, la diferencia es que un jugador con qualiffing offer puede no aceptar una oferta y quedarse en el equipo jugando el año con el salario en verde del excel y salir el año siguiente a la agencia sin restricciones.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">5.3.- Jugadores undrafted</span><br />
<br />
Los undrafted como máximo firmarán por 2 años a no ser que la oferta por el jugador sea superior a los 1.5M por año.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">5.4.- Jugadores que juegan fuera de Estados Unidos</span><br />
<br />
Todo equipo que tenga jugadores jugando en europa, apartado de derechos en la WEB, si vuelven a la NBA serán agentes restringidos, es decir, las mismas normas que cuando una 2ª Ronda acaba el contrato. Explicado en más profundidad, significaría que podría igualar cualquier oferta que acepte el jugador, siempre que el equipo disponga de dinero suficiente para él. Importante decir que para este tipo de jugadores se podrán contratar como si tuvieran la bird excepctión, es decir, hasta el luxury tax se podrá renovar o por medio de mid level.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">6.- Acuerdos de firma y traspaso (”Sign and trade” agreements)</span><br />
<br />
Cuando un equipo desea contratar a un próximo agente libre, pero el actual equipo del jugador desea algo a cambio, ambas franquicias podrían estar interesadas en un trato del tipo firma y traspaso (sign-and-trade). Esto tiene lugar cuando uno de los equipos firma a un agente libre e inmediatamente lo traspasa a otro conjunto. Un sign-and-trade es beneficioso tanto para el jugador como para los equipos; el jugador recibe un contrato superior a lo que habitualmente podrían conseguir del equipo para el le gustaría jugar, mientras que el equipo que traspasa obtiene algo a cambio del agente libre y el receptor, obviamente, el jugador deseado. Los traspasos de firma y traspaso son una realidad en la NBA debido a las normas del CBA: al contrario que en el béisbol donde los equipos obtienen dinero o rondas en el draft al perder un agente libre, los equipos NBA que pierden agentes libres no reciben compensación alguna.<br />
<br />
Cuando un conjunto inicia un acuerdo de firma y traspaso, debe traspasar al jugador firmado de forma inmediata; los equipos no pueden echarse atrás y quedarse con el jugador, usando otras situaciones financieras del equipo para hacer que la firma sea más favorable para ellos mismos. También, el contrato firmado antes del traspaso debe ser al menos de 3 años y con un máximo de 4, además de aplicar unos porcentajes máximos de subida del 4.5%.<br />
<br />
Recordar que los equipos por encima del Super Luxury tras el traspaso no podrán realizar este tipo de acuerdos.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">7.- Incrementos anuales</span><br />
<br />
Los incrementos anuales año a año para jugadores con contratos multianuales son como siguen: Para contratos en cláusulas Bird y Bird anticipadas pueden subir hasta un 7,5% al año. Otros contratos (incluyendo los de la Excepción Media) pueden subir hasta un 4.5% del salario anual.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">8.- Salarios máximos de los jugadores</span><br />
<br />
En el primero año de un nuevo contrato un jugador puede recibir como máximo el 105% de su salario anterior, o:<br />
<br />
Para jugadores con 0-6 años de experiencia: ($13,668,750)<br />
Para jugadores con 7-9 años de experiencia: ($16,402,500)<br />
Para jugadores con más de 10 años de experiencia: ($19,136,250)<br />
<br />
Hay una excepción para los salarios máximos. Un jugador nunca tendrá como máximo menos del 105% de su último año de contrato anterior. Si cobraba 20 millones de dólares, se le podrá ofrecer un nuevo contrato cuyo primer año sea 21 millones de dólares.<br />
<br />
Existe otra excepción y es que si un jugador que tenga 4 años de experiencia NBA y cumpla uno de los requisitos que se exponen a continuación, podrá optar al nivel de 7-9 años enved del de 0-6.<br />
<br />
- Nombrado en el quinteto titular del All Star dos veces.<br />
- Nombrado en uno de los 3 mejores quintetos del año.<br />
- MVP de la liga.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">9.- Renovaciones</span><br />
<br />
Las renovaciones a los jugadores que terminan contrato es uno de los temas capitales para definir el futuro de una franquícia LVNBA. Para ello, los mánagers han de saber cual es el funcionamiento del sistema para renovar a sus estrellas. El periodo de renovaciones tendrá lugar justo antes del periodo de Agentes Libres, y después del Draft (aunque las rondas se firmarán después a nivel salarial).<br />
<br />
El proceso será el siguiente:<br />
<br />
1.- Los jugadores con Player Option darán a conocer su decisión sobre prolongar el contrato o no.<br />
2.- Los mánagers decidirán si ejercer las Team Options o Qualifying Options disponibles para sus jugadores.<br />
3.- Los equipos ofrecen el contrato deseado a sus jugadores con el fin de intentar renovarlos, por una cantidad de dinero y de tiempo determinadas.<br />
<br />
*Los equipos solo pueden renovar hasta el Salary Cap (recordamos el año que viene en torno a unos 60 millones) y por 4 años como máximo, a no ser que el jugador posea Bird Rights, en cuyo caso se puede ofrecer dinero hasta llegar al Luxury Cap un máximo de 5 años*<br />
<br />
4.- Los jugadores firman el contrato ofrecido o salen al mercado de Agentes Libres.<br />
5.- Los equipos pueden renovar anticipadamente a jugadores que en la próxima campaña acaben contrato y tengan Qualifying Option, siempre que sea por el máximo salario y 5 años (si no tienen Bird Rights, por 5).<br />
<br />
*Ejemplo: Renovaciones anticipadas en la realidad de jugadores como Chris Paul, Deron Williams, etc. Esto es útil para jugadores rookies o con QO que vayan a ser clave en el futuro del equipo y se quiera asegurarlos. *<br />
<br />
6.- Se abre el periodo de agentes libres.<br />
7.- Se firman los contratos rookies<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">9.1.- Regla de los 36 años</span><br /><br />
<br />
Si el jugador termina contrato por encima de los 35 años, como máximo se le podrá dar 3 años o la cantidad de años que reste entre su edad actual y 36, es decir si yo renuevo un jugador de 32 años como máximo le podré dar 4 años, si tiene 31 le podré dar 5 años, si tiene 33 3 años, si tiene 34 3 años, etc...<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">10.- Contratos verbales</span><br />
<br />
Desde el comisionado abrimos la opción de interesarse por un jugador cuando este está pensándose si ejercer su Player Option o si renovar con su actual club. El funcionamiento del sistema es el siguiente:<br />
<br />
- Puedes ofrecer un contrato "verbal" al jugador, con cifras y demás (no hace falta que sea detallado, por ejemplo puedes decir: 60 millones en 6 años) siempre que esté pendiente de renovar o aceptar su Player Option.<br />
- Si el jugador, por los motivos que sean, decide no aceptar la oferta de su actual club, ESTÁS OBLIGADO a hacer efectiva la oferta que apalabraste con él. Si la acepta, el jugador será tuyo por el contrato ofrecido.<br />
- No puedes realizar ofertas verbales cuyo valor en total supere tu espacio salarial (Ejemplo: Tienes 13 millones para fichar, y ofreces varios contratos por valor total de 18 millones).<br />
- Recordamos que para ofertar por jugadores se puede utilizar también la excepción media y la del salario mínimo.<br />
<br />
<br />
Ejemplos de cómo hacer contratos:<br />
<br />
Algunas personas no sabéis muy bien como ofrecer un contrato, por lo que vamos a hacer unos ejemplos prácticos de cómo se yellowactan, etc:<br />
<br />
Yo quiero ofrecer un contrato de 7.5 millones de media al jugador X, vamos a poner Yao Ming.<br />
<br />
Si estuviera 8M por debajo del luxury tax y quiero dar el máximo dinero posible, podría ofertar en el primer año 8M y el siguiente aplicar el máximo incremento para cada año (10.5%)<br />
<br />
1) Tiene Bird Rights y es renovación (amarillo en la webl):<br />
<br />
Duración: 1-5 años<br />
Incremento: De +10.5% a -10.5%. <br />
<br />
Si quiero ofrecerle 5 años, con el primer año cobrando 6 millones, he de hacer el cálculo:<br />
<br />
6.000.000 / 100 x 10.5 = 630.000 (este será el incremento anual<br />
<br />
El contrato definitivo sería:<br />
<br />
6.000.000 - 6.630.000 - 7.260.000 - 7.890.000 - 8.520.000<br />
<br />
Que podría ofrecele al revés también:<br />
<br />
8.520.000 - 7.890.000 - 7.260.000 - 6.630.000 - 6.000.000<br />
<br />
O puedo optar por calcular la media y ofrecerle cada año lo mismo:<br />
<br />
7.260.000 - 7.260.000 - 7.260.000 - 7.260.000 - 7.260.000<br />
<br />
La clave es calcular el incremento del primer año y sumárselo a cada año. Es siempre el mismo incremento.<br />
<br />
2) Tiene Bird Rights pero es un fichaje de otro equipo (agente libre):<br />
<br />
Duración: De 1 a 5 años<br />
El incremento máximo es de +8%<br />
<br />
3) No tiene Bird Rights:<br />
<br />
Duración: De 1 a 4 años<br />
El incremento máximo es de +8%<br />
<br />
4) Mid Level (cualquier agente)<br />
Duración: De 1 a 5 años<br />
El incremento máximo es de +8%<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">11.- Jugadores retirados</span><br />
<br />
En los contratos de jugadores retirados solo contará el año de salario de la temporada en que se retira, o lo que es lo mismo, contará la temporada entera en la que se retira (contamos temporada de retirada desde que los equipos reales dejan de jugar partidos)<br />
<br />
Ejemplo: <br />
<br />
- Kidd se retira en Junio 2013 tras su participación con Knicks, luego le contará el salario de la temporada 2013/2014 y si tuviese más años de contrato se evaporarían.<br />
- Duncan se retira en Marzo de 2014 de la temporada 2013/2014, el salario seguiría contando ese año pero se evaporaría a partir de la temporada 2014/2015.<br />
</div>