﻿@{
    ViewBag.Title = "Traspasos";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<script>
    $(function () {
        getSideBarCategories(); getSideBarMedia();
    });

</script><br />
<h2 style="text-align:center">Traspasos</h2>

<div style="float:left;left:200px;border:1px solid;padding:20px; border-color:yellow; width:750px"> 
<span style="font-weight:bold; font-size:14px; color:yellow">CANTIDAD</span><br />
<br />
Existen dos periodos para realizar traspasos, verano y liga regular.<br />
<br />
VERANO: dispondremos de 5 traspasos pudiendo involucrar 10 jugadores que salen y 10 que entran.<br />
LIGA REGULAR: dispondremos de 3 traspasos con 6 jugadores que salen y 6 que entran. <br />
<br />
SIN TRASPASOS EN VERANO: En este caso el máximo que quedaría para la regular seria de 7 traspasos con 12 jugadores que salen y 12 jugadores que entran<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">CIERRE DEL MERCADO</span><br />
<br />
Habrá un limite temporal, en torno a los dos meses y medio de competición. A partir de ese día no se podrá traspasar más hasta la off-season.<br />
<br />
La fecha se anunciará a falta de 1 mes aproximadamente para la misma.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">CUADRAR SALARIOS</span><br />
<br />
En cada traspaso, existe una norma salarial que exige que entre las dos sumas de los salarios que se envían uno y otro equipo, la menor de ellas, en un 125% de la misma más 100,000$ ha de ser igual o superior a la mayor. Es decir, si la suma menor de salarios es 10M la mayor como mucho puede ser de 12,6M.<br />
<br />
Para los equipos que acaben con más dinero que “[Luxury Tax]” tras el traspaso, solo podrán recibir un 10% más de lo que dan.<br />
<br />
Desglosamos las posibilidades existentes:<br />
<br />
a) Los dos equipos están por debajo del Luxury Tax: Un equipo podrá recibir hasta un 25% más de lo que recibe más 100,000$, también recordar que si el que recibe más que el 25% pero queda por debajo del Salary Cap el cambio sería viable.<br />
<br />
Ejemplo:<br />
<br />
- Sacramento envía jugadores por valor de 10,000,000$ a Memphis.<br />
<br />
- Memphis envía jugadores por valor de 12,500,000$ a Sacramento.<br />
<br />
Este sería un traspaso válido. Si Memphis enviara jugadores por valor de 13 millones de $, esto supondría un 130% del valor de la suma más pequeña (10 millones) por lo cual el traspaso no sería válido.<br />
<br />
b) Un equipo está por encima del Luxury Tax y el otro no: El que no está por encima puede recibir hasta un 25% de más en salario, en cambio si da más el que esta por debajo del Luxury solo podrá dar hasta el 10%. Ejemplo: Equipo X con 90M y Equipo Y con 60M.<br />
<br />
b1) X da 10M y puede recibir como mucho 11M<br />
<br />
b2) Y da 10M y puede recibir 12.5M<br />
<br />
c) Los dos equipos están por encima del Luxury Tax: Sería la misma regla que la a) pero en ved de utilizar un 25% se usaría un 10%.<br />
<br />
En la web existirá una herramienta para comprobar si los traspasos son válidos o no.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">SIGN AND TRADE</span><br />
<br />
Los equipos que con el Sign and Trade incluido superen la cifra del Luxury Tax (mencionada en "Cuadrar traspasos"), no podrán ser partícipes de este tipo de traspasos.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">AGENTES RECIÉN FICHADOS</span><br />
<br />
Todo jugador que haya pasado por agencia, es decir, todo aquel que haya firmado un nuevo contrato (renovaciones, amnistiados y agentes, están exentos los rookies) no podrá volver a ser traspasado hasta que jueguen 20 partidos con el equipo.<br />
<br />
Si un jugador firmado por el mínimo es cortado antes de los 20 partidos, su contrato desaparecerá de la cuenta de salarios y no podrá ser traspasado nunca.<br />
Esta restricción significa que si por ejemplo Boston juega 20 partidos en 3 semanas ya podrá vender a los jugadores que haya firmado en verano, en cambio si Charlotte en 3 meses ha jugado 19 partidos seguirá sin poder traspasarlos.<br />
<br />
Se incluyen también los agentes firmados en mitad de temporada.<br />
<br />
No se pueden traspasar en toda la temporada a los agentes fichados con la mid level o con la small level exception. Si se les cortara, tampoco se podrá traspasar su contrato.<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">ROOKIES</span><br />
<br />
Los rookies se pueden traspasar en cualquier momento, pero siempre contará su salario para ello (aunque sean rookies de segunda ronda: en tal caso se dará por hecho que se les firma para poder traspasarlos).<br />
<br />
<span style="font-weight:bold; font-size:14px; color:yellow">PLAZO</span><br />
<br />
Recordamos también a todos los managers que NO ESTÁ PERMITIDO HACER TRASPASOS si no se encuentran al día de los partidos por jugar.<br />
</div>