﻿@{
    ViewBag.Title = "VideoTutoriales";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 style="text-align:center">Videotutoriales LVNBA<</h5>
    </div>
    <div class="card-body text-justify">
        Aquí encontrarás diferentes videotutoriales que te ayudarán a saber como realizar según que acciones o flujos de LVNBA: <br /><br />
        <a target="_blank" href="http://goo.gl/2qeo5D">Tutorial salarios y franquicias </a><br /><br />
        <a target="_blank" href="https://www.youtube.com/watch?v=qdfmAMHiG3g">Tutorial de reporte en lvnba.com </a>
    </div>
</div>
<script>
    $(document).ready(function () {
        getSideBarCategories();
        getSideBarMedia();
    });
</script>