﻿@model IEnumerable<Liga.Domain.Entities.Rounds>

@{
    ViewBag.Title = "Rondas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rondas</h2>

@Html.ActionLink("Crear ronda", "Create")

<table class="table table-striped">
    <tr class="thead-dark">
        <th>
            @Html.Label("Tipo")
        </th>
        <th>
            @Html.Label("Temporada")
        </th>
        <th>
            @Html.Label("Equipo")
        </th>
        <th>
            @Html.Label("Equipo propietario")
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LVNBAFranchis.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
</table>
