﻿@model IEnumerable<Liga.Domain.Entities.LVNBAFranchises>

@{
    ViewBag.Title = "Franquicias";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('bonusTH').autoNumeric('init', { aSep: '', aDec: ',', mDec: '0' });
    });
</script>
<h2>Franquicias</h2>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("Abrev.")
            </th>
            <th>
                @Html.Label("Manager")
            </th>
            <th>
                @Html.Label("Color")
            </th>
            <th>
                @Html.Label("Categoria")
            </th>
            <th>
                @Html.Label("Bonus")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.GamerTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <div class="bonusTH">
                        @Html.DisplayFor(modelItem => item.TotalBonus)
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
