﻿@model IEnumerable<Liga.Domain.Entities.LVNBAFranchises>

@{
    ViewBag.Title = "Asignar manager a franquicia";
    Layout = "~/Views/Shared/_ComissionLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "validateClass" })
    <div class="row mt-3">
        <div class="form-group col-md-4">
            <label>Escoge franquicia:</label>
            @Html.DropDownList("IdFranchise", null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-4">
            <label>Manager Actual:</label>
            <label class="form-control" id="manActual"></label>
        </div>
        <div class="form-group col-md-4">
            <label>Escoge manager:</label>
            @Html.DropDownList("IdManager", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row justify-content-end">
        <button class="col-md-2 btn btn-outline-success" type="submit">Asignar</button>
    </div>
}
<table class="table table-striped mt-3 mb-5">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayName("Equipo")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager.GamerTag)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.GamerTag)
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $("#IdFranchise").change(function () {
            var idTeam = $("#IdFranchise").val();
            getManager(idTeam);
        });
    });
    function getManager(idTeam) {
        $.ajax({
            url: "@Url.Action("ManagerByTeam", "ManagerFranchises")",
            data: { idTeam: idTeam },
            dataType: "json",
            type: "POST",
            error: function () {
                alert("An error occurred.");
            },
            success: function (data) {
                var items = "";

                $("#manActual").html(data);
            }
        });
    }
</script>