﻿@model IEnumerable<Liga.Domain.Entities.ManagersFranchises>

@{
    ViewBag.Title = "Histórico franquicias-manager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Histórico franquicias-manager</h2>

<div class="row justify-content-end">
    <a href="/ManagerFranchises/Create" class="btn btn-outline-dark col-md-2">Crear Nuevo</a>
</div>
<div class="row">
    <table class="table table-striped mt-5">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.Label("Franquicia")
                </th>
                <th>
                    @Html.Label("Manager")
                </th>
                <th>
                    @Html.Label("Fecha inicio")
                </th>
                <th>
                    @Html.Label("Fecha fin")
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LVNBAFranchis.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.GamerTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate, "ShortDateTime")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }
    </table>
</div>

