﻿@model Liga.Domain.Entities.PlayersRoles

@{
    ViewBag.Title = "Roles Jugador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Borrar Rol</h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Roles Jugador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Abrev)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Abrev)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
