﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Datos maestros de anuncios</h2>

    @Html.ActionLink("Tipos de Anuncio", "Index","TiposAnuncio")<br /><br />
    @Html.ActionLink("Imagenes de Anuncio", "Index","ImagenesAnuncio")<br /><br />
    @Html.ActionLink("Contenidos de Anuncio", "Index","ContenidosAnuncio")<br /><br />
    @Html.ActionLink("Variables de Anuncio", "Index","TiposVariables")<br /><br />
