﻿@model Liga.Domain.Entities.SalaryConditions

@{
    ViewBag.Title = "Condiciones salariales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Condición Salarial</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Condición Salarial</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.Label("Condición")

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Condition)
            @Html.ValidationMessageFor(model => model.Condition)
        </div>

        <div class="editor-label">
            @Html.Label("Abreviación")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Abrev)
            @Html.ValidationMessageFor(model => model.Abrev)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
