﻿@model IEnumerable<Liga.Domain.Entities.SalaryConditions>

@{
    ViewBag.Title = "Condiciones salariales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Condiciones Salariales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Label("Condición")
        </th>
        <th>
            @Html.Label("Abreviación")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abrev)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
