﻿@{
    ViewBag.Title = "Acerca de";
    Layout = "~/Views/Shared/_WebOneColumnLayout.cshtml";
}


<div class="card mb-5">
    <div class="card-header">
        <h4>Qué es LVNBA</h4>
    </div>
    <div class="card-body">
        <p class="font-weight-bold"> Quienes somos</p>
        <p class="text-justify">LVNBA es algo más que una simple liga. Es una comunidad de treinta mánagers que dedican su tiempo, su esfuerzo y su pasión a la noble afición de gestionar una franquicia NBA y batirse en duelo en las canchas de la saga de videojuegos NBA 2k.</p>
        <p class="font-weight-bold">Comienzos</p>
        <p class="text-justify">
            Con una impresionante tradición (seis temporadas completadas manteniendo el control de las mismas franquicias, pasándolas de un juego a otro), además de la que heyellowamos de ligas ‘madre’, la liga cuenta con una salud impresionante, con personas comprometidas que trabajan duro y se esfuerzan en que todo esté pulido hasta el máximo detalle posible.
            <br />LVNBA son 82 partidos cada año, a 48 minutos, con un complejo entramado de salarios, traspasos, normativas y sobretodo, juego realista. Pero no solo es eso, es toda la gente que está detrás y que hace que sumergirse en toda esta complejidad sea un viaje sencillo y ameno.
        </p>
        <p class="font-weight-bold">En la actualidad</p>
        <p class="text-justify">
            (en que situación estamos, revista, nueva web , next gen,)
        <p class="font-weight-bold">Comisionado</p>
        (para que sirve, quienes forman parte)
        <p class="font-weight-bold">Como participar</p>
        (que hay que hacer)

    </div>
</div>
<script>
    $(document).ready(function () {
        getSideBarCategories();
        getSideBarMedia();
    });
</script>