﻿<div class="col-12">
    <table id="tablaClasiW" class="table table-striped" summary="Conferencia Oeste">
        <thead>
            <tr>
                <th abbr="Posición" scope="col" title="Posición">P.</th>
                <th abbr="Equipos" scope="col" title="Equipos">Equipo</th>
                <th abbr="Victorias" scope="col" title="Victorias">W</th>
                <th abbr="Derrotas" scope="col" title="Derrotas">L</th>
            </tr>
        </thead>
        <tbody id="WClasification"></tbody>
    </table>
</div>
<div class="col-12">
    <a class="nav-link text-dark" href="/TeamStandings/Index" title="Ver clasificación detallada">&laquo; Detalle</a>
</div>


<script type="text/javascript">
    jQuery(function () {
        getWestStandings();
        $("#tablaClasiW tr:odd").css("background-color", "red");
    });

    function getWestStandings() {
    $.ajax({
        url: "@Url.Action("GetStandings", "Home")",
        data: {conference: "2"},
        dataType: "html",
        type: "POST",
        error: function() {
            //  alert("An error occurred.");
        },
        success: function(data) {
                data = eval(data);
                // jQuery.post('../Home/GetStandings?conference=' + 1, function (data) {
            data = eval(data);
            if (data.length > 0) {
                var options = '';
                var i = 0;
                for (temp in data) {
                    var item = data[temp];
                    i = i + 1;
                    var image = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/BigLogos/#laIMG")"  />';
                    image = image.replace("#laIMG",item.Logo);

                    //alert(image);
                    if(i==8)
                    {
                        options += '<tr  style=" border-bottom-color:Red ; border-bottom-style: groove;">';
                    }
                    else
                    {
                    options += '<tr>';
                    }



                    options += '<td align="left">' + image + '</td>';
                    options += '<td align="left"><a style="color:black" href="/Rosters/TeamRosters?idTeam=' + item.Id + '" title="Ver Plantilla">' + item.TeamName + '</a></td>';
                    //options += '<td align="left">' + item.TeamName + '</td>';
                    options += '<td>' + item.Wins + '</td>';
                    options += '<td>' + item.Losses + '</td>';
                    options += '</tr>';
                }
                jQuery('#WClasification').html(options);
            }

        }
    });
    }
</script>
