﻿@{

    ViewBag.Title = "Indice";
    Layout = "~/Views/Shared/_HomeWebLayout.cshtml";
}

<style>
    .ui-dialog {
        z-index: 5000 !important;
    }
</style>
<section class="featured">
    <div class="row">
        <div class="col-md-6">
            @{
                Html.RenderPartial("PlayerOfensiveStatsView");
            }
        </div>
        <div class="col-md-6">
            @{
                Html.RenderPartial("PlayerDefensiveStatsView");
            }
        </div>
    </div>
</section>
@section Scripts{

    <script type="text/javascript">
    $(function () {
        getLastNews();
        getSideBarTags();
        getResults();
        getInjuries();
        getTopPlayers("GetTopFivePPGPlayers", "#playerOFENSEPPG");
        getTopPlayers("GetTopFiveAPGPlayers", "#playerOFENSEAPG");
        getTopPlayers("GetTopFiveFGPlayers", "#playerOFENSEFG");
        getTopPlayers("GetTopFiveRPGPlayers", "#playerDEFENSERPG");
        getTopPlayers("GetTopFiveBPGPlayers", "#playerDEFENSEBPG");
        getTopPlayers("GetTopFiveSPGPlayers", "#playerDEFENSESPG");

        $(".boxscore").click(function (e) {
            e.preventDefault();
        });

    });

    $.fn.parpadeando = function () {

        this.each(function parpadeando() {
            $(this).fadeIn(500).delay(250).css("background-color", "slategrey").fadeOut(500, parpadeando);
        });
    }
    function parpadear() {
        elemento = '#chi';
        $(elemento).fadeIn(500).delay(250).fadeOut(500, parpadear)
    }

    function getLastNews() {

        $.ajax({
            url: "@Url.Action("GetNews", "News")",
        data: {},
        dataType: "html",
        type: "POST",
        error: function () {
            //  alert("An error occurred en las news.");
        },
        success: function (data) {
            data = eval(data);
            if (data.length > 0) {
                var options = '';
                var i = 0;
                //options += '<li><h2>Categorías</h2><ul>';
                for (temp in data) {
                    var item = data[temp];
                    i = i + 1;
                    options += "<li><img data-frame='" + item.ImageLink + "' src='" + item.ImageLink + "' title='" + item.Titulo + "' data-description='" + item.Contenido + "' data-linkimg='" + item.LinkImagen + "' data-linktext='" + item.LinkText + "' />";
                }

                jQuery('#myGallery').html(options);
                $('#myGallery').galleryView({
                    transition_speed: 2000, 		//INT - duration of panel/frame transition (in milliseconds)
                    transition_interval: 4000, 		//INT - delay between panel/frame transitions (in milliseconds)
                    easing: 'swing', 				//STRING - easing method to use for animations (jQuery provides 'swing' or 'linear', more available with jQuery UI or Easing plugin)
                    show_panels: true, 				//BOOLEAN - flag to show or hide panel portion of gallery
                    show_panel_nav: true, 			//BOOLEAN - flag to show or hide panel navigation buttons
                    enable_overlays: true, 			//BOOLEAN - flag to show or hide panel overlays

                    panel_width: 550, 				//INT - width of gallery panel (in pixels)
                    panel_height: 300, 				//INT - height of gallery panel (in pixels)
                    panel_animation: 'crossfade', 		//STRING - animation method for panel transitions (crossfade,fade,slide,none)
                    panel_scale: 'crop', 			//STRING - cropping option for panel images (crop = scale image and fit to aspect ratio determined by panel_width and panel_height, fit = scale image and preserve original aspect ratio)
                    overlay_position: 'bottom', 	//STRING - position of panel overlay (bottom, top)
                    pan_images: false,				//BOOLEAN - flag to allow user to grab/drag oversized images within gallery
                    pan_style: 'track',				//STRING - panning method (drag = user clicks and drags image to pan, track = image automatically pans based on mouse position
                    pan_smoothness: 15,				//INT - determines smoothness of tracking pan animation (higher number = smoother)
                    start_frame: 1, 				//INT - index of panel/frame to show first when gallery loads
                    show_filmstrip: true, 			//BOOLEAN - flag to show or hide filmstrip portion of gallery
                    show_filmstrip_nav: true, 		//BOOLEAN - flag indicating whether to display navigation buttons
                    enable_slideshow: true,			//BOOLEAN - flag indicating whether to display slideshow play/pause button
                    autoplay: true,				//BOOLEAN - flag to start slideshow on gallery load
                    show_captions: false, 			//BOOLEAN - flag to show or hide frame captions
                    filmstrip_size: 3, 				//INT - number of frames to show in filmstrip-only gallery
                    filmstrip_style: 'scroll', 		//STRING - type of filmstrip to use (scroll = display one line of frames, scroll filmstrip if necessary, showall = display multiple rows of frames if necessary)
                    filmstrip_position: 'bottom', 	//STRING - position of filmstrip within gallery (bottom, top, left, right)
                    frame_width: 60, 				//INT - width of filmstrip frames (in pixels)
                    frame_height: 60, 				//INT - width of filmstrip frames (in pixels)
                    frame_opacity: 0.5, 			//FLOAT - transparency of non-active frames (1.0 = opaque, 0.0 = transparent)
                    frame_scale: 'crop', 			//STRING - cropping option for filmstrip images (same as above)
                    frame_gap: 5, 					//INT - spacing between frames within filmstrip (in pixels)
                    show_infobar: true,				//BOOLEAN - flag to show or hide infobar
                    infobar_opacity: 50				//FLOAT - transparency for info bar
                });
            }
        }
    });
}


function getTopPlayers(actionResult, divToPaint) {

    $.ajax({
        url: "./Stats/" + actionResult,
        data: {},
        dataType: "html",
        type: "POST",
        error: function () {
            //alert("An error occurred.");
        },
        success: function (data) {
            data = eval(data);
            if (data.length > 0) {
                var options = '';
                var i = 0;

                for (temp in data) {
                    var item = data[temp];
                    var imageLogo = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                    imageLogo = imageLogo.replace("#laIMG", item.Logo);

                    if (i == 0) {

                        options += '<tr class="oddrow player-46-3202">'
                        options += '<td rowspan="5" align="center" style="background: none; border: 0;">'
                        options += '<img onclick="viewPlayerInfo(' + item.id + ');" style="cursor:pointer" class="topPlayer" width="90px" height="73px" src="' + item.FaceImage + '" /></td>'

                        }
                    options += '<td onclick="viewPlayerInfo(' + item.id + ');" style="cursor:pointer" class="topPlayer" id=' + item.id + ' align="left"> '
                    options += imageLogo + ' ' + item.CompleteName + '</td>'
                    options += '   <td align="right">' + item.STAT.toString() + '</td></tr>'

                        i = i + 1;
                    }

                    jQuery(divToPaint).html(options);
                }
        }
    });
    }

    function getResults() {
        $.ajax({
            url: "@Url.Action("GetLast10Results", "Results")",
            data: {},
            dataType: "html",
            type: "POST",
            error: function () {
            },
            success: function (data) {
                data = eval(data);
                var options = '';
                options += '<div class="col-12 resultadis"><ul style="background-color:transparent;font-family: arial;"><h2 font-weight:bold">Resultados</h2><li style="background-color:transparent">';
                if (data.length > 0) {
                    var i = 0;
                    for (temp in data) {
                        var item = data[temp];
                        i = i + 1;
                        var imageLocal = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                            imageLocal = imageLocal.replace("#laIMG", item.sLogoLocal);
                            var imageAway = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                            imageAway = imageAway.replace("#laIMG", item.sLogoAway);
                            options += '<table  style="border-collapse:inherits;border-left-width:0px;color:black;font-weight:bold;width:100%;font-size:10px"><tr border=""  style="border-left-width:0px;background-color:transparent;"><td style="width:30%;"><a href="/Rosters/TeamRosters?idTab=3&idTeam=' + item.idTeamLocal + '"   title="Resultados ' + item.sAbrevLocal + '" style="color:black">' + imageLocal + '&nbsp;&nbsp;' + item.sAbrevLocal + '</a></td><td style="width:10%;background-color:transparent;text-align:center">' + '-' + '</td><td style="width:30%;text-align:right;"><a href="/Rosters/TeamRosters?idTab=3&idTeam=' + item.idTeamAway + '"   title="Resultados ' + item.sAbrevAway + '" style="color:black">' + item.sAbrevAway + '&nbsp;&nbsp;' + imageAway + '</a></td><td style="text-align:right;width:30%;"><a href="/results/index"  id="' + item.idGame + '"  title="BoxScore" style="color:black">' + item.iScoreLocal + '-' + item.iScoreAway + '</a></td></tr></table>';
                        }
                }
                options += '</li><li style=" padding:10px;"><a style="color:black;" href="/Results/Index" title="Ver Otros Resultados">&laquo; Ver Otros Resultados</a></li></ul></div>';
                jQuery('#firstRightListUL').html(options);

        }
        });
    }
    function getInjuries() {
        $.ajax({
            url: "@Url.Action("GetIncompleteInjuries", "Injuries")",
                            data: {},
                            dataType: "html",
                            type: "POST",
                            error: function () {
                            //  alert("An error occurred con las lesiones.");
                            },
                            success: function (data) {
                                data = eval(data);
                                if (data.length > 0) {
                                    var options = '';
                                    var i = 0;
                                    options += '<li><h2>Lesiones</h2><ul>';
                                    for (temp in data) {
                                        var item = data[temp];
                                        i = i + 1;
                                        var imageLogo = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                                        imageLogo = imageLogo.replace("#laIMG", item.sLogo);

                                        options += '<table  style="border-collapse:inherits;border-left-width:0px;background-color:black;color:white;width:100%;font-size:10px"><tr border=""  style="border-left-width:0px;background-color:transparent;"><td style="width:70%;background-color:black;">' + imageLogo + '&nbsp;&nbsp;' + item.sCompleteName + '</td><td style="width:30%;align:center;background-color:black;"><img width="15px" height="15px" src="@Url.Content("~/Images/Common/lesion.png")"  />' + '&nbsp;&nbsp;' + item.iGamesRest + '</td></tr></table>';
                    }
                                    options += '</ul><ul style="background-color:transparent; text-aling:center"><a style="color:white" href="/Injuries/InjuryResume" title="Ver todos los lesionados">&laquo; Ver Lesionados</a></ul></li>';
                    jQuery('#InjuryListUL').html(options);
                }
        }
                        });
    }

    function viewBoxScorer($link) {

        var idGame = $link.attr("id");
        $.ajax({
            url: "@Url.Action("GetScoreInfo", "Results")",
                data: { idGame: idGame },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                beforeSend: function () {
                    $('#loading-image').show();
                },
                success: function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var src = $link.attr("href");
                    var title = $link.attr("title");
                    $("#imagenModal").attr("src", src);

                    $("#dialog-modal").dialog({
                        title: title,
                        height: 600,
                        width: 1000,
                        modal: true,
                        dialogClass: 'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                },
                complete: function () {
                    $('#loading-image').hide();
                    $("#dialog").hide();
                    createDialog();
                }

            });

    }

    function createDialog() {
        $("#dialog").dialog({
            width: 780,
            autoOpen: false,
            modal: true,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            }
        });
    }
    </script>
}