﻿<div id="my-players-table" class="row">
    <div class="col-12">
        <h5>Defensive Leaders</h5>
        <table class="table table-striped">                    
            <thead class="thead-dark">
                <tr>
                    <th colspan="2"><a style="font-weight:bold ;color:white"  href="@Url.Action("StatsPlayer", "Stats", new { orden = "RPG" })" title="Ver clasificación detallada">REBOTES</a></th>
                    <th align="right">REB</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="center" colspan="4" id="prev"><a style="font-weight:bold ;color:white" href="/Stats/StatsPlayer/?orden=RPG" title="Ver clasificación detallada">&laquo; Detalle</a></td>
                </tr>
            </tfoot>
            <tbody id="playerDEFENSERPG"></tbody>
        </table>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2"><a style="font-weight:bold ;color:white"  href="/Stats/StatsPlayer/?orden=BPG" title="Ver clasificación detallada">TAPONES</a></th>
                    <th align="right">TAP</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="center" colspan="4" id="prev"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "BPG" })" title="Ver clasificación detallada">&laquo; Detalle</a></td>
                </tr>
            </tfoot>
            <tbody id="playerDEFENSEBPG"></tbody>
        </table>
        <table  class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "SPG" })" title="Ver clasificación detallada">ROBOS</a></th>
                    <th align="right">ROB</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td align="center" colspan="4" id="prev"><a style="color:white" href="@Url.Action("StatsPlayer", "Stats", new { orden = "SPG" })" title="Ver clasificación detallada">&laquo; Detalle</a></td>
                </tr>
            </tfoot>
            <tbody id="playerDEFENSESPG"></tbody>
        </table>
    </div>
</div>


       

