﻿
@model IEnumerable<Liga.Domain.Entities.Players>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@Html.ActionLink("Vamos","Test",new { idTeam = 13});

@foreach (var item in Model)
{
   <div>@item.CompleteName </div>
}


<div>@Model.Count()</div>