﻿@model Liga.Domain.Entities.Injuries

@{
    ViewBag.Title = "Lesiones";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar lesión</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label("Jugador")
            @Html.DropDownList("IdPlayer", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdPlayer)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Tipo de lesión")
            @Html.DropDownList("IdType", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdType)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Partidos lesionado")
            @Html.TextBoxFor(model => model.GamesOut, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GamesOut)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Partidos que le quedan")
            @Html.TextBoxFor(model => model.GamesRest, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GamesRest)
        </div>
    </div>
    <div class="row justify-content-end">
        <a href="/Injuries" class="btn btn-dark mr-1 col-md-2">Volver</a>
        <button type="submit" class="col-md-2 btn btn-outline-success">Crear</button>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
