﻿@model IEnumerable<Liga.Domain.Entities.Injuries>

@{
    ViewBag.Title = "Lesiones";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Lesiones de jugadores</h4>

<div class="row justify-content-end">
    <a href="/Injuries/Create" class="btn btn-outline-dark col-md-2">Crear lesión</a>
</div>
<div class="row">
    <table class="table table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayName("Jugador")
                </th>
                <th>
                    @Html.DisplayName("Lesión")
                </th>
                <th>
                    @Html.DisplayName("Partidos de lesión")
                </th>
                <th>
                    @Html.DisplayName("Partidos que le faltan")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.CompleteName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InjuryType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GamesOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GamesRest)
                    </td>
                    <td>
                        <a href="/Injuries/Edit/@item.Id" class="btn btn-sm btn-warning mr-1">Editar</a>
                        <a href="/Injuries/Delete/@item.Id" class="btn btn-sm btn-warning">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

