﻿@model Liga.Domain.Entities.InjuryResume

@{
    ViewBag.Title = "InjuryResume";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}

<h2>Resumen de Lesiones</h2>
<div class="accordion" id="accordionExample">
    <div class="card ">
        <div class="card-header bg-dark" id="reportesH">
            <h5 class="mb-0">
                <a class="text-light nav-link" data-toggle="collapse" data-target="#reportesB" aria-expanded="true" aria-controls="reportesB">
                    Lesionados
                </a>
            </h5>
        </div>
        <div id="reportesB" class="collapse show" aria-labelledby="reportesH" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Jugador</th>
                            <th>Tipo Lesión</th>
                            <th>Total P.</th>
                            <th>Restantes</th>
                            <th>Resumen</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaLesionados.OrderByDescending(x => x.GamesRest))
                        {
                            <tr>
                                <td>@item.Player.CompleteName</td>
                                <td>@item.InjuryType.Description</td>
                                <td style="text-align:center">@item.GamesOut</td>
                                <td style="text-align:center">@item.GamesRest</td>
                                <td>
                                    <img width="30px" height="30px" src="@Url.Content("~/Images/Common/lesion.png")" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header bg-dark" id="datosMaestrosH">
            <h5 class="mb-0">
                <a class="text-light nav-link" data-toggle="collapse" data-target="#datosMaestrosB" aria-expanded="true" aria-controls="datosMaestrosB">
                    Ranking
                </a>
            </h5>
        </div>
        <div id="datosMaestrosB" class="collapse" aria-labelledby="datosMaestrosH" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Equipo</th>
                            <th>Jugador</th>
                            <th>Total P.</th>
                            <th>Num. Lesiones</th>
                            <th>Resumen</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaResumenLesiones.OrderByDescending(x => x.PartidosLesionado))
                        {
                            <tr>
                                <td>@item.AbrevTeam</td>
                                <td>@item.NamePlayer</td>
                                <td style="text-align:center">@item.PartidosLesionado</td>
                                <td style="text-align:center">@item.Lesiones</td>
                                <td><img width="30px" height="30px" src="@Url.Content("~/Images/Common/lesion.png")" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
