﻿@model Liga.Domain.Entities.LocalPasswordModel

<h3>Cambiar contraseña</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @style = "color:red" })

    <fieldset>
        <p>@Html.LabelFor(m => m.OldPassword)@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control col-md-6" })</p>
        <p>
            @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col-md-6" })
    </p>
    <p>
        @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-md-6" })
</p>
    <button type="submit" class="btn btn-outline-success">Cambiar contraseña</button>
</fieldset>
}
