﻿@model Liga.Domain.Entities.LoginModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Iniciar sesión";
}

<section id="loginForm">
    <div class="row align-items-center justify-content-center mb-5">
        <div class="col-md-6">
            <h2>Utilice una cuenta local para iniciar sesión.</h2>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @style = "color:red" })

                <fieldset>
                    <legend>Formulario de inicio de sesión</legend>

                    <p> @Html.LabelFor(m => m.UserName)</p>
                    <p>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control col-md-6" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @style = "color:red" })
                    </p>
                    <p> @Html.LabelFor(m => m.Password)</p>
                    <p>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-6" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                    </p>
                    <p>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    </p>

                    <input class="btn btn-outline-success" type="submit" value="Iniciar sesión" />
                </fieldset>
                <p>
                    @Html.ActionLink("Regístrese", "Register") si no tiene ninguna cuenta.
                </p>
            }
        </div>
    </div>
    
</section>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
