﻿@model Liga.Domain.Entities.PlayersSalaries

@{
    ViewBag.Title = "Salarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Borrar salario de   @Html.DisplayFor(model => model.Player.CompleteName) </h2>

<h3>Está seguro?</h3>
<fieldset>
    <legend>Salarios</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salary1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salary2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salary3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salary4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salary5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salary6)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary6)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryCondition.Condition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryCondition.Condition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryCondition1.Condition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryCondition1.Condition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryCondition2.Condition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryCondition2.Condition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryCondition3.Condition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryCondition3.Condition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryCondition4.Condition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryCondition4.Condition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SalaryCondition5.Condition)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SalaryCondition5.Condition)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EuropeTeam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EuropeTeam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LVNBAFranchis.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LVNBAFranchis.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
