﻿@model IEnumerable<Liga.Domain.Entities.SalaryTeamInfo>

@{
    ViewBag.Title = "SalaryInfoTeam";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}
<style>
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../Images/Common/loader1.gif') 50% 50% no-repeat rgb(249,249,249);
}
.css_button {
    font-size: 16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #d02718;
    padding: 4.5px 9px;
    text-shadow:1px 1px 0px #810E05;
    -moz-box-shadow:inset 1px 1px 0px 0px #f5978e;
    box-shadow:inset 1px 1px 0px 0px #f5978e;
    box-shadow:inset 1px 1px 0px 0px #f5978e;
    font-weight:normal;
    text-decoration:none;
    cursor: pointer;
    background:-webkit-linear-gradient(90deg, #c62d1f 5%, #f24537 100%);
    background:-moz-linear-gradient(90deg, #c62d1f 5%, #f24537 100%);
    background:-ms-linear-gradient(90deg, #c62d1f 5%, #f24537 100%);
    background:linear-gradient(180deg, #f24537 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
    /*background-color:#c62d1f;*/
    color:#ffffff;
    display:inline-block;
}
.css_button:hover {
    background:-webkit-linear-gradient(90deg, #f24537 5%, #c62d1f 100%);
    background:-moz-linear-gradient(90deg, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(90deg, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(180deg, #c62d1f 5%, #f24537 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
    /*background-color:#f24537;*/
}
.css_button:active {
    position:relative;
    top:1px;
}
.css_blue {
  background: #3476d9;
  background-image: -webkit-linear-gradient(top, #3476d9, #2c64b8);
  background-image: -moz-linear-gradient(top, #3476d9, #2c64b8);
  background-image: -ms-linear-gradient(top, #3476d9, #2c64b8);
  background-image: -o-linear-gradient(top, #3476d9, #2c64b8);
  background-image: linear-gradient(to bottom, #3476d9, #2c64b8);
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 4.5px 9px;
  text-decoration: none;
  cursor: pointer;
}

.css_blue:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.css_blue:active {
    position:relative;
    top:1px;
}
  .draggable { width: 150px; height: 150px; padding: 0.5em; float:right; z-index:1 }

    .totSal {
        width: 50px;
    }
    .tablaSalary {
        width:500px;
        border-top-width:1px; 
        border-top-style:solid;border-top-color:#ccc; border-bottom-color:#ccc; 
        border-bottom-style:solid; border-bottom-width:1px;
        font-size:10px;
        background-color:white;color:black;
    }
  </style>
<script>
    $(window).load(function () {
        $(".loader").fadeOut("slow");
    })
    $(function () {



      $(".draggable").draggable();
      $(".css_blue").click(function () {  
        
          runEffect($(this).attr('id'),'s');
      });
      $(".css_button").click(function () {

          runEffect($(this).attr('id'),'r');
      });
      $('.salario1').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
      $('.midLevel').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
      $('.totSal').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });

      

      //$('#sumSal1').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0',vMin: '-999999999.99' });
  });


  function runEffect(obj,tipo) {
     
     
      var res = obj.substring(2);
      var selectedEffect = 'fade';
      // most effect types need no options passed by default
      var options = {};
      // some effects have required parameters
      if (selectedEffect === "scale") {
          options = { percent: 0 };
      } else if (selectedEffect === "size") {
          options = { to: { width: 200, height: 60 } };
      }

      // run the effect
      if (tipo == 's') {
          $("#sal_" + res).toggle(selectedEffect, options, 500);
      }
      else {
          $("#round_" + res).toggle(selectedEffect, options, 500);

      }
      var topZ = 0;
      $('.draggable').each(function () {
          var thisZ = parseInt($(this).css('zIndex'), 10);
          if (thisZ > topZ) {
              topZ = thisZ;
          }
      });
      $("#draggable_" + res).css('zIndex', topZ + 1);
      $('.nomJug').each(function () {
          var bird = $(this).attr('bird');
          if(bird>2)
              $(this).css('background-color', 'yellow');
      });
      $('.totSal').each(function () {
          var result = '';
          var cont = $(this).attr('cond');
          switch (cont) {
              case "1":
                  result = 'red';
                  break;
              case "2":
                  result = '#2E64FE';
                  break;
              case "3":
                  result = '#01DF3A';
                  break;
              case "4":
                  result = 'violet';
                  break;
              case "5":
                  result = 'gray';
                  break;
              default:
                  result = '';

          }
          if (result != '')
              $(this).css('background-color', result);
      });
  };
  </script>
<div class="loader"></div>
@foreach(var salaryInfo in Model)
{
<div id="draggable_@salaryInfo.Franchise.Id"  class=" draggable ui-widget-content">
<img height="30" width="30" src="~/Images/Common/teams/BigLogos/@salaryInfo.Franchise.Icono" />
  <span style="font-size:16px;font-weight:bold">@salaryInfo.Franchise.NickName</span>
 <p><span >Pres.: </span><span class="salario1"  style="color:yellow;font-weight:bold"> @salaryInfo.ListPlayersRoster.Sum(x=>x.Salary1).ToString().Replace(",00","")</span></p>
 <p><span>Mid L.: </span><span class="midLevel" style="color:yellow;font-weight:bold"> @salaryInfo.FranchiseParams.MidLevelWasted.ToString().Replace(",00","")</span></p>
  <p><span>Tr. Real: </span><span style="color:yellow;font-weight:bold"> (@salaryInfo.FranchiseParams.OffSeasonTrades) + (@salaryInfo.FranchiseParams.SeasonTrades) </span></p>
  <p>
      <input type="button" id="r_@salaryInfo.Franchise.Id"  class="css_button" value="R" /><span style="color:white;font-weight:bold;text-align:center"> @salaryInfo.Franchise.Manager.GamerTag </span>     
      <input type="button" id="s_@salaryInfo.Franchise.Id" style="float:right" class="css_blue" value="S" /> </p>
<div  style="background-color:black;top:-5px; border-width:2px;" id="sal_@salaryInfo.Franchise.Id" hidden="hidden">
   <table  class="tablaSalary" style="">
       <tr style="background-color:orange;border-color:orange;color:black;font-weight:bold">
           <td>Nombre</td><td>2014</td><td>2015</td><td>2016</td><td>2017</td><td>2018</td><td>2019</td>
       </tr>

  @foreach (var jug in salaryInfo.ListPlayersRoster)
    {
      <tr>
        <td bird="@jug.Player.BirdRights" class="nomJug" style="font-weight:bold">@jug.Player.CompleteName</td>
          <td><span cond="@jug.IdCondition1" class="totSal">@jug.Salary1.ToString().Replace(",00","")</span></td><td><span cond="@jug.IdCondition2" class="totSal">@jug.Salary2.ToString().Replace(",00","")</span></td>
          <td><span cond="@jug.IdCondition3" class="totSal">@jug.Salary3.ToString().Replace(",00","")</span></td><td><span cond="@jug.IdCondition4" class="totSal">@jug.Salary4.ToString().Replace(",00","")</span></td>
          <td><span cond="@jug.IdCondition5" class="totSal">@jug.Salary5.ToString().Replace(",00","")</span></td><td><span cond="@jug.IdCondition6" class="totSal">@jug.Salary6.ToString().Replace(",00","")</span></td>
    </tr>

    }
       <tr style="background-color:orange;border-color:orange;color:black;font-weight:bold">
           <td>TOTALES:</td><td><span class="totSal">@salaryInfo.ListPlayersRoster.Sum(x=>x.Salary1).ToString().Replace(",00","")</span></td><td><span class="totSal">@salaryInfo.ListPlayersRoster.Sum(x=>x.Salary2).ToString().Replace(",00","")</span></td>
           <td><span class="totSal">@salaryInfo.ListPlayersRoster.Sum(x=>x.Salary3).ToString().Replace(",00","")</span></td><td><span class="totSal">@salaryInfo.ListPlayersRoster.Sum(x=>x.Salary4).ToString().Replace(",00","")</span></td>
           <td><span class="totSal">@salaryInfo.ListPlayersRoster.Sum(x=>x.Salary5).ToString().Replace(",00","")</span></td><td><span class="totSal">@salaryInfo.ListPlayersRoster.Sum(x=>x.Salary6).ToString().Replace(",00","")</span></td>
       </tr>
   </table>
   
</div>
<div  style="background-color:rgb(217, 218, 245);top:-5px;color:black;font-weight:bold; border-width:2px;" id="round_@salaryInfo.Franchise.Id" hidden="hidden">
   <table  class="roundTable" style="">
       <tr style="background-color:orange;border-color:orange;color:black;font-weight:bold">
           <td>Ronda</td>
       </tr>

  @foreach (var ronda in salaryInfo.RoundsTeamInfo.OrderBy(x=>x.Year).ThenBy(x=>x.Type))
    {
      <tr>
        <td style="font-weight:bold">@ronda.Year - @ronda.Type º  (@ronda.LVNBAFranchis.NickName)</td>
    </tr>

    }
   </table>
   
</div>
</div>
}