﻿<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="~/Images/logoLVNBA.png" width="150"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Results/Index">Resultados</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="roosters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rosters
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="roosters">
                    <a href="/Rosters/Index" class="nav-link">Rosters</a>
                    <a href="/StatsTeams/StatsTeam" class="nav-link">Estadísticas</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="jugadores" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jugadores
                </a>
                <div class="dropdown-menu dropright bg-dark" aria-labelledby="jugadores">
                    <a class="nav-link dropdown-toggle" href="/Home/Index" id="estadisticas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Estadisiticas
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="estadisticas">
                        <a href="/Stats/StatsPlayer" class="nav-link">General</a>
                        <a href="/Stats/StatsRookies" class="nav-link">Rookies</a>
                        <a href="/Stats/StatsExpirings" class="nav-link">Expirings</a>
                        <a href="/Stats/StatsTransferibles" class="nav-link">Transferibles</a>
                        <a href="/Stats/Level2kCards" class="nav-link">Fichas 2k</a>
                        <a href="/Stats/Top10Week" class="nav-link">Top 10 Week</a>
                        <a href="/Stats/Top10Month" class="nav-link">Top 10 Month</a>
                        <a href="/Stats/Top10Month" class="nav-link">Top 10 Month</a>
                        <a href="/Stats/StatsHistory" class="nav-link">Histórico</a>
                    </div>
                </div>
            </li>
            <li id="premios" class="nav-item">
                <a href="/TeamStandings/Index" class="nav-link">Clasificaciones</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/Home/Index" id="mercado" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mercado
                </a>
                <div class="dropdown-menu dropright bg-dark" aria-labelledby="mercado">
                    <a href="/PlayersSalaries/SalaryInfoTeam" class="nav-link">Salarios</a>
                    <a href="/Trades/TransfersInfo" class="nav-link">Transferibles</a>
                    <a href="/Players/FreeAgent" class="nav-link">Agentes Libres</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/LVPedia/Index">LVPedia</a></li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</nav>
<img src="~/Images/banner.jpg" class="img-fluid d-md-flex" />
<div class="container-fluid logosbg">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 pb-3">
            <div class="mt-4 mb-4 row" id="teamlogos">
                <div class="col-sm-6 este">
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 2 })" title="BOS">
                        <img width="150px" id="bos" src="@Url.Content("~/Images/Common/teams/Chicos/BOS.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 10 })" title="BKN">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/BKN.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 11 })" title="NYK">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/NYK.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 13 })" title="PHI">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/PHI.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 14 })" title="TOR">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/TOR.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 1 })" title="ATL">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/ATL.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 3 })" title="CHA">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/CHA.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 8 })" title="MIA">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/MIA.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 12 })" title="ORL">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/ORL.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 15 })" title="WAS">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/WAS.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 4 })" title="CHI">
                        <img width="150px" id="chi" src="@Url.Content("~/Images/Common/teams/Chicos/CHI.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 5 })" title="CLE">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/CLE.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 6 })" title="DET">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/DET.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 7 })" title="IND">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/IND.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 9 })" title="MIL">
                        <img width="150px" id="mil" src="@Url.Content("~/Images/Common/teams/Chicos/MIL.jpg")" />
                    </a>
                </div>
                <div class="col-sm-6 oeste">
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 16 })" title="DAL">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/DAL.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 18 })" title="GSW">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/GSW.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 20 })" title="LAC">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/LAC.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 22 })" title="MEM">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/MEM.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 24 })" title="NOP">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/NOP.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 25 })" title="OKC">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/OKC.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 26 })" title="PHO">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/PHO.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 27 })" title="POR">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/POR.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 29 })" title="SAS">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/SAS.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 21 })" title="LAL">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/LAL.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 19 })" title="HOU">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/HOU.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 28 })" title="SAC">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/SAC.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 30 })" title="UTA">
                        <img id="utah" width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/UTA.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 23 })" title="MIN">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/MIN.jpg")" />
                    </a>
                    <a href="@Url.Action("TeamRosters", "Rosters", new { idTeam = 17 })" title="DEN">
                        <img width="150px" src="@Url.Content("~/Images/Common/teams/Chicos/DEN.jpg")" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

