﻿@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="Shortcut Icon" href="@Url.Content("~/Images/common/icono.ico")" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/css/estilo_liga.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>


<body class="h-100">
    <div id="wrapper">
        <!-- start header -->
        <div id="header">
            @Html.Partial("_HeaderPartial")
        </div>
        <!-- end header -->
        <!-- start page -->
        <div class="container-fluid pt-3 pb-5">
            <div class="row">
                <div class="col-md-3 pb-5">
                    <div class="row border-right">
                        <div class="col-12">
                            <img class="w-100" src="/Images/Common/este2.jpg" />
                            <div class="pt-0">
                                @Html.Partial("ConferenceEastStandingPreview")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-content-center">
                    @RenderBody()
                </div>
                <div class="col-md-3 pb-5 border-left resultadosquis">
                    <img class="w-100" src="/Images/Common/oeste2.jpg" />
                    <div id="calendar_wrap" style="padding:0px">
                        @Html.Partial("ConferenceWestStandingPreview")
                    </div>
                    <ul id="firstRightListUL"></ul>
                    <ul>
                        <li id="InjuryListUL"></li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- end page -->
    </div>
    <div id="footer" class="card-footer text-center bg-dark fixed-bottom">
        <p class="copyright text-light">
            &copy;&nbsp;&nbsp;2019 Todos los derechos reservados &nbsp;&bull;&nbsp; LVNBA
        </p>
    </div>
    @RenderSection("scripts", required: false)

</body>
</html>
