﻿@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/Account/Manage" id="login" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ¡Hola, @User.Identity.Name @ViewBag.IsManagerWithTeam
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="login">
            @if (ViewBag.IsManagerWithTeam != null && ViewBag.IsManagerWithTeam)
            {
                <a class="nav-link" href="/Report/Index">Reportar</a>
            }
            @if ((ViewBag.IsAdmin != null && ViewBag.IsAdmin))
            {
                <a class="nav-link" href="/Admin/Index">Administrar</a>
            }
            @if (ViewBag.IsComissioner != null && ViewBag.IsComissioner)
            {
                <a class="nav-link" href="/Comission/Index">Comisionado</a>
            }
            @if (ViewBag.IsManagerWithTeam != null && ViewBag.IsManagerWithTeam)
            {
                <a class="nav-link" href="/ManagersWithTeam/Index">Gestionar</a>
            }
            @if (ViewBag.IsManager != null && ViewBag.IsManager == false)
            {
                <a class="nav-link" href="/Managers/ManagersRequest">Solicitud Manager</a>
            }

            @if (ViewBag.IsJournalist != null && ViewBag.IsJournalist)
            {
                <a class="nav-link" href="/Periodista/Index">Periodista</a>
            }
            <text>
                <a class="nav-link" href="/Account/Manage">Administrar</a>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()<a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Cerrar sesión</a>
                }
            </text>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a href="/Account/Register" class="nav-link text-light">Registrarse</a>
    </li>
    <li class="nav-item">
        <a href="/Account/Login" class="nav-link  text-light">Iniciar Sesión</a>
    </li>
}