﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="Shortcut Icon" href="@Url.Content("~/Images/common/icono.ico")" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/css/estilo_liga.css"  />
    <link href="@Url.Content("~/Content/specificStyles/TeamStanding.css")" rel="stylesheet" type="text/css" media="screen" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/cssSlider/jquery.galleryview-3.0-dev.css")" />

    @Scripts.Render("~/Scripts/ckeditor")
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/jqGrid")

    <script type="text/javascript" src="@Url.Content("~/Scripts/jsSlider/jquery.timers-1.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jsSlider/jquery.easing.1.3.js")"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/Scripts/jsSlider/jquery.galleryview-3.0-dev.js")" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <!-- start header -->
        <div id="header">
            <div id="logindisplay">
                @Html.Partial("_HeaderPartial")
            </div>
        </div>
        <!-- end header -->
        <!-- start page -->
        <div class="container">
            @RenderBody()
        </div>
        <!-- end page -->
    </div>
    <div id="footer" class="card-footer text-center bg-dark">
        <p class="copyright text-light">
            &copy;&nbsp;&nbsp;2019 Todos los derechos reservados &nbsp;&bull;&nbsp; LVNBA
        </p>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>