﻿@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="Shortcut Icon" href="@Url.Content("~/Images/common/icono.ico")" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/css/estilo_liga.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body class="h-100">
    <div id="wrapper">
        <!-- start header -->
        <div id="header">
            @Html.Partial("_HeaderPartial")

        </div>
        <!-- end header -->
        <!-- start page -->
        <div id="page" class="container-fluid pb-5">
            <div class="row">
                <div id="oneColumnSidebar" class="sidebar col-md-3 gris pt-3">
                    <ul id="firstListUL"></ul>
                    <ul id="secondListUL"></ul>
                    <ul id="thirdListUL"></ul>
                    <ul id="fourthListUL"></ul>
                </div>
                <!-- start content -->
                <div id="mainContent" class="col-md-9 pt-3">
                    @RenderBody()
                </div>
            </div>

        </div>
        <!-- end page -->
    </div>
    <div id="footer" class="card-footer text-center bg-dark fixed-bottom">
        <p class="copyright text-light">
            &copy;&nbsp;&nbsp;2019 Todos los derechos reservados &nbsp;&bull;&nbsp; LVNBA
        </p>
    </div>
    @RenderSection("scripts", required: false)
</body>
<script>
        function getSideBarMenu() {
            var options = '';
            options += '<li><h2>Secciones</h2><ul>';
            options += '<li><a href="/ManagersWithTeam/MenuGestion"><span class="tab">Gestion</span></a></li>';
            options += '</ul></li>';
            jQuery('#firstListUL').html(options);
        }
        function getSideBarPlayersMenu() {
            var options = '';
            options += '<li><h2>Secciones</h2><ul>';
            options += '<li><a href="/PlayerInfo/IndexAllPlayers"><span class="tab">Lista</span></a></li>';
            options += '<li><a href="/Stats/StatsPlayer"><span class="tab">Stats</span></a></li>';
            options += '<li><a href="/Stats/StatsRookies"><span class="tab">Rookies</span></a></li>';
            options += '<li><a href="/Stats/StatsExpirings"><span class="tab">Expirings</span></a></li>';
            options += '<li><a href="/Stats/StatsTransferibles"><span class="tab">Transferibles</span></a></li>';
            options += '<li><a href="/Stats/Level2kCards"><span class="tab">Fichas 2k</span></a></li>';
            options += '<li><a href="/Stats/Top10Week"><span class="tab">Tops Semanales</span></a></li>';
            options += '<li><a href="/Stats/Top10Month"><span class="tab">Tops Mensuales</span></a></li>';
            options += '<li><a href="/Stats/StatsHistory"><span class="tab">Histórico</span></a></li>';
            options += '</ul></li>';
            jQuery('#firstListUL').html(options);
        }
        function getSideBarInStanding() {
            var options = '';
            options += '<li><h2>Secciones</h2><ul>';
            options += '<li><a href="/StatsTeams/StatsTeam"><span class="tab">Team Stats</span></a></li>';
            options += '<li><a href="/Stats/StatsPlayer"><span class="tab">Player Stats</span></a></li>';
            options += '<li><a href="/Results/Index"><span class="tab">Resultados</span></a></li>';
            options += '</ul></li>';
            jQuery('#firstListUL').html(options);
        }
    </script>

</html>