﻿@model Liga.Domain.Entities.Players
<style type="text/css">
.tablaPlayer { background-color:black; border: 1px solid gold; height:40px; border-style:groove;border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px; margin:3px}
table.tablaPlayer td, table.tablaPlayer tr {border: 0; font-family:'Arial Black'; font-size: xx-small;}

</style>

<table>
    <tr>
        <td>
<table class="tablaPlayer">

    <tr>
        <td colspan="3" rowspan="5" style=" width:50px;height:50px; background-size:cover; background-image:url('Model.FaceImage'); background-position:bottom; background-repeat:no-repeat;vertical-align:top">
           @if(Model.LVNBAFranchis == null)
            {
             <img width="20px"   src="~/Images/Common/teams/BigLogos/fa.png" />
           }
            else
            {
               <img width="20px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchis.Icono" />
           }
            
        </td>
        <td  style="font-size: xx-small;width:30px;font-size: xx-small; background-color:LightGoldenRodYellow;text-align:center;  font-size-adjust:inherit; font-weight:bold;color:black">@Model.PlayersPosition.Position</td>

    </tr>
    <tr>
        <td  style="font-size: xx-small;width:30px; background-color:FireBrick;text-align:center;font-weight:bold;color:white">@Model.Level2k</td>

    </tr>
    <tr>
        <td  style="font-size: xx-small;width:30px; background-color:Gold;text-align:center;font-weight:bold;color:black">@Model.PlayersRole.Abrev</td>
    </tr>
    <tr>
        @if (Model.PlayersSalaries == null || Model.PlayersSalaries.Count == 0)
        {
                <td  style="font-size: xx-small;width:30px;font-size: xx-small; background-color:SteelBlue;text-align:center;font-weight:bold;color:white">-</td>
        }else{
            if (Model.PlayersSalaries.Where(x => x.Released == false).First().IdCondition1 == null)
            {
                <td  style="font-size: xx-small;width:30px; background-color:SteelBlue;text-align:center;font-weight:bold;color:white">-</td>
            }
            else
            {
                <td  style="font-size: xx-small;width:30px; background-color:SteelBlue;text-align:center;font-weight:bold;color:white">@Model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition.Abrev</td>
              
            }
        
        }
    </tr>
    <tr>
        <td  style="font-size: xx-small;width:20px; background-color:SeaGreen;text-align:center;font-weight:bold;color:black">@Model.PlayersState.Abrev</td>
    </tr>
    <tr>
        <td colspan="4" style="font-size: xx-small;background-color:White; text-align:center;font-weight:bold; color:black" >@Model.AbrevName</td>
    </tr>
</table>
        </td>
        <td style="vertical-align:top">
            @Model.ManagerAdvert        
        </td>
    </tr>
</table>

 <table>
     <tr><td>
             @{
        Html.RenderAction("StatsBySeason", "PlayerInfo", new { idPlayer = Model.Id  });
    } 
         </td></tr>
      <tr><td>
             @{
        Html.RenderAction("Last3Games", "PlayerInfo", new { idPlayer = Model.Id });
    } 
         </td></tr>

     <tr>
<td>
  <div style="color:Yellow; font-size:larger; font-weight:bold">Salario</div>

    <table  border="1" style=" text-align:center; background-color:gray; border:1; border-color:Gray; width:100%">
<tr style="color:Black; border-bottom-width:1px; border-bottom-color:Black">
    <th>BR</th>
    <th>Salario 1</th>
    <th>Salario 2</th>
    <th>Salario 3</th>
    <th>Salario 4</th>
    <th>Salario 5</th>
    <th>Salario 6</th>
    </tr>
    <tr>
    <td id="BirdRights">@Html.DisplayFor(model => model.BirdRights)</td>
    <td id="sal1">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().Salary1,"MyDecimalTemplate")</td>
    <td id="sal2">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().Salary2,"MyDecimalTemplate")</td>  
    <td id="sal3">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().Salary3,"MyDecimalTemplate")</td>    
    <td id="sal4">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().Salary4,"MyDecimalTemplate")</td>  
    <td id="sal5">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().Salary5,"MyDecimalTemplate")</td>
    <td id="sal6">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().Salary6,"MyDecimalTemplate")</td>
    </tr>
    <tr style="visibility:hidden;visibility:collapse">
    <td></td>
    <td id="csal1">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition.Abrev)</td>
    <td id="csal2">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition1.Abrev)</td>  
    <td id="csal3">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition2.Abrev)</td>    
    <td id="csal4">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition3.Abrev)</td>  
    <td id="csal5">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition4.Abrev)</td>
    <td id="csal6">@Html.DisplayFor(model => model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition5.Abrev)</td>
    </tr>

</table>
</td>
         
    </tr>
 </table>