﻿ @model Liga.Domain.Entities.GeneralPlayersInfo

@{
    ViewBag.Title = "Roles de equipo";
} 
<style>
     #titularesDrop { width: 350px; height: 250px; padding: 0.5em;  margin: 10px 10px 10px 0; }
     #estrellaDrop { width: 120px; height: 100px; padding: 0.5em; margin: 10px 10px 10px 0; }
     #sextoDrop { width: 120px; height: 100px; padding: 0.5em; margin: 10px 10px 10px 0; }

    .dato {
        font-family: 'Arial Black';
        font-size: 12pt; margin-bottom:10px;
    }
    .titulo {
        font-weight: bold;
        color:@Model.ListPlayers.First().LVNBAFranchis.Color;
        text-underline-position:initial;
        font-family: 'Arial Black';
        font-size: 12pt; margin-bottom:10px;

    }
    .tituloRol
    {
      font-weight: normal;
        color:white;
        text-underline-position:initial;
        font-family: 'Arial Black';
        font-size: 12pt; 
    }
    #linkGestRoles {
        color: #07b3e1;
        font-size: 9pt;
        cursor: pointer;
        text-decoration: underline;
        font-family: Tahoma, Arial, Helvetica, sans-serif;
    }
  </style>

    <script type="text/javascript">
        $(document).ready(function () {
@*            $.get("/Players/GetRolesObjective", { idTeam: '@Model.ListPlayers.First().LVNBAFranchis.Id' }, function (data) {
                if (data == "OK") {
                    $("#imgCumplido").attr("src", "../Images/Common/ok.png");
                    $("#cumplido").html("Cumples los requisitos<br/><a id='linkGestRoles' style href='GestRoles'>Gestionar roles</a>");
                    
                }
                else {
                    $("#imgCumplido").attr("src", "../Images/Common/nook.png");
                    $("#cumplido").html("No cumples los requisitos<br/><a id='linkGestRoles' style href='GestRoles'>Gestionar roles</a>");


                }
            });*@
        });
    </script>

<div class="tituloRol" id="cumplido" style="float:right"></div>
<img width="50" id="imgCumplido" style="float:right" src="" />
<div style="float:inherit">Todos los equipos deben cumplir los siguientes requisitos:
    <p>Tener 1 jugador franquicia<br />Tener 4 titulares<br />Tener 1 sexto hombre<br /> Tener 3 Jugadores clave</p>
</div>

<table class="tablaPlayerStatus" style="width:750px;"  cellpadding="2" cellspacing="2">
	<tr style="vertical-align:top">
		<td style="width:375px; ">
        <div class="tituloStatus"><img width="30" src="~/Images/Common/star.jpg" />Jugador Franquicia</div>
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "JF"))
        {
             <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);        }
            </div>
        }

		</td>
		<td> 
        <div class="tituloStatus">Titulares</div>      
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "TI"))
        {
            <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);        }
            </div>
        }     
        </td>
	</tr>
	<tr style="vertical-align:top">
		<td>
        <div class="tituloStatus"><img width="30" src="~/Images/Common/6thman.png" />Sexto hombre</div>      
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "6H"))
        {
             <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);        }
            </div>
        }

		</td>
		<td>
        <div class="tituloStatus"><img width="30" src="~/Images/Common/key-icon.png" />Jugadores clave</div>      
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "JC"))
        {
             <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);        }
            </div>
        }
		</td>
	</tr>
	<tr style="vertical-align:top">
		<td>
        <div class="tituloStatus">Suplentes</div>      
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "SU"))
        {
              <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);        }
            </div>
        }
		</td>
		<td>
        <div class="tituloStatus">Promesa</div>      
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "PR"))
        {
              <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);        }
            </div>
        }
		</td>
	</tr>
	<tr style="vertical-align:top">
		<td>
        <div class="tituloStatus">Minutos basura</div>      
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "MB"))
        {
            <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);
        }
            </div>
        }

		</td>
		<td>
        <div class="tituloStatus">Sin Rol asignado</div>      
        @foreach (var item in Model.ListPlayers.Where(x => x.PlayersRole.Abrev == "SR"))
        {
            <div style="float:left">
            @{Html.RenderPartial("MinPlayerCard", item);
        }
            </div>
        }
		</td>
	</tr>
</table>






