﻿@model Liga.Domain.Entities.GeneralPlayersInfo

@{
    ViewBag.Title = "Status Mercantil";
}
<style>
    .teamCuttedStyle {
        color:white;
        font-weight:bold;
        background-color:violet;
    }
    .teamBRStyle {
        color:black;
        font-weight:bold;
        background-color:yellow;
    }
    .teamTOStyle {
        color:white;
        font-weight:bold;
        background-color:red;
    }
    .teamPOStyle {
        color:white;
        font-weight:bold;
        background-color:blue;
    }
    .teamQOStyle {
        color:white;
        font-weight:bold;
        background-color:green;
    }
    .tituloStatus {
        font-weight: bold;
        color:yellow;
        text-decoration:underline;
        text-underline-position:initial;
        font-family: 'Arial Black';
        font-size: 10pt; margin-bottom:10px;
      
    }
    .statusIdPlayer {
        cursor: pointer;
    }
    .tablaPlayerStatus {border: 1px solid gold; border-style:groove;border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px; margin:5px}
    table.tablaPlayer td, table.tablaPlayer tr {border:1px solid gold; font-family:'Arial Black'; font-size: 9pt; }
    .manSaleInfo {
        height: 120px;
        border:1px;
        color:#E53E3E;
    }
    #linkGestStatus {
        color: #07b3e1;
        font-size: 9pt;
        cursor: pointer;
        text-decoration: underline;
        font-family: Arial,Tahoma, Helvetica, sans-serif;
    }
</style>
<span style="font-size:x-small;color:red">Clickar sobre el jugador para más info.</span>
<div style="font-weight:bold;font-size:18px;color:white">Intereses:</div>
@if ( Model.ListPlayers.First().LVNBAFranchis.Needs != null )
{
<div style="font-weight:bold;font-size:14px;color:white">@Model.ListPlayers.First().LVNBAFranchis.Needs.ToString()</div>
}
<br />
<table style="width:800px">
<tr>
    <td>
        <table>
    <tr><td><div class="tituloStatus" style="color:red">Legalmente intransferibles</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Abrev == "LI"))
        {
         <tr><td class="statusIdPlayer" style="color:red" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        }
       <tr><td><div class="tituloStatus" style="color:orangered">Temporalmente intransferibles</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Abrev == "TI"))
        {
         <tr><td class="statusIdPlayer" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        }
                <tr><td><div class="tituloStatus">Intransferibles</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Abrev == "IN"))
        {
         <tr><td class="statusIdPlayer" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        }
                <tr><td><div class="tituloStatus">Importantes en el equipo</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Abrev == "IM"))
        {
         <tr><td class="statusIdPlayer" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        } 
      <tr><td><div class="tituloStatus">Transferibles</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Abrev == "TR"))
        {
         <tr><td class="statusIdPlayer" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        }
                  <tr><td><div class="tituloStatus">Negociables</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Abrev == "NE"))
        {
         <tr><td class="statusIdPlayer" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        }
                  <tr><td><div class="tituloStatus">Buscando Salida</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Abrev == "BS"))
        {
         <tr><td class="statusIdPlayer" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        }
      <tr><td><div class="tituloStatus">Sin estado asignado</div></td></tr>
      @foreach (var item in Model.ListPlayers.Where(x => x.PlayersState.Id == 7))
        {
         <tr><td class="statusIdPlayer" id="@item.Id ">
             @item.CompleteName 
         </td>
        </tr>
        }
</table>
    </td>
    <td style="width:600px; text-align:top;vertical-align:middle"><div id="FillTableStatus"></div>
</td>
</tr>
</table>



