﻿@model Liga.Domain.Entities.Players
<style type="text/css">
.tablaPlayer {border: 1px solid gold; border-style:groove;border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px; margin:5px}
table.tablaPlayer td, table.tablaPlayer tr {border: 0; font-family:'Arial Black'; font-size: 8pt;}

    .statusCl {
         background-color:SeaGreen;text-align:center;font-weight:bold;color:black
    }
    .statusClAux {
         background-color:SeaGreen;text-align:center;font-weight:bold;color:black
    }
    .salNoCond {
        background-color:White;text-align:center;font-weight:bold;color:Black;
    }
     .salNoCondAux {
        background-color:White;text-align:center;font-weight:bold;color:Black;
    }
    .salCutted {
        text-align:center;
        color:white;
        font-weight:bold;
        background-color:violet;
    }
    .salTO {
        text-align:center;
        color:white;
        font-weight:bold;
        background-color:firebrick;
    }
    .NotTransfer {
        text-align:center;
        color:white;
        font-weight:bold;
        background-color:red;
    }
    .salPO {
        text-align:center;
        color:white;
        font-weight:bold;
        background-color:royalblue;
    }
    .salQO{
        text-align:center;
        color:white;
        font-weight:bold;
        background-color:ForestGreen;
    }
    .salNNBA {
        text-align:center;
        color:white;
        font-weight:bold;
        background-color:Gray;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.salNoCond').each(function(i, obj)
        {
            
            var id = $(this).attr("id");
            var SalAbrev = $('#' + id).text().trim();
            switch (SalAbrev) {
                case "TO":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salTO");
                    //alert('quepasa');
                    break;
                case "PO":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salPO");
                    break;
                case "QO":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salQO");
                    break;
                case "CU":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salCutted");
                    break;
                case "NNBA":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salNNBA");
                    break;
                default:
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salNoCondAux");
                    break;
            }

        });

        $('.statusCl').each(function(i, obj)
        {
            var id = $(this).attr("id");
            var StatusAbrev = $('#' + id).text().trim();
            if (StatusAbrev == "LI" || StatusAbrev == "TI") {
                $('#' + id).removeClass();
                $('#' + id).addClass("NotTransfer");
            }
        });
    });

</script>
<table class="tablaPlayer mx-auto">
    
    <tr>
        <td colspan="3" rowspan="5" style="height:90px; width:65px; background-size:cover; background-image:url('@Model.FaceImage'); background-position:bottom; background-repeat:no-repeat;vertical-align:top">
           @if(Model.LVNBAFranchis == null)
            {
             <img width="25px"   src="~/Images/Common/teams/BigLogos/fa.png" />
           }
            else
            {
               <img width="25px"   src="~/Images/Common/teams/BigLogos/@Model.LVNBAFranchis.Icono" />
           }
            
        </td>
        <td  style="width:35px;height:35px; background-color:LightGoldenRodYellow;text-align:center;  font-size-adjust:inherit; font-weight:bold;color:black">@Model.PlayersPosition.Position</td>

    </tr>
    <tr>
        <td  style="width:35px; background-color:cadetblue;text-align:center;font-weight:bold;color:white">@Model.Level2k</td>

    </tr>
    <tr>
        <td  style="width:35px; background-color:Gold;text-align:center;font-weight:bold;color:black">@Model.PlayersRole.Abrev</td>
    </tr>
    <tr>
        @if (Model.PlayersSalaries == null || Model.PlayersSalaries.Count == 0)
        {
                <td  style="width:35px;" class="salNoCond">-</td>
        }else{
            if (Model.PlayersSalaries.First().IdCondition1 == null)
            {
                <td  id='@Model.Id' style="width:35px;" class="salNoCond">-</td>
            }
            else
            {
                <td id='@Model.Id' idJug ='@Model.Id'   style="width:35px;" class="salNoCond">@Model.PlayersSalaries.Where(x => x.Released == false).First().SalaryCondition.Abrev</td>
              
            }
        
        }
    </tr>
    <tr>
        <td id='st_@Model.Id' class="statusCl" style="width:35px;">@Model.PlayersState.Abrev</td>
    </tr>
    <tr>
        <td colspan="4" style="background-color:White; text-align:center;font-weight:bold; color:black" >@Model.AbrevName</td>
    </tr>
</table>
 