﻿@using MvcJqGrid 
@model Liga.Domain.Entities.GeneralFranchiseInfo

@{
    ViewBag.Title = "Situación financiera";
} 
    <script type="text/javascript">
        $(document).ready(function () {
            $('#someID_HTML5').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
            $('#divSal1').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
            $('#divSalary').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
            $('#salary2Div').autoNumeric('init', { aSep: '.', aDec: ',', mDec: '0' });
            $('#divLuxury').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });

            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });
        });

        function paintSalaryCells(tabla) {

            var salario1Total = 0; var salario2Total = 0; var salario3Total = 0;
            var salario4Total = 0; var salario5Total = 0; var salario6Total = 0;
            var dataIds = $(tabla).jqGrid('getDataIDs');
            for (var i = 0; i < dataIds.length; i++) {
                var data = $(tabla).jqGrid('getRowData', dataIds[i]);
                data.Id = dataIds[i];
                PaintSalary(tabla,"IdCondition1", "Salary1", data.Id);
                PaintSalary(tabla,"IdCondition2", "Salary2", data.Id);
                PaintSalary(tabla,"IdCondition3", "Salary3", data.Id);
                PaintSalary(tabla,"IdCondition4", "Salary4", data.Id);
                PaintSalary(tabla,"IdCondition5", "Salary5", data.Id);
                PaintSalary(tabla,"IdCondition6", "Salary6", data.Id);
                PaintBirdRights(tabla,"BirdRight", "CompleteName", data.Id);
                PaintRookieRights(tabla,"RookieRight", "CompleteName", data.Id);
                var equipoReal = $(tabla).getCell(data.Id, 1);
                var equipoSalario = $(tabla).getCell(data.Id, 19);
                //borramos el equipo en todos los casos en el que sea el mismo
                if (equipoReal == equipoSalario) {
                    $(tabla).setCell(data.Id, 19, undefined);
                }
                var texto = $(tabla).getCell(data.Id, 7);
                if (texto == "")
                    texto = "0";
                salario1Total = salario1Total + parseFloat(texto);

                texto = $(tabla).getCell(data.Id, 8);
                if (texto == "")
                    texto = "0";
                salario2Total = salario2Total + parseFloat(texto);
                texto = $(tabla).getCell(data.Id, 9);
                if (texto == "")
                    texto = "0";
                salario3Total = salario3Total + parseFloat(texto);
                texto = $(tabla).getCell(data.Id, 10);
                if (texto == "")
                    texto = "0";
                salario4Total = salario4Total + parseFloat(texto);
                texto = $(tabla).getCell(data.Id, 11);
                if (texto == "")
                    texto = "0";
                salario5Total = salario5Total + parseFloat(texto);
                texto = $(tabla).getCell(data.Id, 12);
                if (texto == "")
                    texto = "0";
                salario6Total = salario6Total + parseFloat(texto);

            }

            $(tabla).jqGrid('footerData', 'set', { CompleteName: "TOTALES", Salary1: salario1Total, Salary2: salario2Total, Salary3: salario3Total, Salary4: salario4Total, Salary5: salario5Total, Salary6: salario6Total });

        }
        function imageFormat(cellvalue, options, rowObject) {
            return '<img width="20" height="20" src="../Images/Common/teams/Iconos/' + cellvalue + '.png" />';
        }
        function imageFormat2(cellvalue, options, rowObject) {
            if (cellvalue + '.png' == "undefined.png") {
                return '';
            }
            else {
                return '<img width="20" height="20" src="../Images/Common/teams/Iconos/' + cellvalue + '.png" />';

            }
        }
        function PaintSalary(tabla,field, fieldToPaint, id, result) {
            var cont = $(tabla).getCell(id, field);
            var col;
            switch (fieldToPaint) {
                case "Salary1":
                    col = 7;
                    break;
                case "Salary2":
                    col = 8;
                    break;
                case "Salary3":
                    col = 9;
                    break;
                case "Salary4":
                    col = 10;
                    break;
                case "Salary5":
                    col = 11;
                    break;
                case "Salary6":
                    col = 12;
                    break;

            }
            switch (cont) {
                case "1":
                    result = 'red';
                    break;
                case "2":
                    result = '#2E64FE';
                    break;
                case "3":
                    result = '#01DF3A';
                    break;
                case "4":
                    result = 'violet';
                    break;
                case "5":
                    result = 'gray';
                    break;
                default:
                    result = '';

            }


            if (result != '') {
                if (cont == 4 || cont == 5) {
                    for (var i = 7; i < 21; i++) {
                        $(tabla).jqGrid('setCell', id, i
                        , "", {
                            'background-color': result,
                            'background-image': 'none'
                        });
                    }
                }
                else {
                    $(tabla).jqGrid('setCell', id, col
                    , "", {
                        'background-color': result,
                        'background-image': 'none'
                    });
                }
            }

        }

        function PaintBirdRights(tabla, field, fieldToPaint, id, result) {
            var cont = $(tabla).getCell(id, field);
            if (cont > 2) {

                $(tabla).jqGrid('setCell', id, fieldToPaint, "", {
                    'background-color': '#c0c000',
                    'background-image': 'none'
                });
            }
        }
        function PaintRookieRights(tabla, field, fieldToPaint, id, result) {
            var cont = $(tabla).getCell(id, field);
            if (cont > 0) {

                $(tabla).jqGrid('setCell', id, fieldToPaint, "", {
                    'background-color': 'green',
                    'background-image': 'none'
                });
            }
        }
       

        function onRowSelected(rowid, status) {
            viewPlayerInfo(rowid);
            //$.post('../PlayerInfo/GetPlayerInfo', { idPlayer: rowid }, function (data) {
            //    $("#FillTable").html(data);
            //});

            //$("#dialog:ui-dialog").dialog("destroy");

            //$("#dialog-modal").dialog({
            //    title: "Info",
            //    height: 550,
            //    width: 780,
            //    modal: true,
            //    resizable: false
            //});
        }

</script>
<style type="text/css">
    #chart1 .jqplot-point-label {
      border: 0px solid #aaaaaa;
      font-size:10px;margin-left:30px;
      padding: 1px 3px;
      background-color: black;
      color:yellow;
      }
    #chart1 .jqplot-title {
        font-family: 'Arial Black';
        font-size:16px;
        color:@Model.TeamCard.Franchise.Color;
    }
    .dato {
        font-family: 'Arial Black';
        font-size: 12pt; margin-bottom:10px;
    }
    .titulo {
        font-weight: bold;
        color:@Model.TeamCard.Franchise.Color;
        text-underline-position:initial;
        font-family: 'Arial Black';
        font-size: 12pt; margin-bottom:10px;

    }
</style>


<body>
@*    <div id="luxuryDiv" hidden="hidden">@Model.PlotInfo.LuxuryTax</div>
    <div id="salaryTaxdiv" hidden="hidden">@Model.PlotInfo.SalaryTax</div>*@
    <div id="luxuryDiv" hidden="hidden">@Model.PlotInfo.LuxuryTaxForPlot</div>
    <div id="salaryTaxdiv" hidden="hidden">@Model.PlotInfo.SalaryTaxForPlot</div>
    <div id="salary1Div" hidden="hidden">@Model.PlotInfo.SalaryTeam1.Replace(",00","")</div>
    <div id="salary2Div" hidden="hidden">@Model.PlotInfo.SalaryTeam2.Replace(",00","")</div>
    <div id="salary3Div" hidden="hidden">@Model.PlotInfo.SalaryTeam3.Replace(",00","")</div>
    <div id="salary4Div" hidden="hidden">@Model.PlotInfo.SalaryTeam4.Replace(",00","")</div>
    <div id="salary5Div" hidden="hidden">@Model.PlotInfo.SalaryTeam5.Replace(",00","")</div>
    <div id="salary6Div" hidden="hidden">@Model.PlotInfo.SalaryTeam6.Replace(",00","")</div>
     <div style="padding-left:175px" class="titulo"><img width="30px" src="~/Images/Common/teams/BigLogos/@Model.TeamCard.Franchise.Icono"  />Objetivo de la temporada (PDTE)</div>
    @{ 
    if(Model.TeamGoalsInfo.FinancialGoal != null)
    {
     <div class="dato">@Model.TeamGoalsInfo.FinancialGoal.Goal.Goal1</div>

    
    switch (Model.TeamGoalsInfo.FinancialGoal.Goal.Bonus)
    {
        case 100:
                 <img style="float:left" width="100px" src="~/Images/Common/bonus/bonus100.png" />
            break;
        default:

            break;
    }

     <div class="dato" style="font-size:9pt; font-weight:normal">@Model.TeamGoalsInfo.FinancialGoal.Goal.Description</div><br />
}

}
     
    <hr />

<table>
    <tr><td>
        <div id="chart1" style="height:400px;width:500px;"></div>

        </td>
        <td style="width:200px">
            <div class="titulo">Salario actual:</div><div class="dato"id="divSal1">@Model.PlotInfo.SalaryTeam1.Replace(",00","")</div><br />
            <div class="titulo" style="color:yellow">Impuesto de lujo:</div><div class="dato" id="divLuxury" >@Model.PlotInfo.LuxuryTax.Replace(",00","")</div><br />
            <div class="titulo" style="color:red">Limite salarial:</div><div class="dato" id="divSalary" >@Model.PlotInfo.SalaryTax.Replace(",00","")</div><br />
            <table class="titulo" style="color:@Model.TeamCard.Franchise.Color">
                <tr><td>Rondas</td></tr>
                @foreach (var round in Model.RoundsTeamInfo.Rounds)
                {
                    <tr>
                        <td><div  class="dato" style="font-size:12px">@round.Type º - @round.Year - @round.LVNBAFranchis.Name</div></td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
    <hr />

     <div style="padding-left:175px" class="titulo">Salarios</div>
     <div id="legend"><table><tr>
      <td style="color: Black; background-color: Red; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">Team Option</td>
      <td style="color: Black; background-color: #2E64FE; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">Player Option</td>
      <td style="color: Black; background-color: #01DF3A; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">Qualifying Offer</td>
      <td style="color: Black; background-color: gray; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">Not In NBA</td>
      <td style="color: Black; background-color: violet; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">Cutted</td>
      <td style="color: Black; background-color: gold; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">BirdRights</td>
      <td style="color: Black; background-color: green; font-weight: bold; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;">Rookie Rights</td>


      </tr></table></div>
    @(Html.Grid("salaryTable")
    .SetCaption("Salarios")
    .AddColumn(new MvcJqGrid.Column("Id")
        .SetHidden(true))
    .AddColumn(new MvcJqGrid.Column("Abbreviation").SetLabel("Eq.").SetWidth(50).SetAlign(MvcJqGrid.Enums.Align.Center)
    .SetCustomFormatter("imageFormat"))
    .AddColumn(new MvcJqGrid.Column("CompleteName").SetLabel("Nombre").SetWidth(230))
    .AddColumn(new MvcJqGrid.Column("BirdRight").SetLabel("B.R.").SetWidth(20))
    .AddColumn(new MvcJqGrid.Column("Position").SetWidth(50).SetLabel("Pos.").SetAlign(MvcJqGrid.Enums.Align.Center))
    .AddColumn(new MvcJqGrid.Column("Abrev").SetWidth(50).SetLabel("Sta.").SetAlign(MvcJqGrid.Enums.Align.Center))
    .AddColumn(new MvcJqGrid.Column("Abrev").SetWidth(50).SetLabel("Rol").SetAlign(MvcJqGrid.Enums.Align.Center))  
    .AddColumn(new MvcJqGrid.Column("Salary1").SetLabel("2014").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary2").SetLabel("2015").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary3").SetLabel("2016").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary4").SetLabel("2017").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary5").SetLabel("2018").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary6").SetLabel("2019").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' ")) 
    .AddColumn(new MvcJqGrid.Column("IdCondition1")
        .SetHidden(true))   
    .AddColumn(new MvcJqGrid.Column("IdCondition2")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("IdCondition3")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("IdCondition4")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("IdCondition5")
        .SetHidden(true))    
    .AddColumn(new MvcJqGrid.Column("IdCondition6")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("Abbreviation").SetWidth(50).SetLabel("Actualmente").SetCustomFormatter("imageFormat2"))
    .AddColumn(new MvcJqGrid.Column("EuropeTeam").SetWidth(100).SetLabel("Eq.Ext"))  
    .AddColumn(new MvcJqGrid.Column("RookieRight").SetWidth(50).SetLabel("R.R.").SetHidden(true))  
    .SetWidth(770)                                                               
    .SetRowNum(25)
    .SetRowList(new int[]{10,15,20,50})
    .SetViewRecords(true)
    .OnLoadComplete("paintSalaryCells('#salaryTable');")
    .OnSelectRow("onRowSelected(rowid, status)")
    .SetFooterRow(true)
    .SetPager("pager")
    .SetSearchToolbar(false)
    .SetSearchOnEnter(false).SetSearchClearButton(true)
    .SetUrl(Url.Action("GetPlayersSalariesByTeam", "GridList", new { idTeam = Model.TeamCard.Franchise.Id }))
    .SetSearchToggleButton(false))



     @(Html.Grid("salaryOutTable")
    .SetCaption("Salarios que no cuentan")
    .AddColumn(new MvcJqGrid.Column("Id")
        .SetHidden(true))
    .AddColumn(new MvcJqGrid.Column("Abbreviation").SetLabel("Eq.").SetWidth(50).SetAlign(MvcJqGrid.Enums.Align.Center)
    .SetCustomFormatter("imageFormat"))
    .AddColumn(new MvcJqGrid.Column("CompleteName").SetLabel("Nombre").SetWidth(230))
    .AddColumn(new MvcJqGrid.Column("BirdRight").SetLabel("B.R.").SetWidth(20))
    .AddColumn(new MvcJqGrid.Column("Position").SetWidth(50).SetLabel("Pos.").SetAlign(MvcJqGrid.Enums.Align.Center))
    .AddColumn(new MvcJqGrid.Column("Abrev").SetWidth(50).SetLabel("Sta.").SetAlign(MvcJqGrid.Enums.Align.Center))
    .AddColumn(new MvcJqGrid.Column("Abrev").SetWidth(50).SetLabel("Rol").SetAlign(MvcJqGrid.Enums.Align.Center))  
    .AddColumn(new MvcJqGrid.Column("Salary1").SetLabel("2014").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary2").SetLabel("2015").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary3").SetLabel("2016").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary4").SetLabel("2017").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary5").SetLabel("2018").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' "))
    .AddColumn(new MvcJqGrid.Column("Salary6").SetLabel("2019").SetWidth(150).SetAlign(MvcJqGrid.Enums.Align.Right)
        .SetFormatter(MvcJqGrid.Enums.Formatters.Currency, "decimalSeparator: ',', thousandsSeparator: '.', decimalPlaces: 0, prefix: '$ ',defaultValue: '' ")) 
    .AddColumn(new MvcJqGrid.Column("IdCondition1")
        .SetHidden(true))   
    .AddColumn(new MvcJqGrid.Column("IdCondition2")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("IdCondition3")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("IdCondition4")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("IdCondition5")
        .SetHidden(true))    
    .AddColumn(new MvcJqGrid.Column("IdCondition6")
        .SetHidden(true)) 
    .AddColumn(new MvcJqGrid.Column("Abbreviation").SetWidth(50).SetLabel("Actualmente").SetCustomFormatter("imageFormat2"))
    .AddColumn(new MvcJqGrid.Column("EuropeTeam").SetWidth(100).SetLabel("Eq.Ext"))  
    .AddColumn(new MvcJqGrid.Column("RookieRight").SetWidth(50).SetLabel("R.R.").SetHidden(true))  
    .SetWidth(770)                                                               
    .SetRowNum(25)
    .SetRowList(new int[]{10,15,20,50})
    .SetViewRecords(true)
    .OnLoadComplete("paintSalaryCells('#salaryOutTable');")
    .OnSelectRow("onRowSelected(rowid, status)")
    .SetFooterRow(true)
    .SetPager("pager2")
    .SetSearchToolbar(false)
    .SetSearchOnEnter(false).SetSearchClearButton(true)
    .SetUrl(Url.Action("GetPlayersOutOfSalariesByTeam", "GridList", new { idTeam = Model.TeamCard.Franchise.Id }))
    .SetSearchToggleButton(false))

</body>

