﻿@model Liga.Domain.Entities.GeneralFranchiseInfo
<script>
  $(function() {
      $("#elGlosario").dialog({
      width: 780,
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
      });
      $("#tabsManager").tabs({ active: '@ViewBag.Tab' });
      $("#tabsManager").css("float", "right");
  });


</script>
<table class="table table-striped">
    <tr>
        <td colspan="2">
            <img src="~/Images/Common/teams/Chicos/@Model.TeamCard.Franchise.Logo" />
        </td>
        <td style="  text-align:left">
            <div style="margin-right:40px;" hidden="hidden" id="divManager">
                @{
                    Html.RenderPartial("ManagerCard", Model.ManagerCard);
                }
            </div>
        </td>
    </tr>
    <tr>
        <td style=" vertical-align:top; width:255px">
            @{
                Html.RenderPartial("TeamCard", Model.TeamCard);
            }
        </td>
        <td colspan="2">

            @foreach (var item in Model.ListPlayersRoster.OrderBy(x => x.IdPosition).ThenBy(x => x.CompleteName))
            {
                <div onclick="viewPlayerInfo(@item.Id)" style="cursor:pointer;float:left">

                    @{Html.RenderPartial("PlayerCard", item);
                    }
                </div>
            }

            <div style="cursor:pointer;float:left">
                <ul>


                    @foreach (var item in Model.ListPlayersRightsoCutted.OrderBy(x => x.IdPosition).ThenBy(x => x.CompleteName))
                    {
                        <li onclick="viewPlayerInfo(@item.Id)">@item.CompleteName</li>
                    }

                </ul>
            </div>

        </td>
    </tr>

</table>
