﻿@model Liga.Domain.Entities.GeneralFranchiseInfo

@{
    ViewBag.Title = "TeamSituation";
}

<script type="text/javascript">
        $(document).ready(function () {
            getEastStandings("1");
            getResults();
            getPendingGames();
        });
        function viewBox(id) {
            viewBoxScorer(id);
        }
        function viewBoxScorer(idGame) {
            $.post('@Url.Action("GetScoreInfo", "Results")', { idGame: idGame }, function (data) {
                    $("#FillTable").html(data);
                    $("#dialog:ui-dialog").dialog("destroy");
                    var title = 'Resultado';
                    $("#dialog-modal").dialog({
                        title: title,
                        height: 600,
                        width: 1000,
                        modal: true,
                        dialogClass:'boxScoreDialogClass',
                        resizable: false,
                        show: 'fade'
                    });
                });
        }

        function getEastStandings() {
            $.ajax({
                url: "@Url.Action("GetStandingsInDivision", "Stats")",
                        data: { idTeam: @Model.TeamCard.Franchise.Id },
                        dataType: "html",
                        type: "POST",
                        error: function () {
                            console.log("An error occurred.");
                        },
                        success: function (data) {
                            data = eval(data);
                            var posicion = '';
                            var clasiConfe = '';
                            data = eval(data);
                            if (data.length > 0) {
                                var options = '';

                                var i = 0;
                                for (temp in data) {
                                        var item = data[temp];
                                        i = i + 1;
                                        var image = '<img   width="15px" height="15px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                                        image = image.replace("#laIMG", item.Logo);
                                        if (item.Id == @Model.TeamCard.Franchise.Id) {
                                            options = options + '<tr  style=" background-color:#ECE5B6">';
                                            posicion  = item.PosicionConferencia;
                                            clasiConfe = item.Conferencia;
                                        }
                                        else {
                                            options += '<tr>';
                                        }

                                        options += '<td align="left">' + image + '</td>';

                                        options += '<td align="left">' + item.TeamName + '</td>';
                                        options += '<td>' + item.Wins + '</td>';
                                        options += '<td>' + item.Losses + '</td>';
                                        options += '<td>' + item.Pct + '</td>';
                                        options += '<td>' + item.Home + '</td>';
                                        options += '<td>' + item.Away + '</td>';
                                        options += '<td>' + item.Racha + '</td>';
                                        options += '<td>' + item.PPG + '</td>';
                                        options += '<td>' + item.PAPG + '</td>';
                                        options += '<td>' + item.RPG + '</td>';
                                        options += '<td>' + item.BPG + '</td>';
                                        options += '<td>' + item.APG + '</td>';
                                        options += '<td>' + item.SPG + '</td>';
                                        options += '<td>' + item.FG + '</td>';
                                        options += '<td>' + item.FG3 + '</td>';
                                        options += '<td>' + item.FT + '</td>';

                                        options += '</tr>';

                                        clasiConfe = item.Conferencia;

                            }
                            jQuery('#EClasification').html(options);
                            jQuery('#EClasificationPos').html(posicion + 'º en la conferencia ' + clasiConfe);

                      }
                    }
                    });
        }
        function getResults() {
            $.ajax({
                url: "@Url.Action("GetResultsByTeam", "Results")",
                      data: { idTeam: @Model.TeamCard.Franchise.Id },
                      dataType: "html",
                      type: "POST",
                      error: function () {
                          // alert("An error occurred.");
                      },
                      success: function (data) {
                          data = eval(data);
                          if (data.length > 0) {
                              var options = '';
                              var i = 0;

                              for (temp in data) {
                                  var item = data[temp];
                                  i = i + 1;
                                  var vd = "";

                                  var imageLocal = '<img   width="25px" height="25px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                                                  imageLocal = imageLocal.replace("#laIMG", item.sLogoLocal);
                                                  var imageAway = '<img   width="25px" height="25px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                                  imageAway = imageAway.replace("#laIMG", item.sLogoAway);
                                  options += '<a class="boxscore" onclick="javascript:viewBox(' + item.idGame  + ');" href="#" id="' + item.idGame  + '"><table  style="border-collapse:inherits;border-left-width:0px;color:white;width:80%;font-size:14px">' +
                                             '<tr border=""  style="border-left-width:0px;background-color:transparent;"><td style="width:30%;">' + imageAway +
                                             '&nbsp;&nbsp;' + item.sAbrevAway + '</td><td style="width:10%;text-align:center">' + '@@' + '</td><td style="width:30%;text-align:right;">'
                                             + item.sAbrevLocal + '&nbsp;&nbsp;' + imageLocal + '</td><td style="text-align:right;width:30%;">' + item.iScoreAway + '-' + item.iScoreLocal + ' - ' + item.sVictoriaDerrota + '</td></tr></table></a>';
                              }
                              jQuery('#ResultsTeam').html(options);
                          }
                                      }
                  });
        }

        function getPendingGames() {
            $.ajax({
                url: "@Url.Action("GetPendingByTeam", "Results")",
                data: { idTeam: @Model.TeamCard.Franchise.Id },
                dataType: "html",
                type: "POST",
                error: function () {
                    // alert("An error occurred.");
                },
                success: function (data) {
                    data = eval(data);
                    if (data.length > 0) {
                        var options = '';
                        var i = 0;

                        for (temp in data) {
                            var item = data[temp];
                            i = i + 1;
                            var imageLocal = '<img   width="25px" height="25px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                                  imageLocal = imageLocal.replace("#laIMG", item.sLogoLocal);
                                  var imageAway = '<img   width="25px" height="25px" src="@Url.Content("~/Images/Common/teams/Iconos/#laIMG")"  />';
                                                  imageAway = imageAway.replace("#laIMG", item.sLogoAway);
                                                  options += '<table  style="border-collapse:inherits;border-left-width:0px;color:white;width:80%;font-size:14px">' +
                                                             '<tr border=""  style="border-left-width:0px;background-color:transparent;"><td style="width:30%;">' + imageAway +
                                                             '&nbsp;&nbsp;' + item.sAbrevAway + '</td><td style="width:10%;text-align:center">' + '@@' + '</td><td style="width:30%;text-align:right;">'
                                                             + item.sAbrevLocal + '&nbsp;&nbsp;' + imageLocal + '</td></tr></table>';
                                              }
                        jQuery('#GamesPending').html(options);
                                          }
                      }
            });
                              }
</script>
<style type="text/css">

    .dato {
        font-family: 'Arial Black';
        font-size: 12pt; margin-bottom:10px;
    }
    .titulo {
        font-weight: bold;
        color:@Model.TeamCard.Franchise.Color;
        text-underline-position:initial;
        font-family: 'Arial Black';
        font-size: 12pt; margin-bottom:10px;

    }
</style>

<div style="padding-left:175px" class="titulo"><img width="30px" src="~/Images/Common/teams/BigLogos/@Model.TeamCard.Franchise.Icono" />Objetivo de la temporada (PDTE)</div>
@{
    if (Model.TeamGoalsInfo.SportGoal != null)
    {
        <div class="dato">@Model.TeamGoalsInfo.SportGoal.Goal.Goal1</div>


        switch (Model.TeamGoalsInfo.SportGoal.Goal.Bonus)
        {
            case 100:
                <img style="float:left" width="100px" src="~/Images/Common/bonus/bonus100.png" />
                break;
            default:

                break;
        }

        <div class="dato" style="font-size:9pt; font-weight:normal"></div><br />
    }

}
<hr />
<div style="padding-left:175px" class="titulo">Clasificacion actual</div>
<div id="EClasificationPos" style="font-size:22px; font-weight:bold; color:white"></div>
<table class="table table-striped" summary="Conferencia Oeste">
    <thead>
        <tr style="background-color:#3A4856; color:white; font-weight:bold">
            <th abbr="Posición" scope="col" title="Posición">P.</th>
            <th abbr="Equipos" scope="col" title="Equipos">Equipo</th>
            <th abbr="Victorias" scope="col" title="Victorias">W</th>
            <th abbr="Derrotas" scope="col" title="Derrotas">L</th>
            <th abbr="PCT" scope="col" title="PCT">Pct.</th>
            <th abbr="Casa" scope="col" title="Casa">Casa</th>
            <th abbr="Fuera" scope="col" title="Fuera">Fuera</th>
            <th abbr="Racha" scope="col" title="Racha">Racha</th>
            <th abbr="Puntos por partido favor" scope="col" title="Puntos por partido favor">PPG</th>
            <th abbr="Puntos por partido contra" scope="col" title="Puntos por partido contra">PAPG</th>
            <th abbr="Rebotes" scope="col" title="Rebotes">RPG</th>
            <th abbr="Tapones" scope="col" title="Tapones">TPG</th>
            <th abbr="Asistencias" scope="col" title="Asistencias">APG</th>
            <th abbr="Robos" scope="col" title="Robos">SPG</th>
            <th abbr="% Tiros de Campo" scope="col" title="% Tiros de Campo">FG</th>
            <th abbr="% Tiros de Tres" scope="col" title="% Tiros de Tres">FG3</th>
            <th abbr="% Tiros Libres" scope="col" title="% Tiros Libres">FT</th>
        </tr>
    </thead>

    <tbody id="EClasification"></tbody>
</table><hr />
<div style="padding-left:175px" class="titulo">Records</div><hr />
<table class="table table-striped">
    <tr>
        <td style="width:50%">
            <div style="padding-left:5px" class="titulo">Ultimos resultados</div>
            <div id="ResultsTeam" style="overflow:auto;width:100%; height:300px"></div>
        </td>
        <td style="width:50%">
            <div style="padding-left:5px" class="titulo">Partidos pendientes</div>
            <div id="GamesPending" style="overflow:auto;width:100%; height:300px"></div>
        </td>
    </tr>
</table>

<hr />
<div id="dialog-modal" style=" width:600px; height:800px; display:none" title="Basic modal dialog">
    <div id="FillTable"></div>
</div>
