﻿@model Liga.Domain.Entities.TradeatorInfo 

<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/ReporteStyle.css")" type="text/css"/>	
<style>
    .salarioJug  {
    font-weight:bold;
    color: dodgerblue;
}
</style>

@using (Html.BeginForm("NotifyTrade", "Trades", FormMethod.Post, new { @id = "TradeatorInfo" }))
{


  
    
    if (Model.esValido == 0)
    {
    <div id="validado"><img id="imgVal" src="~/Images/Common/nook.png" /></div>
    <div style="font-size:12pt;color:red;font-weight:bold" id="motivoNoValidado">@Html.DisplayFor(model => model.sMotivoNoValido)</div>
    
    }
    else
    {
    <div id="validado"><img id="imgVal" src="~/Images/Common/ok.png" /></div>
        <div style="font-size:12pt;color:red;font-weight:bold" id="motivoNoValidado">@Html.DisplayFor(model => model.sMotivoNoValido)</div>
     
        if (ViewBag.IsManagerWithTeam != null && ViewBag.IsManagerWithTeam)
        {
       <input type="submit" name="submitButton" style="float:left"  class="css_button" value="Guardar Borrador" />
       <input type="submit" name="submitButton" style="float:left"  class="css_button" value="Notificar" />
          
   <br />
   <div> <span style="float:left">Añadir comentario:</span></div>
    @Html.TextArea("aComentario", "", 4, 10, new { style = "width:650px", maxlenght = "8" })                  
        }
           @Html.HiddenFor(model => model.idTrade)
   <div> @Html.HiddenFor(model => model.Equipo1.Id)</div>
        foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa1)
        {
        @Html.Hidden("ListaDa1", jugador.Id);
        }
        foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers1)
        {
        @Html.Hidden("ListaRecibe1", jugador.Id);
        }
        foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa1)
        {
        @Html.Hidden("RondasDa1", ronda.Id);
        }
        foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam1)
        {
        @Html.Hidden("RondasRecibe1", ronda.Id);
        } 
         
   <div> @Html.HiddenFor(model => model.Equipo2.Id)</div>
        foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa2)
        {
        @Html.Hidden("ListaDa2", jugador.Id);
        }
        foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers2)
        {
        @Html.Hidden("ListaRecibe2", jugador.Id);
        }
        foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa2)
        {
        @Html.Hidden("RondasDa2", ronda.Id);
        }
        foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam2)
        {
        @Html.Hidden("RondasRecibe2", ronda.Id);
        }



        if (Model.Equipo3 != null)
        {
            <div> @Html.HiddenFor(model => model.Equipo3.Id)</div>
            foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa3)
            {
                    @Html.Hidden("ListaDa3", jugador.Id);
            }
            foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers3)
            {
                    @Html.Hidden("ListaRecibe3", jugador.Id);
            }
            foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa3)
            {
                    @Html.Hidden("RondasDa3", ronda.Id);
            }
            foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam3)
            {
                    @Html.Hidden("RondasRecibe3", ronda.Id);
            }

        }
        if (Model.Equipo4 != null)
        {
      <div> @Html.HiddenFor(model => model.Equipo4.Id)</div>
            foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa4)
            {
                    @Html.Hidden("ListaDa4", jugador.Id);
            }
            foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers4)
            {
                    @Html.Hidden("ListaRecibe4", jugador.Id);
            }
            foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa4)
            {
                    @Html.Hidden("RondasDa4", ronda.Id);
            }
            foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam4)
            {
                    @Html.Hidden("RondasRecibe4", ronda.Id);
            }
        }



    }

}
<br />
 <hr /> <hr />
<table style="width:800px">
    <tr>
        <td style="width:350px;font-size:22pt;font-weight:bold;text-align:center">RECIBE</td>
        <td style="width:100px"></td>
        <td style="width:350px;font-size:22pt;font-weight:bold;text-align:center">DA</td>



    </tr>
    <tr><td colspan="3" style="vertical-align:top; text-align:left; width:350px">
          <br /><br />
       <img style="float:left"  id="TeamLogoImg1" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Equipo1.Icono" />
        
        <span style="float:left;font-weight:bold;color:white"> Presupuesto antes: &nbsp; &nbsp; &nbsp; &nbsp;  </span> <span class="Presupuestos" id="presAntes1" style="float:left;font-weight:bold;color:yellow"> </span>
        <br />
        <span style="float:left;font-weight:bold;color:white"> Presupuesto después: &nbsp; &nbsp;</span> <span class="Presupuestos"  id="presDespues1" style="float:left;font-weight:bold;color:red">@Model.PresupuestoDespues1</span>
       </td></tr>
    <tr>
        <td style="width:350px">
<br />
<div style=" float:left">
@foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers1)
{   
    <div style="float:left ">

       @{Html.RenderPartial("MinPlayerCard", jugador);        }
       <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition">@jugador.PlayersSalaries.First().Salary1.ToString()</span>
    </div>
}
@foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam1)
{   
    <div style="float:left ">

       @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
    </div>
}
</div>
<br />
    </td><td style="width:100px"><img   src="~/Images/Common/larrow.gif" /><img   src="~/Images/Common/rarrow.gif" /></td>
<td style="width:350px">
    <div style=" float:right">
@foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa1)
{   
    <div style="float:right ">

       @{Html.RenderPartial("MinPlayerCard", jugador);        }
       <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition">@jugador.PlayersSalaries.First().Salary1.ToString()</span>

    </div>
}
@foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa1)
{   
        <div style="float:left ">

           @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
        </div>
}
        </div>
</td>
</tr>
        <tr><td colspan="3" style="vertical-align:top; text-align:left; width:350px">
           <br /><br />
       <img style="float:left"  id="TeamLogoImg2" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Equipo2.Icono" />
        
        <span style="float:left;font-weight:bold;color:white"> Presupuesto antes: &nbsp; &nbsp; &nbsp; &nbsp; </span> <span class="Presupuestos" id="presAntes2" style="float:left;font-weight:bold;color:yellow">@Model.PresupuestoAntes2 </span>
        <br />
        <span style="float:left;font-weight:bold;color:white"> Presupuesto después: &nbsp; &nbsp;</span> <span class="Presupuestos" id="presDespues2"  style="float:left;font-weight:bold;color:red">@Model.PresupuestoDespues2</span>
       </td></tr>


       
<td style="width:350px">
<br />
<div style=" float:left">@foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers2)
                         {   
    <div style=" float:left">

       @{Html.RenderPartial("MinPlayerCard", jugador);        }
       <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition">@jugador.PlayersSalaries.First().Salary1.ToString()</span>

    </div>
                         }
    @foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam2)
    {   
    <div style="float:left ">

       @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
    </div>
    }
</div>

<br /></td>
<td style="width:100px"><img   src="~/Images/Common/larrow.gif" /><img   src="~/Images/Common/rarrow.gif" /></td>

<td style="width:350px; float:right">
        <div style=" ">
@foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa2)
{   
    <div style="float:right ">

       @{Html.RenderPartial("MinPlayerCard", jugador);        }
       <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition" >@jugador.PlayersSalaries.First().Salary1.ToString()</span>

    </div>
}
@foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa2)
{   
        <div style="float:left ">

           @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
        </div>
}
        </div>
</td>
</tr>
    @if (Model.Equipo3 != null)
    {
        <tr><td colspan="3" style="vertical-align:top; text-align:left; width:350px">
         <br /><br /><img style="float:left"  id="TeamLogoImg3" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Equipo3.Icono" />
        
        <span style="float:left;font-weight:bold;color:white"> Presupuesto antes: &nbsp; &nbsp;  &nbsp; &nbsp;</span> <span class="Presupuestos" id="presAntes3" style="float:left;font-weight:bold;color:yellow">@Model.PresupuestoAntes3 </span>
        <br />
        <span style="float:left;font-weight:bold;color:white"> Presupuesto después: &nbsp; &nbsp;</span> <span class="Presupuestos" id="presDespues3"  style="float:left;font-weight:bold;color:red">@Model.PresupuestoDespues3</span>
       </td></tr>
    }
    <tr>

 @if (Model.Equipo3 != null)
 {
<td style="width:350px">


    <br />
    <div style=" float:left">@foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers3)
                             {   
        <div style=" float:left">

           @{Html.RenderPartial("MinPlayerCard", jugador);        }
                   <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition">@jugador.PlayersSalaries.First().Salary1.ToString()</span>

        </div>
                             }
    @foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam3)
    {   
        <div style="float:left ">

           @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
        </div>
    }
    </div>

<br /></td>
<td style="width:100px"><img   src="~/Images/Common/larrow.gif" /><img   src="~/Images/Common/rarrow.gif" /></td>

<td style="width:350px">
        <div style=" float:left">
@foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa3)
{   
    <div style="float:left ">

       @{Html.RenderPartial("MinPlayerCard", jugador);        }
               <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition">@jugador.PlayersSalaries.First().Salary1.ToString()</span>

    </div>
}
@foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa3)
{   
        <div style="float:left ">

           @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
        </div>
}
        </div>
</td>
 }
</tr>
@if (Model.Equipo4 != null)
{
        <tr>
              <br /><br /><td colspan="3" style="vertical-align:top; text-align:left; width:350px">
       <img style="float:left"  id="TeamLogoImg4" class="tradeLogoTeam" src="~/Images/Common/teams/BigLogos/@Model.Equipo4.Icono" />
        
        <span style="float:left;font-weight:bold;color:white"> Presupuesto antes: &nbsp; &nbsp;  &nbsp; &nbsp;</span> <span class="Presupuestos" id="presAntes4" style="float:left;font-weight:bold;color:yellow">@Model.PresupuestoAntes4 </span>
        <br />
        <span style="float:left;font-weight:bold;color:white"> Presupuesto después: &nbsp; &nbsp;</span> <span class="Presupuestos" id="presDespues4"  style="float:left;font-weight:bold;color:red">@Model.PresupuestoDespues4</span>
       </td></tr>
}
    <tr>
        
@if (Model.Equipo4 != null)
{<hr />
<td style="width:350px">
    <br />
    <div style=" float:left">
    @foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayers4)
    {   
        <div style=" float:left">

           @{Html.RenderPartial("MinPlayerCard", jugador);        }
                   <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition">@jugador.PlayersSalaries.First().Salary1.ToString()</span>

        </div>
    }
    @foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasTeam4)
    {   
        <div style="float:left ">

           @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
        </div>
    }

    </div>

<br /></td>
<td style="width:100px"><img   src="~/Images/Common/larrow.gif" /><img   src="~/Images/Common/rarrow.gif" /></td>

<td style="width:350px">
        <div style=" float:left">
@foreach (Liga.Domain.Entities.Players jugador in Model.listaPlayersDa4)
{   
    <div style="float:left ">

       @{Html.RenderPartial("MinPlayerCard", jugador);        }
               <span class="salarioJug" opsal="@jugador.PlayersSalaries.First().SalaryCondition">@jugador.PlayersSalaries.First().Salary1.ToString()</span>

    </div>
}
            @foreach (Liga.Domain.Entities.Rounds ronda in Model.listaRondasDa4)
            {   
        <div style="float:left ">

           @ronda.Type ronda @ronda.Year @ronda.LVNBAFranchis.Abbreviation
        </div>
            }
        </div>
</td>
}
</tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {
       
        //if ($("#esValido").text() == "SI") {
        //    $("#imgVal").attr("src", "~/Images/Common/ok.png");
        //    $("#motivo").html("Trade válido");
        //}
        //else {

        //    $("#motivoNoValidado").html($("#motivo").text());
        //    $("#imgVal").attr("src", "../Images/Common/nook.png");
        //    $("#motivoNoValidado").html($("#motivo").text());
        //    $('#btNoti').attr("disabled", true);
        //    $('#btNoti').attr("href", "#");
        //}
        $('.Presupuestos').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $('.salarioJug').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0', vMin: '-999999999.99' });
        $('#presAntes1').autoNumeric('set', @Model.PresupuestoAntes1);
        $('#presAntes2').autoNumeric('set', @Model.PresupuestoAntes2);
        $('#presAntes3').autoNumeric('set', @Model.PresupuestoAntes3);
        $('#presAntes4').autoNumeric('set', @Model.PresupuestoAntes4);
        $('#presDespues1').autoNumeric('set', @Model.PresupuestoDespues1);
        $('#presDespues2').autoNumeric('set', @Model.PresupuestoDespues2);
        $('#presDespues3').autoNumeric('set', @Model.PresupuestoDespues3);
        $('#presDespues4').autoNumeric('set', @Model.PresupuestoDespues4);
        $('.salarioJug').autoNumeric('update', {aSign: '$ '});
    });

</script>



