﻿@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="Shortcut Icon" href="@Url.Content("favicon.ico")" type="image/x-icon" />
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/jqGrid")
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/css/estilo_liga.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="~/Content/graficos/jquery.jqChart.min.js"></script>
    <link rel="stylesheet" href="~/Content/graficos/jquery.jqChart.css" />
</head>


<body>
    <div id="wrapper" class="mb-5">
        <!-- start header -->
        <div id="header">
            @Html.Partial("_HeaderPartial")
        </div>
        <!-- end header -->
        <!-- start page -->
        <div id="page" class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>Menú Admin</h5>
                    <a href="/LVNBAParameters/EditParameters" class="nav-link text-dark mb-0 pb-0">Administrar parámetros</a>
                    <a href="/Franchises/Index" class="nav-link text-dark mb-0 pb-0">Franquicias</a>
                    <a href="/Players/Index" class="nav-link text-dark mb-0 pb-0">Jugadores</a>
                    <a href="/Injuries/Index" class="nav-link text-dark mb-0 pb-0">Lesiones jugador</a>
                    <a href="/ManagerFranchises/Index" class="nav-link text-dark mb-0 pb-0">Hist. managers-franquicias</a>
                    <a href="/Managers/Index" class="nav-link text-dark mb-0 pb-0">Managers</a>
                    <a href="/Rounds/Index" class="nav-link text-dark mb-0 pb-0">Rondas</a>
                    <a href="/PlayersSalaries/Index" class="nav-link text-dark mb-0 pb-0">Salarios</a>
                    <a href="/InjuryTypes/Index" class="nav-link text-dark mb-0 pb-0">Tipos de lesión</a>
                </div>
                <div class="col-md-9" id="mainContent">
                    @RenderBody()
                </div>
            </div>

        </div>
        <!-- end page -->
    </div>
    <div id="footer" class="card-footer text-center bg-dark fixed-bottom">
        <p class="copyright text-light">
            &copy;&nbsp;&nbsp;2019 Todos los derechos reservados &nbsp;&bull;&nbsp; LVNBA
        </p>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
