﻿@model Liga.Domain.Entities.ManagerCardMO

@if (Model != null)
{

}
else
{
    <div id="tabsManager" style="width:450px;">
        <ul>
            <li><a href="#tabsManager-1">Info </a></li>
            <li><a href="#tabsManager-2">Premios</a></li>
            <li><a href="#tabsManager-3">Trayectoria</a></li>
            <li><a href="#tabsManager-4">Stats</a></li>
            <li><a href="#tabsManager-5">Drafts</a></li>

        </ul>
        <div id="tabsManager-1">

            <table style="width:440px; border:0px;">
                <tr>
                    <td rowspan="2">
                        @if (Model.Manager.Photo == null)
                        {
                            <img width="60px" src="~/Images/Common/cara.jpg" />
                        }
                        else
                        {
                            <img width="60px" src="~/Images/Common/cara.jpg" />
                        }

                    </td>
                    <td colspan="2"> <span style=" padding-left:1px;padding-right:10px; font-size:20pt;  color:SteelBlue; text-align:center;">@Model.Manager.GamerTag</span> </td>
                    <td rowspan="4">
                        <table>
                            <tr>
                                <td>
                                    <span style="font-size:12pt;font-style:italic;color:red"> Títulos:</span>
                                    <span style="font-size:12pt; font-weight:bold;font-style:italic;color:yellow"> @Model.ManagerAwards.Where(x => x.IdAward == 8).Count()</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="font-size:12pt;font-style:italic;color:red"> Playoffs:</span>
                                    <span style="font-size:12pt;font-weight:bold;font-style:italic;color:yellow">pdte.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="height:90px; overflow:auto">
                                        <span style="font-size:8pt;font-style:italic;color:red">
                                            @foreach (var premio in Model.ManagerAwards.Where(x => x.Award.Class != "J").OrderByDescending(x => x.Year))
                                            {
                                                <span title="@premio.Award.Description">@premio.Award.Name - @premio.Year</span> <br />
                                            }

                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>






                    </td>
                </tr>
                <tr>
                    <td style="text-align:left"><span style=" padding-left:1px;padding-right:1px; font-size:12pt;  color:Orange; text-align:left;">@Model.Manager.RealName </span> </td>
                    <td style="padding-left:1px;width:4px; padding-right:1px;text-align:center; font-weight:bold;color:black; font-size:30pt;background-color:Gold;"><span>-</span></td>
                </tr>
                <tr>
                    <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;">Edad: </span></td>
                    <td style="text-align:left"> <span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:14pt;color:yellowgreen;">@Model.Manager.Age </span></td>
                    <td rowspan="2" style="text-align:center"><img width="50" src="~/Images/Common/teams/Iconos/@Model.Manager.LVNBAFranchises.First().Icono" /> </td>
                </tr>
                <tr>
                    <td>      <span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:SteelBlue;">Años LVNBA:</span></td>
                    <td style="text-align:left"> <span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:14pt;color:yellowgreen;">@Model.Manager.LVNBAAge </span></td>


                </tr>

            </table>
            <br />
        </div>
        <div id="tabsManager-2">
            <div style="height:180px; overflow:auto">
                <table class="tablaTeam" border="0">
                    <tr>
                        @foreach (var premio in Model.ManagerAwards.Where(x => x.Award.Class != "J").GroupBy(x => x.IdAward))
                        {
                            var premiosYear = "";
                            foreach (var aYear in premio)
                            {
                                if (premiosYear == "")
                                {
                                    premiosYear = "" + (aYear.Year + 1);
                                }
                                else
                                {
                                    premiosYear = premiosYear + " || " + (aYear.Year + 1);
                                }
                            }


                            <td>
                                <img width="70px" title="@premio.First().Award.Description &#13; Años: @premiosYear " src="~/Images/Common/awards/@premio.First().Award.Image" />
                                <span style="color:yellowgreen;font-size:25px;font-weight:bold">X </span><span style="color:yellowgreen;font-size:50px;font-weight:bold">@premio.Count()</span>

                            </td>

                        }
                    </tr>
                </table>
            </div>
        </div>

        <div id="tabsManager-3">
            <div style="height:180px; overflow:auto">
                <table>
                    <thead style="color:yellow;font-weight:bold"><tr><td></td><td>Equipo</td><td>Temp. Desde</td><td>Temp. Hasta</td></tr></thead>
                    @foreach (var movimiento in Model.ManagerTrayectoria.OrderBy(x => x.StartDate))
                    {
                        <tr>
                            <td><img width="25" src="~/Images/Common/teams/Iconos/@movimiento.LVNBAFranchis.Icono" /></td>
                            <td>  @movimiento.LVNBAFranchis.Name </td>
                            <td>
                                @if (movimiento.StartDate.Month == 2)
                                {
                                    var temp = @movimiento.StartDate.Year - 1;

                                    <span>@temp / @movimiento.StartDate.Year (mediados)</span>
                                }
                                else
                                {
                                    var temp = @movimiento.StartDate.Year + 1;
                                    <span>@movimiento.StartDate.Year / @temp </span>
                                }
                            </td>
                            <td>
                                @if (movimiento.EndDate == null)
                                {
                                    <span>actual</span>
                                }
                                else
                                {

                                    if (movimiento.EndDate.Value.Month == 9)
                                    {
                                        var temp = @movimiento.EndDate.Value.Year + 1;
                                        <span>@movimiento.EndDate.Value.Year  / @temp </span>
                                    }
                                    else
                                    {
                                        var temp = @movimiento.EndDate.Value.Year - 1;
                                        <span>@temp / @movimiento.EndDate.Value.Year (mediados) </span>
                                    }

                                }
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>
        <div id="tabsManager-4">
            <div style="height:180px; overflow:auto">PDTE. Stats propias del manager</div>
        </div>
        <div id="tabsManager-5">
            <div style="height:180px; overflow:auto">
                <table>
                    <thead style="color:yellow;font-weight:bold">
                        <tr><td>Nombre</td><td>Año</td><td>Ronda</td><td>Posición</td><td>Equipo</td></tr>
                    </thead>
                    @foreach (var ronda in Model.ManagerRounds.OrderByDescending(x => x.Year))
                    {
                        <tr>
                            <td><span style="color:red;font-weight:bold">@ronda.Drafts.First().Player.CompleteName </span></td>
                            <td><span style="color:white">@ronda.Drafts.First().Year </span></td>
                            <td style="text-align:center"><span style="color:white">@ronda.Type</span></td>
                            <td style="text-align:right"><span style="color:white">@ronda.Drafts.First().Position </span></td>
                            <td style="text-align:right"><img width="25" src="~/Images/Common/teams/Iconos/@ronda.LVNBAFranchisProp.Icono" /></td>

                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}
