﻿@model PagedList.IPagedList<Liga.Domain.Entities.PlayersInfoList>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Roles de Equipo";
        string message = ViewBag.Message;
    }
    <h2>Roles de Equipo</h2>
    @{
        if (message != null && message != "")
        {
            <div class="col-md-12">
                <ul><li style="color: red;">@message</li></ul>
            </div>
        }
    }
    @foreach(var item in ViewBag.Roles)
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr width="100%"><th><h5>@item.Rol</h5></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td width="100%">
                        @{
                            var players = Model.Where(x => x.IdRol == @item.Id);
                            foreach (var p in players)
                            {
                                <div onclick="viewPlayerInfo(@p.PlayerEntity.Id)" style="cursor:pointer;float:left">
                                    @{Html.RenderPartial("PlayerCard", p.PlayerEntity);
                                    }
                                </div>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <br />
    <br />
