﻿@model Liga.Domain.Entities.Players
<style type="text/css">
    .tablaPlayer {
        border: 1px solid gold;
        border-style: groove;
        border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
        margin: 5px
    }

    .opacidad {
        opacity: 0.7;
        background-color: firebrick;
        width: 100%;
        height: 100%;
    }

    table.tablaPlayer td, table.tablaPlayer tr {
        border: 0;
        font-family: 'Arial Black';
        font-size: 8pt;
    }

    .statusCl {
        background-color: #CDDC39;
        text-align: center;
        font-weight: bold;
        color: white;
    }

    .statusClAux {
        background-color: #CDDC39;
        text-align: center;
        font-weight: bold;
        color: black
    }

    .salNoCond {
        background-color: White;
        text-align: center;
        font-weight: bold;
        color: Black;
    }

    .salNoCondAux {
        background-color: White;
        text-align: center;
        font-weight: bold;
        color: Black;
    }

    .salCutted {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: violet;
    }

    .salTO {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: firebrick;
    }

    .NotTransfer {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: red;
    }

    .salPO {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: royalblue;
    }

    .salQO {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: ForestGreen;
    }

    .salNNBA {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: Gray;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.salNoCond').each(function (i, obj) {

            var id = $(this).attr("id");
            var SalAbrev = $('#' + id).text().trim();
            switch (SalAbrev) {
                case "TO":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salTO");
                    //alert('quepasa');
                    break;
                case "PO":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salPO");
                    break;
                case "QO":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salQO");
                    break;
                case "CU":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salCutted");
                    break;
                case "NNBA":
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salNNBA");
                    break;
                default:
                    $('#' + id).removeClass();
                    $('#' + id).addClass("salNoCondAux");
                    break;
            }

        });

        $('.statusCl').each(function (i, obj) {
            var id = $(this).attr("id");
            var StatusAbrev = $('#' + id).text().trim();
            if (StatusAbrev == "LI" || StatusAbrev == "TI") {
                $('#' + id).removeClass();
                $('#' + id).addClass("NotTransfer");
            }
        });
    });

</script>
<a href="/PlayerInfo/GetPlayerInfoSinModal?idPlayer=@Model.Id" target="_blank">
    <table class="tablaPlayer mx-auto h-100 @if(Model.Injuried != 0 && Model.Injuried != null){ @Html.Raw("opacidad");  } ">
        <tr>
            <td colspan="5" rowspan="5" style="height:150px; background-size:contain; background-image:url('@Model.FaceImage'); background-position:bottom; background-repeat:no-repeat;vertical-align:top">
                @if (Model.LVNBAFranchis == null)
                {
                    <img width="25px" src="~/Images/Common/teams/Iconos/fa.png" />
                }
                else
                {
                    <img width="25px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchis.Icono" />
                }

            </td>

        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
            <!-- ACA VA ALGO DE LOS SALARIOS -->
        </tr>
        <tr>
        </tr>
        <tr>
            <td colspan="4" style="background-color:black; text-align:center;font-weight:bold; color:White">@Model.AbrevName</td>
        </tr>
        <tr>
            <td style="width:35px;height:35px; background-color:#009688;text-align:center;  font-size-adjust:inherit; font-weight:bold;color:White">@Model.PlayersPosition.Position</td>
            <td style="width:35px; background-color:#4CAF50;text-align:center;font-weight:bold;color:white">@(Model.Level2k != null ? Model.Level2k : 00)</td>
            <td style="width:35px; background-color:#8BC34A;text-align:center;font-weight:bold;color:white">@Model.PlayersRole.Abrev</td>
            <td id='st_@Model.Id' class="statusCl" style="width:35px;">@Model.PlayersState.Abrev</td>
        </tr>
    </table>
</a>

