﻿@model Liga.Domain.Entities.PlayerCompleteInfo

@{
    ViewBag.Title = "Info jugador";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}

<div class="container-fluid lola">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 hidden-sm-down hidden-xs-down np mt-1 ">
                    <table background="../Images/Common/hInfo.jpg" style="width:100%; background-repeat: no-repeat; background-position: right; background-color: black;">
                        <tr>
                            <!--<td rowspan="2" style="width:100px">{Html.RenderPartial("MinPlayerCard", Model.Player);}</td>-->
                            <td style="padding-left: 1%;">
                                <h2 style="color: #FFFFFF">@Html.DisplayFor(model => model.Player.CompleteName)</h2>
                            </td>
                            <td>
                            <p style="width:150px; font-size:larger; color: #ff0f4a; font-weight:bold"> |  @Html.DisplayFor(model => model.Player.PlayersPosition.Description)</p> </td>
                            @{
                                if (Model.Player.LVNBAFranchis != null)
                                {
                                    <td><p style=" font-size:larger; font-weight:bold;color:@Model.Player.LVNBAFranchis.Color"> |  @Html.DisplayFor(model => model.Player.LVNBAFranchis.Abbreviation)</p> </td>
                                    <td><img width="80px" height="80px" src='@Url.Content("~/Images/Common/teams/Iconos/")@Model.Player.LVNBAFranchis.Icono' /></td>
                                }
                                else
                                {
                                    <td><p style=" font-size:larger; font-weight:bold;color:White"> |  SIN </p> </td>
                                    <td><img width="80px" height="80px" src='@Url.Content("~/Images/Common/teams/Iconos/fa.png")' /></td>
                                }

                            }
                            <td><p style="color:White; font-size:80px; font-weight:bold">  @Html.DisplayFor(model => model.Player.Level2k)</p> </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="padding-left: 1%;">
                                <div style="font-weight:bold;color:white">Salario</div>
                                @foreach (var sal in Model.Player.PlayersSalariesFull)
                                {
                                    if (sal.DateSalarie.Year >= ViewBag.Season)
                                    {
                                        <span id="h_sal1" style="color:#cacaca" font-size:larger">
                                            @Html.DisplayFor(sa => sal.Salarie, "MyDecimalTemplate") |
                                        </span>;
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 np">
                    @{Html.RenderPartial("PlayerCard", Model.Player);}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-12">
                    <hr />
                    <ul class="nav nav-tabs" id="jugadoresTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Info general</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trayectoria-tab" data-toggle="tab" href="#trayectoria" role="tab" aria-controls="trayectoria" aria-selected="false">Trayectoria</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" id="awards-tab" data-toggle="tab" href="#awards" role="tab" aria-controls="awards" aria-selected="false">Premios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Stats Av.</a>
                        </li>-->
                    </ul>
               
                    <div class="tab-content" id="jugadoresTabContent">
                        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                            @{
                                Html.RenderPartial("PlayerInfo", Model);
                            }
                        </div>
                        <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
                            @{
                                Html.RenderPartial("PlayerInfoStatus", Model);
                            }
                        </div>
                        <div class="tab-pane fade" id="trayectoria" role="tabpanel" aria-labelledby="trayectoria-tab">
                            @{
                                Html.RenderPartial("HistoryInfo", Model);
                            }
                        </div>
                        <!--<div class="tab-pane fade" id="awards" role="tabpanel" aria-labelledby="awards-tab">
                            @{
                                //Html.RenderPartial("AwardsInfo", Model);
                            }
                        </div>
                        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                                <div hidden="hidden" id="containChart" style="width:780px">
                                    <table>
                                        @{
                                            //Html.RenderPartial("AdStatsInfo", Model);
                                        }
                                    </table>
                                    <br />
                                    @{
                                        //Html.RenderPartial("GamesPlayed", Model);
                                    }

                                    <div id="chart1" style="height:280px; width:550px;"></div>
                                    <div id="chart2" style="height:280px; width:350px;"></div>

                                    <div id="idPl" style=" visibility:hidden">@Model.Player.Id</div>

                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <br />
    <br />
    <br>
