﻿@model PagedList.IPagedList<Liga.Domain.Entities.PlayersInfoList>
    @using PagedList.Mvc;
    @{
        ViewBag.Title = "Jugadores";
        string message = ViewBag.Message;
    }
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Jugadores</h2>
            </div>
            @{
                if (message != null && message != "")
                {
                    <div class="col-md-12">
                        <ul><li style="color: red;">@message</li></ul>
                    </div>
                }
            }
            <div class="col-md-12">
                <table class="table table-striped small">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayName("Logo")
                            </th>
                            <th>
                                @Html.ActionLink("Nombre", "TeamPlayers", new { ViewBag.idTeam, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }, new { @class = "order-table" })
                            </th>
                            <th>
                                @Html.DisplayName("Edad")
                            </th>
                            <th>
                                @Html.DisplayName("Altura")
                            </th>
                            <th>
                                @Html.DisplayName("Peso")
                            </th>
                            <th>
                                @Html.DisplayName("Posicion")
                            </th>
                            <th>
                                @Html.DisplayName("Estado")
                            </th>
                            <th>
                                @Html.DisplayName("Rol")
                            </th>
                            <th>
                                @Html.DisplayName("2k")
                            </th>
                            <th>
                                @Html.DisplayName("Pro")
                            </th>
                            <th>
                                @Html.DisplayName("Salario")
                            </th>
                            <th>
                                @Html.DisplayName("Ojeadores")
                            </th>
                            <th>
                                @Html.DisplayName("Años Contrato")
                            </th>
                            <th>
                                @Html.DisplayName("Equipo Salario")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td><img width="25px" src="~/Images/Common/teams/Iconos/@item.Logo.Replace(".jpg", ".png")" /></td>
                            <td>@item.CompleteName</td>
                            <td>@item.Age</td>
                            <td>@item.Height</td>
                            <td>@item.Weight</td>
                            <td>@item.Position</td>
                            <td>@item.StateLong</td>
                            <td>@item.RolLong</td>
                            <td>@item.Level2k</td>
                            <td>@item.YearsPro</td>
                            <td>@item.Salary.ToString().Replace(",00", "")</td>
                            <td>@item.Followed</td>
                            <td>@item.ContractY</td>
                            <td>@item.SalaryTeam</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="pag-sep">
            </div>
            <div class="col-md-3">
                <p class="pag-size">
                    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                </p>
            </div>
            <div class="col-md-9">
                @Html.PagedListPager(Model, page => Url.Action("TeamPlayers", new { idTab = 1, ViewBag.idTeam, page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div>
    </div>
    <br />
    <br />
