﻿@model IEnumerable<Liga.Domain.Entities.ChartData>
    @using JQChart.Web.Mvc

    <div style="background-color: white;">
        @(Html.JQChart()
                                      .Chart(Model)
                                      .ID("jqChart")
                                      .Title("Salarios del equipo")
                                      .Animation(TimeSpan.FromSeconds(1))
                                      .Shadows(true)
                                      .Series(series =>
                                      {
                                          series.Column()
                                                .Title("")
                                                .FillStyle("#FFFFFF")
                                                .XValues(el => el.Label)
                                                .YValues(el => el.Value1)
                                                .FillStyles(new object[] { "#0D0D0D", "#262626", "#595959", "#A6A6A6", "#D1D1D1" });
                                          series.Line()
                                                .Title("Limite")
                                                .FillStyle("#8B0000")
                                                .XValues(el => el.Label)
                                                .YValues(el => el.Value2)
                                                .StrokeStyle("#8B0000");
                                      }
                                      )
                                      .Render()
        )
    </div>


    <script>

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? ',' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;

            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }

            return x1 + x2;
        }

        $('#jqChart').bind('tooltipFormat', function (e, data) {
            return '$' + addCommas(data.y);
        });

        $('#jqChart').bind('axisLabelCreating', function (event, data) {
            if (data.context.axis.location == 'left') {
                data.text = '$' + addCommas(data.text);
            }
        });

    </script>
