﻿@model Liga.Domain.Entities.TeamCardMO
    <table class="table table-striped" border="0">
        <tr>
            <td width="25%" style="border:solid 1px #dedede;">
                <h5 class="font-weight-bold">Equipo: @Model.Franchise.Name</h5>
            </td>
            <td width="25%" style="border:solid 1px #dedede;">
                <h5 class="font-weight-bold">Manager: @if (Model.Franchise.Manager != null) { <span>@Model.Franchise.Manager.GamerTag</span> }</h5>
            </td>
            <td width="25%" style="border:solid 1px #dedede;">
                <h5 class="font-weight-bold">Conferencia: @Model.Franchise.Division.Conference.Conferencia</h5>
            </td>
            <td width="25%" style="border:solid 1px #dedede;">
                <h5 class="font-weight-bold">División: @Model.Franchise.Division.Division1 </h5>

            </td>
        </tr>

    </table>
<table class="table table-striped small">
    <tr>
        <td>
            <h4 class="font-weight-bold">Palmarés</h4>
        </td>
    </tr>
    @foreach (var premio in Model.FranchiseAwards.GroupBy(x => x.IdAward))
    {
        var premiosYear = "";
        foreach (var aYear in premio)
        {
            if (premiosYear == "")
            {
                premiosYear = "" + (aYear.Year + 1);
            }
            else
            {
                premiosYear = premiosYear + " || " + (aYear.Year + 1);
            }
        }
        <tr>
            <td>
                <img width="100px" title="@premio.First().Award.Description &#13; Años: @premiosYear " src="~/Images/Common/awards/@premio.First().Award.Image" />
                <span style="color:@Model.Franchise.Color;font-size:25px;font-weight:bold">X </span>
                <span style="color:@Model.Franchise.Color;font-size:50px;font-weight:bold">@premio.Count()</span>
            </td>
        </tr>
    }
</table>