﻿@model Liga.Domain.Entities.GeneralFranchiseInfo
<div class="row">
    <div class="form-group col-md-10">
        <div class="h4 mt-2 mb-2"><img width="30px" src="~/Images/Common/teams/Iconos/@Model.TeamCard.Franchise.Icono" /> Objetivo de la temporada (PDTE)</div>
        @{
            if (Model.TeamGoalsInfo.FinancialGoal != null)
            {
                <div class="dato">@Model.TeamGoalsInfo.FinancialGoal.Goal.Goal1</div>
                switch (Model.TeamGoalsInfo.FinancialGoal.Goal.Bonus)
                {
                    case 100:
                        <img style="float:left" width="100px" src="~/Images/Common/bonus/bonus100.png" />
                        break;
                    default:
                        break;
                }
                <div class="dato" style="font-size:9pt; font-weight:normal">@Model.TeamGoalsInfo.FinancialGoal.Goal.Description</div><br />
            }
        }
        <hr />
    </div>
    <div class="col-md-5">
        @{
            Html.RenderPartial("SalarieChart", Model.ChartData);
        }
    </div>
    <div class="col-md-2">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header" style="color: #fff; background-color: #212529; border-color: #32383e;">Salario actual:</div>
            <div class="card-body">
                <p class="card-text">@string.Format("{0:C2}", decimal.Parse(Model.PlotInfo.SalaryTeam1))</p>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header" style="color: #fff; background-color: #212529; border-color: #32383e;">Impuesto de lujo:</div>
            <div class="card-body">
                <p class="card-text">@string.Format("{0:C2}", decimal.Parse(Model.PlotInfo.LuxuryTax))</p>
            </div>
        </div>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header" style="color: #fff; background-color: #212529; border-color: #32383e;">Limite salarial:</div>
            <div class="card-body">
                <p class="card-text">@string.Format("{0:C2}", decimal.Parse(Model.PlotInfo.SalaryTax))</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header" style="color: #fff; background-color: #212529; border-color: #32383e;">Rondas:</div>
            <div class="card-body">
                <table class="table table-bordered" style="margin-left: auto; margin-right: auto;">
                    <thead>
                        <tr>
                            <th style="padding: 0;">Ronda</th>
                            <th style="padding: 0;">Año</th>
                            <th style="padding: 0;">Equipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var round in Model.RoundsTeamInfo.Rounds)
                        {
                            <tr>
                                <td style="padding: 0;">
                                    @round.Type º
                                </td>
                                <td style="padding: 0;">
                                    @round.Year
                                </td>
                                <td style="padding: 0;">
                                    @round.LVNBAFranchis.Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @{
        decimal contador1 = 0;
        decimal contador2 = 0;
        decimal contador3 = 0;
        decimal contador4 = 0;
        decimal contador5 = 0;
    }
    <div class="form-group col-md-12">
        <h2>Jugadores</h2>
        <div style="margin-bottom: 10px;">
            @foreach (var condition in Model.Conditions)
            {
                <span class="badge" style="font-weight: 100; font-size: 18px; background-color: @condition.Colour; color: @(condition.Id != 6 ? "white" : "black")">@condition.Condition</span>
            }
        </div>
        <table class="table table-striped small">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Completo</th>
                    <th>Posicion</th>
                    <th>Salario @Model.Today.Year</th>
                    <th>Salario @Model.Today.AddYears(1).Year</th>
                    <th>Salario @Model.Today.AddYears(2).Year</th>
                    <th>Salario @Model.Today.AddYears(3).Year</th>
                    <th>Salario @Model.Today.AddYears(4).Year</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListPlayersFinantialInfo != null)
                {
                    foreach (var item in Model.ListPlayersFinantialInfo.OrderByDescending(x => x.PlayersSalariesFull.FirstOrDefault(s => s.DateSalarie.Year == Model.Today.Year).Salarie).ToList())
                    {
                        var playersSalariesFull1 = item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Model.Today.Year));
                        var playersSalariesFull2 = item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Model.Today.AddYears(1).Year));
                        var playersSalariesFull3 = item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Model.Today.AddYears(2).Year));
                        var playersSalariesFull4 = item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Model.Today.AddYears(3).Year));
                        var playersSalariesFull5 = item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Model.Today.AddYears(4).Year));
                        decimal salary1 = 0;
                        string color1 = null;
                        decimal salary2 = 0;
                        string color2 = null;
                        decimal salary3 = 0;
                        string color3 = null;
                        decimal salary4 = 0;
                        string color4 = null;
                        decimal salary5 = 0;
                        string color5 = null;
                        string colorfondo1 = "black";
                        string colorfondo2 = "black";
                        string colorfondo3 = "black";
                        string colorfondo4 = "black";
                        string colorfondo5 = "black";
                        if (playersSalariesFull1 != null)
                        {
                            salary1 = playersSalariesFull1.Salarie;
                            color1 = playersSalariesFull1.SalaryCondition.Colour;
                            colorfondo1 = (playersSalariesFull1.SalaryCondition.Id != 6 ? "white" : "null");
                        }
                        if (playersSalariesFull2 != null)
                        {
                            salary2 = playersSalariesFull2.Salarie;
                            color2 = playersSalariesFull2.SalaryCondition.Colour;
                            colorfondo2 = (playersSalariesFull2.SalaryCondition.Id != 6 ? "white" : "null");
                        }
                        if (playersSalariesFull3 != null)
                        {
                            salary3 = playersSalariesFull3.Salarie;
                            color3 = playersSalariesFull3.SalaryCondition.Colour;
                            colorfondo3 = (playersSalariesFull3.SalaryCondition.Id != 6 ? "white" : "null");
                        }
                        if (playersSalariesFull4 != null)
                        {
                            salary4 = playersSalariesFull4.Salarie;
                            color4 = playersSalariesFull4.SalaryCondition.Colour;
                            colorfondo4 = (playersSalariesFull4.SalaryCondition.Id != 6 ? "white" : "null");
                        }
                        if (playersSalariesFull5 != null)
                        {
                            salary5 = playersSalariesFull5.Salarie;
                            color5 = playersSalariesFull5.SalaryCondition.Colour;
                            colorfondo5 = (playersSalariesFull5.SalaryCondition.Id != 6 ? "white" : "null");
                        }
                        contador1 = contador1 + salary1;
                        contador2 = contador2 + salary2;
                        contador3 = contador3 + salary3;
                        contador4 = contador4 + salary4;
                        contador5 = contador5 + salary5;
                        <tr>
                            <td>@item.CompleteName</td>
                            <td>@item.PlayersPosition.Description</td>
                            <td style="background-color: @color1; color: @colorfondo1">@string.Format("{0:C}", salary1)</td>
                            <td style="background-color: @color2; color: @colorfondo2">@string.Format("{0:C}", salary2)</td>
                            <td style="background-color: @color3; color: @colorfondo3">@string.Format("{0:C}", salary3)</td>
                            <td style="background-color: @color4; color: @colorfondo4">@string.Format("{0:C}", salary4)</td>
                            <td style="background-color: @color5; color: @colorfondo5">@string.Format("{0:C}", salary5)</td>
                        </tr>
                    }
                }

            </tbody>
            <tfoot style="border-top: 3px solid black;">
                <tr>
                    <td style="font-size: 16px; font-weight: bold;">Totales:</td>
                    <td></td>
                    <td style="font-size: 16px; font-weight: bold;">@string.Format("{0:C}", contador1)</td>
                    <td style="font-size: 16px; font-weight: bold;">@string.Format("{0:C}", contador2)</td>
                    <td style="font-size: 16px; font-weight: bold;">@string.Format("{0:C}", contador3)</td>
                    <td style="font-size: 16px; font-weight: bold;">@string.Format("{0:C}", contador4)</td>
                    <td style="font-size: 16px; font-weight: bold;">@string.Format("{0:C}", contador5)</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>