﻿@model Liga.Domain.Entities.GeneralFranchiseInfo
<script>
  $(function() {
      $("#elGlosario").dialog({
      width: 780,
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "explode",
        duration: 1000
      }
      });
      $("#tabsManager").tabs({ active: '@ViewBag.Tab' });
      $("#tabsManager").css("float", "right");
  });


</script>
<table class="table table-striped">
    <tr>
        <td width="100%">
            <img class="img-fluid" width="100%" src="~/Images/Common/teams/Grandes/@Model.TeamCard.Franchise.Logo" />
        </td>

    </tr>
    <tr>
      
        <td width="100%">
            @{
                Html.RenderPartial("TeamCard", Model.TeamCard);
            }
        </td>
        <td style="  text-align:left">
            <div style="margin-right:40px;" hidden="hidden" id="divManager">
                @{
                    Html.RenderPartial("ManagerCard", Model.ManagerCard);
                }
            </div>
        </td>
    </tr>
    <tr>

        <td>

            @foreach (var item in Model.ListPlayersRoster.Where(x => x.Cutted != 1).OrderBy(x => x.IdPosition).ThenBy(x => x.CompleteName))
            {
                <div onclick="viewPlayerInfo(@item.Id)" style="cursor:pointer;float:left">
                    @{Html.RenderPartial("PlayerCard", item);}
                </div>
            }
        </td>
    </tr>

</table>
