﻿@model Liga.Domain.Entities.Players
<style type="text/css">
    .tablaPlayer {
        background-color: black;
        border: 1px solid gold;
        height: 40px;
        border-style: groove;
        border-radius: 3px 3px 3px 3px / 3px 3px 3px 3px;
        margin: 3px
    }

    table.tablaPlayer td, table.tablaPlayer tr {
        border: 0;
        font-family: 'Arial Black';
        font-size: xx-small;
    }
</style>

<table class="tablaPlayer">

    <tr>
        <td colspan="3" rowspan="2" style=" width:30px;height:20px; background-size:cover; background-image:url('@Model.FaceImage'); background-position:bottom; background-repeat:no-repeat;vertical-align:top"></td>
        <td style="font-size: xx-small;width:20px;font-size: xx-small; background-color:LightGoldenRodYellow;text-align:center;  font-size-adjust:inherit; font-weight:bold;color:black">

            @if (Model.LVNBAFranchis == null && Model.LVNBAFranchis.Icono)
            {
                <img width="20px" src="~/Images/Common/teams/Iconos/fa.png" />
            }
            else
            {
                <img width="20px" src="~/Images/Common/teams/Iconos/@Model.LVNBAFranchis.Icono" />
            }
        </td>

    </tr>
    <tr>
        <td style="font-size: xx-small;width:20px; background-color:FireBrick;text-align:center;font-weight:bold;color:white">@Model.Level2k</td>
    </tr>
    <tr>
        <td colspan="4" style="font-size: xx-small;background-color:White; text-align:center;font-weight:bold; color:black">@Model.AbrevName</td>
    </tr>
    <tr>
        <td colspan="4" style="font-size: xx-small;background-color:White; text-align:center;font-weight:bold; color:black">@Model.AbrevName</td>
    </tr>
</table>
