﻿@model Liga.Domain.Entities.Parameters

@{
    ViewBag.Title = "Editar Parametros";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Editar Parametros</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">

        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-md-4">
            <label>Plazo mínimo</label>
            @Html.TextBoxFor(model => model.PlazoMin, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PlazoMin)
        </div>

        <div class="form-group col-md-4">
            <label>Plazo máximo</label>
            @Html.TextBoxFor(model => model.PlazoMax, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PlazoMax)
        </div>
        <div>
            <label>Temporada en curso</label>
            @Html.TextBoxFor(model => model.Temporada, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Temporada)
        </div>


        <hr />
        <div class="form-group col-md-4">
            <label>Límite Salarial</label>
            @Html.TextBoxFor(model => model.LimiteSalarial, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LimiteSalarial)
        </div>

        <div class="form-group col-md-4">
            <label>Impuesto Lujo</label>
            @Html.TextBoxFor(model => model.ImpuestoLujo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ImpuestoLujo)
        </div>
        <div class="form-group col-md-4">
            <label>Super Tasa de Lujo</label>
            @Html.TextBoxFor(model => model.SuperTasaLujo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SuperTasaLujo)
        </div>

        <div class="form-group col-md-4">
            <label>Cifra no superable</label>
            @Html.TextBoxFor(model => model.CifraNoSuperable, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CifraNoSuperable)
        </div>

        <div class="form-group col-md-4">
            <label>Mid Level</label>
            @Html.TextBoxFor(model => model.MidLevel, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MidLevel)
        </div>

        <div class="form-group col-md-4">
            <label>Mini Mid Level</label>
            @Html.TextBoxFor(model => model.MiniMidLevel, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MiniMidLevel)
        </div>

        <hr />
        <div class="form-group col-md-4">
            <label>SIN USAR</label>
            @Html.TextBoxFor(model => model.NivelTraspaso, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NivelTraspaso)
        </div>

        <div class="form-group col-md-4">
            <label>Periodo agencia (1/0)</label>
            @Html.TextBoxFor(model => model.Agencia, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Agencia)
        </div>

        <div class="form-group col-md-4">
            <label>Regular Season (1/0)</label>
            @Html.TextBoxFor(model => model.RegularSeason, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RegularSeason)
        </div>

        <div class="form-group col-md-4">
            <label>Playoffs (1/0)</label>
            @Html.TextBoxFor(model => model.Playoffs, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Playoffs)
        </div>


        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Pretemporada)
            @Html.CheckBoxFor(model => model.Pretemporada)
            @Html.ValidationMessageFor(model => model.Pretemporada)
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Postemporada)
            @Html.CheckBoxFor(model => model.Postemporada)
            @Html.ValidationMessageFor(model => model.Postemporada)
        </div>

        <div class="form-group col-md-4">
            <label>Mercado abierto (1/0)</label>
            @Html.TextBoxFor(model => model.MercadoAbierto, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MercadoAbierto)
        </div>
        <hr />
        <div class="form-group col-md-4">
            <label>Máximo de traspasos offseason</label>
            @Html.TextBoxFor(model => model.OffSeasonMaxTrades, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OffSeasonMaxTrades)
        </div>

        <div class="form-group col-md-4">
            <label>Máximo de jugadores entrantes durante la offseason</label>
            @Html.TextBoxFor(model => model.OffSeasonMaxTradesIn, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OffSeasonMaxTradesIn)
        </div>

        <div class="form-group col-md-4">
            <label>Máximo de jugadores salientes durante la offseason</label>
            @Html.TextBoxFor(model => model.OffSeasonMaxTradesOut, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OffSeasonMaxTradesOut)
        </div>
        <div class="form-group col-md-4">
            <label>Máximo de traspasos</label>
            @Html.TextBoxFor(model => model.SeasonMaxTrades, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SeasonMaxTrades)
        </div>

        <div class="form-group col-md-4">
            <label>Máximo jugadores entrante durante temporada</label>
            @Html.TextBoxFor(model => model.SeasonMaxTradesIn, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SeasonMaxTradesIn)
        </div>

        <div class="form-group col-md-4">
            <label>Máximo jugadores salientes durante temporada</label>
            @Html.TextBoxFor(model => model.SeasonMaxTradesOut, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SeasonMaxTradesOut)
        </div>
        <hr />
        <div class="form-group col-md-4">
            <label>Traspasos máximos por equipo durante temporada si no ha hecho traspasos en verano</label>
            @Html.TextBoxFor(model => model.WithoutSummerMaxTrades, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WithoutSummerMaxTrades)
        </div>

        <div class="form-group col-md-4">
            <label>Máximo jugadores entrantes si no ha hecho traspasos en verano</label>
            @Html.TextBoxFor(model => model.WithoutSummerMaxTradesIn, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WithoutSummerMaxTradesIn)
        </div>

        <div class="form-group col-md-4">
            <label>Máximo jugadores salientes si no ha hecho traspasos en verano</label>
            @Html.TextBoxFor(model => model.WithoutSummerMaxTradesOut, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WithoutSummerMaxTradesOut)
        </div>
    </div>
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-success col-md-2 mr-1" type="submit" value="Editar Parametros" />
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
