﻿@model Liga.Domain.Entities.Parameters

@{
    ViewBag.Title = "Parámetros";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h3 class="mt-5">Parámetros LVNBA</h3>
    <h5>Desde aquí se modifican parametros generales que se utilizan en LVNBA </h5>


    <div class="row">
        <div class="form-group col-md-4">
            <h5>Temporada en curso</h5>
            @Html.TextBoxFor(model => model.Temporada, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Temporada)

        </div>
        <div class="form-group col-md-4">
            <h5>Límite Salarial</h5>
            @{var formated = String.Format("{0}", Model.LimiteSalarial);}
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
                @Html.TextBoxFor(model => model.LimiteSalarial, formated, new { id = "divLimitSalary", @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.LimiteSalarial)
        </div>
        <div class="form-group col-md-4">
            <h5>Impuesto de Lujo</h5>
            bla bla bla bla bla        bla bla bla bla bla <br />
            @{var formated2 = String.Format("{0}", Model.ImpuestoLujo);}
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
                @Html.TextBoxFor(model => model.ImpuestoLujo, formated2, new { id = "divLuxuryTax", @class = "form-control" })
            </div>

            @Html.ValidationMessageFor(model => model.ImpuestoLujo)

        </div>
        <div class="form-group col-md-4">
            <h5>Mid Level Exception</h5>
            @{var formated3 = String.Format("{0}", Model.MidLevel);}
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
                @Html.TextBoxFor(model => model.MidLevel, formated3, new { id = "divMidLevel", @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.MidLevel)

        </div>
        <div class="form-group col-md-4">
            <h5>Mini Mid Level Exception</h5>
            @{var formated4 = String.Format("{0}", Model.MiniMidLevel);}
            <div class="input-group-prepend">
                <div class="input-group-text">$</div>
                @Html.TextBoxFor(model => model.MiniMidLevel, formated4, new { id = "divMiniMidLevel", @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.MiniMidLevel)
        </div>

        <div class="form-group col-md-4">
            <h5>Nivel 2k del jugador traspasado</h5>
            @Html.TextBoxFor(model => model.NivelTraspaso, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NivelTraspaso)

        </div>
        <div class="form-group col-md-4">
            <h5>Periodo de pretemporada</h5>
            @Html.CheckBoxFor(model => model.Pretemporada)
            @Html.ValidationMessageFor(model => model.Pretemporada)

        </div>
        <div class="form-group col-md-4">
            <h5>Periodo de postemporada</h5>
            @Html.CheckBoxFor(model => model.Postemporada)
            @Html.ValidationMessageFor(model => model.Postemporada)

        </div>
    </div>
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-success col-md-2 mr-1" type="submit" value="Guardar" />
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", "Admin")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#divLimitSalary').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
        $('#divLuxuryTax').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
        $('#divMidLevel').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
        $('#divMiniMidLevel').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
    });
</script>