﻿@model Liga.Domain.Entities.PlayerCompleteInfo
<div style="width:100%">

<img width="128px" height="128px" src='@Url.Content("../Images/Common/awards.png")' />

<table border="0" style="background-color:black;float:right">
    <tr>
        <td>
            @foreach (var premio in Model.PlayerAwards.GroupBy(x=>x.IdAward))
            {
                var premiosYear = "";
                foreach( var aYear in premio)
                {
                    if (premiosYear == "")
                    {
                        premiosYear ="" + (aYear.Year + 1);
                    }
                    else
                    {
                        premiosYear = premiosYear + " || " + (aYear.Year + 1);
                    }
                }   
                    
                    
                <span>
                    <img width="100px" title="@premio.First().Award.Description &#13; Años: @premiosYear "  src="~/Images/Common/awards/@premio.First().Award.Image" />
                    <span style="color:yellow;font-size:25px;font-weight:bold">X </span><span style="color:yellow;font-size:50px;font-weight:bold">@premio.Count()</span>
                </span>
               
                
            }
        </td>
    </tr>
</table>
<table border="1" style=" text-align:center; background-color:gray; border:1; border-color:Gray; width:70%">
    <tr><td style="background-color: #6c757d; color:yellow;font-weight:bold" colspan="4">Desglose de Premios</td></tr>
    <tr style="color:Black; border-bottom-width:1px; border-bottom-color:Black; background-color: #6c757d;">
        <th>Fecha</th>
        <th>Temporada</th>
        <th>Equipo</th>
        <th>Premio</th>
    </tr>
    @foreach (var item in @Model.PlayerAwards)
    {
        <tr style="color:black; background-color: #dee2e6;">
            <td>@String.Format("{0:MMM yyyy}", @item.AwardDate)</td>
            <td>
                @if (item.AwardDate.Month > 8)
                {
                    var temp = @item.AwardDate.Year + 1;
                    <span>@item.AwardDate.Year / @temp </span>
                }
                else
                {
                    var temp = @item.AwardDate.Year - 1;
                    <span>@temp / @item.AwardDate.Year   </span>
                }
            </td>
            <td>
                @if (@item.LVNBAFranchis != null)
                {
                    <img width="30px" height="30px" src='@Url.Content("~/Images/Common/teams/Iconos/")@item.LVNBAFranchis.Icono' />
                }
            </td>
            <td>@item.Award.Description </td>
        </tr>
    }

</table>
    </div>
<br /><br /><br />
