﻿@model Liga.Domain.Entities.PlayerCompleteInfo

<style>
    ul.timeline {
        list-style-type: none;
        position: relative;
    }

        ul.timeline:before {
            content: ' ';
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 29px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }

        ul.timeline > li {
            margin: 20px 0;
            padding-left: 20px;
        }

            ul.timeline > li:before {
                content: ' ';
                background: white;
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                border: 3px solid #BD0000;
                left: 20px;
                width: 20px;
                height: 20px;
                z-index: 400;
            }
</style>
<div class="container mt-6 mb-6">
    <div class="row">
        <div class="col-md-3">
            <img width="200px" height="200px" src='@Url.Content("../Images/Common/teams/Iconos/")@Model.Player.LVNBAFranchis.Icono' />
        </div>
        <div class="col-md-6">
            <h4>Trayectoria del jugador:</h4>
            <ul class="timeline">

                @if (Model.PlayerHistories != null && Model.PlayerHistories.Count() > 0)
                {
                    foreach (var item in @Model.PlayerHistories)
                    {
                        <li class="row">
                            <!--<a target="_blank" href="https://www.totoprayogo.com/#">New Web Design</a>-->
                            <!--<a href="#" class="float-right">21 March, 2014</a>-->
                            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>-->
                            <div class="d-inline col-md-8">
                                @item.StartDate.ToShortDateString() |
                                @if (@item.EndDate != null)
                                {
                                    @item.EndDate.Value.ToShortDateString()
                                }
                            </div>
                            <div class="d-inline col-md-4">
                                <img width="30px" height="40px" src='@Url.Content("~/Images/Common/teams/Iconos/")@item.LVNBAFranchis.Icono' />
                            </div>
                            <div class="d-inline col-md-4">
                                @if (@item.IdTransfer != null)
                                {
                                    @item.Transfer.TransferDate
                                }
                                else
                                {
                                    @Html.Label("Pendiente.")
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<br /><br /><br />