﻿@model IEnumerable<Liga.Web.UI.Controllers.AlphabeticalMapping<Liga.Domain.Entities.Players>>

@{
    ViewBag.Title = "Jugadores";
    Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Content/specificStyles/AllPlayers.css")" type="text/css" />

<div class="mb-5 pb-5">
    <div id="player-listing">
        <div id="search-instructions">
            <h4>
                Usa los enlaces para encontrar a tus jugadores favoritos ordenados alfabéticamente por el apellido
            </h4>
        </div>
        <div id="jumpto" class="jumpto">
            <div class="row">
                <div class="luna">
                    <a href="#A" id="A_4">A</a>
                </div>
                <div class="luna">
                    <a href="#B" id="A_4">B</a>
                </div>
                <div class="luna"><a href="#C" id="A_4">C</a></div>
                <div class="luna"><a href="#D" id="A_4">D</a></div>
                <div class="luna"><a href="#E" id="A_4">E</a></div>
                <div class="luna"><a href="#F" id="A_4">F</a></div>
                <div class="luna"><a href="#G" id="A_4">G</a></div>
                <div class="luna"><a href="#H" id="A_4">H</a></div>
                <div class="luna"><a href="#I" id="A_4">I</a></div>
                <div class="luna"><a href="#J" id="A_4">J</a></div>
                <div class="luna"><a href="#K" id="A_4">K</a></div>
                <div class="luna"><a href="#L" id="A_4">L</a></div>
                <div class="luna"><a href="#M" id="A_4">M</a></div>
                <div class="luna"><a href="#N" id="A_4">N</a></div>
                <div class="luna"><a href="#O" id="A_4">O</a></div>
                <div class="luna"><a href="#P" id="A_4">P</a></div>
                <div class="luna"><a href="#Q" id="A_4">Q</a></div>
                <div class="luna"><a href="#R" id="A_4">R</a></div>
                <div class="luna"><a href="#S" id="A_4">S</a></div>
                <div class="luna"><a href="#T" id="A_4">T</a></div>
                <div class="luna"><a href="#U" id="A_4">U</a></div>
                <div class="luna"><a href="#V" id="A_4">V</a></div>
                <div class="luna"><a href="#W" id="A_4">W</a></div>
                <div class="luna"><a href="#X" id="A_4">X</a></div>
                <div class="luna"><a href="#Y" id="A_4">Y</a></div>
                <div class="luna"><a href="#Z" id="A_4">Z</a></div>
            </div>


            <div id="directorio">
                @foreach (var item in Model)
                {
                    <div id="@item.FirstLetter" class="row">
                        <h3 class="h3 ml-3">@item.FirstLetter</h3>
                    </div>
                    <div class="row">
                        @{
                            int iTotal = item.Items.Count();
                            foreach (var player in item.Items)
                            {
                                <div class="col-md-3">
                                    <a href="@Url.Action("GetPlayerInfoSinModal","PlayerInfo", new {  idPlayer = player.Id })" id="A_9">@player.CompleteName</a>
                                </div>
                            }
                        }
                    </div>
                    <a class="subir" href="#top" id="A_5"><img title="Ir Arriba" src="~/Images/top.png" /></a>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>