﻿@model Liga.Domain.Entities.PlayerCompleteInfo
<script type="text/javascript">

    jQuery(document).ready(function () {


    });
</script>
<style>
    .teamCuttedStyle {
        color: white;
        font-weight: bold;
        background-color: violet;
    }

    .teamBRStyle {
        color: black;
        font-weight: bold;
        background-color: yellow;
    }

    .teamTOStyle {
        color: white;
        font-weight: bold;
        background-color: red;
    }

    .teamPOStyle {
        color: white;
        font-weight: bold;
        background-color: blue;
    }

    .teamQOStyle {
        color: white;
        font-weight: bold;
        background-color: green;
    }

    .tituloStatus {
        font-weight: bold;
        color: yellow;
        text-decoration: underline;
        text-underline-position: initial;
        font-family: 'Arial Black';
        font-size: 10pt;
        margin-bottom: 10px;
    }
</style>
<div style="width:100%">

    <table border="1" style=" text-align:center; background-color:black; border:1; border-color:black; width:100%">
        <tr style="color:white; border-bottom-width:1px; border-bottom-color:Black; background-color: black;">
            <th>BR</th>
            @foreach (var playerSalarie in Model.Player.PlayersSalariesFull)
            {
                if (playerSalarie.DateSalarie.Year >= ViewBag.Season)
                {
                    <th>Salario @playerSalarie.DateSalarie.Year</th>
                }
            }
        </tr>
        <tr style="color:black; background-color: #dee2e6;">
            <td id="BirdRights">@Html.DisplayFor(model => model.Player.BirdRights)</td>
            @foreach (var playerSalarie in Model.Player.PlayersSalariesFull)
            {
                if (playerSalarie.DateSalarie.Year >= ViewBag.Season)
                {
                    <td>@string.Format("{0:$#,#}", playerSalarie.Salarie)</td>
                }
            }
        </tr>
        <tr style="visibility:hidden;visibility:collapse; color:black; background-color: #dee2e6;">
            <td></td>
            @foreach (var playerSalarie in Model.Player.PlayersSalariesFull)
            {
                if (playerSalarie.DateSalarie.Year >= ViewBag.Season)
                {
                    <td>@string.Format("{0:$#,#}", playerSalarie.SalaryCondition.Abrev)</td>
                }
            }
        </tr>

    </table>
    <table style="width:100%">
        <tr>
            @if (@Model.Player.BirdRights > 2)
            {
                <td style="width:100% ;font-size:smaller;color:yellow; font-weight:bold" colspan="2">Bird Rights: SI</td>

            }
            else
            {
                <td style="width:100% ;font-size:smaller;color:green; font-weight:bold" colspan="2">Bird Rights: NO(@Model.Player.BirdRights)</td>
            }
        </tr>
        <tr>

            <td style="width:25%">
                <p style=" font-size:medium; font-weight:bold"> Situación: </p>
                <p style="color:Red; font-size:10pt; font-weight:bold"> @Html.DisplayFor(model => model.Player.PlayersState.State)</p>

            </td>
            <td valign="top" style="width:75%" rowspan="1"><p style=" font-size:larger; font-weight:bold"></p>@Html.DisplayFor(model => model.Player.ManagerAdvert)</td>
        </tr>
        <tr>
            <td style="width:25%">
                <p style=" font-size:medium; font-weight:bold"> Rol actual: </p>
                <p style="color:Red; font-size:10pt; font-weight:bold"> @Html.DisplayFor(model => model.Player.PlayersRole.Rol)</p>

            </td>
            <td valign="top" style="width:75%" rowspan="1"><p style=" font-size:larger; font-weight:bold">Opinión del manager:</p>@Html.DisplayFor(model => model.Player.ManagerOpinion)</td>

        </tr>
        <tr>

            <td colspan="2" valign="top" style="width:100%" rowspan="1"><p style=" font-size:larger; font-weight:bold">Necesidades del equipo:</p>@Html.DisplayFor(model => model.Player.LVNBAFranchis.Needs)</td>

        </tr>
    </table>



</div>

