﻿@model Liga.Domain.Entities.PlayerCompleteInfo
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="card text-white bg-dark mb-3 col-md-3 np mr-3" >
            <div class="card-header"><h5 style="font-size: 16px;" class="card-title">Estadísticas Actuales</h5></div>
            <div class="card-body">
                <table class="table-bordered" style="width:100%; background-color: #f7f7f7;">
                    <tr>
                        <td style="text-align:center; color:black; font-size:larger; font-weight:bold"></td>
                        <td style="text-align:center;color:black; font-size:larger; font-weight:bold">RS</td>
                        <td style="text-align:center;color:black; font-size:larger; font-weight:bold">PO</td>
                    </tr>
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">PPG</span></td>
                        <td style="text-align:center; font-size:larger; color: black;">@Html.DisplayFor(model => model.PlayerStatThisRS.PPG)</td>
                        <td style="text-align:center; font-size:larger; color: black;">@Html.DisplayFor(model => model.PlayerStatThisPlayoffs.PPG)</td>
                    </tr>
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">RPG</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.PlayerStatThisRS.RPG)</td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.PlayerStatThisPlayoffs.RPG)</td>
                    </tr>
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">APG</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.PlayerStatThisRS.APG)</td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.PlayerStatThisPlayoffs.APG)</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 col-md-3 np mr-3" >
            <div class="card-header"><h5 style="font-size: 16px;" class="card-title">Caracteristicas Jugador</h5></div>
            <div class="card-body">
                <table class="table-bordered" style="width:100%; background-color: #f7f7f7;">
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">Edad</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@String.Format("{0:d}", Model.Player.Age)</td>
                    </tr>
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">Altura</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.Player.Height) cms</td>
                    </tr>
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">Peso</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.Player.Weight) kgs</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 col-md-3 np mr-3" >
            <div class="card-header"><h5 style="font-size: 16px;" class="card-title">Datos Jugador</h5></div>
            <div class="card-body">
                <table class="table-bordered" style="width:100%; background-color: #f7f7f7;">
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">Rol</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.Player.PlayersRole.Rol)</td>
                    </tr>
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">Situacion</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.Player.PlayersState.State)</td>
                    </tr>
                    <tr>
                        <td><span style="padding-left:1px; padding-right:1px;text-align:center; font-weight:bold; font-size:10pt;color:black;">Años Pro</span></td>
                        <td style="text-align:center; font-size:larger; color: black; font-size:10pt;">@Html.DisplayFor(model => model.Player.YearsPro)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    @{
        Html.RenderAction("StatsBySeason", "PlayerInfo", new { idPlayer = Model.Player.Id });
    }
    @{
        Html.RenderAction("StatsByTeam", "PlayerInfo", new { idPlayer = Model.Player.Id });
    }

</div>
