﻿@model Liga.Domain.Entities.PlayersSalaries

@{
    ViewBag.Title = "Salarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<script type="text/javascript">
    $(document).ready(function () {
        $('#Id').change(function () {
            var selectedPlayer = $(this).val();
            if (selectedPlayer != null && selectedPlayer != '') {
                $.getJSON('@Url.Action("GetTeamByPlayer")', { idPlayer: selectedPlayer }, function (idTeam) {
                    $("#IdLVNBAFranchises").val(idTeam);
                });
            }
        });
    });
</script>
<h2>Salarios</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-md-4">
            @Html.Label("Equipo")
            @Html.DropDownList("IdLVNBAFranchises", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdLVNBAFranchises)
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Salario 1")
            @{var formated = String.Format("{0:#}", Model.Salary1);}
            @Html.TextBoxFor(model => model.Salary1, formated, new { id = "divSal1", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salary1)
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Condición 1")
            @Html.DropDownList("IdCondition1", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition1)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Salario 2")
            @{formated = String.Format("{0:#}", Model.Salary2);}
            @Html.TextBoxFor(model => model.Salary2, formated, new { id = "divSal2", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salary2)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Condición 2")
            @Html.DropDownList("IdCondition2", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition2)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Salario 3")
            @{formated = String.Format("{0:#}", Model.Salary3);}
            @Html.TextBoxFor(model => model.Salary3, formated, new { id = "divSal3", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salary3)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Condición 3")
            @Html.DropDownList("IdCondition3", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition3)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Salario 4")
            @{formated = String.Format("{0:#}", Model.Salary4);}
            @Html.TextBoxFor(model => model.Salary4, formated, new { id = "divSal4", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salary4)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Condición 4")
            @Html.DropDownList("IdCondition4", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition4)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Salario 5")
            @{formated = String.Format("{0:#}", Model.Salary5);}
            @Html.TextBoxFor(model => model.Salary5, formated, new { id = "divSal5", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salary5)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Condición 5")
            @Html.DropDownList("IdCondition5", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition5)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Salario 6")
            @{formated = String.Format("{0:#}", Model.Salary6);}
            @Html.TextBoxFor(model => model.Salary6, formated, new { id = "divSal6", @class = "form-control" })

            @Html.ValidationMessageFor(model => model.Salary6)
        </div>
        <div class="form-group col-md-4">
            @Html.Label("Condición 6")
            @Html.DropDownList("IdCondition6", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition6)
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.EuropeTeam)
            @Html.TextBoxFor(model => model.EuropeTeam, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EuropeTeam)
        </div>
    </div>
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-success col-md-2 mr-1" type="submit" value="Crear" />
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
    </div>
}


@section Scripts {
    @Scripts.Render("~/jqueryval")
}
