﻿@model Liga.Domain.Entities.Players

@{
    ViewBag.Title = "Salarios";
    Layout = "~/Views/Shared/_WebOneColumnForStats.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Borrar salario de @Html.DisplayFor(model => model.CompleteName) </h2>
        </div>
        <div class="col-md-12">

            <h3>Está seguro?</h3>
            <fieldset>
                <legend>Salarios</legend>
                <table class="table table-striped small">
                    <thead class="thead-dark">
                        <tr>
                            <th>Año</th>
                            <th>Salario</th>
                            <th>Condicion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (var salario in Model.PlayersSalariesFull)
                            {
                                <tr>
                                    <td>@salario.DateSalarie.Year</td>
                                    <td>@salario.Salarie</td>
                                    <td>@salario.SalaryCondition.Condition</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </fieldset>
            @using (Html.BeginForm("DeleteConfirmed", "PlayersSalaries", new { id = Model.Id }))
            {
                @Html.AntiForgeryToken()
                <p>
                    <input class="btn btn-outline-danger col-md-2 mr-1" type="submit" value="Borrar" /> |
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
                </p>
            }
            <br />
            <br />
        </div>
    </div>
</div>