﻿@model Liga.Domain.Entities.PlayerSalariesModel

@{
    ViewBag.Title = "Salarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var Today = DateTime.Today;

}
<script type="text/javascript">
    $(document).ready(function () {
        $('#divSal1').autoNumeric('init', { aSep: ',', aDec: '', mDec: '0' });
        $('#divSal2').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
        $('#divSal3').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
        $('#divSal4').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
        $('#divSal5').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
    });
</script>
<h2>Editar salario de   @Html.DisplayFor(model => model.CompleteName) </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CompleteName)

        <div class="form-group col-md-12">
            @Html.Label("Equipo")
            @Html.DropDownList("ActualTeam", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ActualTeam)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Salario" + Model.Today)
            @{var formated = String.Format("{0:#}", Model.Salarie1);}
            @Html.TextBoxFor(model => model.Salarie1, formated, new { id = "divSal1", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salarie1)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Condición")
            @Html.DropDownList("IdCondition1", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition1)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Salario" + (Model.Today + 1))
            @{formated = String.Format("{0:#}", Model.Salarie2);}
            @Html.TextBoxFor(model => model.Salarie2, formated, new { id = "divSal2", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salarie2)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Condición")
            @Html.DropDownList("IdCondition2", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition2)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Salario" + (Model.Today + 2))
            @{formated = String.Format("{0:#}", Model.Salarie3);}
            @Html.TextBoxFor(model => model.Salarie3, formated, new { id = "divSal3", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salarie3)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Condición")
            @Html.DropDownList("IdCondition3", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition3)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Salario" + (Model.Today + 3))
            @{formated = String.Format("{0:#}", Model.Salarie4);}
            @Html.TextBoxFor(model => model.Salarie4, formated, new { id = "divSal4", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salarie4)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Condición")
            @Html.DropDownList("IdCondition4", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition4)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Salario" + (Model.Today + 4))
            @{formated = String.Format("{0:#}", Model.Salarie5);}
            @Html.TextBoxFor(model => model.Salarie5, formated, new { id = "divSal5", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Salarie5)
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Condición")
            @Html.DropDownList("IdCondition5", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCondition5)
        </div>
    </div>
    <div class="row pb-5 justify-content-end">
        <input class="btn btn-outline-success col-md-2 mr-1" type="submit" value="Editar" />
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-outline-dark col-md-2" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
