﻿@model Liga.Domain.Entities.PlayersSalaries

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#someID_HTML5').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
            //$('#divSal1').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
            //$('#divLuxury').autoNumeric('init', { aSep: '.', aDec: ',', aSign: '$ ', mDec: '0' });
            $('#divSal1').autoNumeric('init', { aSep: ',', aDec: '', mDec: '0' });
            $('#divSal2').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
            $('#divSal3').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
            $('#divSal4').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
            $('#divSal5').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });
            $('#divSal6').autoNumeric('init', { aSep: ',', aDec: '.', mDec: '0' });

            

        });
    </script>
<h2>Editar salario de   @Html.DisplayFor(model => model.Player.CompleteName) </h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PlayersSalaries</legend>

        @Html.HiddenFor(model => model.Id)
    <table>
        <tr>
          <td>
            <div class="editor-label">
                @Html.Label("Equipo")
            </div>
        <div class="editor-field">
            @Html.DropDownList("IdLVNBAFranchises", String.Empty)
            @Html.ValidationMessageFor(model => model.IdLVNBAFranchises)
        </div>
        </td>
        <td></td>
        </tr>
        <tr>
         <td>
            <div class="editor-label">
                @Html.Label("Salario 1")
            </div>
            <div class="editor-field">
                @{var formated = String.Format("{0:#}", Model.Salary1);}
                @Html.TextBoxFor(model => model.Salary1,formated, new { id = "divSal1" })
                @Html.ValidationMessageFor(model => model.Salary1)

                @*@Html.TextBoxFor(model => model.Salary1, null, new { id = "divSal1" })*@

            </div>
        </td>
        <td>
        <div class="editor-label">
                @Html.Label("Condición 1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCondition1", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCondition1)
        </div>

        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
                @Html.Label("Salario 2")
        </div>
        <div class="editor-field">
                @{formated = String.Format("{0:#}", Model.Salary2);}
                @Html.TextBoxFor(model => model.Salary2,formated, new { id = "divSal2" })
            @Html.ValidationMessageFor(model => model.Salary2)
        </div>
        </td>
        <td>
         <div class="editor-label">
                @Html.Label("Condición 2")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCondition2", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCondition2)
        </div>

        </td>
        </tr>
        <tr>
        <td>
        <div class="editor-label">
                @Html.Label("Salario 3")
        </div>
        <div class="editor-field">
                @{formated = String.Format("{0:#}", Model.Salary3);}
                @Html.TextBoxFor(model => model.Salary3,formated, new { id = "divSal3" })
                @Html.ValidationMessageFor(model => model.Salary3)
        </div>
        </td>
            <td>
        <div class="editor-label">
                @Html.Label("Condición 3")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCondition3", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCondition3)
        </div>


            </td>
    </tr>
        <tr>

<td>
        <div class="editor-label">
                @Html.Label("Salario 4")
        </div>
        <div class="editor-field">
                @{formated = String.Format("{0:#}", Model.Salary4);}
                @Html.TextBoxFor(model => model.Salary4,formated, new { id = "divSal4" })
            @Html.ValidationMessageFor(model => model.Salary4)
        </div>
</td>
<td>
    
        <div class="editor-label">
                @Html.Label("Condición 4")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCondition4", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCondition4)
        </div>

</td></tr>
        <tr>
                <td>
        <div class="editor-label">
                @Html.Label("Salario 5")
        </div>
        <div class="editor-field">
                @{formated = String.Format("{0:#}", Model.Salary5);}
                @Html.TextBoxFor(model => model.Salary5,formated, new { id = "divSal5" })
            @Html.ValidationMessageFor(model => model.Salary5)
        </div>
                </td>
            <td>
                
        <div class="editor-label">
                @Html.Label("Condición 5")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCondition5", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCondition5)
        </div>

            </td>
</tr>
        <tr>
        <td>
        <div class="editor-label">
                @Html.Label("Salario 6")
        </div>
        <div class="editor-field">
                @{formated = String.Format("{0:#}", Model.Salary6);}
                @Html.TextBoxFor(model => model.Salary6,formated, new { id = "divSal6" })

            @Html.ValidationMessageFor(model => model.Salary6)
        </div>
            </td>
        <td>
                
        <div class="editor-label">
                @Html.Label("Condición 6")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCondition6", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCondition6)
        </div>

            </td>
 </tr>
        <tr>
            <td>        <div class="editor-label">
            @Html.LabelFor(model => model.EuropeTeam)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EuropeTeam)
            @Html.ValidationMessageFor(model => model.EuropeTeam)
        </div></td>
            <td></td>
        </tr>









        </table>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "PlayerActions","Players")
</div>

@section Scripts {
    @Scripts.Render("~/jqueryval")
}
