﻿@model PagedList.IPagedList<Liga.Domain.Entities.PlayersSalaries>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Salarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#salary1').autoNumeric('init', { aSep: '.', aDec: ',', mDec: '' });

        });
    </script>
<h2>Salarios Jugadores</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
@using (Html.BeginForm("Index", "PlayersSalaries", FormMethod.Get))
{
    <p>
        Buscar por nombre jugador o equipo: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="Buscar" />
    </p>
}
<table style="float:right;width:750px">
    <tr>
        <th>
          @Html.ActionLink("Nombre", "Index", new { sortOrder=ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Equipo", "Index", new { sortOrder = ViewBag.TeamSortParm, currentFilter=ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Salario 1")
        </th>
        <th>
            @Html.DisplayName("C")
        </th>
        <th>
            @Html.DisplayName("Salario 2")
        </th>
        <th>
            @Html.DisplayName("C")
        </th>

        <th>
            @Html.DisplayName("Salario 3")
        </th>
        
        <th>
            @Html.DisplayName("C")
        </th>
        <th>
            @Html.DisplayName("Salario 4")
        </th>
        <th>
            @Html.DisplayName("C")
        </th>
        <th>
            @Html.DisplayName("Salario 5")
        </th> 
        <th>
            @Html.DisplayName("C")
        </th>
        <th>
            @Html.DisplayName("Salario 6")
        </th>
        <th>
            @Html.DisplayName("C")
        </th>
        <th>
            @Html.DisplayName("Equipo europeo")
        </th>
        <th></th>
    </tr>
    <tr><td colspan="15"><hr /></td></tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.CompleteName)
        </td>
         <td >
            @Html.DisplayFor(modelItem => item.LVNBAFranchis.Abbreviation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary1,"MyDecimalTemplate")
        </td>
        <td style="color:red">
            @Html.DisplayFor(modelItem => item.SalaryCondition.Abrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary2,"MyDecimalTemplate")
        </td>
        <td style="color:red">
            @Html.DisplayFor(modelItem => item.SalaryCondition1.Abrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary3,"MyDecimalTemplate")
        </td> 
        <td style="color:red">
            @Html.DisplayFor(modelItem => item.SalaryCondition2.Abrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary4,"MyDecimalTemplate")
        </td>
        <td style="color:red">
            @Html.DisplayFor(modelItem => item.SalaryCondition3.Abrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary5,"MyDecimalTemplate")
        </td>
        <td style="color:red">
            @Html.DisplayFor(modelItem => item.SalaryCondition4.Abrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary6,"MyDecimalTemplate")
        </td>
        <td style="color:red">
            @Html.DisplayFor(modelItem => item.SalaryCondition5.Abrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EuropeTeam)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p style="color:red; font-weight:bold">
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</p>
@Html.PagedListPager(Model , page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter }))
