﻿@model PagedList.IPagedList<Liga.Domain.Entities.Players>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Salarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var Today = (int)ViewBag.Today;
    var Today1 = (int)ViewBag.Today1;
    var Today2 = (int)ViewBag.Today2;
    var Today3 = (int)ViewBag.Today3;
    var Today4 = (int)ViewBag.Today4;
}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Salarie').autoNumeric('init', { aSep: '.', aDec: ',', mDec: '' });

        });
    </script>
<h2>Salarios Jugadores</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
@using (Html.BeginForm("Index", "Players", FormMethod.Get))
{
    <p>
        Buscar por nombre jugador o equipo: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)  
        <input type="submit" value="Buscar" />
    </p>
}
<div class="form-group col-md-12">
    <table class="table table-striped small">
        <tr>
            <th>
                @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Equipo", "Index", new { sortOrder = ViewBag.TeamSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayName("Salario " + Today)
            </th>
            <th>
                @Html.DisplayName("C")
            </th>
            <th>
                @Html.DisplayName("Salario" + Today1)
            </th>
            <th>
                @Html.DisplayName("C")
            </th>

            <th>
                @Html.DisplayName("Salario" + Today2)
            </th>

            <th>
                @Html.DisplayName("C")
            </th>
            <th>
                @Html.DisplayName("Salario" + Today3)
            </th>
            <th>
                @Html.DisplayName("C")
            </th>
            <th>
                @Html.DisplayName("Salario" + Today4)
            </th>
            <th>
                @Html.DisplayName("C")
            </th>
            <!--<th>
            Html.DisplayName("Equipo europeo")
        </th>-->
            <th></th>
        </tr>
        <tr><td colspan="15"><hr /></td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompleteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LVNBAFranchis.Abbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today)).Salarie, "MyDecimalTemplate")
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today)).SalaryCondition.Abrev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today1)).Salarie, "MyDecimalTemplate")
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today1)).SalaryCondition.Abrev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today2)).Salarie, "MyDecimalTemplate")
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today2)).SalaryCondition.Abrev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today3)).Salarie, "MyDecimalTemplate")
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today3)).SalaryCondition.Abrev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today4)).Salarie, "MyDecimalTemplate")
                </td>
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.PlayersSalariesFull.ToList().Find(x => (x.IdPlayer == item.Id) && (x.DateSalarie.Year == Today4)).SalaryCondition.Abrev)
                </td>
                <!--<td>
                Html.DisplayFor(modelItem => item.EuropeTeam)
            </td>-->
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<div class="form-group col-md-10">
    <p style="color:red; font-weight:bold">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </p>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
<br><br><br>