﻿@model IEnumerable<Liga.Domain.Entities.SalaryTeamInfo>

    @{
        ViewBag.Title = "SalaryInfoTeam";
        Layout = "~/Views/Shared/_WebWithoutColumnsLayout.cshtml";
        var anhio = (int)ViewBag.Today;
        int c = 1;
    }

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" id="cards">
                <div class="row">
                    @foreach (var salaryInfo in Model)
                    {
                        <div class="card text-white bg-dark col-md-2 col-sm-12" style="border-right: solid 1px white;" id="card_@c">
                            <div class="card-header">
                                <img height="30" width="30" class="rounded-circle" src="~/Images/Common/teams/Mini/@salaryInfo.Franchise.Icono.Replace(".png", ".jpg")" />
                                @salaryInfo.Franchise.NickName
                            </div>
                            <div class="card-body">
                                <p><span>Pres.: </span><span style="color: yellow;font-weight:bold"> @salaryInfo.Franchise.PlayersSalaries.Where(x => x.DateSalarie.Year == anhio).Sum(x => x.Salarie).ToString().Replace(",00", "")</span></p>
                                <p><span>Mid L.: </span><span class="midLevel" style="color:yellow;font-weight:bold"> @salaryInfo.FranchiseParams.MidLevelWasted.ToString().Replace(",00", "")</span></p>
                                <p><span>Tr. Real: </span><span style="color:yellow; font-weight:bold"> (@salaryInfo.FranchiseParams.OffSeasonTrades) + (@salaryInfo.FranchiseParams.SeasonTrades) </span></p>
                                <button type="button" class="btn btn-danger btn-sm" id="left_@salaryInfo.Franchise.Id" style="float: left;" onclick="r(@salaryInfo.Franchise.Id)">R</button>
                                <button type="button" class="btn btn-primary btn-sm" id="right_@salaryInfo.Franchise.Id" style="float: right;" onclick="s(@salaryInfo.Franchise.Id)">S</button>
                            </div>
                        </div>
                        c++;
                    }
                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <div class="row" id="compare">
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <script>
        var exec = 0;
        var cards_size = @Model.Count();
        var year = @anhio;

        function r(id) {
            if (exec == 0) {
                exec++;
                var divCards = document.getElementById("cards");
                divCards.setAttribute("class", "col-md-6 col-sm-2");
                for (var i = 1; i <= cards_size; i++) {
                    var divCard = document.getElementById("card_"+i);
                    divCard.setAttribute("class", "card text-white bg-dark col-md-4 col-sm-12");
                }
            }
            var divRow;
            divRow = document.getElementById("card3" + id);
            if (divRow == null || divRow.firstChild == null) {
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: '@Url.Action("GetR", "PlayersSalaries")',
                    data: { idFranchise: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        var divCard3;
                        var divTittle;
                        var ul = document.createElement("ul");
                        ul.setAttribute("style", "font-size: 12px; padding: 0; list-style-type: none;");
                        var h5 = document.createElement("h7");
                        h5.setAttribute("style", "background-color: darkorange; font-size: 12px; font-weight: bold;");
                        var i = 0;
                        var count = data.length;
                        var isNewBlock = true;
                        var divRow;
                        var franchiseName;
                        var franchiseId;
                        var addTittle = false;
                        data.forEach(function (element) {
                            if (i == 0) {
                                franchiseName = element.FranchiseName;
                                franchiseId = element.IdFranchise;
                                divRow = document.getElementById("temp" + element.IdFranchise);
                                if (divRow == null) {
                                    divRow = document.createElement("div");
                                    divRow.setAttribute("class", "row");
                                    divRow.setAttribute("id", "temp" + element.IdFranchise);
                                } else {
                                    isNewBlock = false;
                                }
                                divCard3 = document.getElementById("card3" + element.IdFranchise);
                                if (divCard3 == null) {
                                    divCard3 = document.createElement("div");
                                    divCard3.setAttribute("class", "card bg-light col-md-3");
                                    divCard3.setAttribute("id", "card3" + element.IdFranchise);
                                }
                                divTittle = document.getElementById("tittle" + element.IdFranchise);
                                if (divTittle == null) {
                                    divTittle = document.createElement("div");
                                    divTittle.setAttribute("class", "card bg-light col-md-12");
                                    divTittle.setAttribute("id", "tittle" + element.IdFranchise);
                                }
                                tittleFranchise = document.getElementById("tittle_franchise" + element.IdFranchise);
                                if (tittleFranchise == null) {
                                    addTittle = true;
                                }
                                var textH5 = document.createTextNode("Rondas:");
                                h5.appendChild(textH5);
                            }
                            var liAnhio = document.createElement("li");
                            if (i == (count - 1)) liAnhio.setAttribute("style", "border-top: solid 1px black; border-bottom: solid 1px black;");
                            else liAnhio.setAttribute("style", "border-top: solid 1px black;");
                            var textAnhio = document.createTextNode(element.Anhio + " - " + element.Temporada);
                            liAnhio.appendChild(textAnhio);
                            ul.appendChild(liAnhio);
                            i++;
                        });

                        divCard3.appendChild(h5);
                        divCard3.appendChild(ul);

                        if (addTittle) {
                            var tittle = document.createElement("h7");
                            tittle.setAttribute("style", "background-color: darkorange; font-weight: bold;");
                            var textTittle = document.createTextNode("Franquisia: " + franchiseName);
                            tittle.setAttribute("id", "tittle_franchise" + franchiseId);
                            tittle.appendChild(textTittle);
                            divTittle.appendChild(tittle);
                        }

                        if (isNewBlock) {
                            var divContainer = document.createElement("div");
                            divContainer.setAttribute("class", "col-md-12");
                            //divContainer.setAttribute("style", "border: 1px solid gainsboro; border-radius: 8px;");
                            divRow.appendChild(divTittle);
                            divRow.appendChild(divCard3);
                            //divRow.appendChild(divCard9);
                            divContainer.appendChild(divRow);
                            document.getElementById("compare").appendChild(divContainer);
                        }
                    },
                    error: function () {
                        alert('Por favor intente de nuevo.');
                    }
                });
            } else {
                while (divRow.firstChild) {
                    divRow.removeChild(divRow.firstChild);
                }
                if (isLastChild(id)) {
                    var div;
                    divTittle = document.getElementById("tittle" + id);
                    while (divTittle.firstChild) {
                        divTittle.removeChild(divTittle.firstChild);
                    }
                }
            }
        }

        function isLastChild(id) {
            var divChildCard3 = document.getElementById("card3" + id);
            var divChildCard9 = document.getElementById("card9" + id);
            if ((divChildCard3 != null && divChildCard3.firstChild != null) || (divChildCard9 != null && divChildCard9.firstChild != null)) {
                return false;
            } else {
                return true;
            }
        }

        function s(id) {
            if (exec == 0) {
                exec++;
                var divCards = document.getElementById("cards");
                divCards.setAttribute("class", "col-md-6 col-sm-2");
                for (var i = 1; i <= cards_size; i++) {
                    var divCard = document.getElementById("card_" + i);
                    divCard.setAttribute("class", "card text-white bg-dark col-md-4 col-sm-12");
                }
            }
            var divRow;
            divRow = document.getElementById("card9" + id);
            if (divRow == null || divRow.firstChild == null) {
                var idFran = id;
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: '@Url.Action("GetS", "PlayersSalaries")',
                    data: { idFranchise: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var isNewBlock = true;
                        var isNewCard9 = true;
                        var divCard9;
                        var divCard3;
                        var divTittle;

                        var table = document.createElement("table");
                        table.setAttribute("style", "font-size: 12px;");
                        var tr1 = document.createElement("tr");

                        var divRow;
                        var count = 0;

                        var total1 = 0;
                        var total2 = 0;
                        var total3 = 0;
                        var total4 = 0;
                        var total5 = 0;
                        var franchiseName;
                        var franchiseId;
                        var addTittle = false;
                        data.forEach(function (element) {
                            if (count == 0) {
                                franchiseName = element.FranchiseName;
                                franchiseId = element.IdFranchise;
                                divRow = document.getElementById("temp" + element.IdFranchise);
                                var th0 = document.createElement("td");
                                th0.setAttribute("style", "width: 122px; background-color: darkorange; font-size: 12px; font-weight: bold;");
                                var textTh0 = document.createTextNode("Nombre");
                                th0.appendChild(textTh0);
                                var th1 = document.createElement("td");
                                th1.setAttribute("style", "background-color: darkorange; font-size: 12px; font-weight: bold;");
                                var textTh1 = document.createTextNode(year);
                                th1.appendChild(textTh1);
                                var th2 = document.createElement("td");
                                th2.setAttribute("style", "background-color: darkorange; font-size: 12px; font-weight: bold;");
                                var textTh2 = document.createTextNode(year + 1);
                                th2.appendChild(textTh2);
                                var th3 = document.createElement("td");
                                th3.setAttribute("style", "background-color: darkorange; font-size: 12px; font-weight: bold;");
                                var textTh3 = document.createTextNode(year + 2);
                                th3.appendChild(textTh3);
                                var th4 = document.createElement("td");
                                th4.setAttribute("style", "background-color: darkorange; font-size: 12px; font-weight: bold;");
                                var textTh4 = document.createTextNode(year + 3);
                                th4.appendChild(textTh4);
                                var th5 = document.createElement("td");
                                th5.setAttribute("style", "background-color: darkorange; font-size: 12px; font-weight: bold;");
                                var textTh5 = document.createTextNode(year + 4);
                                th5.appendChild(textTh5);
                                tr1.appendChild(th0);
                                tr1.appendChild(th1);
                                tr1.appendChild(th2);
                                tr1.appendChild(th3);
                                tr1.appendChild(th4);
                                tr1.appendChild(th5);
                                table.appendChild(tr1);
                            }
                            if (divRow != null) { // Se agrego columna 3 anteriormente
                                card3 = document.getElementById("card3" + idFran);
                                if (card3 == null) {
                                    isNewBlock = true;
                                } else {
                                    isNewBlock = false;
                                }
                            }
                            divCard9 = document.getElementById("card9" + idFran);
                            if (divCard9 == null) {
                                isNewCard9 = true;
                                divCard9 = document.createElement("div");
                                divCard9.setAttribute("class", "card bg-light col-md-9");
                                divCard9.setAttribute("id", "card9" + idFran);
                            } else {
                                isNewCard9 = false;
                            }

                            divTittle = document.getElementById("tittle" + element.IdFranchise);
                            if (divTittle == null) {
                                divTittle = document.createElement("div");
                                divTittle.setAttribute("class", "card bg-light col-md-12");
                                divTittle.setAttribute("id", "tittle" + element.IdFranchise);
                            }
                            tittleFranchise = document.getElementById("tittle_franchise" + element.IdFranchise);
                            if (tittleFranchise == null) {
                                addTittle = true;
                            }

                            var tr = document.createElement("tr");

                            var td0 = document.createElement("td");
                            textTd0 = document.createTextNode(element.Nombre);
                            td0.appendChild(textTd0);

                            var td1 = document.createElement("td");
                            var sal1 = element.Salario.find(function (sal) {
                                return sal.Anho == year;
                            });
                            var textTd1;
                            if (sal1 == null || sal1 == undefined) {
                                textTd1 = document.createTextNode("0");
                            } else {
                                textTd1 = document.createTextNode(sal1.Monto);
                                td1.setAttribute("style", "background-color: " + sal1.Color);
                                total1 = total1 + sal1.Monto;
                            }
                            td1.appendChild(textTd1);

                            var td2 = document.createElement("td");
                            var sal2 = element.Salario.find(function (sal) {
                                return sal.Anho == (year + 1);
                            });
                            var textTd2;
                            if (sal2 == null || sal2 == undefined) {
                                textTd2 = document.createTextNode("0");
                            } else {
                                textTd2 = document.createTextNode(sal2.Monto);
                                td2.setAttribute("style", "background-color: " + sal2.Color);
                                total2 = total2 + sal2.Monto;
                            }
                            td2.appendChild(textTd2);

                            var td3 = document.createElement("td");
                            var sal3 = element.Salario.find(function (sal) {
                                return sal.Anho == (year + 2);
                            });
                            var textTd3;
                            if (sal3 == null || sal3 == undefined) {
                                textTd3 = document.createTextNode("0");
                            } else {
                                textTd3 = document.createTextNode(sal3.Monto);
                                td3.setAttribute("style", "background-color: " + sal3.Color);
                                total13 = total3 + sal3.Monto;
                            }
                            td3.appendChild(textTd3);

                            var td4 = document.createElement("td");
                            var sal4 = element.Salario.find(function (sal) {
                                return sal.Anho == (year + 3);
                            });
                            var textTd4;
                            if (sal4 == null || sal4 == undefined) {
                                textTd4 = document.createTextNode("0");
                            } else {
                                textTd4 = document.createTextNode(sal4.Monto);
                                td4.setAttribute("style", "background-color: " + sal4.Color);
                                total4 = total4 + sal4.Monto;
                            }
                            td4.appendChild(textTd4);

                            var td5 = document.createElement("td");
                            var sal5 = element.Salario.find(function (sal) {
                                return sal.Anho == (year + 4);
                            });
                            var textTd5;
                            if (sal5 == null || sal5 == undefined) {
                                textTd5 = document.createTextNode("0");
                            } else {
                                textTd5 = document.createTextNode(sal5.Monto);
                                td5.setAttribute("style", "background-color: " + sal5.Color);
                                total5 = total5 + sal5.Monto;
                            }
                            td5.appendChild(textTd5);

                            tr.appendChild(td0);
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            tr.appendChild(td5);

                            table.appendChild(tr);
                            count++;
                        });
                        var trFinal = document.createElement("tr");

                        var tdFinal = document.createElement("td");
                        tdFinal.setAttribute("style", "background-color: darkorange");
                        var textTdFinal = document.createTextNode("Totales");
                        tdFinal.appendChild(textTdFinal);

                        var tdFinal1 = document.createElement("td");
                        tdFinal1.setAttribute("style", "background-color: darkorange");
                        var textTdFinal1 = document.createTextNode(total1);
                        tdFinal1.appendChild(textTdFinal1);

                        var tdFinal2 = document.createElement("td");
                        tdFinal2.setAttribute("style", "background-color: darkorange");
                        var textTdFinal2 = document.createTextNode(total2);
                        tdFinal2.appendChild(textTdFinal2);

                        var tdFinal3 = document.createElement("td");
                        tdFinal3.setAttribute("style", "background-color: darkorange");
                        var textTdFinal3 = document.createTextNode(total3);
                        tdFinal3.appendChild(textTdFinal3);

                        var tdFinal4 = document.createElement("td");
                        tdFinal4.setAttribute("style", "background-color: darkorange");
                        var textTdFinal4 = document.createTextNode(total4);
                        tdFinal4.appendChild(textTdFinal4);

                        var tdFinal5 = document.createElement("td");
                        tdFinal5.setAttribute("style", "background-color: darkorange");
                        var textTdFinal5 = document.createTextNode(total5);
                        tdFinal5.appendChild(textTdFinal5);

                        trFinal.appendChild(tdFinal);
                        trFinal.appendChild(tdFinal1);
                        trFinal.appendChild(tdFinal2);
                        trFinal.appendChild(tdFinal3);
                        trFinal.appendChild(tdFinal4);
                        trFinal.appendChild(tdFinal5);
                        table.appendChild(trFinal);
                        divCard9.appendChild(table);

                        if (addTittle) {
                            var tittle = document.createElement("h7");
                            tittle.setAttribute("style", "background-color: darkorange; font-weight: bold;");
                            var textTittle = document.createTextNode("Franquisia: " + franchiseName);
                            tittle.setAttribute("id", "tittle_franchise"+franchiseId);
                            tittle.appendChild(textTittle);
                            divTittle.appendChild(tittle);
                        }

                        if (isNewBlock) {
                            var divContainer = document.createElement("div");
                            divContainer.setAttribute("class", "col-md-12");

                            var divRow = document.createElement("div");
                            divRow.setAttribute("id", "temp" + idFran);
                            divRow.setAttribute("class", "row");

                            divCard3 = document.createElement("div");
                            divCard3.setAttribute("class", "card bg-light col-md-3");
                            divCard3.setAttribute("id", "card3" + idFran);

                            divRow.appendChild(divTittle);
                            divRow.appendChild(divCard3);
                            divRow.appendChild(divCard9);
                            divContainer.appendChild(divRow);
                            document.getElementById("compare").appendChild(divContainer);
                        } else if (isNewCard9) {
                            divRow.appendChild(divCard9);
                        }
                    },
                    error: function () {
                        alert('Por favor intente de nuevo.');
                    }
                });
            } else {
                while (divRow.firstChild) {
                    divRow.removeChild(divRow.firstChild);
                }
                if (isLastChild(id)) {
                    var div;
                    divTittle = document.getElementById("tittle" + id);
                    while (divTittle.firstChild) {
                        divTittle.removeChild(divTittle.firstChild);
                    }
                }
            }
        }
    </script>
